Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 90%
        flags:
          - backend
    patch: off

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

ignore:
  - "tdrs-backend/tdpservice/scheduling/db_backup.py"

merged branches, got latested submissions endpoint working
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-frontend/src/actions/reports.js
Due: frontend, backend

Update Sys-Admin-Acct-Mgmt.md (#2359)
  .github/workflows/qasp-owasp-scan.yml
  docs/Security-Compliance/Incidence-Response/Sys-Admin-Acct-Mgmt.md
Due: none

Adds final two tweaks from Alex feedback / UX sync
  product-updates/index.html
Due: none

Small grammar fix
  product-updates/index.html
Due: none

Update product-updates/index.html
  product-updates/index.html
Due: none

Create sprint-64-summary.md (#2361)
  docs/Sprint-Review/sprint-64-summary.md
Due: none

hook up submission history api
  tdrs-backend/tdpservice/data_files/serializers.py
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-frontend/src/actions/reports.js
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.jsx
  tdrs-frontend/src/reducers/reports.js
Due: frontend, backend

bug?
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
Due: frontend

disable arrows when first/last page
  tdrs-frontend/src/components/Paginator/Paginator.jsx
Due: frontend

fix api
  tdrs-frontend/src/components/Reports/Reports.jsx
Due: frontend

outline tests
  tdrs-frontend/src/components/Paginator/Paginator.test.js
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.test.js
Due: frontend

merge 1007
  .circleci/README.md
  tdrs-backend/filename
  tdrs-backend/job
  tdrs-backend/tdpservice/data_files/migrations/0012_datafile_s3_versioning_id.py
  tdrs-backend/tdpservice/data_files/models.py
  tdrs-backend/tdpservice/data_files/s3_client.py
  tdrs-backend/tdpservice/data_files/test/factories.py
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

fix messed up merge
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

fix submitted by api
  tdrs-backend/tdpservice/data_files/serializers.py
Due: backend

actually fix the submitted_by api and frontend
  tdrs-backend/tdpservice/data_files/serializers.py
  tdrs-frontend/src/reducers/reports.js
Due: frontend, backend

move uploaded files to a new part of redux state
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.jsx
  tdrs-frontend/src/components/UploadReport/UploadReport.jsx
  tdrs-frontend/src/reducers/reports.js
Due: frontend

fix broken tests
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/UploadReport/UploadReport.jsx
  tdrs-frontend/src/components/UploadReport/UploadReport.test.js
  tdrs-frontend/src/reducers/reports.js
  tdrs-frontend/src/reducers/reports.test.js
Due: frontend

segmented control tests
  tdrs-frontend/src/components/SegmentedControl/SegmentedControl.test.js
Due: frontend

Driver/navigator raft reviews (#2362)
  docs/Technical-Documentation/Architecture-Decision-Record/009-git-workflow.md
Due: none

paginator tests
  tdrs-frontend/src/components/Paginator/Paginator.test.js
Due: frontend

Feat/217 revise stt model (#2363)
  tdrs-backend/tdpservice/scheduling/test/test_file_upload.py
  tdrs-backend/tdpservice/stts/admin.py
  tdrs-backend/tdpservice/stts/management/commands/populate_stts.py
  tdrs-backend/tdpservice/stts/migrations/0008_auto_20230118_1623.py
  tdrs-backend/tdpservice/stts/migrations/0009_stt_sample.py
  tdrs-backend/tdpservice/stts/models.py
  tdrs-backend/tdpservice/stts/serializers.py
  tdrs-backend/tdpservice/stts/test/factories.py
  tdrs-backend/tdpservice/stts/test/test_api.py
  tdrs-backend/tdpservice/stts/test/test_commands.py
Due: backend

move submitted_by to serializer
  tdrs-backend/tdpservice/data_files/models.py
  tdrs-backend/tdpservice/data_files/serializers.py
Due: backend

submission history tests
  tdrs-frontend/src/components/Paginator/Paginator.jsx
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.test.js
Due: frontend

reports submission history test
  tdrs-frontend/src/components/Reports/Reports.test.js
Due: frontend

fix submission history button styling
  tdrs-frontend/src/assets/Reports.scss
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.jsx
Due: frontend

Issue 2336: Documentation added for CircleCI IR (#2367)
  docs/Security-Compliance/Incidence-Response/CircleCI-IRP.md
  docs/Security-Compliance/Incidence-Response/README.md
  docs/Technical-Documentation/secret-key-rotation-steps.md
Due: none

create new getCurrentSubmission action/reducers, wire up to current submission frontend
  tdrs-frontend/src/actions/reports.js
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/Reports/Reports.test.js
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.test.js
  tdrs-frontend/src/reducers/reports.js
  tdrs-frontend/src/reducers/reports.test.js
Due: frontend

Chore/2141 cypress (#2305)
  .circleci/build-and-test/jobs.yml
  .circleci/build-and-test/workflows.yml
  .gitignore
  docs/Technical-Documentation/Architecture-Decision-Record/019-integration-tests.md
  docs/Technical-Documentation/cypress-integration-tests.md
  docs/Technical-Documentation/images/testing/01-e2e-selection.png
  docs/Technical-Documentation/images/testing/02-browser-selection.png
  docs/Technical-Documentation/images/testing/03-spec-selection.png
  docs/Technical-Documentation/images/testing/04-run-test.png
  tdrs-backend/.env.example
  tdrs-backend/docker-compose.yml
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/urls.py
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-backend/tdpservice/users/management/commands/generate_cypress_users.py
  tdrs-frontend/cypress.config.js
  tdrs-frontend/cypress/e2e/accounts/accounts.feature
  tdrs-frontend/cypress/e2e/accounts/steps.js
  tdrs-frontend/cypress/support/commands.js
  tdrs-frontend/cypress/support/e2e.js
  tdrs-frontend/package-lock.json
  tdrs-frontend/package.json
  tdrs-frontend/src/index.js
Due: frontend, backend

Added George Hudson (DevOps - Raft) (#2378)
  docs/How-We-Work/Team-Composition.md
Due: none

Updated POCs on readme (#2374)
  README.md
Due: none

Adding Gantt diagram reference (#2375)
  docs/Product-Strategy/README.md
Due: none

Create sprint-65-summary.md
  docs/Sprint-Review/sprint-65-summary.md
Due: none

Increase memory to resolve file upload errors (#2354)
  tdrs-backend/gunicorn_start.sh
  tdrs-backend/manifest.buildpack.yml
  tdrs-backend/manifest.yml
  tdrs-backend/tdpservice/scheduling/sftp_task.py
Due: backend

Feat/132 parser file to model, no validators (#2312)
  .gitignore
  commands.sh
  delete-cloudgov-docker.sh
  tdrs-backend/Dockerfile
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
  tdrs-backend/docker-compose.local.yml
  tdrs-backend/docker-compose.yml
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
  tdrs-backend/tdpservice/search_indexes/admin.py
  tdrs-backend/tdpservice/search_indexes/documents.py
  tdrs-backend/tdpservice/search_indexes/migrations/0002_standardized_field_names.py
  tdrs-backend/tdpservice/search_indexes/migrations/003_auto_20230127_1553.py
  tdrs-backend/tdpservice/search_indexes/models.py
  tdrs-backend/tdpservice/search_indexes/parsers/__init__.py
  tdrs-backend/tdpservice/search_indexes/parsers/preparser.py
  tdrs-backend/tdpservice/search_indexes/parsers/schema_defs/__init__.py
  tdrs-backend/tdpservice/search_indexes/parsers/schema_defs/tanf.py
  tdrs-backend/tdpservice/search_indexes/parsers/schema_defs/universal.py
  tdrs-backend/tdpservice/search_indexes/parsers/tanf_parser.py
  tdrs-backend/tdpservice/search_indexes/parsers/test/__init__.py
  tdrs-backend/tdpservice/search_indexes/parsers/test/data/ADS.E2J.FTP1.TS06
  tdrs-backend/tdpservice/search_indexes/parsers/test/data/bad_TANF_S1.txt
  tdrs-backend/tdpservice/search_indexes/parsers/test/data/bad_TANF_S2.txt
  tdrs-backend/tdpservice/search_indexes/parsers/test/data/bad_missing_header.txt
  tdrs-backend/tdpservice/search_indexes/parsers/test/data/bad_trailer_1.txt
  tdrs-backend/tdpservice/search_indexes/parsers/test/data/bad_trailer_2.txt
  tdrs-backend/tdpservice/search_indexes/parsers/test/data/bad_two_headers.txt
  tdrs-backend/tdpservice/search_indexes/parsers/test/data/empty_file
  tdrs-backend/tdpservice/search_indexes/parsers/test/data/small_correct_file
  tdrs-backend/tdpservice/search_indexes/parsers/test/test_data_parsing.py
  tdrs-backend/tdpservice/search_indexes/parsers/util.py
  tdrs-backend/tdpservice/search_indexes/test/test_model_mapping.py
  tdrs-backend/tdpservice/stts/management/commands/populate_stts.py
Due: backend

++ George to Summary
  docs/Sprint-Review/sprint-65-summary.md
Due: none

Updated spring-65-summary.md
  docs/Sprint-Review/sprint-65-summary.md
Due: none

Formatting Sprint Goal
  docs/Sprint-Review/sprint-65-summary.md
Due: none

Formatting closure statement
  docs/Sprint-Review/sprint-65-summary.md
Due: none

Formatting - adding George to sum.md
  docs/Sprint-Review/sprint-65-summary.md
Due: none

Feat/1007 file versioning (#2364)
  .circleci/README.md
  .circleci/deployment/workflows.yml
  .circleci/generate_config.sh
  .circleci/infrastructure/commands.yml
  .circleci/infrastructure/jobs.yml
  .circleci/infrastructure/workflows.yml
  scripts/create_s3_versioning_key.sh
  tdrs-backend/gunicorn_start.sh
  tdrs-backend/manifest.buildpack.yml
  tdrs-backend/tdpservice/backends.py
  tdrs-backend/tdpservice/data_files/migrations/0012_datafile_s3_versioning_id.py
  tdrs-backend/tdpservice/data_files/models.py
  tdrs-backend/tdpservice/data_files/s3_client.py
  tdrs-backend/tdpservice/data_files/serializers.py
  tdrs-backend/tdpservice/data_files/test/factories.py
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-frontend/package-lock.json
  tdrs-frontend/package.json
  tdrs-frontend/src/actions/reports.js
  tdrs-frontend/src/assets/Reports.scss
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
  tdrs-frontend/src/components/Paginator/Paginator.jsx
  tdrs-frontend/src/components/Paginator/Paginator.test.js
  tdrs-frontend/src/components/Paginator/index.js
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/Reports/Reports.test.js
  tdrs-frontend/src/components/SegmentedControl/SegmentedControl.jsx
  tdrs-frontend/src/components/SegmentedControl/SegmentedControl.test.js
  tdrs-frontend/src/components/SegmentedControl/index.js
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.jsx
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.test.js
  tdrs-frontend/src/components/SubmissionHistory/index.js
  tdrs-frontend/src/components/UploadReport/UploadReport.jsx
  tdrs-frontend/src/components/UploadReport/UploadReport.test.js
  tdrs-frontend/src/reducers/reports.js
  tdrs-frontend/src/reducers/reports.test.js
Due: frontend, backend
