Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 95%
        flags:
          - backend

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

Updated test descriptions
  tdrs-frontend/src/components/GovBanner/GovBanner.test.js
Due: frontend

Adds nav nesting fix
  product-updates/knowledge-center/complete-resubmissions.html
  product-updates/knowledge-center/create-new-login.html
  product-updates/knowledge-center/existing-login.html
  product-updates/knowledge-center/give-feedback.html
  product-updates/knowledge-center/index.html
  product-updates/knowledge-center/managing-your-account.html
  product-updates/knowledge-center/uploading-data.html
Due: none

Update docs/Technical-Documentation/Architecture-Decision-Record/008-deployment-flow.md
  docs/Technical-Documentation/Architecture-Decision-Record/008-deployment-flow.md
Due: none

Update docs/Technical-Documentation/TDP-environments-README.md
  docs/Technical-Documentation/TDP-environments-README.md
Due: none

Update .circleci/config.yml
  .circleci/config.yml
Due: none

add diagram
  docs/Technical-Documentation/diagrams/tdp-environments.drawio
  docs/Technical-Documentation/diagrams/tdp-environments.png
Due: none

Update scripts/deploy-frontend.sh
  scripts/deploy-frontend.sh
Due: none

Append deploy variables to common.py
  scripts/deploy-backend.sh
Due: none

added the task for upload
  tdrs-backend/tdpservice/scheduling/tasks.py
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/settings/local.py
Due: backend

added paramiko
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
Due: none

install cf from source
  .circleci/config.yml
Due: none

initial commit, draft
  docs/Technical-Documentation/Failed-Deployment-Troubleshooting.md
Due: none

Fixed Fate typo
  tdrs-frontend/src/components/SplashPage/SplashPage.jsx
Due: frontend

change main container to use widescreen
  tdrs-frontend/src/components/PrivateTemplate/PrivateTemplate.jsx
Due: frontend

title and cards in same row
  tdrs-frontend/src/assets/SplashPage.scss
  tdrs-frontend/src/components/SplashPage/SplashPage.jsx
Due: frontend

remove broken tests
  tdrs-frontend/src/components/Button/Button.jsx
  tdrs-frontend/src/components/SplashPage/SplashPage.test.js
Due: frontend

opimized for mobile
  tdrs-frontend/src/components/SplashPage/SplashPage.jsx
Due: frontend

fix nav bar styling
  tdrs-frontend/src/assets/Header.scss
  tdrs-frontend/src/components/Header/Header.jsx
Due: frontend

refactored a tag into button component
  tdrs-frontend/src/components/Button/Button.jsx
  tdrs-frontend/src/components/SplashPage/SplashPage.jsx
Due: frontend

started work
  tdrs-frontend/src/components/SplashPage/SplashPage.jsx
Due: frontend

fixed double focus when tabbing though buttons, started tests.
  tdrs-frontend/src/components/SplashPage/SplashPage.jsx
  tdrs-frontend/src/components/SplashPage/SplashPage.test.js
Due: frontend

added background color
  tdrs-frontend/src/components/SplashPage/SplashPage.jsx
Due: frontend

adjusting margin for mobile
  tdrs-frontend/src/components/SplashPage/SplashPage.jsx
Due: frontend

better layout
  tdrs-frontend/src/components/SplashPage/SplashPage.jsx
Due: frontend

no more horizontal overflow on mobile
  tdrs-frontend/src/components/SplashPage/SplashPage.jsx
Due: frontend

Cards header in container for positioning
  tdrs-frontend/src/components/SplashPage/SplashPage.jsx
Due: frontend

card content all fits
  tdrs-frontend/src/components/SplashPage/SplashPage.jsx
Due: frontend

linked buttons and centered content
  tdrs-frontend/src/components/SplashPage/SplashPage.jsx
Due: frontend

Added padding, formatted for widescreen
  tdrs-frontend/src/assets/SplashPage.scss
  tdrs-frontend/src/components/SplashPage/SplashPage.jsx
Due: frontend

changed header/footer margins, final touches to styling
  tdrs-frontend/src/components/Footer/Footer.jsx
  tdrs-frontend/src/components/Header/Header.jsx
  tdrs-frontend/src/components/SplashPage/SplashPage.jsx
Due: frontend

Aligned home button propperly
  tdrs-frontend/src/assets/Header.scss
  tdrs-frontend/src/components/Header/Header.jsx
Due: frontend

Fix sign out button on home page width
  tdrs-frontend/src/components/Home/Home.jsx
  tdrs-frontend/src/components/SplashPage/SplashPage.jsx
Due: frontend

remove rolling strategy for clamav
  .circleci/config.yml
Due: none

reverting mirage.js to develop
  tdrs-frontend/src/mirage.js
Due: frontend

remove unnneeded margins
  tdrs-frontend/src/components/SplashPage/SplashPage.jsx
Due: frontend

fixed tests
  tdrs-frontend/src/components/SplashPage/SplashPage.test.js
Due: frontend
