Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 90%
        flags:
          - backend
    patch: off

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

ignore:
  - "tdrs-backend/tdpservice/scheduling/db_backup.py"

- Add test files for components - ignore utils file
  tdrs-frontend/src/components/Form/DropdownSelect.test.js
  tdrs-frontend/src/components/Form/RadioSelect.test.js
  tdrs-frontend/src/components/Reports/utils.js
Due: frontend

disable OFA Regional Office radio button in profile edit if user is approved and has an assigned region
  tdrs-frontend/src/components/RequestAccessForm/RegionSelector.jsx
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.jsx
Due: frontend

- Update fixture IDs - Add small wait for inputs since there isn't a way to wait on the render
  tdrs-backend/tdpservice/fixtures/cypress/users.json
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
Due: backend

test for fieldset disable
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.test.js
Due: frontend

- Update error message
  tdrs-backend/tdpservice/parsers/case_consistency_validator.py
Due: backend

- Update so that widget displays integrity audit info
  tdrs-frontend/src/components/Feedback/FeedbackConstants.js
  tdrs-frontend/src/components/Feedback/FeedbackWidget.jsx
Due: frontend

- Test longer timeout
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
Due: none

remove unused enum call
  tdrs-backend/tdpservice/email/helpers/data_file.py
Due: backend

- Update error message for new case error - Add test to cover that error
  tdrs-backend/tdpservice/parsers/case_consistency_validator.py
  tdrs-backend/tdpservice/parsers/test/test_case_consistency.py
Due: backend

convert prog_type property to class member
  docs/Technical-Documentation/tech-memos/parsing-refactor/parsing-refactor.md
  tdrs-backend/tdpservice/data_files/admin/admin.py
  tdrs-backend/tdpservice/data_files/migrations/0019_datafile_program_type.py
  tdrs-backend/tdpservice/data_files/models.py
  tdrs-backend/tdpservice/data_files/serializers.py
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/data_files/test/test_models.py
  tdrs-backend/tdpservice/email/helpers/data_file.py
  tdrs-backend/tdpservice/parsers/test/conftest.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
  tdrs-backend/tdpservice/search_indexes/test/test_reparse.py
Due: backend

- Create script to create read only roles in postgres - Create script to create users with a password and role
  tdrs-backend/scripts/create_grafana_postgres_role.py
  tdrs-backend/scripts/create_grafana_readonly_postgres_user.py
  tdrs-backend/scripts/create_readonly_grafana_user.py
Due: none

- Add check for valid values
  tdrs-backend/gunicorn_start.sh
  tdrs-backend/scripts/create_grafana_readonly_postgres_user.py
Due: none

- Update command name - Update manifest to run user creation stuff - add support for admin vs table based roll creation
  tdrs-backend/gunicorn_start.sh
  tdrs-backend/manifest.buildpack.yml
  tdrs-backend/scripts/create_grafana_postgres_role.py
  tdrs-backend/scripts/create_grafana_readonly_postgres_users.py
Due: none

- remove unused sql file - remove unneeded command - add vars to the envs list
  scripts/deploy-backend.sh
  tdrs-backend/gunicorn_start.sh
  tdrs-backend/init.sql
Due: none

- dunce commit to get pipeline to run
  tdrs-backend/tdpservice/parsers/__init__.py
Due: backend

- revert dunce
  tdrs-backend/tdpservice/parsers/__init__.py
Due: backend

- correct order of operations
  tdrs-backend/manifest.buildpack.yml
Due: none

- Move scripts to Db script
  scripts/apply-database-config.sh
  tdrs-backend/manifest.buildpack.yml
Due: none

- Add missing quotes
  tdrs-backend/manifest.buildpack.yml
Due: none

- Re-add option to avoid auto selecting - Update render logic on read only row vs form fields pending access state and edit mode
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.jsx
  tdrs-frontend/src/components/STTComboBox/STTComboBox.jsx
Due: frontend

- UPdate jurisdiction selector to have onClick handler - Update tests to have correct redux state
  tdrs-frontend/src/components/Profile/Profile.test.js
  tdrs-frontend/src/components/Reports/Reports.test.js
  tdrs-frontend/src/components/RequestAccessForm/JurisdictionSelector.jsx
  tdrs-frontend/src/components/RequestAccessForm/JurisdictionSelector.test.js
Due: frontend

- Add test file for coverage
  tdrs-frontend/src/components/RequestAccessForm/RegionSelector.test.js
Due: frontend

- remove debug code
  tdrs-frontend/src/components/Reports/Reports.test.js
Due: frontend

decouple program type and section name
  tdrs-backend/tdpservice/conftest.py
  tdrs-backend/tdpservice/data_files/migrations/0019_datafile_program_type.py
  tdrs-backend/tdpservice/data_files/migrations/0020_alter_datafile_section.py
  tdrs-backend/tdpservice/data_files/migrations/0021_add_program_to_constraint.py
  tdrs-backend/tdpservice/data_files/models.py
  tdrs-backend/tdpservice/data_files/test/factories.py
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/data_files/test/test_models.py
  tdrs-backend/tdpservice/email/helpers/data_file.py
  tdrs-backend/tdpservice/email/helpers/test/test_data_file.py
  tdrs-backend/tdpservice/email/test/test_upcoming_deadline_email.py
  tdrs-backend/tdpservice/parsers/aggregates.py
  tdrs-backend/tdpservice/parsers/case_consistency_validator.py
  tdrs-backend/tdpservice/parsers/factory.py
  tdrs-backend/tdpservice/parsers/schema_defs/utils.py
  tdrs-backend/tdpservice/parsers/tdr_parser.py
  tdrs-backend/tdpservice/parsers/test/conftest.py
  tdrs-backend/tdpservice/parsers/test/factories.py
  tdrs-backend/tdpservice/parsers/test/test_case_consistency.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/search_indexes/test/test_reparse.py
Due: backend

comments and lint
  tdrs-backend/tdpservice/data_files/models.py
  tdrs-backend/tdpservice/data_files/serializers.py
  tdrs-backend/tdpservice/email/helpers/data_file.py
  tdrs-backend/tdpservice/parsers/aggregates.py
Due: backend

lint
  tdrs-backend/tdpservice/parsers/case_consistency_validator.py
Due: backend

cypress fixtures
  tdrs-backend/tdpservice/fixtures/cypress/data_files.json
Due: backend

- fix merge conflict
  tdrs-backend/tdpservice/search_indexes/admin/__init__.py
Due: backend

add program audit models, fields
  tdrs-backend/tdpservice/data_files/migrations/0022_datafile_is_program_audit.py
  tdrs-backend/tdpservice/data_files/models.py
  tdrs-backend/tdpservice/data_files/serializers.py
  tdrs-backend/tdpservice/search_indexes/admin/__init__.py
  tdrs-backend/tdpservice/search_indexes/admin/program_audit.py
  tdrs-backend/tdpservice/search_indexes/migrations/0036_programaudit_t1_programaudit_t2_programaudit_t3.py
  tdrs-backend/tdpservice/search_indexes/models/__init__.py
  tdrs-backend/tdpservice/search_indexes/models/program_audit.py
  tdrs-backend/tdpservice/users/test/test_permissions.py
Due: backend

move parsers into parser_classes
  tdrs-backend/tdpservice/parsers/parser_classes/__init__.py
  tdrs-backend/tdpservice/parsers/parser_classes/base_parser.py
  tdrs-backend/tdpservice/parsers/parser_classes/fra_parser.py
  tdrs-backend/tdpservice/parsers/parser_classes/tdr_parser.py
Due: backend

program audit parsers and fields
  tdrs-backend/tdpservice/parsers/factory.py
  tdrs-backend/tdpservice/parsers/parser_classes/program_audit_parser.py
  tdrs-backend/tdpservice/parsers/schema_defs/__init__.py
  tdrs-backend/tdpservice/parsers/schema_defs/program_audit/__init__.py
  tdrs-backend/tdpservice/parsers/schema_defs/program_audit/header.py
  tdrs-backend/tdpservice/parsers/schema_defs/program_audit/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/program_audit/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/program_audit/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/program_audit/trailer.py
  tdrs-backend/tdpservice/parsers/schema_defs/utils.py
  tdrs-backend/tdpservice/parsers/validators/category1.py
  tdrs-backend/tdpservice/parsers/validators/category2.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category2.py
Due: backend

implement and test program audit parser
  .pre-commit-config.yaml
  docs/Technical-Documentation/tech-memos/parsing-refactor/parsing-refactor.md
  tdrs-backend/tdpservice/parsers/schema_manager.py
  tdrs-backend/tdpservice/parsers/test/conftest.py
  tdrs-backend/tdpservice/parsers/test/data/PI_Audit_FTANF.txt
  tdrs-backend/tdpservice/parsers/test/data/PI_Audit_space-fill.txt
  tdrs-backend/tdpservice/parsers/test/data/PI_Audit_zero-fill.txt
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

add the spaces back
  tdrs-backend/tdpservice/parsers/test/data/PI_Audit_space-fill.txt
Due: backend

rm comments
  tdrs-backend/tdpservice/data_files/models.py
  tdrs-backend/tdpservice/parsers/aggregates.py
Due: backend

- Update combobox to always display value - Update stt combo box to not render unless it has options
  tdrs-frontend/src/components/Form/ComboBox.jsx
  tdrs-frontend/src/components/Reports/Reports.test.js
  tdrs-frontend/src/components/STTComboBox/STTComboBox.jsx
Due: frontend

move parser_classes
  tdrs-backend/tdpservice/parsers/factory.py
Due: backend

test stub
  .pre-commit-config.yaml
  tdrs-backend/tdpservice/parsers/test/conftest.py
  tdrs-backend/tdpservice/parsers/test/data/PI_Audit_space-fill.txt
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

add program audit section
  tdrs-backend/tdpservice/data_files/migrations/0019_alter_datafile_section.py
  tdrs-backend/tdpservice/data_files/models.py
  tdrs-backend/tdpservice/parsers/factory.py
Due: backend

- remove print statements
  tdrs-backend/tdpservice/parsers/schema_defs/utils.py
Due: backend

fix validation and model relationships
  tdrs-backend/tdpservice/parsers/schema_defs/utils.py
Due: backend
