Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 90%
        flags:
          - backend
    patch: off

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

ignore:
  - "tdrs-backend/tdpservice/scheduling/db_backup.py"

add email notfications for data analyst when report is available for their STT
  tdrs-backend/tdpservice/email/email_enums.py
  tdrs-backend/tdpservice/email/helpers/feedback_report.py
  tdrs-backend/tdpservice/email/helpers/test/test_feedback_report.py
  tdrs-backend/tdpservice/email/templates/feedback-report-available.html
  tdrs-backend/tdpservice/reports/tasks.py
  tdrs-backend/tdpservice/reports/test/test_tasks.py
  tdrs-backend/tdpservice/reports/views.py
Due: backend

QA fixes
  product-updates/knowledge-center/components/desktop-navigation.html
  product-updates/knowledge-center/components/mobile-navigation.html
  product-updates/knowledge-center/fra-error-reports.html
  product-updates/knowledge-center/give-feedback.html
  product-updates/knowledge-center/uploading-data.html
Due: none

- Update node to omit dev dependencies
  .circleci/deployment/commands.yml
Due: none

- Add null check for ssn valid - make sure all chars in ssn are positive digits
  tdrs-backend/plg/grafana_views/generate_views.py
Due: none

- Allow bursting up to 20 requests per millisecond per ip address when making requests to the backend
  tdrs-frontend/nginx/cloud.gov/locations.conf
  tdrs-frontend/nginx/local/locations.conf
Due: none

- fake commit to get pipeline to run
  tdrs-backend/tdpservice/__init__.py
Due: backend

Revert "- fake commit to get pipeline to run"
  tdrs-backend/tdpservice/__init__.py
Due: backend

- Update error language - Update test
  tdrs-backend/tdpservice/parsers/parser_classes/tdr_parser.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

- Add parenthesis to ensure correct order of operations
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

Revise sprint summary for Dec 03 - Dec 16, 2025
  sprint-summary-2025-12-16.md
Due: none

Rollbacks & FAQ
  product-updates/knowledge-center/components/desktop-navigation.html
  product-updates/knowledge-center/components/mobile-navigation.html
  product-updates/knowledge-center/faq.html
  product-updates/knowledge-center/search-index.json
  product-updates/knowledge-center/uploading-data.html
  product-updates/knowledge-center/view-submission-history.html
Due: none

- Update frontend deployment to have more disk quota to avoid 502 errors
  tdrs-frontend/manifest.buildpack.yml
  tdrs-frontend/manifest.yml
Due: none

add feedback report alert to tanf page
  tdrs-frontend/src/components/FeedbackReportAlert/FeedbackReportAlert.jsx
  tdrs-frontend/src/components/FeedbackReportAlert/FeedbackReportAlert.test.js
  tdrs-frontend/src/components/FeedbackReportAlert/index.js
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/Reports/tdr/TanfSspReports.jsx
Due: frontend

migrate FeedbackReportAlert to the FeedbackReports component
  tdrs-frontend/src/components/FeedbackReportAlert/index.js
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportAlert.jsx
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportAlert.test.js
  tdrs-frontend/src/components/Reports/tdr/TanfSspReports.jsx
Due: frontend

use JavaScript default params instead of defaultProps
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportAlert.jsx
Due: frontend

- Add comprehensive tests for submission history queries
  tdrs-backend/tdpservice/data_files/test/test_api.py
Due: backend

- Use simpler query
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

- remove unused import
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

- Use updated channel name
  tdrs-backend/plg/alertmanager/alertmanager.yml
Due: none

5473 fix cat2 validation ssp item (#5555)
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category3.py
Due: backend

5505 error report file name missing program type (#5556)
  Taskfile.yml
  tdrs-backend/tdpservice/data_files/serializers.py
  tdrs-backend/tdpservice/fixtures/cypress/users.json
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
  tdrs-frontend/cypress/e2e/data-files/file_upload.js
  tdrs-frontend/cypress/e2e/data-files/submission_history.js
  tdrs-frontend/cypress/e2e/profile/profile-helpers.js
  tdrs-frontend/src/components/Reports/ReportsContext.jsx
  tdrs-frontend/src/components/STTComboBox/STTComboBox.jsx
  tdrs-frontend/src/components/SubmissionHistory/helpers.jsx
  tdrs-frontend/src/components/SubmissionHistory/helpers.test.js
  tdrs-frontend/src/reducers/reports.js
  tdrs-frontend/src/reducers/reports.test.js
Due: frontend, backend

fix failing test
  tdrs-backend/tdpservice/email/helpers/test/test_feedback_report.py
Due: backend

- remove env var
  tdrs-frontend/.env
Due: none

- update template var
  tdrs-backend/plg/alertmanager/alertmanager.yml
Due: none

- UPdate multi-select to be a bit more readable
  tdrs-backend/tdpservice/search_indexes/templates/multiselectdropdownfilter.html
Due: backend

health grafana dashboard not using proper job name for celery prometheus metrics
  tdrs-backend/plg/grafana/dashboards/health.json
Due: none

prepend 'tdp-' to local celery prometheus job to match nonlocal env naming convention
  tdrs-backend/plg/prometheus/prometheus.local.yml
Due: none

export REDIS_URI using django settings so the celery_exporter can access it
  tdrs-backend/celery_start.sh
Due: none

use title case for status and custom status when succeeded
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportsHistory.jsx
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportsHistory.test.js
Due: frontend

- Update other extraneous anchor tags to be react links where possible
  tdrs-frontend/src/components/Header/Header.jsx
  tdrs-frontend/src/components/NoMatch/NoMatch.jsx
  tdrs-frontend/src/components/NoMatch/NoMatch.test.js
Due: frontend

- Adding go parser starting point
  tdrs-backend/tdpservice/parsers/go-parser/go.mod
  tdrs-backend/tdpservice/parsers/go-parser/go.sum
  tdrs-backend/tdpservice/parsers/go-parser/internal/db/db.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/db/models.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/db/query.sql.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/base.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/decoder.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/enums.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/factory.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/interface.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/tdr.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/storage/blob.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/worker/redis_worker.go
  tdrs-backend/tdpservice/parsers/go-parser/main.go
  tdrs-backend/tdpservice/parsers/go-parser/query.sql
  tdrs-backend/tdpservice/parsers/go-parser/schema.sql
  tdrs-backend/tdpservice/parsers/go-parser/sqlc.yaml
Due: backend

- intermediate commit
  tdrs-backend/tdpservice/parsers/go-parser/docs/PARSER_ARCHITECTURE.md
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/tdr.go
Due: backend

- architecture guidelines
  tdrs-backend/tdpservice/parsers/go-parser/docs/PARSER_ARCHITECTURE.md
Due: backend

- Minimum required structure to begin parsing tanf section 1 files. testing to follow
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/tanf_section1.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/common/header.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/common/trailer.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tanf/t1.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tanf/t2.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tanf/t3.yaml
  tdrs-backend/tdpservice/parsers/go-parser/docs/PARSER_ARCHITECTURE.md
  tdrs-backend/tdpservice/parsers/go-parser/go.mod
  tdrs-backend/tdpservice/parsers/go-parser/go.sum
  tdrs-backend/tdpservice/parsers/go-parser/internal-Eric/db/db.go
  tdrs-backend/tdpservice/parsers/go-parser/internal-Eric/db/models.go
  tdrs-backend/tdpservice/parsers/go-parser/internal-Eric/db/query.sql.go
  tdrs-backend/tdpservice/parsers/go-parser/internal-Eric/parser/base.go
  tdrs-backend/tdpservice/parsers/go-parser/internal-Eric/parser/decoder.go
  tdrs-backend/tdpservice/parsers/go-parser/internal-Eric/parser/enums.go
  tdrs-backend/tdpservice/parsers/go-parser/internal-Eric/parser/factory.go
  tdrs-backend/tdpservice/parsers/go-parser/internal-Eric/parser/interface.go
  tdrs-backend/tdpservice/parsers/go-parser/internal-Eric/parser/tdr.go
  tdrs-backend/tdpservice/parsers/go-parser/internal-Eric/storage/blob.go
  tdrs-backend/tdpservice/parsers/go-parser/internal-Eric/worker/redis_worker.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/decoder/csv.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/decoder/decoder.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/decoder/positional.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/decoder/row.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/decoder/xslx.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/filespec/types.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/detector.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/extractor.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/processor/accumulator.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/processor/types.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/registry/registry.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/schema/types.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/worker/pool.go
  tdrs-backend/tdpservice/parsers/go-parser/main.go
Due: backend

- intermediate db writter impl
  tdrs-backend/tdpservice/parsers/go-parser/docs/PARSER_ARCHITECTURE.md
  tdrs-backend/tdpservice/parsers/go-parser/internal/db/db.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/db/models.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/db/query.sql.go
Due: backend

- partway writer. need to generify
  tdrs-backend/tdpservice/parsers/go-parser/docs/PARSER_ARCHITECTURE.md
Due: backend

- formatted code
  tdrs-backend/tdpservice/parsers/go-parser/docs/PARSER_ARCHITECTURE.md
  tdrs-backend/tdpservice/parsers/go-parser/internal-Eric/parser/base.go
  tdrs-backend/tdpservice/parsers/go-parser/internal-Eric/parser/decoder.go
  tdrs-backend/tdpservice/parsers/go-parser/internal-Eric/parser/enums.go
  tdrs-backend/tdpservice/parsers/go-parser/internal-Eric/parser/tdr.go
  tdrs-backend/tdpservice/parsers/go-parser/internal-Eric/storage/blob.go
  tdrs-backend/tdpservice/parsers/go-parser/internal-Eric/worker/redis_worker.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/converter/registry.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/db/manager.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/db/pool.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/db/writer.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/decoder/csv.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/decoder/decoder.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/decoder/positional.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/decoder/row.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/decoder/xslx.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/filespec/types.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/detector.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/extractor.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/processor/accumulator.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/processor/types.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/registry/registry.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/registry/schema_metadata.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/schema/types.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/worker/pool.go
  tdrs-backend/tdpservice/parsers/go-parser/main.go
Due: backend

- Remove blank field from schema - working tanf parser
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tanf/t1.yaml
  tdrs-backend/tdpservice/parsers/go-parser/go.mod
  tdrs-backend/tdpservice/parsers/go-parser/go.sum
  tdrs-backend/tdpservice/parsers/go-parser/internal/converter/helpers.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/converter/registry.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/converter/ssp.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/converter/tanf.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/converter/tribal.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/decoder/positional.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/extractor.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/processor/accumulator.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/registry/registry.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/registry/schema_metadata.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/schema/types.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/testutil/datafile.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/writer/manager.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/writer/writer.go
  tdrs-backend/tdpservice/parsers/go-parser/main.go
Due: backend

- Update helper to convert strings to ints when needed - Add second file for testing
  tdrs-backend/tdpservice/parsers/go-parser/internal/converter/helpers.go
  tdrs-backend/tdpservice/parsers/go-parser/main.go
Due: backend

- Add criteria to emit groups when the key changes since files are sorted - Provide design doc to generalize key changes by presorting files
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/tanf_section1.yaml
  tdrs-backend/tdpservice/parsers/go-parser/docs/PRESORT_ARCHITECTURE.md
  tdrs-backend/tdpservice/parsers/go-parser/internal/filespec/types.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/processor/accumulator.go
Due: backend
