Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

update ref links
  docs/User-Experience/README.md
  docs/User-Experience/Research-Syntheses/2020, Fall - Understanding STT Roles, Source of Truth, and Metadata.md
  docs/User-Experience/Research-Syntheses/README.md
Due: none

Update some links
  live-comms/August-2021-Update.html
  live-comms/June-2021-Update.html
  live-comms/index.html
Due: none

Added an example
  commands.sh
Due: none

shortened some definitions to aliases and added a new shortcut function
  commands.sh
Due: none

Update scripts/deploy-live-comms.sh
  scripts/deploy-live-comms.sh
Due: none

Apply suggestions from code review
  live-comms/August-2021-Update.html
  live-comms/index.html
Due: none

update links referencing index
  live-comms/August-2021-Update.html
  live-comms/June-2021-Update.html
  live-comms/index.html
Due: none

Update docs/Technical-Documentation/Architecture-Decision-Record/017-elastisearch.md
  docs/Technical-Documentation/Architecture-Decision-Record/017-elastisearch.md
Due: none

Updates content, tweaks css for paragraph text
  live-comms/css/uswds.css
  live-comms/index.html
Due: none

Updating pipfile from python3.10 branch, I resolved conflicts wrong
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
Due: none

corrected backend hard restart command
  commands.sh
Due: none

corrected tdrs-backend-compose
  commands.sh
Due: none

succeed loudly for lint
  commands.sh
Due: none

use npm
  commands.sh
Due: none

remove misleading comment
  commands.sh
Due: none

Added white space
  commands.sh
Due: none

Converted a few functions to aliases and add/update comments
  commands.sh
Due: none

comment tdrs function listing command
  commands.sh
Due: none

confirmed owasp commands work
  commands.sh
Due: none

corrected lint
  commands.sh
Due: none

fix merge conflicts
  tdrs-backend/Pipfile.lock
Due: none

Changed tdrs-start: to start backend first
  commands.sh
Due: none

Changed tdrs-restart: to start backend first
  commands.sh
Due: none

add background handling function for access request
  tdrs-backend/tdpservice/users/migrations/0028_user_access_request.py
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/serializers.py
  tdrs-backend/tdpservice/users/views.py
Due: backend

fix merge conflicts
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
Due: none

Migrations and models set
  tdrs-backend/tdpservice/conftest.py
  tdrs-backend/tdpservice/users/migrations/0028_auto_20220124_1656.py
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/serializers.py
  tdrs-backend/tdpservice/users/test/test_models.py
Due: backend

Update documentation
  live-comms/README.md
  scripts/README.md
Due: none

use old non minified css file
  live-comms/css/uswds.css
  live-comms/index.html
Due: none

build: disable audit in ci
  .circleci/config.yml
  tdrs-frontend/Dockerfile
Due: none

all existing tests pass
  tdrs-backend/tdpservice/conftest.py
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/data_files/test/test_serializers.py
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/permissions.py
  tdrs-backend/tdpservice/users/serializers.py
  tdrs-backend/tdpservice/users/test/factories.py
  tdrs-backend/tdpservice/users/test/test_api/test_users.py
  tdrs-backend/tdpservice/users/test/test_models.py
  tdrs-backend/tdpservice/users/views.py
Due: backend

lint
  tdrs-backend/tdpservice/conftest.py
  tdrs-backend/tdpservice/data_files/errors.py
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/data_files/test/test_serializers.py
  tdrs-backend/tdpservice/stts/models.py
  tdrs-backend/tdpservice/users/api/authorization_check.py
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/permissions.py
  tdrs-backend/tdpservice/users/serializers.py
  tdrs-backend/tdpservice/users/test/factories.py
  tdrs-backend/tdpservice/users/test/test_api/test_users.py
  tdrs-backend/tdpservice/users/test/test_auth.py
  tdrs-backend/tdpservice/users/test/test_models.py
Due: backend

more lint
  tdrs-backend/tdpservice/data_files/test/test_serializers.py
  tdrs-backend/tdpservice/users/models.py
Due: backend

more lint
  tdrs-backend/tdpservice/users/models.py
Due: backend

fix: add missing eslint dep
  tdrs-frontend/.env
  tdrs-frontend/package-lock.json
  tdrs-frontend/package.json
Due: none

fix: install latest react-router which should have been done in parallel
  tdrs-frontend/package-lock.json
  tdrs-frontend/package.json
Due: none

Migrates remaining imgur links, adds alt text, adds research synthesis link, fixes paragraph width
  live-comms/css/uswds.css
  live-comms/index.html
Due: none

fix: upgrade Redirect components to Navigate
  tdrs-frontend/src/components/EditProfile/EditProfile.jsx
  tdrs-frontend/src/components/EditProfile/EditProfile.test.js
  tdrs-frontend/src/components/LoginCallback/LoginCallback.jsx
  tdrs-frontend/src/components/LoginCallback/LoginCallback.test.js
  tdrs-frontend/src/components/SplashPage/SplashPage.jsx
  tdrs-frontend/src/components/SplashPage/SplashPage.test.js
Due: frontend

fix: replace connected-react-router
  tdrs-frontend/package-lock.json
  tdrs-frontend/package.json
  tdrs-frontend/src/components/PrivateRoute/PrivateRoute.js
  tdrs-frontend/src/components/Routes/Routes.js
  tdrs-frontend/src/index.js
  tdrs-frontend/src/reducers/index.js
Due: frontend

Path conditions:
  frontend: any of: tdrs-frontend/src
  backend: any of: tdrs-backend/tdpservice
