Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 90%
        flags:
          - backend
    patch: off

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

ignore:
  - "tdrs-backend/tdpservice/scheduling/db_backup.py"

update prod clientId
  tdrs-backend/keycloak/realm-configs/realm-export.prod.json
Due: none

- Update error report function to append "shadow" onto shadow error reports to prevent overwritting production reports
  tdrs-backend/tdpservice/scheduling/parser_task.py
Due: backend

- Update test
  tdrs-backend/tdpservice/scheduling/test/test_parser_task.py
Due: backend

Updated go parser validation message to match the python parser's format
  tdrs-backend/tdpservice/parsers/test/integration/test_go_parse.py
  tdrs-services/parser/config/validation/validators.yaml
  tdrs-services/parser/internal/pipeline/pipeline.go
  tdrs-services/parser/internal/pipeline/process_test.go
Due: backend

change frontend hostname to acf.hhs.gov
  .circleci/deployment/commands.yml
  .circleci/deployment/jobs.yml
  scripts/deploy-backend.sh
  scripts/deploy-frontend.sh
  scripts/deploy-tdp-product-update-site.sh
  scripts/zap-scanner.sh
  tdrs-backend/keycloak/configure-idps.sh
  tdrs-backend/keycloak/deploy.sh
  tdrs-backend/keycloak/realm-configs/realm-export.dev-local.json
  tdrs-backend/keycloak/realm-configs/realm-export.prod.json
  tdrs-backend/keycloak/realm-configs/realm-export.staging.json
  tdrs-backend/tdpservice/data_files/error_reports.py
  tdrs-backend/tdpservice/settings/cloudgov.py
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/users/test/test_keycloak_realm_config.py
  tdrs-frontend/.env
  tdrs-frontend/.env.development
  tdrs-frontend/.env.test
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
  tdrs-frontend/src/components/RequestAccessForm/FRASelector.jsx
  tdrs-frontend/src/components/ResourceCards/ResourceCards.jsx
  tdrs-frontend/src/components/ResourceCards/ResourceCards.test.js
  tdrs-frontend/src/components/SubmissionHistory/QuarterSubmissionHistory.test.js
  tdrs-frontend/src/components/SubmissionHistory/SectionSubmissionHistory.test.js
  tdrs-frontend/src/components/SubmissionHistory/components/KnowledgeCenterLink.jsx
Due: frontend, backend

update appname -> hostname
  .circleci/deployment/commands.yml
  .circleci/deployment/jobs.yml
Due: none

update deploy scripts
  scripts/deploy-backend.sh
  scripts/deploy-frontend.sh
Due: none

syntax
  scripts/deploy-backend.sh
  scripts/deploy-frontend.sh
Due: none

host -> app
  scripts/deploy-frontend.sh
Due: none

raft -> test
  scripts/update-ssh-config.sh
  tdrs-backend/keycloak/deploy.sh
  tdrs-backend/plg/deploy.sh
  tdrs-backend/plg/grafana/dashboards/health.json
  tdrs-backend/plg/prometheus/prometheus.yml
  tdrs-backend/tdpservice/common/test/test_util.py
  tdrs-backend/tdpservice/common/util.py
  tdrs-backend/tdpservice/scheduling/management/db_backup.py
Due: backend

redeploy frontend
  .circleci/deployment/commands.yml
Due: none

preserve feedback report subfolders in stt zips
  tdrs-backend/tdpservice/reports/tasks.py
  tdrs-backend/tdpservice/reports/test/conftest.py
  tdrs-backend/tdpservice/reports/test/data/README.md
  tdrs-backend/tdpservice/reports/test/test_tasks.py
Due: backend

add new zip file for test report file uploads with subfolders
  tdrs-backend/tdpservice/reports/test/data/FY2025_valid_nested_stt.zip
  tdrs-backend/tdpservice/reports/test/data/README.md
Due: backend

Add Tribal TANF feedback report backend type
  tdrs-backend/tdpservice/reports/migrations/0005_alter_reportfile_report_type_and_more.py
  tdrs-backend/tdpservice/reports/models.py
  tdrs-backend/tdpservice/reports/test/factories.py
  tdrs-backend/tdpservice/reports/test/test_models.py
  tdrs-backend/tdpservice/reports/test/test_serializers.py
  tdrs-backend/tdpservice/reports/test/test_tasks.py
  tdrs-backend/tdpservice/reports/test/test_views.py
Due: backend

Add Tribal TANF feedback report email labels
  tdrs-backend/tdpservice/email/helpers/feedback_report.py
  tdrs-backend/tdpservice/email/helpers/test/test_feedback_report.py
Due: backend

add new datafiles for testing oasdi age first validation
  tdrs-backend/tdpservice/parsers/test/data/oasdi_age_first_ssp_section2.txt
  tdrs-backend/tdpservice/parsers/test/data/oasdi_age_first_tanf_section2.txt
  tdrs-backend/tdpservice/parsers/test/data/oasdi_age_first_tribal_section2.txt
Due: backend

add unit tests that use the new test files
  tdrs-backend/tdpservice/parsers/test/conftest.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

update AdminFeedbakReports ui to have a third feeback type selector for Tribal TANF
  tdrs-frontend/src/components/FeedbackReports/AdminFeedbackReports.jsx
  tdrs-frontend/src/components/FeedbackReports/AdminFeedbackReports.test.js
  tdrs-frontend/src/components/FeedbackReports/FeedbackReports.test.js
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportsConstants.js
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportsUpload.jsx
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportsUpload.test.js
Due: frontend

update STTFeedbackReports ui to use the new TRIBAL_TANF report type for tribal stts
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReports.jsx
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReports.test.js
Due: frontend

remove SSP from tribal stt view of feedback reports
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReports.jsx
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReports.test.js
Due: frontend

Add Tribal TANF feedback report alerts
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportAlert.jsx
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportAlert.test.js
  tdrs-frontend/src/components/Reports/tdr/TanfSspReports.jsx
  tdrs-frontend/src/components/Reports/tdr/TanfSspReports.test.js
Due: frontend

fix linting error
  tdrs-frontend/src/components/Reports/tdr/TanfSspReports.test.js
Due: frontend

set env on initial
  scripts/deploy-frontend.sh
Due: none

reenable backend
  .circleci/deployment/commands.yml
Due: none

fix map-route
  scripts/deploy-frontend.sh
Due: none

Commit from Test
  product-updates/knowledge-center/about-email-notifications.html
  product-updates/knowledge-center/ftanf.html
  product-updates/knowledge-center/release-notes.html
Due: none

fix e2e test
  tdrs-frontend/cypress/e2e/feedback-reports/admin-feedback-reports.feature
  tdrs-frontend/cypress/e2e/feedback-reports/admin-feedback-reports.js
  tdrs-frontend/cypress/e2e/feedback-reports/feedback-reports-helpers.js
Due: none

Fix/codecov pipeline check (#5889)
  scripts/codecov-check.sh
Due: none

added fix for codecov
  scripts/codecov-check.sh
Due: none

Add Spring 2026 TDP Error Reporting Research findings
  docs/User-Experience/Research-Syntheses/2026, Spring - TDP Error Reporting Research
Due: none

Spelling fix
  product-updates/knowledge-center/release-notes.html
Due: none

add prog type to orginal submission download
  tdrs-frontend/src/actions/reports.js
Due: frontend

lint
  tdrs-frontend/src/actions/reports.js
Due: frontend

Rename 2026, Spring - TDP Error Reporting Research to 2026, Spring - TDP Error Reporting Research.md
  docs/User-Experience/Research-Syntheses/2026, Spring - TDP Error Reporting Research.md
Due: none

Fixed parser task
  tdrs-backend/tdpservice/scheduling/parser_task.py
  tdrs-backend/tdpservice/scheduling/test/test_parser_task.py
Due: backend

5875 bug support admin reparse for legacy submitted datafiles stuck in uploaded state (#5876)
  tdrs-backend/scripts/backfill_datafile_states.py
  tdrs-backend/tdpservice/data_files/admin/admin.py
  tdrs-backend/tdpservice/data_files/enums.py
  tdrs-backend/tdpservice/data_files/migrations/0028_alter_datafile_state_alter_shadowdatafile_state.py
  tdrs-backend/tdpservice/data_files/submission_lifecycle.py
  tdrs-backend/tdpservice/data_files/tasks.py
  tdrs-backend/tdpservice/data_files/test/test_admin.py
  tdrs-backend/tdpservice/data_files/test/test_reparse_files_task.py
  tdrs-backend/tdpservice/data_files/test/test_submission_lifecycle.py
  tdrs-backend/tdpservice/parsers/test/integration/conftest.py
  tdrs-backend/tdpservice/search_indexes/reparse.py
Due: backend

update keycloak deploy to handle auth.tanfdata.hhs.gov
  tdrs-backend/keycloak/deploy.sh
Due: none

Fix Go parser UUID generation for large writes
  tdrs-services/parser/internal/storage/writer/helpers.go
Due: none

update readme
  tdrs-backend/keycloak/README.md
Due: none
