Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Temporarily deploy to production from this branch
  .circleci/config.yml
Due: none

new line under class doc string
  tdrs-backend/tdpservice/middleware.py
Due: backend

used pipeline var for backend env in nightly-owasp-scan
  .circleci/config.yml
Due: none

testing nightly owasp with filter and static var
  .circleci/config.yml
Due: none

test multiple jobs with their branches
  .circleci/config.yml
Due: none

added needed filter for schedule on nightly
  .circleci/config.yml
Due: none

check branches in nightly workflow
  .circleci/config.yml
Due: none

testing nightly owasp
  .circleci/config.yml
Due: none

Update Roadmap-and-Backlog.md
  docs/Product-Strategy/Roadmap-and-Backlog.md
Due: none

Update docs/Product-Strategy/Roadmap-and-Backlog.md
  docs/Product-Strategy/Roadmap-and-Backlog.md
Due: none

Add fixes to deploy-backend
  scripts/deploy-backend.sh
Due: none

added prod parameters for owasp
  .circleci/config.yml
Due: none

AC-2 updated with permission groups and acf ams
  docs/Security-Compliance/Security-Controls/ac-2/index.md
Due: none

1133 - Added env vars, creating directories, putting the file, error handling.
  tdrs-backend/docker-compose.local.yml
  tdrs-backend/docker-compose.yml
  tdrs-backend/tdpservice/data_files/test/test_models.py
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/scheduling/__init__.py
  tdrs-backend/tdpservice/scheduling/tasks.py
  tdrs-backend/tdpservice/scheduling/test/__init__.py
  tdrs-backend/tdpservice/scheduling/test/test_file_upload.py
  tdrs-backend/tdpservice/security/__init__.py
  tdrs-backend/tdpservice/settings/celery.py
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/stts/test/test_api.py
  tdrs-backend/tdpservice/stts/test/test_commands.py
  tdrs-backend/tdpservice/stts/test/test_models.py
  tdrs-backend/tdpservice/users/test/test_permissions.py
Due: backend

AC-6 updated with acf ams authentication
  docs/Security-Compliance/Security-Controls/ac-6/index.md
Due: none

AC-7 updated to clarify that login attempts inherited from authentication services used by TDP
  docs/Security-Compliance/Security-Controls/ac-7/index.md
Due: none

Au-2 updated to include account logging for acf users inherited from acf ams
  docs/Security-Compliance/Security-Controls/au-2/index.md
Due: none

IA-8 updated to note authentication inherited by acf ams too
  docs/Security-Compliance/Security-Controls/ia-8/index.md
Due: none

append /scan to default AV_SCAN_URLs
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

updating RA-5 to include screenshots of owasp scans in DAC
  docs/Security-Compliance/Security-Controls/ra-5/images/DAC_owasp1.PNG
  docs/Security-Compliance/Security-Controls/ra-5/images/DAC_owasp2.PNG
  docs/Security-Compliance/Security-Controls/ra-5/index.md
Due: none

added evidence of clamav scans in DAC to cm7
  docs/Security-Compliance/Security-Controls/cm-7-2/images/clamavcm7.PNG
  docs/Security-Compliance/Security-Controls/cm-7-2/index.md
Due: none

fix broken link in ac-06
  docs/Security-Compliance/Security-Controls/ac-6/index.md
Due: none

fix broken link in ra5
  docs/Security-Compliance/Security-Controls/ra-5/index.md
Due: none

Update docs/Security-Compliance/Security-Controls/cm-7-2/index.md
  docs/Security-Compliance/Security-Controls/cm-7-2/index.md
Due: none

Uncomment frontend code.
  tdrs-frontend/src/actions/auth.js
Due: frontend

Try typing these values different.
  tdrs-backend/tdpservice/middleware.py
Due: backend

1133 - Removed the scheduled tasks
  tdrs-backend/tdpservice/scheduling/__init__.py
  tdrs-backend/tdpservice/scheduling/tasks.py
  tdrs-backend/tdpservice/settings/celery.py
Due: backend

1133 - Removed the tasks app
  tdrs-backend/tasks/__init__.py
  tdrs-backend/tasks/migrations/__init__.py
  tdrs-backend/tasks/models.py
  tdrs-backend/tasks/tests.py
  tdrs-backend/tasks/views.py
Due: none

1133 - Linting
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/scheduling/admin.py
  tdrs-backend/tdpservice/scheduling/apps.py
  tdrs-backend/tdpservice/scheduling/tasks.py
  tdrs-backend/tdpservice/scheduling/test/test_file_upload.py
  tdrs-backend/tdpservice/settings/celery.py
Due: backend

1133 - Linting again
  tdrs-backend/tdpservice/scheduling/tasks.py
  tdrs-backend/tdpservice/scheduling/test/test_file_upload.py
  tdrs-backend/tdpservice/settings/celery.py
Due: backend

1133 - Linting
  tdrs-backend/tdpservice/scheduling/apps.py
Due: backend

1133 - Linting
  tdrs-backend/tdpservice/scheduling/tasks.py
Due: backend

Add a domain to csrf cookie
  tdrs-backend/tdpservice/settings/common.py
Due: backend

Hard code backend url into frontend deploy script
  scripts/deploy-frontend.sh
Due: none

Path conditions:
  frontend: any of: tdrs-frontend/src
  backend: any of: tdrs-backend/tdpservice
