Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 90%
        flags:
          - backend
    patch: off

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

ignore:
  - "tdrs-backend/tdpservice/scheduling/db_backup.py"

- Correct registry owner and tag
  tdrs-frontend/.env
  tdrs-frontend/Dockerfile
Due: none

- Update existing validator to only validate against fam affil if its 2 or 3 and allow 99 - Add missing validator to ensure if fam affil is 1 then ed level cannot be 0 or 99
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
Due: backend

- Add checks to tribal
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t2.py
Due: backend

- remove registry owner
  tdrs-backend/docker-compose.yml
Due: none

refactor isDonePolling -> isPolling and update state handling
  tdrs-frontend/src/actions/fraReports.js
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/Reports/ReportsContext.jsx
  tdrs-frontend/src/components/SubmissionHistory/components/CaseAggregatesTable.jsx
  tdrs-frontend/src/components/SubmissionHistory/components/TotalAggregatesTable.jsx
  tdrs-frontend/src/hooks/useFileUploadForm.js
  tdrs-frontend/src/hooks/usePollingTimer.js
  tdrs-frontend/src/hooks/useSubmissionHistory.js
Due: frontend

initial admin feedback ui
  tdrs-frontend/src/components/FeedbackReports/FeedbackReports.jsx
  tdrs-frontend/src/components/FeedbackReports/FeedbackReports.test.js
  tdrs-frontend/src/components/Header/Header.jsx
  tdrs-frontend/src/components/Routes/Routes.js
Due: frontend

5368 user stt region assignment validation user group change (#5411)
  tdrs-backend/tdpservice/conftest.py
  tdrs-backend/tdpservice/fixtures/cypress/users.json
  tdrs-backend/tdpservice/users/admin.py
  tdrs-backend/tdpservice/users/constants.py
  tdrs-backend/tdpservice/users/forms.py
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/serializers.py
  tdrs-backend/tdpservice/users/static/admin/js/user_form_region_toggle.js
  tdrs-backend/tdpservice/users/test/test_api/test_endpoints.py
  tdrs-backend/tdpservice/users/test/test_api/test_feedback.py
  tdrs-backend/tdpservice/users/test/test_models.py
  tdrs-backend/tdpservice/users/views.py
Due: backend

add description and hr tag
  tdrs-frontend/src/components/FeedbackReports/FeedbackReports.jsx
Due: frontend

For the file upload, match the FileUpload Components logic
  tdrs-frontend/src/components/FeedbackReports/FeedbackReports.jsx
Due: frontend

remove additional v1 from endpoints
  tdrs-frontend/src/components/FeedbackReports/FeedbackReports.jsx
Due: frontend

match the upload history section to the FiscalQuarterExplainer component style
  tdrs-frontend/src/components/FeedbackReports/FeedbackReports.jsx
Due: frontend

Fiscal year should get the current year if null
  tdrs-frontend/src/components/FeedbackReports/FeedbackReports.jsx
Due: frontend

remove the status column from upload history
  tdrs-frontend/src/components/FeedbackReports/FeedbackReports.jsx
Due: frontend

change button type to submit
  tdrs-frontend/src/components/FeedbackReports/FeedbackReports.jsx
Due: frontend

remove unused code
  tdrs-frontend/src/components/FeedbackReports/FeedbackReports.jsx
Due: frontend

extract FeedbackReports into multiple components
  tdrs-frontend/src/components/FeedbackReports/FeedbackReports.jsx
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportsHistory.jsx
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportsUpload.jsx
Due: frontend

add requiredPermissions for the feedback-reports endpoint
  tdrs-frontend/src/components/Routes/Routes.js
Due: frontend

add Feedback Reports to the site map
  tdrs-frontend/src/components/SiteMap/SiteMap.jsx
Due: frontend

create unit tests and fix bugs
  tdrs-frontend/src/components/FeedbackReports/FeedbackReports.jsx
  tdrs-frontend/src/components/FeedbackReports/FeedbackReports.test.js
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportsHistory.test.js
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportsUpload.test.js
Due: frontend

format code
  tdrs-frontend/src/components/FeedbackReports/FeedbackReports.test.js
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportsUpload.test.js
Due: frontend

Add sprint summary for 2025-11-18
  sprint-summary-2025-11-18.md
Due: none
