Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 90%
        flags:
          - backend
    patch: off

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

ignore:
  - "tdrs-backend/tdpservice/scheduling/db_backup.py"

update file name + logging
  tdrs-backend/tdpservice/parsers/models.py
Due: backend

- Add id to return values - Update retrieve view to behave correctly
  tdrs-backend/tdpservice/users/serializers.py
  tdrs-backend/tdpservice/users/views.py
Due: backend

add has_fra_access to backend model
  tdrs-backend/tdpservice/users/migrations/0046_auto_20250623_1829.py
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/serializers.py
Due: backend

- Update model to allow for null feedback text - Update retrieve auth logic - Add factory for Feedback - Add tests for Feedback with various user types
  tdrs-backend/tdpservice/users/migrations/0046_user_feedback.py
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/test/factories.py
  tdrs-backend/tdpservice/users/test/test_api/test_feedback.py
  tdrs-backend/tdpservice/users/views.py
Due: backend

change verbage from hasFRAData to hasFRAAccess
  tdrs-frontend/src/actions/requestAccess.js
  tdrs-frontend/src/components/RequestAccessForm/FRASelector.jsx
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.jsx
Due: frontend

- linting
  tdrs-backend/tdpservice/users/serializers.py
  tdrs-backend/tdpservice/users/test/factories.py
  tdrs-backend/tdpservice/users/test/test_api/test_feedback.py
  tdrs-backend/tdpservice/users/views.py
Due: backend

- Update script
  scripts/deploy-frontend.sh
Due: none

#5071 updated .gitignore file
  .gitignore
Due: none

create new group fra submitter
  tdrs-backend/tdpservice/users/migrations/0046_add_fra_group.py
  tdrs-backend/tdpservice/users/migrations/0046_auto_20250623_1829.py
  tdrs-backend/tdpservice/users/migrations/0047_change_feature_flag_description.py
Due: backend

set FRA Submitter group if requested
  tdrs-backend/tdpservice/data_files/admin/admin.py
  tdrs-backend/tdpservice/data_files/serializers.py
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/serializers.py
Due: backend

use group permissions to determine fra access on frontend
  tdrs-frontend/src/components/Header/Header.jsx
  tdrs-frontend/src/components/Routes/Routes.js
  tdrs-frontend/src/components/SiteMap/SiteMap.jsx
Due: frontend

#5071 added in functionality for selecting radio inputs and checkboxes with enter key down event. still working on styling issue with refocusing on overlay when items inside it are selected
  tdrs-frontend/src/assets/feedback/Feedback.scss
  tdrs-frontend/src/components/FeedbackModal/FeedbackForm.jsx
  tdrs-frontend/src/components/FeedbackModal/FeedbackModal.jsx
  tdrs-frontend/src/components/FeedbackModal/FeedbackRadioSelectGroup.jsx
Due: frontend

#5071 added in ability to close modal on escape key press (makes sense to have)
  tdrs-frontend/src/components/FeedbackModal/FeedbackModal.jsx
Due: frontend

#5071 fixed flicker focus on modal by removing conflicting tabIndex off off overlay and model content. Refactored some code and added in some better styling
  tdrs-frontend/src/assets/feedback/Feedback.scss
  tdrs-frontend/src/components/FeedbackModal/Feedback.test.js
  tdrs-frontend/src/components/FeedbackModal/FeedbackForm.jsx
  tdrs-frontend/src/components/FeedbackModal/FeedbackForm.test.js
  tdrs-frontend/src/components/FeedbackModal/FeedbackModal.jsx
  tdrs-frontend/src/components/FeedbackModal/FeedbackModal.test.js
Due: frontend

#5071 updated cypress tests to be two separate test cases
  tdrs-frontend/cypress/e2e/feedback/user-feedback.feature
  tdrs-frontend/cypress/e2e/feedback/user-feedback.js
Due: none

Create sprint-127-summary.md
  docs/Sprint-Review/sprint-127-summary.md
Due: none

#5071 fix for cypress test
  tdrs-frontend/cypress/e2e/feedback/user-feedback.js
Due: none

add fra access to Developer group
  tdrs-backend/tdpservice/users/migrations/0046_add_fra_group.py
  tdrs-frontend/src/components/Header/developer_permissions.js
Due: frontend, backend

hide fra radio button if user is regional staff
  tdrs-frontend/src/actions/requestAccess.js
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.jsx
Due: frontend

fix failing backend tests
  tdrs-backend/tdpservice/conftest.py
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/users/test/test_api/test_roles.py
  tdrs-backend/tdpservice/users/test/test_models.py
Due: backend

- Made user read only - Added new permission class for feedback - Updated what's returned from serializer - Updated test - added rest_framework static to local nginx routes
  tdrs-backend/tdpservice/users/permissions.py
  tdrs-backend/tdpservice/users/serializers.py
  tdrs-backend/tdpservice/users/test/test_api/test_feedback.py
  tdrs-backend/tdpservice/users/views.py
  tdrs-frontend/nginx/local/locations.conf
Due: backend

add fra permissions to other groups
  tdrs-backend/tdpservice/users/migrations/0046_add_fra_group.py
Due: backend

use isAMSUser for regional staf
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.jsx
Due: frontend

- Added support for anonymous submission - Added field to model - Updated serializer and view to handle anonymous
  tdrs-backend/tdpservice/users/migrations/0046_user_feedback.py
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/serializers.py
  tdrs-backend/tdpservice/users/views.py
Due: backend

- Update logic to use new flag
  tdrs-backend/tdpservice/users/admin.py
Due: backend

- revert dev deploy stuff
  scripts/deploy-frontend.sh
Due: none

lower mem req
  tdrs-backend/manifest.buildpack.yml
  tdrs-backend/manifest.celery.yml
Due: none

fix frontend Home.test.jsx tests
  tdrs-frontend/src/components/Home/Home.test.jsx
Due: frontend

fix frontend SiteMap tests
  tdrs-frontend/src/components/SiteMap/SiteMap.test.js
Due: frontend

- Add user existence check for safety
  tdrs-backend/tdpservice/users/admin.py
Due: backend

fix flake8 linting errors
  tdrs-backend/tdpservice/conftest.py
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/users/test/test_models.py
Due: backend

- Update list permission to filter queryset based on user - Force anonymous flag if user truly is not authenticated
  tdrs-backend/tdpservice/users/permissions.py
  tdrs-backend/tdpservice/users/views.py
Due: backend

- Update to always have correct pathing - Remove FRA from schemas
  tdrs-backend/plg/grafana_views/generate_user_views.py
  tdrs-backend/plg/grafana_views/schema_fields.json
Due: none

#5071 updated styling and added in check for logined in user or not to control send anonyumous checkbox render, checking how cmd+enter works
  tdrs-frontend/src/assets/feedback/Feedback.scss
  tdrs-frontend/src/components/FeedbackModal/Feedback.jsx
  tdrs-frontend/src/components/FeedbackModal/FeedbackForm.jsx
Due: frontend

- Use string formatting to make script much simpler - remove template
  tdrs-backend/plg/grafana_views/generate_user_views.py
  tdrs-backend/plg/grafana_views/view_template.txt
Due: none

- Added custom filtering capabilities - Fixed AGE_VALID calculation
  tdrs-backend/plg/grafana_views/generate_user_views.py
Due: none

#5071 latest updates per OH feedback, add CMD+ENter submission, fixed icon radio styling
  tdrs-frontend/src/assets/feedback/Feedback.scss
  tdrs-frontend/src/components/FeedbackModal/Feedback.test.js
  tdrs-frontend/src/components/FeedbackModal/FeedbackForm.jsx
  tdrs-frontend/src/components/FeedbackModal/FeedbackForm.test.js
  tdrs-frontend/src/components/FeedbackModal/FeedbackRadioSelectGroup.test.js
Due: frontend

- Update to handle admin and standard user use use cases
  tdrs-backend/plg/grafana_views/generate_user_views.py
Due: none

- Rename file and delete duplicate
  tdrs-backend/plg/grafana_views/generate_admin_views.py
  tdrs-backend/plg/grafana_views/generate_views.py
Due: none
