Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

corrected the directory config
  tdrs-backend/tdpservice/scheduling/sftp_task.py
Due: backend

fix owasp scan
  .circleci/config.yml
Due: none

fix build in Dockerfile for owasp scan
  .circleci/config.yml
  tdrs-frontend/Dockerfile
Due: none

remove changes that did not fix owasp
  tdrs-frontend/Dockerfile
Due: none

Update tdrs-backend/tdpservice/scheduling/test/test_file_upload.py
  tdrs-backend/tdpservice/scheduling/test/test_file_upload.py
Due: backend

linting
  tdrs-frontend/src/components/Footer/Footer.test.js
Due: frontend

added link to site map
  tdrs-frontend/src/components/SiteMap/SiteMap.jsx
  tdrs-frontend/src/components/SiteMap/SiteMap.test.js
Due: frontend

updated boundary diagrams for release 1 and 2+
  docs/Security-Compliance/File-Transfer-TDRS/README.md
  docs/Security-Compliance/File-Transfer-TDRS/diagram.drawio
  docs/Security-Compliance/File-Transfer-TDRS/diagram.png
  docs/Security-Compliance/README.md
  docs/Security-Compliance/diagram.drawio
  docs/Security-Compliance/diagram.png
Due: none

add comment explaining admin user validation change
  tdrs-backend/tdpservice/users/admin.py
Due: backend

Revert "V2.0 Documentation Updates and Deployment Cleanup"
  docs/Product-Strategy/Roadmap-and-Backlog.md
  docs/Security-Compliance/Security-Controls/at-2/index.md
  docs/Security-Compliance/boundary-diagram.md
  docs/Security-Compliance/diagram.drawio
  docs/Security-Compliance/diagram.png
  docs/Sprint-Review/sprint-52-summary.md
  docs/Technical-Documentation/tdp-erd.png
Due: none

Revert "Revert "V2.0 Documentation Updates and Deployment Cleanup""
  docs/Product-Strategy/Roadmap-and-Backlog.md
  docs/Security-Compliance/Security-Controls/at-2/index.md
  docs/Security-Compliance/boundary-diagram.md
  docs/Security-Compliance/diagram.drawio
  docs/Security-Compliance/diagram.png
  docs/Sprint-Review/sprint-52-summary.md
  docs/Technical-Documentation/tdp-erd.png
Due: none

added production column to build table
  README.md
Due: none

replaced references to nextgen with logingov
  README.md
Due: none

add links to privacy and vulnerability disclosure policies
  README.md
Due: none

change project slug arg in circle ci. force pushed because I accidentally added a commit to the wrong branch and removed it.
  .circleci/config.yml
Due: none

update ADR005 to document decision to move away from NextGen
  docs/Technical-Documentation/Architecture-Decision-Record/005-application-authentication.md
Due: none

update circle config to track codecov on master
  .circleci/config.yml
Due: none

formatting
  README.md
Due: none

linting
  tdrs-frontend/src/components/SiteMap/SiteMap.jsx
Due: frontend

update nginx and python buildpacks
  docs/Technical-Documentation/buildpack-changelog.md
  tdrs-backend/manifest.buildpack.yml
  tdrs-frontend/manifest.buildpack.yml
Due: none

Update sftp_upload task to use filename
  tdrs-backend/tdpservice/scheduling/sftp_task.py
Due: backend

changed stt.filename to return Tribal filename and added comment on TODO refactor
  tdrs-backend/tdpservice/data_files/models.py
Due: backend

changed method to use property
  tdrs-backend/tdpservice/scheduling/sftp_task.py
  tdrs-backend/tdpservice/scheduling/test/test_file_upload.py
Due: backend

linting
  tdrs-backend/tdpservice/scheduling/test/test_file_upload.py
Due: backend

added emailing functions
  tdrs-backend/tdpservice/scheduling/email.py
Due: backend

added better logs
  tdrs-backend/tdpservice/security/management/commands/process_owasp_scan.py
Due: backend

set project slug from pipeline var
  .circleci/config.yml
Due: none

added param type
  .circleci/config.yml
Due: none

use sed to get slug from circle ci pipeline variables
  .circleci/config.yml
Due: none

better formatting and comments
  .circleci/config.yml
Due: none

linting + changed test file
  tdrs-backend/tdpservice/data_files/models.py
  tdrs-backend/tdpservice/data_files/test/test_models.py
Due: backend

Changed policy to capital
  tdrs-frontend/src/components/Footer/Footer.jsx
Due: frontend

Updated test for Policy
  tdrs-frontend/src/components/Footer/Footer.test.js
Due: frontend

Update footer with capital Policy
  tdrs-frontend/src/components/Footer/Footer.test.js
Due: frontend

cleaner way to get project slug
  .circleci/config.yml
Due: none

Update models.py
  tdrs-backend/tdpservice/data_files/models.py
Due: backend

test emails
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/scheduling/email.py
  tdrs-backend/tdpservice/settings/cloudgov.py
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/settings/local.py
Due: backend

Path conditions:
  frontend: any of: tdrs-frontend/src
  backend: any of: tdrs-backend/tdpservice
