Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

- Added email template resolution - Added email checker function
  tdrs-backend/plg/deploy.sh
Due: none

Update docs/Technical-Documentation/tech-memos/parsing-log-per-file/parsing-log-per-file.md
  docs/Technical-Documentation/tech-memos/parsing-log-per-file/parsing-log-per-file.md
Due: none

- Convert commadn back to prod
  tdrs-backend/plg/deploy.sh
Due: none

- fix bug which didn't allow prometheus to load alert rules
  tdrs-backend/plg/prometheus/prometheus.local.yml
Due: none

- updated config to send resolved messages
  tdrs-backend/plg/alertmanager/alertmanager.yml
Due: none

add s3 explanation
  docs/Technical-Documentation/tech-memos/parsing-log-per-file/parsing-log-per-file.md
Due: none

- Updated validators based on new coding instructions - Updated test
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

3269 [BUGFIX] refactor reparse js file (#3280)
  tdrs-backend/tdpservice/data_files/static/admin/js/admin/admin_datafile_model.js
Due: backend

- Updated STTApiView to STTApiViewSet
  tdrs-backend/tdpservice/stts/urls.py
  tdrs-backend/tdpservice/stts/views.py
Due: backend

- overriding retrieve method to key off of stt name instead of pk
  tdrs-backend/tdpservice/stts/views.py
Due: backend

- MVP of limiting submission boxes based on what an stt should be submitting
  tdrs-frontend/src/actions/reports.js
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.jsx
  tdrs-frontend/src/components/UploadReport/UploadReport.jsx
  tdrs-frontend/src/reducers/reports.js
Due: frontend

Revert "- MVP of limiting submission boxes based on what an stt should be submitting"
  tdrs-frontend/src/actions/reports.js
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.jsx
  tdrs-frontend/src/components/UploadReport/UploadReport.jsx
  tdrs-frontend/src/reducers/reports.js
Due: frontend

Revert "- overriding retrieve method to key off of stt name instead of pk"
  tdrs-backend/tdpservice/stts/views.py
Due: backend

Revert "- Updated STTApiView to STTApiViewSet"
  tdrs-backend/tdpservice/stts/urls.py
  tdrs-backend/tdpservice/stts/views.py
Due: backend

- Fix logic to use correct section index. - need to sort uploads by section index
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.jsx
  tdrs-frontend/src/components/UploadReport/UploadReport.jsx
Due: frontend

- Updated map logic to correctly order the sections
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.jsx
  tdrs-frontend/src/components/UploadReport/UploadReport.jsx
Due: frontend

- linting
  tdrs-backend/tdpservice/stts/views.py
Due: backend

- update doc string
  tdrs-backend/tdpservice/stts/views.py
Due: backend

- remove object destructuring - add missing state
  tdrs-frontend/src/actions/reports.js
  tdrs-frontend/src/components/UploadReport/UploadReport.test.js
Due: frontend

- update ternary - Add undefined checks
  tdrs-frontend/src/actions/reports.js
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.jsx
  tdrs-frontend/src/components/UploadReport/UploadReport.jsx
Due: frontend

- add missing expected values
  tdrs-frontend/src/actions/reports.test.js
  tdrs-frontend/src/reducers/reports.test.js
Due: frontend

- add default to missing state in tests
  tdrs-frontend/src/reducers/reports.test.js
Due: frontend

- fix reducer tests
  tdrs-frontend/src/reducers/reports.test.js
Due: frontend

- Updated submission history tests with correct state
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.jsx
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.test.js
  tdrs-frontend/src/components/UploadReport/UploadReport.jsx
Due: frontend

- Fix upload report tests
  tdrs-frontend/src/components/UploadReport/UploadReport.test.js
Due: frontend

- Correct logic if reponse is null
  tdrs-frontend/src/actions/reports.js
Due: frontend

- Updated action to use correct return type when api request fails - Updated tests
  tdrs-frontend/src/actions/reports.js
  tdrs-frontend/src/actions/reports.test.js
  tdrs-frontend/src/components/Reports/Reports.test.js
Due: frontend

- remove unnecessary branch
  tdrs-frontend/src/actions/reports.js
Due: frontend

- Update tests to reverse based on viewset
  tdrs-backend/tdpservice/stts/test/test_api.py
  tdrs-backend/tdpservice/stts/urls.py
Due: backend

- add test for file extenstion reducer
  tdrs-frontend/src/reducers/reports.test.js
Due: frontend

- linting
  tdrs-frontend/src/reducers/reports.test.js
Due: frontend

transparent background
  docs/Security-Compliance/diagram.png
Due: none

transparent background (#3312)
  docs/Security-Compliance/diagram.png
Due: none

- Added error handling for empty stt
  tdrs-frontend/src/actions/reports.js
Due: frontend

- dummy change
  tdrs-backend/plg/prometheus/prometheus.yml
Due: none

Path conditions:
  frontend: any of: tdrs-frontend/src, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
  backend: any of: tdrs-backend/tdpservice, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
