Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

fix linting errors
  tdrs-frontend/src/components/Reports/Reports.test.js
Due: frontend

rm comments
  tdrs-backend/tdpservice/data_files/test/test_api.py
Due: backend

increase coverage
  tdrs-frontend/src/components/FileUploadForms/QuarterFileUploadForm.test.js
  tdrs-frontend/src/components/FileUploadForms/SectionFileUploadForm.test.js
  tdrs-frontend/src/components/Reports/FRAReports.test.js
Due: frontend

- Fix duplicate migrations issue
  tdrs-backend/tdpservice/core/migrations/0004_featureflag.py
Due: backend

- remove unused function
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/functions.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/validation_test.go
Due: backend

Adds feedback report content to KC
  product-updates/img/feedback-reports/download.png
  product-updates/knowledge-center/components/desktop-navigation.html
  product-updates/knowledge-center/components/mobile-navigation.html
  product-updates/knowledge-center/release-notes.html
Due: none

class-ify datafile queryset test
  tdrs-backend/tdpservice/data_files/test/test_api.py
Due: backend

- Update statistics to capture per record case consistency errors
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/result_router.go
Due: backend

- Simplify wrapper funcs with generics
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/functions.go
Due: backend

- Remove cyclic dependency between parse and validation - Removed unneeded interfaces now that cycle removed - Update validation to use ParsedX throughout instead of the interfaces - Updated tests
  tdrs-backend/tdpservice/parsers/go-parser/internal/config/registry.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/integration/cat4_validators_test.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/integration/helpers.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/integration/integration_test.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/integration/tanf_test.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/types.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/pipeline.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/result_router.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/testutil/records.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/env.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/functions.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/orchestrator.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/orchestrator_test.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/registry.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/result.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/validation_test.go
  tdrs-backend/tdpservice/parsers/go-parser/main.go
Due: backend

- Remove short circuite and execution order configs since they arent used
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/tanf/s1.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/tanf/s2.yaml
  tdrs-backend/tdpservice/parsers/go-parser/internal/config/validation/types.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/orchestrator_test.go
Due: backend

5527 upload panel state reset accepted files (#5579)
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
  tdrs-frontend/src/components/FileUploadForms/QuarterFileUploadForm.test.js
  tdrs-frontend/src/components/FileUploadForms/SectionFileUploadForm.test.js
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/Reports/FRAReports.test.js
  tdrs-frontend/src/components/Reports/Reports.test.js
  tdrs-frontend/src/components/Reports/pia/ProgramIntegrityAuditReports.test.js
  tdrs-frontend/src/hooks/useFileUploadForm.js
  tdrs-frontend/src/utils/createFileInputErrorState.js
Due: frontend

lint
  tdrs-backend/tdpservice/core/models.py
  tdrs-backend/tdpservice/core/test/test_api.py
  tdrs-backend/tdpservice/stts/test/test_api.py
Due: backend

Merge from test
  product-updates/img/feedback-reports/feedback-email.png
  product-updates/knowledge-center/Reference TANF & SSP WPR & TL Feedback Reports.xlsx
  product-updates/knowledge-center/about-email-notifications.html
  product-updates/knowledge-center/feedback-reports.html
  product-updates/knowledge-center/release-notes.html
Due: none

Link updates & copy tweaks / additons
  product-updates/knowledge-center/about-email-notifications.html
  product-updates/knowledge-center/feedback-reports.html
  product-updates/knowledge-center/release-notes.html
  product-updates/knowledge-center/view-submission-history.html
  product-updates/knowledge-center/viewing-error-reports.html
Due: none

App-side link updates
  tdrs-backend/tdpservice/data_files/error_reports.py
  tdrs-frontend/src/components/ResourceCards/ResourceCards.jsx
  tdrs-frontend/src/components/ResourceCards/ResourceCards.test.js
Due: frontend, backend

Update ResourceCards.test.js
  tdrs-frontend/src/components/ResourceCards/ResourceCards.test.js
Due: frontend

fix e2e
  Taskfile.yml
  tdrs-frontend/cypress/e2e/profile/profile-helpers.js
Due: none

str concat celery db nums
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

fix deploy
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

proper dict iteration
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

rm default cache (interferes with static assets)
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

add default locmemcache
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

- Refactor aggregates logic to avoid double counting errors for cases that app appear accross mutliple months of the period - Optimize logic a bit to avoid so many queries for case aggregates
  tdrs-backend/tdpservice/parsers/aggregates.py
Due: backend

- Add test case to prevent future regression
  tdrs-backend/tdpservice/parsers/test/conftest.py
  tdrs-backend/tdpservice/parsers/test/data/cases_across_months_with_error.txt
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

- Add field and record validators for remaining tanf schemas - Add required validators to validators.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tanf/t4.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tanf/t5.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tanf/t6.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tanf/t7.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/validation/validators.yaml
Due: backend

update cache key prefix
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

Update product-updates/knowledge-center/feedback-reports.html
  product-updates/knowledge-center/feedback-reports.html
Due: none

Update product-updates/knowledge-center/release-notes.html
  product-updates/knowledge-center/release-notes.html
Due: none

Update view-submission-history.html
  product-updates/knowledge-center/view-submission-history.html
Due: none

file fix & links
  product-updates/knowledge-center/Reference TANF & SSP WPR & TL Feedback Reports.xlsx
  product-updates/knowledge-center/view-submission-history.html
Due: none

- add comments clarifying what is going on
  tdrs-backend/tdpservice/parsers/aggregates.py
Due: backend

Force nav reload test drive
  product-updates/knowledge-center/release-notes.html
  product-updates/knowledge-center/search.html
  product-updates/knowledge-center/view-submission-history.html
Due: none

Update search.html
  product-updates/knowledge-center/search.html
Due: none

Path conditions:
  frontend: any of: tdrs-frontend/src, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
  backend: any of: tdrs-backend/tdpservice, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
