Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

linting
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/parsers/views.py
Due: backend

linting
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t6.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t7.py
  tdrs-backend/tdpservice/parsers/schema_defs/trailer.py
  tdrs-backend/tdpservice/parsers/test/test_util.py
Due: backend

linting
  tdrs-backend/tdpservice/parsers/schema_defs/header.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m1.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t6.py
Due: backend

delete contants.py
  tdrs-backend/tdpservice/parsers/constants.py
Due: backend

added test for json field in error model
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

linting
  tdrs-backend/tdpservice/parsers/fields.py
Due: backend

reduced workflows from 3 deploys to 1
  .circleci/deployment/jobs.yml
  .circleci/deployment/workflows.yml
Due: none

linting
  tdrs-backend/tdpservice/parsers/schema_defs/header.py
Due: backend

fix spacing of nested 'steps:'
  .circleci/deployment/jobs.yml
Due: none

repaired logic for workflow
  .circleci/deployment/workflows.yml
Due: none

trying to get right format for conditional logic in job steps
  .circleci/deployment/jobs.yml
Due: none

fixed incorrect variable
  .circleci/deployment/jobs.yml
  .circleci/deployment/workflows.yml
Due: none

adding default target_env instead of emptry string
  .circleci/base_config.yml
  .circleci/config.yml
Due: none

reverting
  .circleci/base_config.yml
  .circleci/config.yml
  .circleci/deployment/jobs.yml
  .circleci/deployment/workflows.yml
Due: none

fixed spacing
  .circleci/deployment/jobs.yml
Due: none

removed old requirement and updated for current jobs.
  .circleci/deployment/workflows.yml
Due: none

2599-added friendly name to postparsing validators
  tdrs-backend/tdpservice/parsers/row_schema.py
  tdrs-backend/tdpservice/parsers/validators.py
Due: backend

Update cloudgov.py (#2730)
  scripts/deploy-backend.sh
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

Create sprint-83-summary.md (#2728)
  docs/Sprint-Review/sprint-83-summary.md
Due: none

Sprint 84 summary (#2737)
  docs/Sprint-Review/sprint-84-summary.md
Due: none

Debug/develop deployment failures (#2743)
  scripts/deploy-backend.sh
Due: none

File Input Render Issue (#2725)
  tdrs-frontend/nginx/cloud.gov/buildpack.nginx.conf
  tdrs-frontend/nginx/local/default.conf.template
Due: none

2695 field spaces (#2704)
  tdrs-backend/tdpservice/parsers/fields.py
  tdrs-backend/tdpservice/parsers/row_schema.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/test/data/tanf_section1_blanks.txt
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/test/test_util.py
  tdrs-backend/tdpservice/parsers/validators.py
Due: backend

Updating apt repo for postgres (#2744)
  tdrs-backend/apt.yml
Due: none

Kibana integration in process - Added local kibana v7.17.x image to app - Changes to disable auth for local dev testing only - DO NOT APPROVE OR COMMIT IN CURRENT FORM
  tdrs-backend/docker-compose.local.yml
  tdrs-backend/kibana.yml
  tdrs-backend/tdpservice/users/api/authorization_check.py
  tdrs-frontend/src/components/Header/Header.jsx
  tdrs-frontend/src/components/Home/Home.jsx
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/Routes/Routes.js
Due: frontend, backend

Infinite FETCH_STTS (#2720)
  tdrs-frontend/src/components/STTComboBox/STTComboBox.jsx
Due: frontend

refining the validator tests
  tdrs-backend/tdpservice/parsers/test/test_validators.py
  tdrs-backend/tdpservice/parsers/validators.py
Due: backend

added returning fields names to validators
  tdrs-backend/tdpservice/parsers/validators.py
Due: backend

Feature/2709 ssp section 1 validation (#2723)
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m1.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
  tdrs-backend/tdpservice/parsers/test/data/small_ssp_section1.txt
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/parsers/validators.py
Due: backend

allow circleci tdrs-run-deploy to kick off with new functionality (#2741)
  commands.sh
Due: none

add deploy trigger
  commands.sh
Due: none

update apt.yml
  tdrs-backend/apt.yml
Due: none

rm triggered cmd
  commands.sh
Due: none

use this branch to check develop deploys
  .circleci/config.yml
  .circleci/deployment/workflows.yml
Due: none

use this branch to check develop deploys
  .circleci/deployment/workflows.yml
Due: none

use this branch to check develop deploys
  .circleci/config.yml
Due: none

use this branch to check develop deploys
  .circleci/deployment/jobs.yml
Due: none

Path conditions:
  frontend: any of: tdrs-frontend/src, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
  backend: any of: tdrs-backend/tdpservice, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
