Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Re-adding this, needed for rebuild context when done manually. Also removing set -e, we know the initial push for rebuild will fail, want script to run fully despite return codes
  scripts/deploy-backend.sh
Due: none

lint
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

Update pull_request_template.md
  .github/pull_request_template.md
Due: none

migration for file names
  tdrs-backend/tdpservice/stts/migrations/0006_alter_stt_filenames.py
Due: backend

parse the json
  tdrs-backend/tdpservice/stts/migrations/0004_stt_filenames.py
Due: backend

parse json
  tdrs-backend/tdpservice/stts/migrations/0004_stt_filenames.py
  tdrs-backend/tdpservice/stts/migrations/0006_alter_stt_filenames.py
Due: backend

keep my undo files from getting into the project
  .gitignore
Due: none

update the filter for staging
  .circleci/config.yml
Due: none

test
  .circleci/config.yml
Due: none

update terraform staging variables fmt
  terraform/staging/variables.tf
Due: none

change to test-main
  .circleci/config.yml
Due: none

Pass stt explicitly into data file factory to prevent duplicate key error in region model
  tdrs-backend/tdpservice/conftest.py
Due: backend

Create sprint-49-summary.md
  docs/Sprint-Review/sprint-49-summary.md
Due: none

Update docs/Sprint-Review/sprint-49-summary.md
  docs/Sprint-Review/sprint-49-summary.md
Due: none

update mirage
  tdrs-frontend/src/mirage.js
Due: frontend

update page
  tdrs-frontend/src/components/Profile/Profile.jsx
Due: frontend

Default to federal government as STT if no name is available.
  tdrs-frontend/src/components/Profile/Profile.jsx
Due: frontend

lint and commentary
  tdrs-frontend/src/components/Profile/Profile.jsx
Due: frontend

remove incomplete thought
  tdrs-frontend/src/components/Profile/Profile.jsx
Due: frontend

add region to seriazlizer
  tdrs-backend/tdpservice/stts/serializers.py
Due: backend

Update page to show infered region
  tdrs-frontend/src/components/Profile/Profile.jsx
Due: frontend

update test
  tdrs-backend/tdpservice/users/test/test_api/test_set_profile.py
Due: backend

remove call to command
  tdrs-backend/tdpservice/data_files/test/test_models.py
Due: backend

Added an additional assertion to confirm test is valid, and loop executes
  tdrs-backend/tdpservice/data_files/test/test_models.py
Due: backend

lint
  tdrs-backend/tdpservice/data_files/test/test_models.py
Due: backend

Update banner and add env var to deployment scripts
  .circleci/config.yml
  scripts/deploy-frontend.sh
  tdrs-frontend/src/components/GovBanner/GovBanner.jsx
Due: frontend

clamav was getting network policies nuked every deletion
  .circleci/config.yml
Due: none

update gov banner and test
  tdrs-frontend/src/components/GovBanner/GovBanner.jsx
  tdrs-frontend/src/components/GovBanner/GovBanner.test.js
Due: frontend

lint
  tdrs-frontend/src/components/GovBanner/GovBanner.test.js
Due: frontend

lint
  tdrs-frontend/src/components/GovBanner/GovBanner.jsx
Due: frontend

Add files via upload
  docs/User-Experience/Privacy.pdf
Due: none

Update tdrs-backend/tdpservice/stts/migrations/0006_alter_stt_filenames.py
  tdrs-backend/tdpservice/stts/migrations/0006_alter_stt_filenames.py
Due: backend

update documentation
  docs/Technical-Documentation/Architecture-Decision-Record/008-deployment-flow.md
  docs/Technical-Documentation/Architecture-Decision-Record/009-git-workflow.md
  docs/Technical-Documentation/TDP-environments-README.md
Due: none

Update docs/Technical-Documentation/TDP-environments-README.md
  docs/Technical-Documentation/TDP-environments-README.md
Due: none

update strings for spaces
  tdrs-frontend/src/components/GovBanner/GovBanner.jsx
  tdrs-frontend/src/components/GovBanner/GovBanner.test.js
Due: frontend

typo
  scripts/deploy-frontend.sh
Due: none

updating key rotation steps
  docs/Technical-Documentation/secret-key-rotation-steps.md
Due: none

include circleci link
  docs/Technical-Documentation/secret-key-rotation-steps.md
Due: none

Path conditions:
  frontend: any of: tdrs-frontend/src
  backend: any of: tdrs-backend/tdpservice
