Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 90%
        flags:
          - backend
    patch: off

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

ignore:
  - "tdrs-backend/tdpservice/scheduling/db_backup.py"

Create sprint-119-summary.md
  docs/Sprint-Review/sprint-119-summary.md
Due: none

Update index.html
  product-updates/knowledge-center/index.html
Due: none

restore empty file error
  tdrs-frontend/src/actions/reports.js
  tdrs-frontend/src/actions/reports.test.js
Due: frontend

add cov
  tdrs-frontend/src/actions/reports.test.js
Due: frontend

- linting
  tdrs-backend/tdpservice/parsers/base_parser.py
  tdrs-backend/tdpservice/parsers/fra_parser.py
  tdrs-backend/tdpservice/parsers/schema_defs/fra/te1.py
Due: backend

add item_numbers field to fields_json to hold all item numbers associated with error
  tdrs-backend/tdpservice/data_files/util.py
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

- removed all reference to the errors dictionary - updated tests
  tdrs-backend/tdpservice/parsers/base_parser.py
  tdrs-backend/tdpservice/parsers/fra_parser.py
  tdrs-backend/tdpservice/parsers/tdr_parser.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
Due: backend

- linting
  tdrs-backend/tdpservice/scheduling/parser_task.py
Due: backend

- Update tests
  tdrs-backend/tdpservice/parsers/test/test_decoders.py
  tdrs-backend/tdpservice/users/test/test_permissions.py
Due: backend

- Add more unit tests for FRA files - Updated FRA parser to fail header validation if any value in the first row is not "truthy"
  tdrs-backend/tdpservice/parsers/fra_parser.py
  tdrs-backend/tdpservice/parsers/test/conftest.py
  tdrs-backend/tdpservice/parsers/test/data/fra_bad_header.csv
  tdrs-backend/tdpservice/parsers/test/data/fra_bad_header.xlsx
  tdrs-backend/tdpservice/parsers/test/data/fra_empty_first_row.csv
  tdrs-backend/tdpservice/parsers/test/data/fra_empty_first_row.xlsx
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

- Rename row - handle case in tuplerow to return range of values
  tdrs-backend/tdpservice/parsers/dataclasses.py
  tdrs-backend/tdpservice/parsers/decoders.py
  tdrs-backend/tdpservice/parsers/test/test_decoders.py
Due: backend

- alphabetize
  tdrs-backend/tdpservice/parsers/test/test_decoders.py
Due: backend

- Add tests for dataclasses - Add ne method for dataclass
  tdrs-backend/tdpservice/parsers/dataclasses.py
  tdrs-backend/tdpservice/parsers/test/test_dataclasses.py
Due: backend

- point pip back to pypi - update lock file - create new base image with all dependencies - update main docker file to be based on new base image
  tdrs-backend/Dockerfile
  tdrs-backend/Dockerfile.base
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
Due: none

- testing base image
  tdrs-backend/Dockerfile
Due: none

- Fake commit to trigger pipeline
  tdrs-backend/tdpservice/wsgi.py
Due: backend

Revert "- Fake commit to trigger pipeline"
  tdrs-backend/tdpservice/wsgi.py
Due: backend

- Only use required containers for backend tests - Remove refs to nexus container registry
  .circleci/util/commands.yml
  tdrs-backend/docker-compose.yml
Due: none

- point frontend to zap
  tdrs-frontend/docker-compose.yml
Due: none

- remove docker login to nexus
  .circleci/build-and-test/commands.yml
  .circleci/build-and-test/jobs.yml
  .circleci/owasp/jobs.yml
  .circleci/util/jobs.yml
Due: none

- Add base docker image for frontend
  tdrs-frontend/Dockerfile
  tdrs-frontend/Dockerfile.base
Due: none

fix migration conflict
  tdrs-backend/tdpservice/users/migrations/0045_regional_staff_permissions_update.py
Due: backend

increase repeat_interval for alertmanager
  tdrs-backend/plg/alertmanager/alertmanager.yml
Due: none

add alertmanager data source
  tdrs-backend/plg/grafana/datasources.local.yml
Due: none

fix pg uptime reporting
  tdrs-backend/plg/prometheus/alerts.local.yml
Due: none

create health dash
  tdrs-backend/plg/grafana/dashboards/health.json
Due: none

shorten time frame
  tdrs-backend/plg/grafana/dashboards/health.json
Due: none

don't use nexus for npm
  tdrs-frontend/package-lock.json
Due: none

- Allow ofa sys admin to submit fra without the flag - Allow frontend to submit frontend files and kick off parsing chain
  tdrs-backend/tdpservice/data_files/serializers.py
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

- Linting
  tdrs-backend/tdpservice/data_files/error_reports.py
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

- Remove exit date form parser error - Bring all TE1 records into memory for the moment
  tdrs-backend/tdpservice/data_files/error_reports.py
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

- add todo
  tdrs-backend/tdpservice/data_files/error_reports.py
Due: backend

- Update FRA report to use raw_sql queries since we need to access the model's field data
  tdrs-backend/tdpservice/data_files/error_reports.py
Due: backend

- use docstring for convenience
  tdrs-backend/tdpservice/data_files/error_reports.py
Due: backend

- Use good names for query
  tdrs-backend/tdpservice/data_files/error_reports.py
Due: backend

- Close fra workbook - Add tests for FRA file error reports
  tdrs-backend/tdpservice/data_files/error_reports.py
  tdrs-backend/tdpservice/data_files/test/test_api.py
Due: backend

fix test assertion and add Key check
  tdrs-backend/tdpservice/data_files/util.py
  tdrs-backend/tdpservice/parsers/test/test_util.py
Due: backend

- Update migration - Give model record type default - Enable parsing from frontend
  tdrs-backend/tdpservice/data_files/serializers.py
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/search_indexes/migrations/0034_tanf_exiter1.py
  tdrs-backend/tdpservice/search_indexes/models/fra.py
Due: backend

- Add admin view of TE1 records
  tdrs-backend/tdpservice/search_indexes/admin/__init__.py
  tdrs-backend/tdpservice/search_indexes/admin/fra.py
Due: backend

fix linting errors
  tdrs-backend/tdpservice/data_files/util.py
  tdrs-backend/tdpservice/parsers/test/test_util.py
Due: backend
