Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 90%
        flags:
          - backend
    patch: off

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

ignore:
  - "tdrs-backend/tdpservice/scheduling/db_backup.py"

- Move version logic into custom field outside of the backends - Added migration for new field - Added tests
  tdrs-backend/tdpservice/backends.py
  tdrs-backend/tdpservice/common/fields.py
  tdrs-backend/tdpservice/core/test/test_fields.py
  tdrs-backend/tdpservice/data_files/migrations/0024_alter_datafile_file.py
  tdrs-backend/tdpservice/data_files/models.py
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

quick lint fix (#5607)
  tdrs-frontend/src/components/Link/Link.jsx
Due: frontend

Tech debt Linting
  tdrs-frontend/src/components/Reports/Reports.test.js
  tdrs-frontend/src/hooks/useFocusTrap.test.js
  tdrs-frontend/src/hooks/usePollingTimer.test.js
  tdrs-frontend/src/selectors/stts.js
Due: frontend

is to ==
  tdrs-backend/tdpservice/data_files/test/test_api.py
Due: backend

- Update the worker and router sizes - Use batch size of 1 to leverage parallelism better
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/tanf/s1.yaml
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/config.go
Due: backend

- update batch size logic so that a batch size of zero is an infinite batch size - add stats for batch size and group tracking
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/fra/s1.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/ssp/s1.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/ssp/s2.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/ssp/s3.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/ssp/s4.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/tanf/s1.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/tanf/s2.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/tanf/s3.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/tanf/s4.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/tribal/s1.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/tribal/s2.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/tribal/s3.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/tribal/s4.yaml
  tdrs-backend/tdpservice/parsers/go-parser/internal/config/filespec/types.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/accumulator.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/pipeline.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/result_router.go
Due: backend

- 16 validators
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/config.go
Due: backend

update feedback reports backend to use date_extracted_on instead of quarter field
  tdrs-backend/tdpservice/reports/admin.py
  tdrs-backend/tdpservice/reports/migrations/0003_auto_20260130_1950.py
  tdrs-backend/tdpservice/reports/models.py
  tdrs-backend/tdpservice/reports/serializers.py
  tdrs-backend/tdpservice/reports/test/conftest.py
  tdrs-backend/tdpservice/reports/test/factories.py
  tdrs-backend/tdpservice/reports/test/test_models.py
  tdrs-backend/tdpservice/reports/test/test_views.py
  tdrs-backend/tdpservice/reports/views.py
Due: backend

update celery task for feedback reports to no longer calculate quarter
  tdrs-backend/tdpservice/reports/tasks.py
  tdrs-backend/tdpservice/reports/test/test_tasks.py
Due: backend

update emails for feedback reports to remove quarter field and add date_extracted_on field
  tdrs-backend/tdpservice/email/helpers/feedback_report.py
  tdrs-backend/tdpservice/email/helpers/test/test_feedback_report.py
  tdrs-backend/tdpservice/email/templates/feedback/report-available.html
Due: backend

update admin feedback report to new design
  tdrs-frontend/src/components/FeedbackReports/AdminFeedbackReports.jsx
  tdrs-frontend/src/components/FeedbackReports/AdminFeedbackReports.test.js
  tdrs-frontend/src/components/FeedbackReports/FeedbackReports.test.js
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportsHistory.jsx
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportsHistory.test.js
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportsUpload.jsx
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportsUpload.test.js
Due: frontend

- Added new pipeline config to define all the parallel and io based config
  tdrs-backend/tdpservice/parsers/go-parser/config/pipeline.yaml
  tdrs-backend/tdpservice/parsers/go-parser/internal/config/pipeline.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/db/pool.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/config.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/pipeline.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/writer/router.go
  tdrs-backend/tdpservice/parsers/go-parser/main.go
Due: backend

reformat date extracted on from forward slash to hyphen delimitted for passing to backend
  tdrs-frontend/src/components/FeedbackReports/AdminFeedbackReports.jsx
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportsUpload.jsx
Due: frontend

make fiscal year a persistent query param for admin upload feedback reports
  tdrs-frontend/src/components/FeedbackReports/AdminFeedbackReports.jsx
Due: frontend

5597 Fix showing tribal STT (#5606)
  tdrs-frontend/src/components/Reports/Reports.test.js
  tdrs-frontend/src/hooks/useFocusTrap.test.js
  tdrs-frontend/src/hooks/usePollingTimer.test.js
  tdrs-frontend/src/selectors/stts.js
  tdrs-frontend/src/selectors/stts.test.js
Due: frontend

update STT Feedback Report with changes related to updated design doc
  tdrs-frontend/src/components/FeedbackReports/AdminFeedbackReports.test.js
  tdrs-frontend/src/components/FeedbackReports/FeedbackReports.test.js
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportsUpload.test.js
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReports.jsx
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReports.test.js
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReportsTable.jsx
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReportsTable.test.js
  tdrs-frontend/src/components/Header/Header.test.js
Due: frontend

remove date_extracted_on from read only
  tdrs-backend/tdpservice/reports/serializers.py
Due: backend

update test zip folders and expected zip folder structure
  tdrs-backend/tdpservice/reports/tasks.py
  tdrs-backend/tdpservice/reports/test/conftest.py
  tdrs-backend/tdpservice/reports/test/data/FY2025_invalid_empty_stt_folder.zip
  tdrs-backend/tdpservice/reports/test/data/FY2025_invalid_stt_code_999.zip
  tdrs-backend/tdpservice/reports/test/data/FY2025_valid_multiple_regions.zip
  tdrs-backend/tdpservice/reports/test/data/FY2025_valid_multiple_stts_same_region.zip
  tdrs-backend/tdpservice/reports/test/data/FY2025_valid_single_stt.zip
  tdrs-backend/tdpservice/reports/test/data/README.md
  tdrs-backend/tdpservice/reports/test/data/invalid_empty_stt_folder.zip
  tdrs-backend/tdpservice/reports/test/data/invalid_fiscal_year_bad_format.zip
  tdrs-backend/tdpservice/reports/test/data/invalid_flat_structure.zip
  tdrs-backend/tdpservice/reports/test/data/invalid_multiple_fiscal_years.zip
  tdrs-backend/tdpservice/reports/test/data/invalid_stt_code_999.zip
  tdrs-backend/tdpservice/reports/test/data/valid_multiple_regions.zip
  tdrs-backend/tdpservice/reports/test/data/valid_multiple_stts_same_region.zip
  tdrs-backend/tdpservice/reports/test/data/valid_single_stt.zip
  tdrs-backend/tdpservice/reports/test/test_tasks.py
Due: backend

fix linting errors
  tdrs-frontend/src/components/FeedbackReports/AdminFeedbackReports.test.js
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReports.test.js
Due: frontend

add coverage to frontend feedback reports tests
  tdrs-frontend/src/components/FeedbackReports/AdminFeedbackReports.test.js
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportsUpload.test.js
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReports.test.js
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReportsTable.test.js
Due: frontend

fix linting errors
  tdrs-frontend/src/components/FeedbackReports/AdminFeedbackReports.test.js
Due: frontend

fix padding issue with stt_code
  tdrs-backend/tdpservice/reports/tasks.py
  tdrs-backend/tdpservice/reports/test/test_tasks.py
Due: backend

add ability to dismiss alert banner for feedback report and stays dismissed until a new report is available for the given fiscal year
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportAlert.jsx
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportAlert.test.js
Due: frontend

unnest p tags in email template
  tdrs-backend/tdpservice/email/templates/feedback/report-available.html
Due: backend

- Add django admin interface as a dependency to get better 508 compliance - Update pipfile and lock file - Add data migration to enable uswds by default - Add to installed apps
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
  tdrs-backend/tdpservice/core/migrations/0003_load_uswds_admin_theme.py
  tdrs-backend/tdpservice/settings/common.py
Due: backend

Add sprint summary for 2026-02-03
  sprint-summary-2026-02-03.md
Due: none

- add missing perms to tst
  tdrs-backend/tdpservice/users/test/test_permissions.py
Due: backend

fix expected zip file structure of feedback report source to expect 4 nested folders instead of 3
  tdrs-backend/tdpservice/reports/tasks.py
  tdrs-backend/tdpservice/reports/test/conftest.py
  tdrs-backend/tdpservice/reports/test/data/FY2025_invalid_empty_stt_folder.zip
  tdrs-backend/tdpservice/reports/test/data/FY2025_invalid_stt_code_999.zip
  tdrs-backend/tdpservice/reports/test/data/FY2025_valid_multiple_regions.zip
  tdrs-backend/tdpservice/reports/test/data/FY2025_valid_multiple_stts_same_region.zip
  tdrs-backend/tdpservice/reports/test/data/FY2025_valid_single_stt.zip
  tdrs-backend/tdpservice/reports/test/data/README.md
  tdrs-backend/tdpservice/reports/test/data/invalid_fiscal_year_bad_format.zip
  tdrs-backend/tdpservice/reports/test/data/invalid_flat_structure.zip
  tdrs-backend/tdpservice/reports/test/data/invalid_multiple_fiscal_years.zip
  tdrs-backend/tdpservice/reports/test/test_tasks.py
Due: backend

remove upload permissions for feedback reports from OFA Admin and add them for Digit Team
  tdrs-backend/tdpservice/reports/test/test_views.py
  tdrs-backend/tdpservice/users/migrations/0054_update_feedback_report_permissions.py
  tdrs-backend/tdpservice/users/permissions.py
  tdrs-frontend/src/components/FeedbackReports/AdminFeedbackReports.jsx
  tdrs-frontend/src/components/FeedbackReports/AdminFeedbackReports.test.js
  tdrs-frontend/src/components/FeedbackReports/FeedbackReports.test.js
  tdrs-frontend/src/components/Header/Header.test.js
Due: frontend, backend

change "gernerated" to "uploaded"
  tdrs-backend/tdpservice/email/templates/feedback/report-available.html
Due: backend

- fix warning about throwing object literal and not an error
  tdrs-frontend/src/actions/reports.js
Due: frontend

- Boosting coverage
  tdrs-frontend/src/__mocks__/@grafana/faro-react.js
  tdrs-frontend/src/actions/fraReports.test.js
  tdrs-frontend/src/components/SubmissionHistory/helpers.test.js
  tdrs-frontend/src/fetch-instance.test.js
Due: frontend

fix backend tests
  tdrs-backend/tdpservice/users/test/test_permissions.py
Due: backend

[5521] Rhode island should able submit ssp data tdp (#5586)
  tdrs-backend/tdpservice/stts/management/commands/data/stt_overrides.json
  tdrs-backend/tdpservice/stts/management/commands/populate_stts.py
  tdrs-backend/tdpservice/stts/test/test_commands.py
Due: backend

- Add new context to emails for aggregate and stratum - Updated templates to reflect language changes - Update links in emails to be correct - delete unused base html file - Add tests
  tdrs-backend/tdpservice/email/helpers/data_file.py
  tdrs-backend/tdpservice/email/helpers/test/test_data_file.py
  tdrs-backend/tdpservice/email/templates/datafile_base.html
  tdrs-backend/tdpservice/email/templates/fra-data-submitted.html
  tdrs-backend/tdpservice/email/templates/fra/accepted.html
  tdrs-backend/tdpservice/email/templates/fra/accepted_with_errors.html
  tdrs-backend/tdpservice/email/templates/fra/partially_accepted.html
  tdrs-backend/tdpservice/email/templates/fra/rejected.html
  tdrs-backend/tdpservice/email/templates/tanf/accepted.html
  tdrs-backend/tdpservice/email/templates/tanf/accepted_with_errors.html
  tdrs-backend/tdpservice/email/templates/tanf/partially_accepted.html
  tdrs-backend/tdpservice/email/templates/tanf/rejected.html
Due: backend

align the banner text to the left
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportAlert.jsx
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportAlert.test.js
Due: frontend

- Give base image a real tag
  tdrs-backend/Dockerfile
Due: none

- linting
  tdrs-frontend/src/components/Feedback/FeedbackForm.test.js
  tdrs-frontend/src/components/FeedbackReports/FeedbackReports.test.js
  tdrs-frontend/src/components/Reports/FRAReports.test.js
  tdrs-frontend/src/components/Reports/Reports.test.js
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.test.js
  tdrs-frontend/src/fetch-instance.test.js
Due: frontend

fixed bug where datepicker is unresponsive after entering an error state
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportsUpload.jsx
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportsUpload.test.js
Due: frontend

- Add federally funded validator for s1 files
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/tanf/s1.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/validation/validators.yaml
Due: backend
