Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

- make query a little smarter
  tdrs-backend/tdpservice/conftest.py
Due: backend

3397 fra report types data file model (#3412)
  tdrs-backend/tdpservice/data_files/migrations/0017_alter_datafile_section.py
  tdrs-backend/tdpservice/data_files/models.py
  tdrs-backend/tdpservice/data_files/serializers.py
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/data_files/test/test_models.py
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

implement upload api
  tdrs-backend/tdpservice/data_files/serializers.py
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend, backend

handle upload errors and no file selected
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

fix test
  tdrs-frontend/src/components/Reports/FRAReports.test.js
Due: frontend

Create sprint-112-summary.md (#3433)
  docs/Sprint-Review/sprint-112-summary.md
Due: none

Create sprint-113-summary.md (#3434)
  docs/Sprint-Review/sprint-113-summary.md
Due: none

Create sprint-114-summary.md (#3435)
  docs/Sprint-Review/sprint-114-summary.md
Due: none

- Update memo to take into account more sophistcated decoders
  docs/Technical-Documentation/tech-memos/parsing-refactor/parsing-refactor.md
Due: none

- add caveat for separate classes
  docs/Technical-Documentation/tech-memos/parsing-refactor/parsing-refactor.md
Due: none

Create sprint-115-summary.md (#3436)
  docs/Sprint-Review/sprint-115-summary.md
Due: none

Create sprint-116-summary.md (#3437)
  docs/Sprint-Review/sprint-116-summary.md
Due: none

Create sprint-117-summary.md (#3448)
  docs/Sprint-Review/sprint-117-summary.md
Due: none

- add type to method
  docs/Technical-Documentation/tech-memos/parsing-refactor/parsing-refactor.md
Due: none

- small update to typing
  docs/Technical-Documentation/tech-memos/parsing-refactor/parsing-refactor.md
Due: none

update errors count on input change
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

fix test
  tdrs-backend/tdpservice/data_files/test/test_api.py
Due: backend

implement submission history api
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/reducers/fraReports.js
Due: frontend

use paginator HOC over context
  tdrs-frontend/src/components/Paginator/Paginator.jsx
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

3399 controlled access fra data files page (#3430)
  Taskfile.yml
  tdrs-backend/tdpservice/data_files/admin/admin.py
  tdrs-backend/tdpservice/data_files/models.py
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/users/admin.py
  tdrs-backend/tdpservice/users/migrations/0042_user_feature_flags.py
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/test/test_models.py
  tdrs-frontend/cypress/e2e/accounts/accounts.js
Due: backend

create + implement reusable form input components
  tdrs-frontend/src/components/ComboBox/index.js
  tdrs-frontend/src/components/Form/ComboBox.jsx
  tdrs-frontend/src/components/Form/ComboBox.test.js
  tdrs-frontend/src/components/Form/DropdownSelect.jsx
  tdrs-frontend/src/components/Form/RadioSelect.jsx
  tdrs-frontend/src/components/Form/index.js
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/Reports/utils.js
  tdrs-frontend/src/components/STTComboBox/STTComboBox.jsx
Due: frontend

implement conditional classNames
  tdrs-frontend/src/components/Form/DropdownSelect.jsx
  tdrs-frontend/src/components/Form/RadioSelect.jsx
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

remove comments and console.logs
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

unused import
  tdrs-backend/tdpservice/data_files/test/test_api.py
Due: backend

additional tests
  tdrs-frontend/src/components/Reports/FRAReports.test.js
Due: frontend

implement fra reports feature flag
  tdrs-backend/tdpservice/users/serializers.py
  tdrs-frontend/src/components/Header/Header.jsx
  tdrs-frontend/src/components/PermissionGuard/PermissionGuard.jsx
  tdrs-frontend/src/components/PrivateRoute/PrivateRoute.js
  tdrs-frontend/src/components/Routes/Routes.js
  tdrs-frontend/src/selectors/auth.js
Due: frontend, backend

implement file encoding check
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
  tdrs-frontend/src/components/FileUpload/utils.jsx
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

return
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

fix file input preview
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

fix tests
  tdrs-frontend/src/components/Paginator/Paginator.jsx
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/reducers/fraReports.js
Due: frontend

- Fixed migratin conflict
  tdrs-backend/tdpservice/users/migrations/0043_create_regions_m2m_del_region.py
Due: backend

add tests
  tdrs-frontend/src/components/Reports/FRAReports.test.js
Due: frontend

rm blank
  tdrs-frontend/src/components/Reports/FRAReports.test.js
Due: frontend

dispatch get after upload
  tdrs-frontend/src/actions/fraReports.js
Due: frontend

add file download
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

change var name
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

datetimes not test-friendly
  tdrs-frontend/src/components/Reports/FRAReports.test.js
Due: frontend

unused vars
  tdrs-frontend/src/components/Paginator/Paginator.jsx
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

update release notes 3.7.7
  product-updates/knowledge-center/index.html
Due: none

update index
  product-updates/knowledge-center/index.html
Due: none

Path conditions:
  frontend: any of: tdrs-frontend/src, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
  backend: any of: tdrs-backend/tdpservice, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
