Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

removed comma
  .github/workflows/build-backend.yml
Due: none

Updating to error-handle not implemented schema types
  tdrs-backend/tdpservice/parsers/models.py
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/test/factories.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/test/test_summary.py
Due: backend

WIP build flow docs
  docs/Technical-Documentation/Architecture-Decision-Record/020-pipeline-build-flow
Due: none

Create sprint-73-summary.md (#2565)
  docs/Sprint-Review/sprint-73-summary.md
Due: none

hotfix for large file sizes (#2542)
  scripts/zap-scanner.sh
  tdrs-backend/gunicorn_dev_cfg.py
  tdrs-backend/gunicorn_prod_cfg.py
  tdrs-frontend/nginx/cloud.gov/buildpack.nginx.conf
  tdrs-frontend/nginx/local/default.conf.template
  tdrs-frontend/reports/zap.conf
Due: none

updating validation error language
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/schema_defs/header.py
  tdrs-backend/tdpservice/parsers/schema_defs/trailer.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/validators.py
  tdrs-backend/tdpservice/test/test_backends.py
Due: backend

accidentally included coding challenge
  tdrs-backend/tdpservice/test/test_backends.py
Due: backend

rm comments
  tdrs-backend/tdpservice/parsers/schema_defs/header.py
  tdrs-backend/tdpservice/parsers/schema_defs/trailer.py
Due: backend

added Architecture Decision Record for the change to pipeline workflows
  docs/Technical-Documentation/Architecture-Decision-Record/020-pipeline-build-flow
Due: none

fe change
  tdrs-frontend/src/App.js
Due: frontend

revert fe
  tdrs-frontend/src/App.js
Due: frontend

backend change
  tdrs-backend/tdpservice/urls.py
Due: backend

2550 deactivation email link (#2557)
  tdrs-backend/tdpservice/email/helpers/account_deactivation_warning.py
Due: backend

Update README.md (#2577)
  docs/Security-Compliance/README.md
Due: none

Create 2023, Spring - Testing CSV & Excel-based error reports.md
  docs/User-Experience/Research-Syntheses/2023, Spring - Testing CSV & Excel-based error reports.md
Due: none

Update README.md
  docs/User-Experience/Research-Syntheses/README.md
Due: none

Updating deliverable links (#2584)
  .github/pull_request_template.md
Due: none

User viewset not returning/duplicating users (#2573)
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/test/test_api/test_endpoints.py
  tdrs-frontend/nginx/local/locations.conf
Due: backend

Update cf os (#2523)
  .circleci/README.md
  .circleci/deployment/commands.yml
  .circleci/deployment/jobs.yml
  .circleci/deployment/workflows.yml
  docs/Technical-Documentation/buildpack-changelog.md
  scripts/cf-check.sh
  tdrs-frontend/manifest.buildpack.yml
Due: none

Item Number Mismatch (#2578)
  tdrs-backend/tdpservice/parsers/migrations/0006_alter_parsererror_item_number.py
  tdrs-backend/tdpservice/parsers/models.py
  tdrs-backend/tdpservice/parsers/schema_defs/header.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m1.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/trailer.py
  tdrs-backend/tdpservice/parsers/test/factories.py
Due: backend

pipeline filtering (#2538)
  .circleci/README.md
  .circleci/base_config.yml
  .circleci/build-and-test/workflows.yml
  .circleci/config.yml
  .circleci/infrastructure/workflows.yml
  .github/workflows/build-all.yml
  .github/workflows/build-backend.yml
  .github/workflows/build-frontend.yml
  .github/workflows/build-pr.yml
  .github/workflows/deploy-develop-on-merge.yml
  .github/workflows/deploy-infrastructure.yml
  docs/Technical-Documentation/Architecture-Decision-Record/020-pipeline-build-flow.md
  docs/Technical-Documentation/github-actions.md
Due: none

- Updated view to show latest datafiles - Added admin filter to show newest or all datafile records - Updated indices to allow easier elastic queries
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/search_indexes/admin/filter.py
  tdrs-backend/tdpservice/search_indexes/admin/tanf.py
  tdrs-backend/tdpservice/search_indexes/documents/ssp.py
  tdrs-backend/tdpservice/search_indexes/documents/tanf.py
  tdrs-backend/tdpservice/search_indexes/migrations/0014_auto_20230628_1654.py
  tdrs-backend/tdpservice/search_indexes/models/ssp.py
  tdrs-backend/tdpservice/search_indexes/models/tanf.py
Due: backend

Hotfix Devops/2457 path filtering for documentation (#2597)
  .github/workflows/build-pr.yml
Due: none

Create sprint-74-summary.md (#2596)
  docs/Sprint-Review/sprint-74-summary.md
Due: none

added URL filters (#2580)
  .github/workflows/deploy-develop-on-merge.yml
  .github/workflows/deploy-on-label.yml
  .github/workflows/qasp-owasp-scan.yml
  scripts/zap-scanner.sh
Due: none

- Updated search indices to have parent FK
  tdrs-backend/Dockerfile
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/search_indexes/documents/ssp.py
  tdrs-backend/tdpservice/search_indexes/documents/tanf.py
  tdrs-backend/tdpservice/search_indexes/migrations/0014_auto_20230705_2138.py
  tdrs-backend/tdpservice/search_indexes/models/ssp.py
Due: backend

- Fix lint errors
  tdrs-backend/tdpservice/search_indexes/admin/filter.py
  tdrs-backend/tdpservice/search_indexes/documents/ssp.py
  tdrs-backend/tdpservice/search_indexes/documents/tanf.py
Due: backend

- Updated submission tests - Moved create_datafile to util
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/search_indexes/test/test_model_mapping.py
Due: backend

- fix lint errors
  tdrs-backend/tdpservice/search_indexes/test/test_model_mapping.py
Due: backend

- removing frontend filtering
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

- addding datafile to admin model
  tdrs-backend/tdpservice/search_indexes/admin/ssp.py
  tdrs-backend/tdpservice/search_indexes/admin/tanf.py
Due: backend

Revert "- addding datafile to admin model"
  tdrs-backend/tdpservice/search_indexes/admin/ssp.py
  tdrs-backend/tdpservice/search_indexes/admin/tanf.py
Due: backend

- Fixed issue where datafile FK wasnt populating - Regenerated migration
  tdrs-backend/tdpservice/search_indexes/admin/ssp.py
  tdrs-backend/tdpservice/search_indexes/admin/tanf.py
  tdrs-backend/tdpservice/search_indexes/migrations/0014_auto_20230706_1946.py
  tdrs-backend/tdpservice/search_indexes/models/tanf.py
Due: backend

- Readding datafile back to admin view now that the error is resolved
  tdrs-backend/Pipfile
Due: none

- adding datafile back
  tdrs-backend/tdpservice/search_indexes/admin/ssp.py
  tdrs-backend/tdpservice/search_indexes/admin/tanf.py
Due: backend

Revert "- Readding datafile back to admin view now that the error is resolved"
  tdrs-backend/Pipfile
Due: none

- Removed unnecessary fields - Updated dependencies - Updated filter
  tdrs-backend/Dockerfile
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/search_indexes/admin/filter.py
  tdrs-backend/tdpservice/search_indexes/admin/ssp.py
  tdrs-backend/tdpservice/search_indexes/admin/tanf.py
  tdrs-backend/tdpservice/search_indexes/documents/ssp.py
  tdrs-backend/tdpservice/search_indexes/documents/tanf.py
  tdrs-backend/tdpservice/search_indexes/migrations/0014_auto_20230707_1952.py
  tdrs-backend/tdpservice/search_indexes/models/ssp.py
  tdrs-backend/tdpservice/search_indexes/models/tanf.py
Due: backend

- Updated document to include required fields
  tdrs-backend/tdpservice/search_indexes/documents/ssp.py
  tdrs-backend/tdpservice/search_indexes/documents/tanf.py
Due: backend

Create sprint-75-summary.md (#2608)
  docs/Sprint-Review/sprint-75-summary.md
Due: none

Create sprint-76-summary.md (#2609)
  docs/Sprint-Review/sprint-76-summary.md
Due: none

Path conditions:
  frontend: any of: tdrs-frontend/src, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
  backend: any of: tdrs-backend/tdpservice, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
