Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 90%
        flags:
          - backend
    patch: off

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

ignore:
  - "tdrs-backend/tdpservice/scheduling/db_backup.py"

- Re-add update dfs command after parse and validate
  tdrs-backend/tdpservice/scheduling/parser_task.py
Due: backend

add pia feature flag impl for backend
  tdrs-backend/tdpservice/core/test/test_util.py
  tdrs-backend/tdpservice/core/utils.py
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

fix pia flag handling
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

fix err response structure
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

rm testing code
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

fix val parsing
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

lint
  tdrs-backend/tdpservice/core/test/test_util.py
  tdrs-backend/tdpservice/data_files/test/test_api.py
Due: backend

use strtobool
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

merge migrations
  tdrs-backend/tdpservice/users/migrations/0057_merge_20260318_1613.py
Due: backend

make FeedbackReportsAlert component focusable by screen readers with a mouse click
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportAlert.jsx
Due: frontend

FeedbacReportAlert component is now read by screen reader and link is opened in new tab
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportAlert.jsx
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportAlert.test.js
Due: frontend

- Add missing flags to deployed prometheus instance
  tdrs-backend/plg/prometheus/manifest.yml
Due: none

Add sprint summary for 2026-03-17
  sprint-summary-2026-03-17.md
Due: none

fix migration conflict
  tdrs-backend/tdpservice/users/migrations/0058_merge_20260318_2105.py
Due: backend

add pia feat flag to fixtures
  .circleci/build-and-test/jobs.yml
  Taskfile.yml
  scripts/apply-database-config.sh
  tdrs-backend/tdpservice/fixtures/cypress/feature_flags.json
Due: backend

add pia file_upload tests
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
  tdrs-frontend/cypress/e2e/data-files/file_upload.feature
  tdrs-frontend/cypress/e2e/data-files/file_upload.js
Due: none

rm focus
  tdrs-frontend/cypress/e2e/data-files/file_upload.feature
Due: none

add .yarn to gitignore
  .gitignore
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug-template.md
  .github/ISSUE_TEMPLATE/release-tracker-issue-template.md
Due: none

- Updated postgres dashboard to always allow querying metrics even if database is offline - Add visual indicator on postgres and health dashboard for when services were offline
  tdrs-backend/plg/grafana/dashboards/health.json
  tdrs-backend/plg/grafana/dashboards/postgres_dashboard.json
Due: none

5434 parsing refactor (#5502)
  docs/Technical-Documentation/tech-memos/parsing-refactor-plan.md
  docs/Technical-Documentation/tech-memos/submission-state-machine.md
Due: none

- explicitely revoke CREATE on non admin roles
  tdrs-backend/scripts/create_grafana_postgres_role.py
Due: none

- Move regex compilations to shared map to avoid always compiling them - Construct UUIDs without library
  tdrs-backend/tdpservice/parsers/go-parser/go.mod
  tdrs-backend/tdpservice/parsers/go-parser/go.sum
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/accumulator.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/transform.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/functions.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/writer/convert/helpers.go
  tdrs-backend/tdpservice/parsers/go-parser/main.go
Due: backend

- Update the result router to send results in batches instead of one at a time
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/result_router.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/writer/router.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/writer/writer.go
Due: backend

- Update struct names to make a little more sense
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/pipeline.go
  tdrs-backend/tdpservice/parsers/go-parser/main.go
Due: backend

- Add todo - Rename router
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/pipeline.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/writer/router.go
Due: backend

- rename vars
  tdrs-backend/tdpservice/parsers/go-parser/internal/writer/router.go
Due: backend

add submission history test
  tdrs-backend/tdpservice/fixtures/cypress/data_files.json
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
  tdrs-frontend/cypress/e2e/data-files/submission_history.feature
  tdrs-frontend/cypress/e2e/data-files/submission_history.js
Due: backend

admin pia file upload
  tdrs-frontend/cypress/e2e/data-files/file_upload.feature
  tdrs-frontend/cypress/e2e/data-files/file_upload.js
Due: none

- Naming updates - TODOs
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/pool.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/pipeline.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/worker_pool.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/orchestrator.go
Due: backend

fix format
  .circleci/build-and-test/jobs.yml
Due: none

- Rename parser pool to parsing orchestrator - Moved all parallelism management into the pipeline worker pool - Fix references throughout
  tdrs-backend/tdpservice/parsers/go-parser/docs/PRESORT_ARCHITECTURE.md
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/orchestrator.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/config.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/pipeline.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/worker_pool.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/orchestrator.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/orchestrator_test.go
Due: backend

fix fixture user
  tdrs-backend/tdpservice/fixtures/cypress/data_files.json
Due: backend

- First pass at integrating a generic input i/o interface to allow easy use of the parser locally or depoyed
  tdrs-backend/tdpservice/parsers/go-parser/internal/config/pipeline.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/decoder/csv.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/decoder/decoder.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/decoder/detector.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/decoder/key_extractor.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/decoder/key_extractor_test.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/decoder/positional.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/decoder/sortable.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/decoder/sortable_test.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/decoder/xslx.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/integration/helpers.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/accumulator.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/sorter.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/sorter_test.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/config.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/pipeline.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/reader/local.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/reader/local_test.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/reader/s3.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/reader/source.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/storage/blob.go
  tdrs-backend/tdpservice/parsers/go-parser/main.go
Due: backend

- consolidate reader/writer into the storage package - remove unecessary conversions from writer package
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/pipeline.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/result_router.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/storage/reader/local.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/storage/reader/local_test.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/storage/reader/s3_source.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/storage/reader/source.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/storage/writer/error.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/storage/writer/fra.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/storage/writer/helpers.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/storage/writer/registry.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/storage/writer/router.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/storage/writer/ssp.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/storage/writer/tanf.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/storage/writer/tribal.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/storage/writer/writer.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/writer/convert/helpers.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/writer/convert/ssp.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/writer/convert/tanf.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/writer/convert/tribal.go
Due: backend

- Remove the idea of the result router. - Remove the need for atomics with statistics - Consolidate statistics and batch routing to worker pool
  tdrs-backend/tdpservice/parsers/go-parser/config/pipeline.yaml
  tdrs-backend/tdpservice/parsers/go-parser/internal/config/pipeline.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/config.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/pipeline.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/routing.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/worker_pool.go
Due: backend

- correct comment
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/routing.go
Due: backend

- Add a short circuit option for the validation config for the validation orchestrator.
  tdrs-backend/tdpservice/parsers/go-parser/config/pipeline.yaml
  tdrs-backend/tdpservice/parsers/go-parser/internal/config/pipeline.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/config.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/pipeline.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/orchestrator.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/orchestrator_test.go
Due: backend

- Add feature parity matrix
  docs/Technical-Documentation/tech-memos/go-parser/feature_parity_matrix.md
Due: none
