Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

stop hourly scan
  .circleci/config.yml
Due: none

If this works I am blamming the linter
  .circleci/config.yml
  scripts/zap-scanner.sh
Due: none

Create sprint-52-summary.md
  docs/Sprint-Review/sprint-52-summary.md
Due: none

fixed up for pr
  .circleci/config.yml
Due: none

syntax
  scripts/zap-scanner.sh
Due: none

remove unneeded code
  scripts/zap-scanner.sh
Due: none

Backing out axios changes for auth.js
  tdrs-frontend/src/actions/auth.js
Due: frontend

changing branch name for deploying to prod
  .circleci/config.yml
Due: none

Backing out session middleware customization
  tdrs-backend/tdpservice/middleware.py
  tdrs-backend/tdpservice/settings/common.py
Due: backend

Hardcoding the backend domain to prevent redoing this manual steps on every deploy
  scripts/deploy-backend.sh
Due: none

Undoing first set of django settings for crsf/cookies
  tdrs-backend/tdpservice/settings/common.py
Due: backend

Removing more CORS stuff and also minor tweak to deployment script
  scripts/deploy-backend.sh
  tdrs-backend/tdpservice/settings/common.py
Due: backend

changing allow headers within the auth check
  tdrs-backend/tdpservice/users/api/authorization_check.py
Due: backend

Tweak to deploy-frontend to polish it up for prod
  scripts/deploy-frontend.sh
Due: none

Matching up frontend to original form
  tdrs-frontend/src/actions/auth.js
Due: frontend

Removing our feature branch from deployment
  .circleci/config.yml
Due: none

moved AV_SCAN_URL to abstract config
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

1133: Added error handling, starting redis on cloud.gov script
  tdrs-backend/docker-compose.yml
  tdrs-backend/gunicorn_start.sh
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/scheduling/tasks.py
Due: backend

1133: Linting
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

security control statement for AT series for #953
  docs/Security-Compliance/Security-Controls/at-2/index.md
Due: none

fix date typp
  docs/Security-Compliance/Security-Controls/at-2/index.md
Due: none

Update tdrs-frontend/nginx/nginx.conf
  tdrs-frontend/nginx/nginx.conf
Due: none

Re adding my branch name so we can test a deployment out to prod
  .circleci/config.yml
Due: none

added Alex's fix to ignore certain scans
  scripts/zap-hook.py
Due: none

added logic for prod url
  scripts/zap-scanner.sh
Due: none

Readding custom session middleware because testing is not successful
  tdrs-backend/tdpservice/middleware.py
  tdrs-backend/tdpservice/settings/common.py
Due: backend

readding some other django settings for more testing
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/users/api/authorization_check.py
Due: backend

readding more
  tdrs-backend/tdpservice/settings/common.py
Due: backend

frontend line by line additions
  tdrs-frontend/src/actions/auth.js
Due: frontend

frontend common
  tdrs-frontend/src/actions/auth.js
Due: frontend

linting fix
  tdrs-backend/tdpservice/middleware.py
Due: backend

Should be equivalent to Aaron's branch
  tdrs-frontend/src/actions/auth.js
Due: frontend

deploy
  .circleci/config.yml
Due: none

reverting common to exclude django settings changes
  tdrs-backend/tdpservice/settings/common.py
Due: backend

Frontend changes to both be up-to-date and also debugging cookie setting
  tdrs-frontend/src/actions/auth.js
  tdrs-frontend/src/components/GovBanner/GovBanner.jsx
Due: frontend

removing session middleware entirely
  tdrs-backend/tdpservice/middleware.py
  tdrs-backend/tdpservice/settings/common.py
Due: backend

changing frontend to match 1945, doubt these affected it
  tdrs-frontend/src/actions/auth.js
Due: frontend

Fix environment environment variables
  scripts/deploy-frontend.sh
Due: none

reverting quotattions in deployment script
  scripts/deploy-backend.sh
Due: none

Path conditions:
  frontend: any of: tdrs-frontend/src
  backend: any of: tdrs-backend/tdpservice
