Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

rm comments
  tdrs-backend/tdpservice/email/templates/fra/accepted.html
Due: backend

rm old templates
  tdrs-backend/tdpservice/email/email_enums.py
  tdrs-backend/tdpservice/email/templates/data-submitted-failed.html
  tdrs-backend/tdpservice/email/templates/data-submitted.html
Due: backend

left align caption
  tdrs-backend/tdpservice/email/templates/datafile_base.html
Due: backend

- Added url parameter validation - Conditionally include PIA in valid url params if it is enabled - Added tests for url params - Added function for fiscal year calculation
  tdrs-frontend/src/components/Reports/FRAReports.test.js
  tdrs-frontend/src/components/Reports/Reports.test.js
  tdrs-frontend/src/components/Reports/ReportsContext.jsx
  tdrs-frontend/src/components/Reports/utils.js
Due: frontend

- Disable other fra file types for now
  tdrs-frontend/src/components/Reports/ReportsContext.jsx
Due: frontend

update tests
  tdrs-backend/tdpservice/email/helpers/test/test_data_file.py
  tdrs-backend/tdpservice/email/test/test_email.py
Due: backend

null handle case_aggregates
  tdrs-backend/tdpservice/email/helpers/data_file.py
Due: backend

fix email reference
  tdrs-backend/tdpservice/email/tasks.py
Due: backend

skip send on pending
  tdrs-backend/tdpservice/email/helpers/data_file.py
Due: backend

- removed unnecessary conditionals - updated validation so that 2024 is the only valid fy for pia
  tdrs-frontend/src/components/Reports/ReportsContext.jsx
Due: frontend

move hr above alert message
  tdrs-frontend/src/components/FeedbackReports/FeedbackReports.jsx
Due: frontend

Edit to sprint overview about the alert banner module
  sprint-summary-2025-12-02.md
Due: none

match error state to fra and tanf
  tdrs-frontend/src/components/FeedbackReports/FeedbackReports.jsx
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportsUpload.jsx
  tdrs-frontend/src/utils/createFileInputErrorState.js
Due: frontend

load file to allow usds preview time to render
  tdrs-frontend/src/components/FeedbackReports/FeedbackReports.jsx
Due: frontend

clean up error state
  tdrs-frontend/src/components/FeedbackReports/FeedbackReports.jsx
Due: frontend

fix test failures
  tdrs-frontend/src/components/FeedbackReports/FeedbackReports.test.js
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportsUpload.test.js
Due: frontend

match empty state of FeedbackReportsHistory component with FRA Submission History
  tdrs-frontend/src/components/FeedbackReports/FeedbackReports.test.js
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportsHistory.jsx
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportsHistory.test.js
Due: frontend

lint
  tdrs-backend/tdpservice/email/email_enums.py
Due: backend

Add Status and Error column
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportsHistory.jsx
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportsHistory.test.js
Due: frontend

add a minwidth to the Error message
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportsHistory.jsx
Due: frontend

only send array to setUploadHistory function
  tdrs-frontend/src/components/FeedbackReports/FeedbackReports.jsx
Due: frontend

- Add extra checks to ensure input is ready for file and no error is generated
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
Due: none

update ssn_valid regex
  tdrs-backend/plg/grafana_views/generate_views.py
Due: none

move successfully submitted assertion
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
  tdrs-frontend/cypress/e2e/data-files/file_upload.js
Due: none

- testing a wait to see if we have a race condition
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
Due: none

- Run `npm audit fix` to handle non-breaking changes
  tdrs-frontend/package-lock.json
Due: none

guard mr_record_counts_by_tableview creation
  scripts/apply-database-config.sh
Due: none

rm env mapping from python script
  tdrs-backend/scripts/create_grafana_postgres_role.py
Due: none

- Remove enzyme and jest-enzyme from dependencies - Update all tests leveraging enzyme/jest-enzyme to use react testing library instead
  tdrs-frontend/package-lock.json
  tdrs-frontend/package.json
  tdrs-frontend/src/App.js
  tdrs-frontend/src/App.test.js
  tdrs-frontend/src/components/Alert/Alert.test.js
  tdrs-frontend/src/components/Form/ComboBox.test.js
  tdrs-frontend/src/components/GovBanner/GovBanner.test.js
  tdrs-frontend/src/components/Header/Header.test.js
  tdrs-frontend/src/components/Home/HomeForm.test.jsx
  tdrs-frontend/src/components/IdleTimer/IdleTimer.test.js
  tdrs-frontend/src/components/PrivateTemplate/PrivateTemplate.test.js
  tdrs-frontend/src/components/Profile/Profile.test.js
  tdrs-frontend/src/components/ResourceCards/ResourceCards.test.js
  tdrs-frontend/src/components/Routes/Routes.test.js
  tdrs-frontend/src/components/SplashPage/SplashPage.test.js
  tdrs-frontend/src/setupTests.js
Due: frontend

move section type to prod only
  scripts/apply-database-config.sh
Due: none

- update base image - update image to leverage new base image
  tdrs-frontend/Dockerfile
Due: none

- increase timeout for migrations step to 1h of no output
  .circleci/deployment/commands.yml
Due: none

- Update test to use correct logic - Remove auto filtering on datafiles and zap scans
  tdrs-backend/tdpservice/data_files/admin/admin.py
  tdrs-backend/tdpservice/security/admin.py
  tdrs-backend/tdpservice/users/test/test_models.py
Due: backend

rm extra log
  tdrs-backend/tdpservice/email/helpers/data_file.py
Due: backend

de-duplicate and simplify template/subject matching
  tdrs-backend/tdpservice/email/helpers/data_file.py
Due: backend

- Add new check to avoid race condition
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
Due: none

- Linting
  tdrs-frontend/src/components/Form/DropdownSelect.test.js
  tdrs-frontend/src/components/Form/RadioSelect.test.js
  tdrs-frontend/src/components/GovBanner/GovBanner.test.js
  tdrs-frontend/src/components/Header/Header.test.js
  tdrs-frontend/src/components/Profile/Profile.test.js
  tdrs-frontend/src/components/Reports/FRAReports.test.js
  tdrs-frontend/src/components/ResourceCards/ResourceCards.test.js
  tdrs-frontend/src/components/SplashPage/SplashPage.test.js
Due: frontend

- linting
  tdrs-backend/tdpservice/data_files/admin/admin.py
  tdrs-backend/tdpservice/security/admin.py
Due: backend

- Update retention task to take program type into account - Add itertools product to avoid bug ugly nested loop
  tdrs-backend/tdpservice/scheduling/datafile_retention_tasks.py
Due: backend

- Fix ordering of program type to preserve view ordering
  tdrs-backend/plg/grafana_views/generate_views.py
Due: none

Path conditions:
  frontend: any of: tdrs-frontend/src, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
  backend: any of: tdrs-backend/tdpservice, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
