Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 95%
        flags:
          - backend

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

resolve conflicts
  .circleci/config.yml
  tdrs-frontend/Dockerfile
  tdrs-frontend/package-lock.json
Due: none

fix: refactor and improve various frontend tests
  tdrs-frontend/src/components/Dashboard/Dashboard.jsx
  tdrs-frontend/src/components/Dashboard/Dashboard.test.js
  tdrs-frontend/src/components/Dashboard/index.js
  tdrs-frontend/src/components/Header/Header.jsx
  tdrs-frontend/src/components/Header/Header.test.js
  tdrs-frontend/src/components/Home/Home.jsx
  tdrs-frontend/src/components/Home/Home.test.jsx
Due: frontend

Fixed broken unit tests by adding new field into reference response object.
  tdrs-backend/tdpservice/users/test/test_api/test_set_profile.py
Due: backend

Adds missing fonts that cause 404s
  live-comms/fonts/merriweather/Latin-Merriweather-Regular.ttf
  live-comms/fonts/merriweather/Latin-Merriweather-Regular.woff
  live-comms/fonts/source-sans-pro/sourcesanspro-bold-webfont.ttf
  live-comms/fonts/source-sans-pro/sourcesanspro-bold-webfont.woff
Due: none

Version bumps jqeury
  live-comms/index.html
Due: none

Fixes one more link, completes version bump
  live-comms/August-2021-Update.html
  live-comms/June-2021-Update.html
  live-comms/index.html
Due: none

Update readme to reflect name/upcoming route changes
  live-comms/README.md
Due: none

Create sprint-39-summary.md
  docs/Sprint-Review/sprint-39-summary.md
Due: none

Update team-meetings.md
  docs/How-We-Work/team-meetings.md
Due: none

test: fix previous Home tests
  tdrs-frontend/src/components/Home/Home.jsx
  tdrs-frontend/src/components/Home/Home.test.jsx
  tdrs-frontend/src/components/Profile/Profile.test.js
Due: frontend

feat: fix profile banner behavior
  tdrs-frontend/src/components/Header/Header.jsx
  tdrs-frontend/src/components/Home/Home.test.jsx
  tdrs-frontend/src/components/Profile/Profile.jsx
  tdrs-frontend/src/components/Profile/Profile.test.js
Due: frontend

Adapting to ensure verify_email() is fired before login_user() by refactoring handle_user() to only call login_user once at the end.
  tdrs-backend/tdpservice/users/api/login.py
Due: backend

feat: tweak ams user behavior on profile page
  tdrs-frontend/src/components/Profile/Profile.jsx
Due: frontend

refactor: home and profile components
  tdrs-frontend/src/components/Home/Home.jsx
  tdrs-frontend/src/components/Profile/Profile.jsx
  tdrs-frontend/src/components/Profile/Profile.test.js
Due: frontend

test: add new Profile tests
  tdrs-frontend/src/actions/reports.test.js
  tdrs-frontend/src/components/Profile/Profile.jsx
  tdrs-frontend/src/components/Profile/Profile.test.js
Due: frontend

test: revert copy fix
  tdrs-frontend/src/actions/reports.test.js
Due: frontend

test: improve expectation
  tdrs-frontend/src/actions/reports.test.js
Due: frontend

moving login_msg per commentary
  tdrs-backend/tdpservice/users/api/login.py
Due: backend

test: remove dead tests
  tdrs-frontend/src/components/Home/Home.test.jsx
Due: frontend

Change domain
  .circleci/config.yml
  scripts/deploy-tdp-product-update-site.sh
Due: none

test: fix privateroute test
  tdrs-frontend/src/components/PrivateRoute/PrivateRoute.test.js
Due: frontend

test: fix SplashPage.test.js
  tdrs-frontend/src/components/SplashPage/SplashPage.test.js
Due: frontend

update job name
  .circleci/config.yml
Due: none

test: fix LoginCallback.test.js
  tdrs-frontend/src/components/LoginCallback/LoginCallback.test.js
Due: frontend

test: fix EditProfile.test.js
  tdrs-frontend/src/components/EditProfile/EditProfile.test.js
Due: frontend

Update script variable names
  scripts/deploy-tdp-product-update-site.sh
Due: none

use correct script name
  .circleci/config.yml
Due: none

*PROJECT UPDATES*
  .circleci/config.yml
Due: none

Update 009-git-workflow.md
  docs/Technical-Documentation/Architecture-Decision-Record/009-git-workflow.md
Due: none

fix: assign stt when access request is made
  tdrs-backend/tdpservice/users/test/test_api/test_set_profile.py
  tdrs-backend/tdpservice/users/views.py
Due: backend

Create README.md
  docs/Technical-Documentation/README.md
Due: none

Update README.md
  docs/Technical-Documentation/README.md
Due: none

move data-downloads doc into adr013
  docs/Technical-Documentation/Architecture-Decision-Record/013-download-strategy.md
  docs/Technical-Documentation/data-file-downloads.md
Due: none

promote database/ docs one level up and del database/
  docs/Technical-Documentation/High-Level-Database-Documentation.md
  docs/Technical-Documentation/tdp-erd.png
Due: none

del obsolete tech docs
  docs/Technical-Documentation/Acceptance-Criteria-for-Django-admin-console
  docs/Technical-Documentation/Configuration-Management-Plan.md
  docs/Technical-Documentation/Prototypes.md
  docs/Technical-Documentation/Technical-considerations.md
Due: none

renamed rotation doc
  docs/Technical-Documentation/secret-key-rotation-steps.md
Due: none

reference commands.sh in unit-tests md
  docs/Technical-Documentation/unit-tests.md
Due: none
