Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 95%
        flags:
          - backend

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

1133: add logging
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/scheduling/tasks.py
Due: backend

1133: add logging
  tdrs-backend/tdpservice/scheduling/tasks.py
Due: backend

1133: add logging
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

1133: add logging
  tdrs-backend/tdpservice/data_files/serializers.py
Due: backend

1133: add logging
  tdrs-backend/tdpservice/data_files/serializers.py
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

1133: add logging to celery.py
  tdrs-backend/tdpservice/settings/celery.py
Due: backend

1133: change celery start step
  tdrs-backend/gunicorn_start.sh
Due: none

1133: change celery.py for linting
  tdrs-backend/tdpservice/settings/celery.py
Due: backend

1133: linting
  tdrs-backend/tdpservice/settings/celery.py
Due: backend

1133: update config
  tdrs-backend/gunicorn_start.sh
  tdrs-backend/tdpservice/settings/celery.py
Due: backend

1133: removed scheduling
  tdrs-backend/gunicorn_start.sh
  tdrs-backend/tdpservice/settings/common.py
Due: backend

1133: permissions
  tdrs-backend/tdpservice/users/test/test_permissions.py
Due: backend

lint
  tdrs-frontend/src/components/Routes/Routes.js
Due: frontend

linting
  tdrs-frontend/src/components/Footer/Footer.test.js
  tdrs-frontend/src/components/SiteMap/SiteMap.test.js
Due: frontend

Update tests
  tdrs-frontend/src/components/Footer/Footer.test.js
  tdrs-frontend/src/components/SiteMap/SiteMap.test.js
Due: frontend

working on tests
  tdrs-frontend/src/components/SiteMap/SiteMap.test.js
Due: frontend

removed comments
  tdrs-frontend/src/components/SiteMap/SiteMap.jsx
Due: frontend

pass user to sitemap
  tdrs-frontend/src/components/Routes/Routes.js
  tdrs-frontend/src/components/SiteMap/SiteMap.jsx
Due: frontend

fixed test and added new test
  tdrs-frontend/src/components/SiteMap/SiteMap.test.js
Due: frontend

fixed tests
  tdrs-frontend/src/components/SiteMap/SiteMap.test.js
  tdrs-frontend/src/utils/canViewAdmin.js
Due: frontend

Starting on tests
  tdrs-frontend/src/components/Routes/Routes.js
  tdrs-frontend/src/components/SiteMap/SiteMap.jsx
  tdrs-frontend/src/components/SiteMap/SiteMap.test.js
Due: frontend

linting
  tdrs-frontend/src/components/SiteMap/SiteMap.test.js
Due: frontend

Site map opens in same tab, Can only see data files if access approved
  tdrs-frontend/src/components/Footer/Footer.jsx
  tdrs-frontend/src/components/SiteMap/SiteMap.jsx
  tdrs-frontend/src/utils/canViewAdmin.js
Due: frontend

Add sitemap route
  tdrs-frontend/src/components/Routes/Routes.js
Due: frontend

update admin element for authorized users only
  tdrs-frontend/src/components/SiteMap/SiteMap.jsx
Due: frontend

Don't show site map to non authenticated users
  tdrs-frontend/src/components/Footer/Footer.jsx
Due: frontend

Add link to site map from footer
  tdrs-frontend/src/components/Footer/Footer.jsx
Due: frontend

Lint and permission function
  tdrs-frontend/src/components/SiteMap/SiteMap.jsx
Due: frontend

Add SiteMap component
  tdrs-frontend/src/components/SiteMap/SiteMap.jsx
  tdrs-frontend/src/components/SiteMap/index.js
Due: frontend

Added tests and fixed admin link text
  tdrs-frontend/src/components/SiteMap/SiteMap.jsx
  tdrs-frontend/src/components/SiteMap/SiteMap.test.js
Due: frontend

fixed test
  tdrs-frontend/src/components/SiteMap/SiteMap.test.js
Due: frontend

threading the needle
  tdrs-frontend/src/components/Routes/Routes.js
Due: frontend

refactor canViewAdmin
  tdrs-frontend/src/components/Footer/Footer.jsx
  tdrs-frontend/src/components/Header/Header.jsx
  tdrs-frontend/src/components/SiteMap/SiteMap.jsx
  tdrs-frontend/src/utils/canViewAdmin.js
Due: frontend

Update test to include initial state
  tdrs-frontend/src/components/SiteMap/SiteMap.test.js
Due: frontend

Add noopener
  tdrs-frontend/src/components/SiteMap/SiteMap.jsx
Due: frontend

lint tests
  tdrs-frontend/src/components/SiteMap/SiteMap.test.js
Due: frontend
