Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Reorganized backend logic on REACT_APP_DEVAUTH env var
  tdrs-backend/.env.example
  tdrs-backend/tdpservice/users/authentication.py
Due: backend

added is_superuser and is_staff attrs to dev user
  tdrs-backend/tdpservice/users/management/commands/generate_dev_user.py
Due: backend

Fixed CustomAuthentication.authenticate return val for login.py use case
  tdrs-backend/tdpservice/users/authentication.py
Due: backend

Fixed CustomAuthentication.authenticate logging for login.py use case
  tdrs-backend/tdpservice/users/authentication.py
Due: backend

Removed unneeded permissions import
  tdrs-frontend/src/configureStore.js
Due: frontend

Updates to REACT_APP_DEVAUTH env var settings - Enabled with an email address value - Disabled by default
  tdrs-backend/.env.example
  tdrs-frontend/.env
  tdrs-frontend/.env.development
  tdrs-frontend/docker-compose.yml
Due: none

Restored support for CustomAuthentication.authenticate username keyword
  tdrs-backend/tdpservice/users/authentication.py
Due: backend

Modified CustomAuthentication.authenticate comment to satisfy flake8
  tdrs-backend/tdpservice/users/authentication.py
Due: backend

Removed unnecessary CYPRESS_TOKEN conditional setting
  tdrs-backend/tdpservice/settings/common.py
Due: backend

Really removed unnecessary CYPRESS_TOKEN setting
  tdrs-backend/tdpservice/settings/common.py
Due: backend

Removed unnecessary REACT_APP_DEVAUTH setting from backend
  tdrs-backend/.env.example
Due: none

flake8 changes for generate_dev_user.py
  tdrs-backend/tdpservice/users/management/commands/generate_dev_user.py
  tdrs-frontend/.env
Due: backend

Revert "Modified CustomAuthentication.authenticate comment to satisfy flake8"
  tdrs-backend/tdpservice/users/authentication.py
Due: backend

Revert "Restored support for CustomAuthentication.authenticate username keyword"
  tdrs-backend/tdpservice/users/authentication.py
Due: backend

Revert "Updates to REACT_APP_DEVAUTH env var settings"
  tdrs-backend/.env.example
  tdrs-frontend/.env
  tdrs-frontend/.env.development
  tdrs-frontend/docker-compose.yml
Due: none

Revert "Removed unneeded permissions import"
  tdrs-frontend/src/configureStore.js
Due: frontend

Revert "Fixed CustomAuthentication.authenticate logging for login.py use case"
  tdrs-backend/tdpservice/users/authentication.py
Due: backend

Revert "Fixed CustomAuthentication.authenticate return val for login.py use case"
  tdrs-backend/tdpservice/users/authentication.py
Due: backend

Revert "DevAuth feature redesign inspired by Cypress"
  tdrs-backend/docker-compose.local.yml
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/users/api/authorization_check.py
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-backend/tdpservice/users/authentication.py
  tdrs-backend/tdpservice/users/management/commands/generate_dev_user.py
  tdrs-frontend/src/actions/auth.js
  tdrs-frontend/src/configureStore.js
  tdrs-frontend/src/index.js
Due: frontend, backend

Revert "added is_superuser and is_staff attrs to dev user"
  tdrs-backend/tdpservice/users/management/commands/generate_dev_user.py
Due: backend

Revert "Reorganized backend logic on REACT_APP_DEVAUTH env var"
  tdrs-backend/.env.example
  tdrs-backend/tdpservice/users/authentication.py
Due: backend

Revert "Reorganized front end logic on REACT_APP_DEVAUTH env var"
  tdrs-frontend/.env
  tdrs-frontend/.env.development
  tdrs-frontend/src/actions/auth.js
  tdrs-frontend/src/configureStore.js
Due: frontend

Revert "Changes for fully local development"
  tdrs-backend/.env.example
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/users/authentication.py
  tdrs-backend/tdpservice/users/management/commands/generate_dev_user.py
  tdrs-backend/tdpservice/users/permissions.py
  tdrs-frontend/.env
  tdrs-frontend/docker-compose.yml
  tdrs-frontend/src/actions/auth.js
  tdrs-frontend/src/configureStore.js
Due: frontend, backend

- Adding integration tests for elastic bulk doc creation
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/search_indexes/documents/document_base.py
  tdrs-backend/tdpservice/search_indexes/documents/ssp.py
  tdrs-backend/tdpservice/search_indexes/documents/tanf.py
Due: backend

- fix lint
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/search_indexes/documents/document_base.py
  tdrs-backend/tdpservice/search_indexes/documents/ssp.py
  tdrs-backend/tdpservice/search_indexes/documents/tanf.py
Due: backend

added Tom's workaround for files changed in windows auto changing when pulled into a mac (#2786)
  .gitattributes
Due: none

updated terraform to add redis service instances (#2787)
  terraform/dev/main.tf
  terraform/dev/variables.tf
Due: none

created pre-check error
  tdrs-backend/Dockerfile
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/validators.py
Due: backend

corrected some of failing tests
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/test/data/small_incorrect_file_cross_validator.txt
  tdrs-backend/tdpservice/parsers/test/data/tanf_section1_header_test.txt
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/parsers/validators.py
Due: backend

corrected failing tests
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/test/test_util.py
  tdrs-backend/tdpservice/parsers/test/test_views.py
Due: backend

two tests still failing
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

- Failed buildpack deploy. Commiting for history
  .circleci/deployment/commands.yml
  scripts/deploy-backend.sh
  tdrs-backend/kibana/Kibana
  tdrs-backend/kibana/manifest.yml
Due: none

- Updating manifests to deploy proxy and kibana
  .circleci/deployment/commands.yml
  scripts/deploy-backend.sh
  tdrs-backend/kibana/Kibana
  tdrs-backend/kibana/manifest.yml
  tdrs-backend/manifest.buildpack.yml
Due: none

Fixed Profile primaryRole bug
  tdrs-frontend/src/components/Profile/Profile.jsx
Due: frontend

Path conditions:
  frontend: any of: tdrs-frontend/src, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
  backend: any of: tdrs-backend/tdpservice, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
