Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 90%
        flags:
          - backend
    patch: off

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

ignore:
  - "tdrs-backend/tdpservice/scheduling/db_backup.py"

use boto3
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

boto3 client
  tdrs-backend/gunicorn_start.sh
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

corrects setting vars
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

use client.client
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

get specific file
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

use .Bucket
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

checking all versions
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

actually use client
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

print versionid
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

add version id to model
  tdrs-backend/tdpservice/data_files/models.py
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

add version id to modeland migration
  tdrs-backend/tdpservice/data_files/migrations/0012_datafile_s3_versioning_id.py
  tdrs-backend/tdpservice/data_files/models.py
Due: backend

remove reload
  tdrs-backend/gunicorn_start.sh
Due: none

blank is False
  tdrs-backend/tdpservice/data_files/models.py
Due: backend

var name typo
  tdrs-backend/tdpservice/data_files/models.py
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

add property
  tdrs-backend/tdpservice/backends.py
  tdrs-backend/tdpservice/data_files/models.py
  tdrs-backend/tdpservice/data_files/s3_client.py
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

test version
  tdrs-backend/tdpservice/data_files/models.py
Due: backend

Merge Test Env into TANF-app branch
  product-updates/August-2021-Update.html
  product-updates/August-2022-Update.html
  product-updates/January-2022-Update.html
  product-updates/June-2021-Update.html
  product-updates/april-2022-update.html
  product-updates/index.html
Due: none

new download function
  tdrs-backend/tdpservice/backends.py
  tdrs-backend/tdpservice/data_files/admin.py
  tdrs-backend/tdpservice/data_files/models.py
Due: backend

fix dl function
  tdrs-backend/tdpservice/data_files/admin.py
  tdrs-backend/tdpservice/data_files/models.py
Due: backend

fix dl function
  tdrs-backend/tdpservice/data_files/models.py
Due: backend

Fixes typos
  product-updates/August-2022-Update.html
  product-updates/index.html
Due: none

Update Team-Composition.md (#2340)
  docs/How-We-Work/Team-Composition.md
Due: none

Updates IDs
  product-updates/index.html
Due: none

Create sprint-63-summary.md (#2333)
  docs/Sprint-Review/sprint-63-summary.md
Due: none

Reduces margins between headings
  product-updates/index.html
Due: none

One more padding reduction
  product-updates/index.html
Due: none

extended download functionality to take versioning into account
  .circleci/README.md
  tdrs-backend/tdpservice/data_files/models.py
  tdrs-backend/tdpservice/data_files/s3_client.py
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-frontend/src/actions/reports.js
  tdrs-frontend/src/reducers/reports.js
Due: frontend, backend

Put file getting logic on backend
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-frontend/src/actions/reports.js
Due: frontend, backend

remove unused code
  tdrs-backend/tdpservice/data_files/admin.py
  tdrs-backend/tdpservice/data_files/models.py
  tdrs-backend/tdpservice/data_files/s3_client.py
Due: backend

update ci to enable versioning
  .circleci/infrastructure/commands.yml
Due: none

No more robots (#2271)
  tdrs-frontend/public/robots.txt
Due: none

cicd for enabling versioning
  .circleci/base_config.yml
  .circleci/infrastructure/commands.yml
  .circleci/infrastructure/jobs.yml
  .circleci/infrastructure/workflows.yml
Due: none

syntax
  .circleci/infrastructure/commands.yml
  .circleci/infrastructure/workflows.yml
Due: none

syntax
  .circleci/infrastructure/commands.yml
  .circleci/infrastructure/jobs.yml
  .circleci/infrastructure/workflows.yml
Due: none

syntax
  .circleci/infrastructure/commands.yml
Due: none

add workflows
  .circleci/generate_config.sh
Due: none

syntax
  .circleci/infrastructure/workflows.yml
Due: none
