Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 90%
        flags:
          - backend
    patch: off

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

ignore:
  - "tdrs-backend/tdpservice/scheduling/db_backup.py"

- Add instrumentation for all available services - Update user node tracking
  tdrs-backend/Dockerfile
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
  tdrs-backend/tdpservice/tracing.py
  tdrs-frontend/src/components/LoginCallback/LoginCallback.jsx
  tdrs-frontend/src/services/RumService.js
Due: frontend, backend

- linting
  tdrs-backend/tdpservice/tracing.py
Due: backend

- remove unnecessary config
  tdrs-backend/plg/alloy/alloy.local.config
  tdrs-backend/plg/grafana/dashboards/rum_receiver_dashboard.json
  tdrs-backend/plg/grafana/dashboards/tdp_rum_dashboard.json
Due: none

- Add dashboard
  tdrs-backend/plg/grafana/dashboards/open_telemetry.json
Due: none

add digit to plg allowed
  tdrs-backend/tdpservice/users/api/authorization_check.py
  tdrs-frontend/src/selectors/auth.js
Due: frontend, backend

TEST package name
  .github/workflows/publish-release-image.yml
Due: none

TEST use repo name as package name
  .github/workflows/publish-release-image.yml
Due: none

lowercase the repo name
  .github/workflows/publish-release-image.yml
Due: none

remove null defaults
  tdrs-backend/plg/alloy/alloy.config
  tdrs-backend/plg/alloy/alloy.local.config
Due: none

- Working implementation of faroSDK with minimal grafana dashboard
  tdrs-backend/plg/alloy/alloy.local.config
  tdrs-backend/plg/grafana/dashboards/open_telemetry.json
  tdrs-frontend/src/App.js
  tdrs-frontend/src/axios-instance.js
  tdrs-frontend/src/components/LoginCallback/LoginCallback.jsx
  tdrs-frontend/src/index.js
  tdrs-frontend/src/services/RumService.js
Due: frontend

- Configure tempo to store data in S3
  tdrs-backend/plg/tempo/tempo.local.yml
Due: none

- Add tempo datasource
  tdrs-backend/plg/grafana/dashboards/open_telemetry.json
  tdrs-backend/plg/grafana/datasources.local.yml
Due: none

- remove topology
  tdrs-backend/plg/grafana/dashboards/open_telemetry.json
Due: none

- Small dashboard update
  tdrs-backend/docker-compose.yml
  tdrs-backend/plg/grafana/dashboards/open_telemetry.json
Due: none

- Remove redux middle ware - Move service into a hook
  tdrs-frontend/src/App.js
  tdrs-frontend/src/components/LoginCallback/LoginCallback.jsx
  tdrs-frontend/src/configureStore.js
  tdrs-frontend/src/hooks/useRUM.js
  tdrs-frontend/src/middleware/rumMiddleware.js
Due: frontend

- Update base image for frontend
  tdrs-frontend/Dockerfile
Due: none

3295 Associate parsing log files datafile submissions DAC (#4577)
  tdrs-backend/tdpservice/data_files/admin/admin.py
  tdrs-backend/tdpservice/data_files/models.py
  tdrs-backend/tdpservice/data_files/urls.py
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/log_handler.py
  tdrs-backend/tdpservice/parsers/admin.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
  tdrs-backend/tdpservice/stts/test/factories.py
Due: backend

- Update package lock
  tdrs-frontend/package-lock.json
Due: none

- Re-update package-lock
  tdrs-frontend/package-lock.json
Due: none

- Pushing as test
  tdrs-frontend/Dockerfile
Due: none

- Re-updated packages after installing new node version
  tdrs-frontend/package-lock.json
  tdrs-frontend/package.json
Due: none

- resolve conflicts
  tdrs-frontend/package-lock.json
Due: none

- Fix package-lock file - Add ignore pattern for faro - Update App tests to support redux selectors and routing - Add mocks for faro resources
  tdrs-frontend/package-lock.json
  tdrs-frontend/package.json
  tdrs-frontend/src/App.test.js
  tdrs-frontend/src/__mocks__/@grafana/faro-react.js
  tdrs-frontend/src/__mocks__/hooks/useRUM.js
Due: frontend

- Remove file - Ignore faro hook from coverage
  tdrs-frontend/src/hooks/useRUM.js
  tdrs-frontend/src/services/RumService.js
Due: frontend

- remove unneeded checks
  tdrs-frontend/src/hooks/useRUM.js
Due: frontend

- remove outdated readme
  tdrs-frontend/RUM_IMPLEMENTATION.md
Due: none

switch to a tag based trigger
  .github/workflows/publish-release-image.yml
Due: none

comment out conditional to allow testing
  .github/workflows/publish-release-image.yml
Due: none

- Add missing vars
  tdrs-backend/plg/grafana/dashboards/open_telemetry.json
Due: none

- sort by time
  tdrs-backend/plg/grafana/dashboards/open_telemetry.json
Due: none

- only show 95 percentile
  tdrs-backend/plg/grafana/dashboards/open_telemetry.json
Due: none

- show all values in legend
  tdrs-backend/plg/grafana/dashboards/open_telemetry.json
Due: none

- quick update
  tdrs-backend/plg/grafana/dashboards/open_telemetry.json
Due: none

- Add traces
  tdrs-backend/plg/grafana/dashboards/open_telemetry.json
Due: none

- revert dockerfile
  tdrs-frontend/Dockerfile
Due: none

remove X-XSS-Protection header
  tdrs-backend/tdpservice/settings/common.py
Due: backend

- remove unnecessary ports
  tdrs-backend/docker-compose.yml
Due: none

- add manual deployment option to circi docs
  docs/Technical-Documentation/circle-ci.md
Due: none

- grammar change
  docs/Technical-Documentation/circle-ci.md
Due: none

separate celery locally
  tdrs-backend/celery_start.sh
  tdrs-backend/docker-compose.yml
  tdrs-backend/gunicorn_start.sh
Due: none
