Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

add a wait for the ui to update with file input before submitting
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
Due: none

change shouldError to shouldRejectInput
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
Due: none

#5197 fixed up api call and update Django feedback models to match properly, made some Ui changes for accesibility
  tdrs-backend/tdpservice/users/migrations/0049_auto_20250822_2002.py
  tdrs-backend/tdpservice/users/migrations/0050_alter_feedbackattachment_object_id.py
  tdrs-backend/tdpservice/users/migrations/0051_alter_feedbackattachment_feedback.py
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/serializers.py
  tdrs-frontend/src/assets/feedback/Feedback.scss
  tdrs-frontend/src/components/Feedback/FeedbackForm.jsx
  tdrs-frontend/src/components/Feedback/FeedbackWidget.jsx
Due: frontend, backend

fix failures due to user stt not being set in time before file submission in e2e tests
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-frontend/cypress/support/commands.js
Due: backend

increase waitForDataFileSummary interval from 1000 to 2000
  tdrs-frontend/cypress/support/commands.js
Due: none

#4973 fixed up test coverage issue
  tdrs-frontend/src/components/Profile/Profile.test.js
  tdrs-frontend/src/components/Profile/UserProfileView.test.js
  tdrs-frontend/src/components/RequestAccessForm/JurisdictionSelector.test.js
Due: frontend

#4973 added enums in the string values
  tdrs-frontend/src/components/Profile/JurisdictionLocationInfo.jsx
  tdrs-frontend/src/components/Profile/Profile.jsx
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.jsx
  tdrs-frontend/src/utils/formHelpers.js
Due: frontend

#4973 fixed import issue
  tdrs-frontend/src/components/Profile/UserProfileDetails.jsx
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.jsx
Due: frontend

- fix merge conflicts
  tdrs-backend/tdpservice/fixtures/cypress/users.json
Due: backend

- Add function to clear cookies - Call in login step to avoid session issues
  tdrs-frontend/cypress/e2e/common-steps/common-steps.js
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
Due: none

- update email to username - make object id the event token
  tdrs-backend/tdpservice/users/api/login.py
Due: backend

- Add true RSA jwt encoding for tests - Add missing return from _get_public_key function
  tdrs-backend/tdpservice/security/test/test_views.py
  tdrs-backend/tdpservice/security/views.py
Due: backend

- Add null check for content type - Update factory so that it actually behaves how users are created in reality
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-backend/tdpservice/users/test/factories.py
Due: backend

- remove comment - Update user check to use username only - Add default for subject which will cause exception when used
  tdrs-backend/tdpservice/security/event_handler.py
Due: backend

- Update permissions ID
  tdrs-backend/tdpservice/fixtures/cypress/users.json
Due: backend

fix failing tests and parameterize stt
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
  tdrs-frontend/cypress/e2e/data-files/file_upload.feature
  tdrs-frontend/cypress/e2e/data-files/file_upload.js
Due: none

- linting
  tdrs-backend/tdpservice/parsers/test/test_case_consistency.py
Due: backend

relax t7 section indicator exclusions
  tdrs-backend/plg/grafana_views/generate_views.py
Due: none

Adds grafana guide & images
  docs/Technical-Documentation/images/grafana-guide/Screenshot (32).png
  docs/Technical-Documentation/images/grafana-guide/Screenshot 2025-05-30 at 10.19.15 AM.png
  docs/Technical-Documentation/images/grafana-guide/Screenshot 2025-06-23 at 11.04.41 AM.png
  docs/Technical-Documentation/images/grafana-guide/Screenshot 2025-06-25 at 11.09.27 AM.png
  docs/Technical-Documentation/images/grafana-guide/Screenshot 2025-06-25 at 11.09.43 AM.png
  docs/Technical-Documentation/images/grafana-guide/Screenshot 2025-06-25 at 12.25.03 PM.png
  docs/Technical-Documentation/images/grafana-guide/Screenshot 2025-06-30 at 2.00.16 PM.png
  docs/Technical-Documentation/images/grafana-guide/Screenshot 2025-06-30 at 2.30.23 PM.png
  docs/Technical-Documentation/images/grafana-guide/Screenshot 2025-06-30 at 3.17.48 PM.png
  docs/Technical-Documentation/images/grafana-guide/Screenshot 2025-06-30 at 4.15.05 PM.png
  docs/Technical-Documentation/images/grafana-guide/Screenshot 2025-07-22 at 4.14.01 PM.png
  docs/Technical-Documentation/images/grafana-guide/Screenshot 2025-07-22 at 4.15.14 PM.png
  docs/Technical-Documentation/images/grafana-guide/Screenshot 2025-08-05 at 12.21.16 PM.png
  docs/Technical-Documentation/training-materials-for-digit-grafana-access.md
Due: none

Update training-materials-for-digit-grafana-access.md
  docs/Technical-Documentation/training-materials-for-digit-grafana-access.md
Due: none

removes redundant image folder
  docs/Technical-Documentation/images/grafana-guide/Screenshot (32).png
  docs/Technical-Documentation/images/grafana-guide/Screenshot 2025-05-30 at 10.19.15 AM.png
  docs/Technical-Documentation/images/grafana-guide/Screenshot 2025-06-23 at 11.04.41 AM.png
  docs/Technical-Documentation/images/grafana-guide/Screenshot 2025-06-25 at 11.09.27 AM.png
  docs/Technical-Documentation/images/grafana-guide/Screenshot 2025-06-25 at 11.09.43 AM.png
  docs/Technical-Documentation/images/grafana-guide/Screenshot 2025-06-25 at 12.25.03 PM.png
  docs/Technical-Documentation/images/grafana-guide/Screenshot 2025-06-30 at 2.00.16 PM.png
  docs/Technical-Documentation/images/grafana-guide/Screenshot 2025-06-30 at 2.30.23 PM.png
  docs/Technical-Documentation/images/grafana-guide/Screenshot 2025-06-30 at 3.17.48 PM.png
  docs/Technical-Documentation/images/grafana-guide/Screenshot 2025-06-30 at 4.15.05 PM.png
  docs/Technical-Documentation/images/grafana-guide/Screenshot 2025-07-22 at 4.14.01 PM.png
  docs/Technical-Documentation/images/grafana-guide/Screenshot 2025-07-22 at 4.15.14 PM.png
  docs/Technical-Documentation/images/grafana-guide/Screenshot 2025-08-05 at 12.21.16 PM.png
Due: none

Update docs/Technical-Documentation/training-materials-for-digit-grafana-access.md
  docs/Technical-Documentation/training-materials-for-digit-grafana-access.md
Due: none

removed local sentry and refactored sentry config in settings (#5313)
  Taskfile.yml
  sentry/.env
  sentry/backup.json
  sentry/docker-compose.yml
  tdrs-backend/docker-compose.yml
  tdrs-backend/tdpservice/settings/cloudgov.py
  tdrs-backend/tdpservice/settings/local.py
Due: backend

- Don't drop views becuase they now have dependencies
  tdrs-backend/plg/grafana_views/generate_views.py
Due: none

add referer to admin api requests
  tdrs-frontend/cypress/support/commands.js
Due: none

- Update hash to avoid cast
  tdrs-backend/tdpservice/parsers/case_consistency_validator.py
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

4974 implement admin review workflow user change requests (#5165)
  tdrs-backend/docker-compose.yml
  tdrs-backend/tdpservice/core/test/test_admin.py
  tdrs-backend/tdpservice/email/helpers/account_change_request.py
  tdrs-backend/tdpservice/email/tasks.py
  tdrs-backend/tdpservice/email/templates/access-request-count.html
  tdrs-backend/tdpservice/templates/admin/user_change_request_form.html
  tdrs-backend/tdpservice/users/admin.py
  tdrs-backend/tdpservice/users/migrations/0049_changerequestauditlog_userchangerequest.py
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/permissions.py
  tdrs-backend/tdpservice/users/serializers.py
  tdrs-backend/tdpservice/users/static/admin/js/hide_actions.js
  tdrs-backend/tdpservice/users/urls.py
  tdrs-backend/tdpservice/users/views.py
Due: backend

change feedback data_files to generic attachments
  tdrs-backend/tdpservice/users/admin.py
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/serializers.py
  tdrs-backend/tdpservice/users/views.py
  tdrs-frontend/src/actions/reports.js
  tdrs-frontend/src/components/Feedback/FeedbackForm.jsx
  tdrs-frontend/src/components/UploadReport/UploadReport.jsx
Due: frontend, backend

remake migration
  tdrs-backend/tdpservice/users/migrations/0049_auto_20250822_2002.py
  tdrs-backend/tdpservice/users/migrations/0049_auto_20250915_1909.py
Due: backend

fix fe tests
  tdrs-frontend/src/components/Feedback/Feedback.test.js
  tdrs-frontend/src/components/Feedback/FeedbackForm.test.js
  tdrs-frontend/src/components/Feedback/FeedbackWidget.test.js
  tdrs-frontend/src/reducers/feedbackWidget.test.js
Due: frontend

fix conflict migration
  tdrs-backend/tdpservice/users/migrations/0050_auto_20250915_1909.py
Due: backend

backend tests
  tdrs-backend/tdpservice/users/test/test_api/test_feedback.py
Due: backend

fix lint
  tdrs-backend/tdpservice/users/admin.py
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/serializers.py
Due: backend

make attachments optional
  tdrs-backend/tdpservice/users/serializers.py
Due: backend

- Move duplicate methods into base class - Move FrozenDict to Utils file - Update test to adhere to new error generation order
  tdrs-backend/tdpservice/parsers/base_parser.py
  tdrs-backend/tdpservice/parsers/case_consistency_validator.py
  tdrs-backend/tdpservice/parsers/tdr_parser.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/search_indexes/models/mixins.py
Due: backend

Create sprint-132-summary.md
  docs/Sprint-Review/sprint-132-summary.md
Due: none

- Updated FRA parser to support new duplicate detection
  tdrs-backend/tdpservice/parsers/base_parser.py
  tdrs-backend/tdpservice/parsers/fra_parser.py
Due: backend

- Remove print statement
  tdrs-backend/tdpservice/parsers/base_parser.py
Due: backend

- uncomment asserts in test
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

Path conditions:
  frontend: any of: tdrs-frontend/src, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
  backend: any of: tdrs-backend/tdpservice, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
