Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 90%
        flags:
          - backend
    patch: off

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

ignore:
  - "tdrs-backend/tdpservice/scheduling/db_backup.py"

- Update radioselect and combobox to preserve selection until state changes - Add new handler to clear pending changes when needed
  tdrs-frontend/src/components/Form/RadioSelect.jsx
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/Reports/ReportsContext.jsx
Due: frontend

- Add function to map the returned datafile model's section to the frontend expected section if the filetype is program audit
  tdrs-frontend/src/actions/reports.js
Due: frontend

- Linting and fix spacing
  tdrs-frontend/src/components/FileUpload/utils.jsx
  tdrs-frontend/src/reducers/reports.js
Due: frontend

- Fix test
  tdrs-frontend/src/components/FileUploadForms/QuarterFileUploadForm.test.js
Due: frontend

- Update remove previews to not collapse inputs - Add contextual error modal toggle to handle different input clearing logic
  tdrs-frontend/src/components/FileUpload/utils.jsx
  tdrs-frontend/src/components/FileUploadForms/QuarterFileUploadForm.jsx
  tdrs-frontend/src/components/FileUploadForms/SectionFileUploadForm.jsx
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/Reports/ReportsContext.jsx
Due: frontend

- Correct label on section based upload
  tdrs-frontend/src/components/FileUploadForms/SectionFileUploadForm.jsx
Due: frontend

- Add missing logic for FRA to show modal - Consolidate clear functionality - remove unused imports
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/Reports/ReportsContext.jsx
  tdrs-frontend/src/components/Reports/tdr/TanfSspReports.jsx
Due: frontend

- Update so that widget displays integrity audit info
  tdrs-frontend/src/components/Feedback/FeedbackConstants.js
  tdrs-frontend/src/components/Feedback/FeedbackWidget.jsx
Due: frontend

- Test longer timeout
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
Due: none

- Update combobox to always display value - Update stt combo box to not render unless it has options
  tdrs-frontend/src/components/Form/ComboBox.jsx
  tdrs-frontend/src/components/Reports/Reports.test.js
  tdrs-frontend/src/components/STTComboBox/STTComboBox.jsx
Due: frontend

decouple generate_error and delete_duplicate steps
  tdrs-backend/tdpservice/parsers/parser_classes/base_parser.py
Due: backend

- fix merge conflict
  tdrs-backend/tdpservice/search_indexes/admin/__init__.py
Due: backend

update migration name
  tdrs-backend/tdpservice/data_files/migrations/0020_remove_tribal_ssp_sections.py
  tdrs-backend/tdpservice/data_files/migrations/0021_add_program_to_constraint.py
Due: backend

- resolve merge conflict
  tdrs-frontend/src/components/FileUploadForms/SectionFileUploadForm.jsx
Due: frontend

- Resolve merge conflicts on data files app
  tdrs-backend/tdpservice/data_files/error_reports.py
  tdrs-backend/tdpservice/data_files/migrations/0019_alter_datafile_section.py
  tdrs-backend/tdpservice/data_files/migrations/0020_remove_tribal_ssp_sections.py
  tdrs-backend/tdpservice/data_files/migrations/0021_add_program_to_constraint.py
  tdrs-backend/tdpservice/data_files/models.py
Due: backend

- Fixing merge conflicts
  .pre-commit-config.yaml
  tdrs-backend/tdpservice/parsers/factory.py
  tdrs-backend/tdpservice/parsers/parser_classes/base_parser.py
  tdrs-backend/tdpservice/parsers/schema_defs/utils.py
  tdrs-backend/tdpservice/parsers/schema_manager.py
  tdrs-backend/tdpservice/parsers/test/conftest.py
  tdrs-backend/tdpservice/parsers/test/data/PI_Audit_space-fill.txt
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
  tdrs-backend/tdpservice/search_indexes/admin/program_audit.py
Due: backend

- Correct file spacing
  tdrs-backend/tdpservice/parsers/test/data/PI_Audit_FTANF.txt
Due: backend

- Update logging in parser task and use correct method - Remove console log - Pass Active case data as section for PIA and program audit true
  tdrs-backend/tdpservice/scheduling/parser_task.py
  tdrs-frontend/src/components/FileUploadForms/QuarterFileUploadForm.jsx
  tdrs-frontend/src/components/STTComboBox/STTComboBox.jsx
Due: frontend, backend

fix section migration
  tdrs-backend/tdpservice/data_files/migrations/0020_remove_tribal_ssp_sections.py
Due: backend

add program_type to admin
  tdrs-backend/tdpservice/data_files/admin/admin.py
Due: backend

lint
  tdrs-backend/tdpservice/parsers/parser_classes/program_audit_parser.py
  tdrs-backend/tdpservice/parsers/schema_defs/program_audit/t1.py
Due: backend

- Remove unnused constant
  tdrs-frontend/src/components/FileUploadForms/QuarterFileUploadForm.jsx
  tdrs-frontend/src/components/Reports/utils.js
  tdrs-frontend/src/components/SubmissionHistory/QuarterSubmissionHistory.jsx
Due: frontend

- Added tests for coverage
  tdrs-frontend/src/components/Feedback/FeedbackWidget.test.js
Due: frontend

- fix lint
  tdrs-frontend/src/components/SubmissionHistory/QuarterSubmissionHistory.jsx
Due: frontend

- Update viewset to use program type when querying dfs
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

- Add logic to fix error where viewing SSP content and then switching to an non ssp stt would cause state issues - Added tests
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/Reports/Reports.test.js
  tdrs-frontend/src/components/Reports/ReportsContext.jsx
Due: frontend

- Linting
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/Reports/ReportsContext.jsx
Due: frontend

- Update context to reset year input if the currently selected year isnt available when switching program types - added tests
  tdrs-frontend/src/components/Reports/Reports.test.js
  tdrs-frontend/src/components/Reports/ReportsContext.jsx
Due: frontend

- Fix cypress tests to adhere to new section format
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
  tdrs-frontend/cypress/e2e/data-files/file_upload.js
Due: none

- Fix failing test
  tdrs-frontend/src/components/Reports/Reports.test.js
Due: frontend

fix views section query
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

const
  tdrs-backend/tdpservice/scheduling/parser_task.py
Due: backend

fix e2e
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
  tdrs-frontend/cypress/e2e/data-files/file_upload.js
Due: none

5381 Sentry Implmentation (#5384)
  tdrs-backend/Dockerfile
  tdrs-backend/Dockerfile.base
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
  tdrs-backend/docker-compose.yml
  tdrs-backend/tdpservice/settings/cloudgov.py
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/settings/local.py
  tdrs-backend/tdpservice/urls.py
  tdrs-backend/tdpservice/users/api/authorization_check.py
Due: backend

5308 Improve Cypress E2E reporting and artifacts in CircleCI (#5360)
  .gitignore
  Taskfile.yml
  tdrs-frontend/.env
  tdrs-frontend/Dockerfile
  tdrs-frontend/cypress.config.js
  tdrs-frontend/cypress/e2e/a11y/a11y.js
  tdrs-frontend/cypress/reporters/custom.js
  tdrs-frontend/cypress/reporters/multi-reporters-config.json
  tdrs-frontend/cypress/support/e2e.js
  tdrs-frontend/package-lock.json
  tdrs-frontend/package.json
  tdrs-frontend/src/App.js
Due: frontend

fix constraint error in section migration
  tdrs-backend/tdpservice/data_files/migrations/0019_datafile_program_type.py
  tdrs-backend/tdpservice/data_files/migrations/0020_remove_tribal_ssp_sections.py
  tdrs-backend/tdpservice/data_files/migrations/0021_add_program_to_constraint.py
Due: backend

fix migration order
  tdrs-backend/tdpservice/data_files/migrations/0021_datafile_is_program_audit.py
Due: backend

- Fix indexing error causing error creatio to be skipped - Updated error message
  tdrs-backend/tdpservice/parsers/tdr_parser.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

update migration order
  tdrs-backend/tdpservice/search_indexes/migrations/0036_programaudit_t1_programaudit_t2_programaudit_t3.py
Due: backend
