Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

can we run w/o backend spinup?
  .circleci/config.yml
Due: none

can we run w/o installing graphviz twice?
  .circleci/config.yml
Due: none

can we run w/o sudo?
  .circleci/config.yml
Due: none

Update team-meetings.md
  docs/How-We-Work/team-meetings.md
Due: none

Cleanup of old command and reverting back branch
  .circleci/config.yml
Due: none

Update tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/settings/common.py
Due: backend

leverage permission list to decide if data files tab is visible
  tdrs-frontend/src/components/Header/Header.jsx
Due: frontend

Add permissions to test
  tdrs-frontend/src/components/Header/Header.test.js
  tdrs-frontend/src/components/Header/developer_permissions.js
Due: frontend

lint
  tdrs-frontend/src/components/Header/Header.test.js
  tdrs-frontend/src/components/Header/developer_permissions.js
Due: frontend

update pipfile
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
Due: none

Minor updates, pushing
  scripts/set-backend-env-vars.sh
  tdrs-backend/tdpservice/users/api/login.py
Due: backend

Update .github/ISSUE_TEMPLATE/dev-ready-design-issue-template.md
  .github/ISSUE_TEMPLATE/dev-ready-design-issue-template.md
Due: none

Update .github/ISSUE_TEMPLATE/research-planning-issue-template.md
  .github/ISSUE_TEMPLATE/research-planning-issue-template.md
Due: none

Update .github/ISSUE_TEMPLATE/research-synthesis-issue-template.md
  .github/ISSUE_TEMPLATE/research-synthesis-issue-template.md
Due: none

Adding garbage debugging for local testing
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-backend/tdpservice/users/api/login_redirect_oidc.py
  tdrs-backend/tdpservice/users/api/utils.py
Due: backend

updating logging to stdout
  tdrs-backend/tdpservice/settings/common.py
Due: backend

updating logging to stdout, rnd2
  tdrs-backend/tdpservice/settings/common.py
Due: backend

bypassing build-test checks
  .circleci/config.yml
Due: none

bypassing build-test checks pt2
  .circleci/config.yml
Due: none

undoing bypass
  .circleci/config.yml
Due: none

updated sc readme to mention new ir subdir
  docs/Security-Compliance/README.md
Due: none

added IR subdir, moved secrets md, added sysadmin md
  docs/Security-Compliance/IR/README.md
  docs/Security-Compliance/IR/Secret-Key-Mgmt.md
  docs/Security-Compliance/IR/Sys-Admin-Acct-Mgmt.md
Due: none

update sysadmin response drill
  docs/Security-Compliance/IR/Sys-Admin-Acct-Mgmt.md
Due: none

Update 008-deployment-flow.md
  docs/Technical-Documentation/Architecture-Decision-Record/008-deployment-flow.md
Due: none

Creation of dummy file
  docs/Technical-Documentation/Architecture-Decision-Record/018-versioning-and-releases.md
Due: none

First take at docs
  docs/Technical-Documentation/Architecture-Decision-Record/008-deployment-flow.md
  docs/Technical-Documentation/Architecture-Decision-Record/018-versioning-and-releases.md
Due: none

Update 018-versioning-and-releases.md
  docs/Technical-Documentation/Architecture-Decision-Record/018-versioning-and-releases.md
Due: none

Update 009-git-workflow.md
  docs/Technical-Documentation/Architecture-Decision-Record/009-git-workflow.md
Due: none

chore: bump react-router and react-router-dom
  tdrs-frontend/package-lock.json
  tdrs-frontend/package.json
Due: none

updating references to raft-tdp-main and absolute github links vs relative
  .github/pull_request_template.md
  README.md
  docs/Technical-Documentation/Architecture-Decision-Record/003-Application-hosting.md
  docs/Technical-Documentation/Architecture-Decision-Record/008-deployment-flow.md
  docs/Technical-Documentation/Architecture-Decision-Record/009-git-workflow.md
  docs/Technical-Documentation/Architecture-Decision-Record/011-buildpacks.md
  docs/Technical-Documentation/Architecture-Decision-Record/014-dependabot-dependency-management.md
  docs/Technical-Documentation/circle-ci.md
  docs/Technical-Documentation/openid-connect.md
  docs/Technical-Documentation/unit-tests.md
  product-updates/README.md
  scripts/README.md
  tdrs-backend/README.md
  tdrs-backend/docs/api/stts.md
  tdrs-backend/docs/api/stts_alpha.md
  tdrs-backend/docs/api/stts_by_region.md
  tdrs-backend/mkdocs.yml
  tdrs-frontend/README.md
Due: none

Updates to use develop instead of raft-tdp-main in the docs folder
  .circleci/config.yml
  docs/Background/Acquisition/Acquisition.md
  docs/Background/Current-TDRS.md
  docs/Background/README.md
  docs/How-We-Work/README.md
  docs/How-We-Work/communication-tools.md
  docs/How-We-Work/our-priorities-values-expectations.md
  docs/How-We-Work/our-workflow.md
  docs/Product-Strategy/Considerations-and-Planning.md
  docs/Product-Strategy/README.md
  docs/Security-Compliance/README.md
  docs/Security-Compliance/Secret-Key-Mgmt.md
  docs/Sprint-Review/sprint-15-summary.md
  docs/Technical-Documentation/circle-ci-audit-template.md
  docs/User-Experience/README.md
  docs/User-Experience/Research-Syntheses/2020, Fall - Understanding STT Roles, Source of Truth, and Metadata.md
  docs/User-Experience/Research-Syntheses/README.md
  scripts/trufflehog-check.sh
Due: none

Removing old frontend docs, updates badges stuff.
  README.md
  tdrs-backend/docs/github_readme_status_badges.md
  tdrs-frontend/docs/security-tracking/sprint3_frontend_0911220.md
  tdrs-frontend/docs/security-tracking/sprint4_frontend_09292020.md
  tdrs-frontend/docs/security-tracking/sprint6_frontend_10232020.md
Due: none

playing with different logging settings
  tdrs-backend/gunicorn_start.sh
  tdrs-backend/manifest.buildpack.yml
  tdrs-backend/manifest.clamav.yml
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-backend/tdpservice/users/authentication.py
Due: backend

Also experimenting with circleci
  .circleci/config.yml
  tdrs-backend/tdpservice/users/authentication.py
Due: backend

Path conditions:
  frontend: any of: tdrs-frontend/src
  backend: any of: tdrs-backend/tdpservice
