Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 90%
        flags:
          - backend
    patch: off

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

ignore:
  - "tdrs-backend/tdpservice/scheduling/db_backup.py"

move docker image labelling from dockerfile to the publish github action and lowercase the REGISTRY_OWNER
  .github/workflows/publish-release-image.yml
  tdrs-backend/Dockerfile
  tdrs-backend/docker-compose.yml
  tdrs-frontend/Dockerfile
  tdrs-frontend/docker-compose.yml
Due: none

don't prefix zap-stable tag with a 'v'
  tdrs-backend/docker-compose.yml
  tdrs-frontend/docker-compose.yml
Due: none

add REGISTRY_OWNER to .env files
  tdrs-backend/.env.example
  tdrs-frontend/.env
Due: none

add REGISTRY_OWNER parameter to zap-scanner.sh
  .circleci/owasp/commands.yml
  .circleci/owasp/jobs.yml
  scripts/zap-scanner.sh
Due: none

add step to github actions to lowercase the REGISTRY_OWNER
  .github/workflows/build-all.yml
  .github/workflows/build-pr.yml
  .github/workflows/qasp-owasp-scan.yml
Due: none

remove extra closing bracket
  tdrs-frontend/Dockerfile
Due: none

- Fixed incorrect usage of timeout calculate timeout - Updated timeout to be a little less generous on time constraints
  tdrs-backend/tdpservice/search_indexes/reparse.py
  tdrs-backend/tdpservice/search_indexes/utils.py
Due: backend

- Update so that download contains original filename
  tdrs-frontend/src/actions/fraReports.js
  tdrs-frontend/src/actions/reports.js
Due: frontend

- Updated test
  tdrs-backend/tdpservice/search_indexes/test/test_reparse.py
Due: backend

- Add filename to test
  tdrs-frontend/src/actions/reports.test.js
Due: frontend

uncomment main branch condition
  .github/workflows/publish-release-image.yml
Due: none

test whether github action if can use a or operator
  .github/workflows/publish-release-image.yml
Due: none

only publish release images if tagged branch is develop or main
  .github/workflows/publish-release-image.yml
Due: none

remove TODO
  .github/workflows/publish-release-image.yml
Due: none

- Update deployment resources for tempo
  tdrs-backend/plg/deploy.sh
  tdrs-backend/plg/grafana/datasources.template.yml
  tdrs-backend/plg/tempo/manifest.yml
  tdrs-backend/plg/tempo/tempo.yml
Due: none

- 2GB memory
  tdrs-backend/plg/tempo/manifest.yml
Due: none

- Update loki config to handle influx of new data
  tdrs-backend/plg/loki/loki.yml
Due: none

deployed celery/redis
  scripts/deploy-backend.sh
  tdrs-backend/apt.yml
  tdrs-backend/manifest.celery.yml
  tdrs-backend/tdpservice/settings/celery.py
  tdrs-backend/tdpservice/settings/cloudgov.py
  terraform/dev/main.tf
Due: backend

rm foreach
  terraform/dev/main.tf
Due: none

flower port
  tdrs-backend/celery_start.sh
Due: none

port syntax
  tdrs-backend/celery_start.sh
Due: none

3422 readonly RDS access (#4449)
  tdrs-backend/docker-compose.yml
  tdrs-backend/gunicorn_start.sh
  tdrs-backend/init.sql
  tdrs-backend/scripts/__init__.py
  tdrs-backend/scripts/create_readonly_grafana_user.py
Due: none

add alloy and celery exporter sidecars
  tdrs-backend/celery_start.sh
Due: none

rm old celery start code
  tdrs-backend/gunicorn_start.sh
Due: none

add env name based channeling
  tdrs-backend/tdpservice/settings/celery.py
Due: backend

4942 bug fra submissions overwriting s3 file versions (#5003)
  tdrs-backend/tdpservice/data_files/admin/admin.py
Due: backend

- Added an overview dashboard for some of the requested visualizations
  tdrs-backend/plg/grafana/dashboards/telemetry_overview.json
Due: none

- Updated grafana version to get drilldown capabilities and new visualizations
  tdrs-backend/docker-compose.yml
Due: none

Create sprint-125-summary.md
  docs/Sprint-Review/sprint-125-summary.md
Due: none

- Update so that service name actually populates correctly
  tdrs-backend/plg/alloy/alloy.local.config
  tdrs-frontend/src/index.js
Due: frontend

- Add stt info on events - Add region info on events - Update dashboards with labels
  tdrs-backend/plg/alloy/alloy.local.config
  tdrs-backend/plg/grafana/dashboards/health.json
  tdrs-backend/plg/grafana/dashboards/open_telemetry.json
  tdrs-backend/plg/grafana/dashboards/telemetry_overview.json
  tdrs-frontend/src/hooks/useRUM.js
Due: frontend

- remove debug
  tdrs-frontend/src/hooks/useRUM.js
Due: frontend

- Exclude prometheus from traces - Remove middleware since it clutters traces
  tdrs-backend/docker-compose.yml
  tdrs-backend/plg/grafana/dashboards/user_drilldown.json
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/tracing.py
Due: backend

remove download button from FRA Data Files submission
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

- update dashboard
  tdrs-backend/plg/grafana/dashboards/user_drilldown.json
Due: none

remove download button from TANF Data Files submission
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
  tdrs-frontend/src/components/UploadReport/UploadReport.test.js
Due: frontend

remove dispatching of current submission to redux state
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/Reports/Reports.test.js
Due: frontend

remove all redux logic related to current submission states
  tdrs-frontend/src/actions/reports.js
  tdrs-frontend/src/reducers/reports.js
  tdrs-frontend/src/reducers/reports.test.js
Due: frontend

- Remove dashboard - Update user dashboard
  tdrs-backend/plg/grafana/dashboards/open_telemetry.json
  tdrs-backend/plg/grafana/dashboards/user_drilldown.json
  tdrs-backend/plg/grafana/dashboards/user_telemetry.json
Due: none

- Update to correctly deploy tempo
  tdrs-backend/plg/tempo/manifest.yml
  tdrs-backend/plg/tempo/tempo.yml
Due: none
