Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

fix tab key navigation order
  tdrs-frontend/src/components/Header/Header.jsx
Due: frontend

update import names and small url updates
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-backend/tdpservice/users/api/utils.py
  tdrs-backend/tdpservice/users/test/test_auth.py
Due: backend

update several tests
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-backend/tdpservice/users/test/test_auth.py
Due: backend

removed some logs, added an ignore comment for jest
  tdrs-frontend/src/components/Header/Header.jsx
Due: frontend

update frontend tests
  tdrs-frontend/src/components/SplashPage/SplashPage.test.js
Due: frontend

Got all existing tests to pass again
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-backend/tdpservice/users/api/utils.py
  tdrs-backend/tdpservice/users/test/test_auth.py
Due: backend

styles: fix lint issues, remove additional logs, remove unused vars, add docstrings
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-backend/tdpservice/users/api/utils.py
  tdrs-backend/tdpservice/users/test/test_auth.py
Due: backend

fix: django admin login url
  tdrs-backend/tdpservice/settings/common.py
Due: backend

fix: auth test
  tdrs-backend/tdpservice/users/api/login.py
Due: backend

Update communication-tools.md
  docs/How-We-Work/team-charter/communication-tools.md
Due: none

sync readme
  scripts/README.md
Due: none

add more ignore comments
  tdrs-frontend/src/components/Header/Header.jsx
Due: frontend

docs: add remote development guide
  tdrs-backend/docs/remote-development.md
Due: none

update django to version 3.2.10
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
Due: none

test: add requests_mock and initial ams test
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
  tdrs-backend/tdpservice/users/test/test_auth.py
Due: backend

Added details in the sections for where they're used for the check scripts
  scripts/README.md
Due: none

feat: add ams logout handler
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-backend/tdpservice/users/api/login_redirect_oidc.py
  tdrs-backend/tdpservice/users/api/logout_redirect_oidc.py
  tdrs-backend/tdpservice/users/api/utils.py
  tdrs-backend/tdpservice/users/test/test_auth.py
Due: backend

test: add TestLofinAMS class with local mock
  tdrs-backend/tdpservice/users/test/test_auth.py
Due: backend

added ToC per Alex
  scripts/README.md
Due: none

fixing broken ToC links
  scripts/README.md
Due: none

links again
  scripts/README.md
Due: none

final link fix, maybe
  scripts/README.md
Due: none

Setting up template for standard formatting across all ADRs
  docs/Architecture Decision Record/001 ADR template.md
Due: none

test: abstract more of TestLoginAMS
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-backend/tdpservice/users/test/test_auth.py
Due: backend

Having VM issues, rebooting partway
  docs/Architecture Decision Record/002 Application architecture.md
  docs/Architecture Decision Record/004-configuration-by-environment-variable.md
  docs/Architecture Decision Record/006-continuous-integration.md
Due: none

Updates to ADRs. Might consider deletion of 008, will discuss with Alex.
  docs/Architecture Decision Record/008-deployment-flow.md
  docs/Architecture Decision Record/010-assign-superuser.md
  docs/Architecture Decision Record/012-antivirus-strategy.md
  docs/Architecture Decision Record/014-deploy-strategy.md
  docs/Architecture Decision Record/016-dependabot-dependency-management.md
  docs/Architecture Decision Record/018-developer-tabletops.md
Due: none

Merged two ADRs in 008 and renamed other ADRs to have sequential numbering.
  docs/Architecture Decision Record/008-deployment-flow.md
  docs/Architecture Decision Record/014-dependabot-dependency-management.md
  docs/Architecture Decision Record/014-deploy-strategy.md
  docs/Architecture Decision Record/015-development-environments.md
  docs/Architecture Decision Record/015-terraform-service-provisioning.md
  docs/Architecture Decision Record/016-developer-tabletops.md
  docs/Architecture Decision Record/017-zap-waiver.md
Due: none

updating 001 and 003
  docs/Architecture Decision Record/001 ADR template.md
  docs/Architecture Decision Record/003 Application hosting.md
Due: none

build: update django-admin-508 to 0.1.3
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
Due: none

updated lockfile
  tdrs-backend/Pipfile.lock
Due: none

sprint-36-summary.md
  docs/Sprint-Review/sprint-36-summary.md
Due: none

remove white space
  tdrs-frontend/src/components/Header/Header.jsx
Due: frontend

updating 005, 006, 007, and 008
  docs/Architecture Decision Record/005-application-authentication.md
  docs/Architecture Decision Record/006-continuous-integration.md
  docs/Architecture Decision Record/007-object-storage.md
  docs/Architecture Decision Record/008-deployment-flow.md
Due: none

updating 009,010,011,012, and 014
  docs/Architecture Decision Record/009-git-workflow.md
  docs/Architecture Decision Record/010-assign-superuser.md
  docs/Architecture Decision Record/011-buildpacks.md
  docs/Architecture Decision Record/012-antivirus-strategy.md
  docs/Architecture Decision Record/014-dependabot-dependency-management.md
Due: none

Update docs/Architecture Decision Record/009-git-workflow.md
  docs/Architecture Decision Record/009-git-workflow.md
Due: none

updating 013,015, and 017
  docs/Architecture Decision Record/013-download-strategy.md
  docs/Architecture Decision Record/015-terraform-service-provisioning.md
  docs/Architecture Decision Record/017-zap-waiver.md
Due: none

fix: lockfile
  tdrs-backend/Pipfile.lock
Due: none

Path conditions:
  frontend: any of: tdrs-frontend/src
  backend: any of: tdrs-backend/tdpservice
