Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

- use same method to get worksheet throughout tests - delete workbook if it exists before creating a new one - Remove debug code
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

- Update error messages
  tdrs-backend/tdpservice/data_files/test/test_api.py
Due: backend

- move order_by to be the last query - Update row error message number
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

- Update order by clause - add debug code
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

- remove debug code
  tdrs-backend/tdpservice/data_files/test/test_api.py
Due: backend

- Assign order by clause
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

Merge in test env
  product-updates/knowledge-center/exporting-complete-data-using-ftanf.html
  product-updates/knowledge-center/index.html
  product-updates/knowledge-center/uploading-data.html
Due: none

Update index.html
  product-updates/knowledge-center/index.html
Due: none

Update docs/User-Experience/Research-Syntheses/2020, Summer - Understanding Stakeholders and creating personas.md
  docs/User-Experience/Research-Syntheses/2020, Summer - Understanding Stakeholders and creating personas.md
Due: none

- Correct document - functionize prioritized queries - Update group check function to allow multiple groups - add new admin property to user class
  docs/Technical-Documentation/tech-memos/priotitized-errors/prioritized-errors.md
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/users/models.py
Due: backend

- revert layer cachhing
  .circleci/base_config.yml
Due: none

include reparse in data files api response
  tdrs-backend/tdpservice/data_files/serializers.py
  tdrs-frontend/src/reducers/reports.js
Due: frontend, backend

check reparse finished_at if submission outdated
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.jsx
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.test.js
Due: frontend

lint, clean up comments
  tdrs-backend/tdpservice/data_files/serializers.py
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.jsx
Due: frontend, backend

Feat/3171 nexus integration (#3200)
  .circleci/build-and-test/commands.yml
  Taskfile.yml
  scripts/cf-check.sh
  tdrs-backend/Dockerfile
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
  tdrs-backend/sources.list
  tdrs-frontend/package-lock.json
Due: none

- Update script to use env specific vars for staging
  scripts/deploy-backend.sh
Due: none

Doc/3199 monitoring adr (#3210)
  docs/Security-Compliance/diagram.drawio
  docs/Security-Compliance/diagram.png
  docs/Technical-Documentation/Architecture-Decision-Record/022-app-monitoring.md
  docs/Technical-Documentation/diagrams/TDP_Environments.png
  docs/Technical-Documentation/images/sentry/1. Issues with filter enabled.png
  docs/Technical-Documentation/images/sentry/2. Unhandled exceptiions are logged.png
  docs/Technical-Documentation/images/sentry/3. detail about exception.png
  docs/Technical-Documentation/images/sentry/4. full stack trace of the exceptions.png
Due: none

Fixes formatting issue
  docs/User-Experience/Research-Syntheses/2020, Summer - Understanding Stakeholders and creating personas.md
Due: none

3224 removed PII from logs
  tdrs-backend/tdpservice/parsers/fields.py
  tdrs-backend/tdpservice/parsers/validators/category3.py
Due: backend

Removed PII
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

linting
  tdrs-backend/tdpservice/parsers/validators/category3.py
Due: backend

move outdated submission processing to backend, make configurable
  tdrs-backend/tdpservice/data_files/serializers.py
  tdrs-backend/tdpservice/settings/common.py
  tdrs-frontend/src/components/SubmissionHistory/CaseAggregatesTable.jsx
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.jsx
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.test.js
  tdrs-frontend/src/components/SubmissionHistory/TotalAggregatesTable.jsx
  tdrs-frontend/src/reducers/reports.js
Due: frontend, backend

revert reparse_file_metas change
  tdrs-backend/tdpservice/data_files/serializers.py
Due: backend

add reprocessed indicators to submission history tables
  tdrs-frontend/src/components/SubmissionHistory/CaseAggregatesTable.jsx
  tdrs-frontend/src/components/SubmissionHistory/TotalAggregatesTable.jsx
  tdrs-frontend/src/components/SubmissionHistory/helpers.jsx
Due: frontend

- remove var
  scripts/deploy-backend.sh
Due: none

- new branch to remove cred leak
  tdrs-backend/docker-compose.yml
  tdrs-backend/plg/alertmanager/alertmanager.yml
  tdrs-backend/plg/alertmanager/manifest.yml
  tdrs-backend/plg/grafana/dashboards/logs_dashboard.json
  tdrs-backend/plg/prometheus/alerts.local.yml
  tdrs-backend/plg/prometheus/alerts.yml
  tdrs-backend/plg/prometheus/django-rules.yml
  tdrs-backend/plg/prometheus/prometheus.local.yml
  tdrs-backend/plg/prometheus/prometheus.yml
  tdrs-backend/tdpservice/urls.py
  tdrs-backend/tdpservice/users/api/authorization_check.py
  tdrs-frontend/docker-compose.yml
  tdrs-frontend/nginx/local/locations.conf
  tdrs-frontend/src/components/Header/Header.jsx
  tdrs-frontend/src/components/SiteMap/SiteMap.jsx
  tdrs-frontend/src/selectors/auth.js
Due: frontend, backend

- Updated fixture
  tdrs-backend/tdpservice/search_indexes/test/test_reparse.py
Due: backend

- updated test
  tdrs-backend/tdpservice/search_indexes/test/test_reparse.py
Due: backend

clear cookies before visit
  tdrs-frontend/cypress/e2e/common-steps/common-steps.js
Due: none

update outdated error report language
  tdrs-frontend/src/components/SubmissionHistory/CaseAggregatesTable.jsx
  tdrs-frontend/src/components/SubmissionHistory/TotalAggregatesTable.jsx
  tdrs-frontend/src/components/SubmissionHistory/helpers.jsx
Due: frontend

update language
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.test.js
  tdrs-frontend/src/components/SubmissionHistory/helpers.jsx
Due: frontend

Update cf-check.sh
  scripts/cf-check.sh
Due: none

fix date compare
  tdrs-backend/tdpservice/data_files/serializers.py
Due: backend

3224 added an extra security layer to transform function
  tdrs-backend/tdpservice/parsers/fields.py
Due: backend

remove old submissions banner, column text, serializer data
  tdrs-backend/tdpservice/data_files/serializers.py
  tdrs-frontend/src/components/SubmissionHistory/CaseAggregatesTable.jsx
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.jsx
  tdrs-frontend/src/components/SubmissionHistory/TotalAggregatesTable.jsx
  tdrs-frontend/src/components/SubmissionHistory/helpers.jsx
Due: frontend, backend

rm tests
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.test.js
Due: frontend

Update scripts/deploy-backend.sh
  scripts/deploy-backend.sh
Due: none

rm unused
  tdrs-backend/tdpservice/data_files/serializers.py
  tdrs-backend/tdpservice/settings/common.py
Due: backend

- Update report to include aggregates tab along with prioritized tab - functionized util.py - updated views.py to pass both querysets
  tdrs-backend/tdpservice/data_files/util.py
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

Path conditions:
  frontend: any of: tdrs-frontend/src, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
  backend: any of: tdrs-backend/tdpservice, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
