Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 95%
        flags:
          - backend

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

test on current branch
  .circleci/owasp/commands.yml
Due: none

target develop
  .circleci/owasp/commands.yml
  .circleci/owasp/jobs.yml
  .circleci/owasp/workflows.yml
Due: none

Update uploading-data.html
  product-updates/knowledge-center/uploading-data.html
Due: none

add readme
  .circleci/README.md
  .circleci/config.yml
  .circleci/generate_nightly_owasp_config.sh
Due: none

Create sprint-60-summary.md (#2286)
  docs/Sprint-Review/sprint-60-summary.md
Due: none

fix small typo
  .circleci/config.yml
Due: none

clean up config
  .circleci/config.yml
Due: none

run nightly on develop branch
  .circleci/owasp/workflows.yml
Due: none

Found fix for chromium bug on startup (#2292)
  tdrs-frontend/Dockerfile
Due: none

Feature/1351 - elastic (#2160)
  tdrs-backend/.env.example
  tdrs-backend/Dockerfile
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
  tdrs-backend/docker-compose.local.yml
  tdrs-backend/docker-compose.yml
  tdrs-backend/gunicorn_start.sh
  tdrs-backend/tdpservice/search_indexes/__init__.py
  tdrs-backend/tdpservice/search_indexes/admin.py
  tdrs-backend/tdpservice/search_indexes/apps.py
  tdrs-backend/tdpservice/search_indexes/documents.py
  tdrs-backend/tdpservice/search_indexes/migrations/0001_initial.py
  tdrs-backend/tdpservice/search_indexes/migrations/__init__.py
  tdrs-backend/tdpservice/search_indexes/models.py
  tdrs-backend/tdpservice/search_indexes/test/__init__.py
  tdrs-backend/tdpservice/search_indexes/test/test_model_mapping.py
  tdrs-backend/tdpservice/search_indexes/views.py
  tdrs-backend/tdpservice/settings/cloudgov.py
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/users/test/test_permissions.py
Due: backend

Apply suggestions from code review
  .circleci/README.md
Due: none

consolidate generate config scripts
  .circleci/config.yml
  .circleci/generate_nightly_owasp_config.sh
Due: none

Updated config.yml
  .circleci/config.yml
Due: none

update readme
  .circleci/README.md
Due: none

add cypress authentication override/support
  .gitignore
  tdrs-backend/docker-compose.yml
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/urls.py
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-frontend/cypress.config.js
  tdrs-frontend/cypress/accounts/accounts.feature
  tdrs-frontend/cypress/accounts/steps.js
  tdrs-frontend/cypress/e2e/accounts/accounts.feature
  tdrs-frontend/cypress/e2e/accounts/steps.js
  tdrs-frontend/src/index.js
Due: frontend, backend

generate cypress users management cmd
  tdrs-backend/docker-compose.yml
  tdrs-backend/tdpservice/users/management/commands/generate_cypress_users.py
Due: backend

update test w/ shared steps
  tdrs-frontend/cypress/e2e/accounts/accounts.feature
  tdrs-frontend/cypress/e2e/accounts/steps.js
Due: none

add cypress docs
  docs/Technical-Documentation/Architecture-Decision-Record/019-integration-tests.md
  docs/Technical-Documentation/cypress-integration-tests.md
  docs/Technical-Documentation/images/testing/01-e2e-selection.png
  docs/Technical-Documentation/images/testing/02-browser-selection.png
  docs/Technical-Documentation/images/testing/03-spec-selection.png
  docs/Technical-Documentation/images/testing/04-run-test.png
Due: none

commit cypress support
  .gitignore
  tdrs-frontend/cypress/support/commands.js
  tdrs-frontend/cypress/support/e2e.js
Due: none

fix editor noise
  tdrs-frontend/cypress/support/commands.js
Due: none

sp
  tdrs-backend/tdpservice/settings/common.py
Due: backend

add cypress circle ci job
  .circleci/build-and-test/jobs.yml
  .circleci/build-and-test/workflows.yml
  tdrs-frontend/package.json
Due: none

Create sprint-61-summary.md (#2303)
  docs/Sprint-Review/sprint-61-summary.md
Due: none

get most recent file
  .circleci/README.md
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
Due: frontend

actually returns most recent file
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
  tdrs-frontend/src/reducers/reports.js
Due: frontend

Create 2022, Fall - TDP 2.2 Pilot Expansion.md
  docs/User-Experience/Research-Syntheses/2022, Fall - TDP 2.2 Pilot Expansion.md
Due: none

Update README.md
  docs/User-Experience/Research-Syntheses/README.md
Due: none

Update dev-ready-design-issue-template & add readme link to a11y doc (#2299)
  .github/ISSUE_TEMPLATE/design-deliverable-issue-template.md
  README.md
Due: none

force deploy to sandbox
  .circleci/deployment/workflows.yml
Due: none

update env vars for elastic
  scripts/deploy-backend.sh
Due: none

Update 2022, Fall - TDP 2.2 Pilot Expansion.md
  docs/User-Experience/Research-Syntheses/2022, Fall - TDP 2.2 Pilot Expansion.md
Due: none

Hotfix - Automating Elasticsearch deployment variables (#2320)
  scripts/deploy-backend.sh
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

Pipeline-breaking changing for new sub-dependency hash signature moving to wheel as captured in pull 2324
  tdrs-backend/Pipfile.lock
Due: none

pipenv lock --keep-outdated (#2324)
  tdrs-backend/Pipfile.lock
Due: none

Create sprint-62-summary.md (#2322)
  docs/Sprint-Review/sprint-62-summary.md
Due: none

added print statement to see if version is returned
  tdrs-backend/gunicorn_start.sh
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

added print statement to see if version is returned
  tdrs-backend/tdpservice/data_files/views.py
Due: backend
