Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 90%
        flags:
          - backend
    patch: off

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

ignore:
  - "tdrs-backend/tdpservice/scheduling/db_backup.py"

- point back to ghcr
  tdrs-backend/Dockerfile
  tdrs-frontend/Dockerfile
Due: none

- added interceptor for default axios insstance
  tdrs-frontend/src/axios-instance.js
Due: frontend

rm unused
  scripts/deploy-backend.sh
  tdrs-backend/docker-compose.yml
Due: none

#5071 refactored some of my code after some more testing, wrote some unit tests as well
  tdrs-frontend/src/App.js
  tdrs-frontend/src/App.test.js
  tdrs-frontend/src/__mocks__/mockFeedbackAxiosApi.js
  tdrs-frontend/src/components/FeedbackForm/FeedbackForm.jsx
  tdrs-frontend/src/components/FeedbackForm/FeedbackForm.test.js
  tdrs-frontend/src/components/FeedbackModal/FeedbackModal.jsx
  tdrs-frontend/src/components/FeedbackRadioSelectGroup/FeedbackRadioSelectGroup.jsx
  tdrs-frontend/src/components/FeedbackRadioSelectGroup/FeedbackRadioSelectGroup.test.js
  tdrs-frontend/src/components/FeedbackRadioSelectGroup/index.js
  tdrs-frontend/src/components/IconRadioSelect/IconRadioSelect.jsx
Due: frontend

#5071 finished up jest and cypress test, and also cleaned up the code
  tdrs-frontend/cypress/e2e/common-steps/user-feedback.js
  tdrs-frontend/src/components/FeedbackForm/FeedbackForm.jsx
  tdrs-frontend/src/components/FeedbackForm/FeedbackForm.test.js
  tdrs-frontend/src/components/FeedbackModal/FeedbackModal.jsx
  tdrs-frontend/src/components/FeedbackModal/FeedbackModal.test.js
  tdrs-frontend/src/components/FeedbackRadioSelectGroup/FeedbackRadioSelectGroup.jsx
  tdrs-frontend/src/components/FeedbackRadioSelectGroup/FeedbackRadioSelectGroup.test.js
Due: frontend

#5071 removed console log
  tdrs-frontend/src/components/FeedbackForm/FeedbackForm.jsx
Due: frontend

#5071 fixed cypress test
  tdrs-frontend/cypress/e2e/common-steps/user-feedback.js
  tdrs-frontend/cypress/e2e/feedback/user-feedback.feature
  tdrs-frontend/cypress/e2e/feedback/user-feedback.js
Due: none

#5071 prettier fix for test
  tdrs-frontend/src/components/FeedbackModal/FeedbackModal.test.js
Due: frontend

- Add tests to bolster coverage
  tdrs-frontend/src/components/IdleTimer/IdleTimer.test.js
Due: frontend

add radio button for fra data to request page
  tdrs-frontend/src/components/RequestAccessForm/FRASelector.jsx
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.jsx
Due: frontend

use profileData map for setting hasFRAData and make hasFRAData a boolean
  tdrs-frontend/src/components/RequestAccessForm/FRASelector.jsx
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.jsx
Due: frontend

add hasFRAData to requestAccess dispatch action
  tdrs-frontend/src/actions/requestAccess.js
Due: frontend

- Add missing setting
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

- Update limit configs
  tdrs-backend/plg/loki/loki.local.yml
  tdrs-backend/plg/loki/loki.yml
  tdrs-backend/plg/tempo/tempo.local.yml
  tdrs-backend/plg/tempo/tempo.yml
Due: none

#5071 fixed code coverage ???
  tdrs-frontend/src/components/FeedbackForm/FeedbackForm.jsx
  tdrs-frontend/src/components/FeedbackForm/FeedbackForm.test.js
  tdrs-frontend/src/components/FeedbackModal/FeedbackModal.jsx
  tdrs-frontend/src/components/FeedbackModal/FeedbackModal.test.js
Due: frontend

change legend, add description, make text not wrap unless mobile screen size
  tdrs-frontend/src/assets/RequestAccessForm.scss
  tdrs-frontend/src/components/RequestAccessForm/FRASelector.jsx
  tdrs-frontend/src/index.scss
Due: frontend

#5071 fixed cypress tests
  tdrs-frontend/cypress/e2e/feedback/user-feedback.feature
Due: none

#5071 update to cypress apparently vs code didnt save my change to the actual test file
  tdrs-frontend/cypress/e2e/feedback/user-feedback.js
Due: none

add validation for fra selector
  tdrs-frontend/src/components/RequestAccessForm/FRASelector.jsx
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.jsx
Due: frontend

#5071 hopefully last clean up and fix for cypress test
  tdrs-frontend/cypress/e2e/feedback/user-feedback.feature
  tdrs-frontend/cypress/e2e/feedback/user-feedback.js
Due: none

#5071 cypress fix
  tdrs-frontend/cypress/e2e/feedback/user-feedback.js
Due: none

5071 cypress fix
  tdrs-frontend/cypress/e2e/feedback/user-feedback.feature
Due: none

remove hasFRAData from errors when radio is selected
  tdrs-frontend/src/components/RequestAccessForm/FRASelector.jsx
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.jsx
Due: frontend

#5071 testing to see if success case works in general
  tdrs-frontend/cypress/e2e/feedback/user-feedback.feature
  tdrs-frontend/cypress/e2e/feedback/user-feedback.js
Due: none

#5071 fixes for tests
  tdrs-frontend/cypress/e2e/feedback/user-feedback.feature
  tdrs-frontend/cypress/e2e/feedback/user-feedback.js
Due: none

#5071 fixed visual cue for tabbing on radio selects
  tdrs-frontend/src/assets/feedback/Feedback.scss
Due: frontend

5109 bugfix files missing versionid fail dac (#5113)
  tdrs-backend/tdpservice/data_files/admin/admin.py
Due: backend

- Update CORS for local
  tdrs-backend/tdpservice/settings/local.py
Due: backend

- revert back to standard axios
  tdrs-frontend/src/actions/requestAccess.js
Due: frontend

make shebang more portable
  .circleci/generate_config.sh
Due: none

add new circleci command for setting registry owner based on precedence
  .circleci/util/commands.yml
Due: none

use new docker-set-registry-owner command with test-backend job
  .circleci/build-and-test/jobs.yml
  .circleci/util/commands.yml
Due: none

- Update env files - Update deploy script to explicitly set RUM enabled false
  scripts/deploy-frontend.sh
  tdrs-frontend/.env
  tdrs-frontend/.env.development
  tdrs-frontend/.env.test
Due: none

- Update script to impute correctly and remove nodenv from check
  scripts/deploy-frontend.sh
  tdrs-frontend/src/index.js
Due: frontend

remove registry_owner from docker-compose-up-backend command
  .circleci/build-and-test/jobs.yml
  .circleci/owasp/jobs.yml
  .circleci/util/commands.yml
Due: none

remove registry_owner from docker-compose-up-frontend command
  .circleci/build-and-test/jobs.yml
  .circleci/owasp/commands.yml
  .circleci/owasp/jobs.yml
Due: none

move docke-compose-up-frontend from owas/commands.yml to util/commands.yml
  .circleci/owasp/commands.yml
  .circleci/util/commands.yml
Due: none

remove registry_owner from test-e2e command
  .circleci/build-and-test/jobs.yml
Due: none

remove registry_owner from owasp jobs
  .circleci/build-and-test/jobs.yml
  .circleci/owasp/commands.yml
  .circleci/owasp/jobs.yml
Due: none

remove registry_owner from make_erd job
  .circleci/util/jobs.yml
Due: none
