Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 95%
        flags:
          - backend

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

1133: changed redis and celery memory
  tdrs-backend/gunicorn_start.sh
Due: none

1133: changed redis and celery memory and added commenting
  tdrs-backend/__init__.py
  tdrs-backend/gunicorn_start.sh
  tdrs-backend/redis.conf
  tdrs-backend/tdpservice/scheduling/test/test_file_upload.py
Due: backend

1133: changed redis and celery memory by adding redis.conf, removed logging and print from testing, linting, changed the private key to env vars
  tdrs-backend/docker-compose.yml
  tdrs-backend/gunicorn_start.sh
  tdrs-backend/redis.conf
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/scheduling/tasks.py
  tdrs-backend/tdpservice/scheduling/test/test_file_upload.py
  tdrs-backend/tdpservice/settings/celery.py
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/settings/local.py
  tdrs-backend/tdpservice/users/test/test_permissions.py
Due: backend

1133: removed cat ACF key file
  tdrs-backend/docker-compose.yml
Due: none

1133: settings file: added if statement
  tdrs-backend/tdpservice/settings/local.py
Due: backend

1133: settings file linting
  tdrs-backend/tdpservice/settings/local.py
Due: backend

1133: changed the pytest_key env var pull up to common.py
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/settings/local.py
Due: backend

added OFA admin to canViewAdmin
  tdrs-frontend/src/utils/canViewAdmin.js
Due: frontend

1133: common settings file for env vars
  tdrs-backend/tdpservice/settings/common.py
Due: backend

1133: common settings file for env vars
  tdrs-backend/docker-compose.yml
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/settings/local.py
Due: backend

fixed check for data files tab
  tdrs-frontend/src/components/Header/Header.jsx
  tdrs-frontend/src/components/SiteMap/SiteMap.jsx
  tdrs-frontend/src/utils/canViewAdmin.js
Due: frontend

1133: Added an env var
  tdrs-backend/tdpservice/settings/local.py
Due: backend

1133: Removed default for testing
  tdrs-backend/tdpservice/settings/local.py
Due: backend

1133: Added end of line replacement for ssh key
  tdrs-backend/tdpservice/settings/local.py
Due: backend

1133: linting
  tdrs-backend/tdpservice/settings/local.py
Due: backend

1133: changing private key and replace '_' with \n
  tdrs-backend/gunicorn_start.sh
  tdrs-backend/tdpservice/settings/common.py
Due: backend

deploy to prod. dont deploy staging
  .circleci/config.yml
Due: none

coppied deploy scripts from release v2
  scripts/deploy-backend.sh
  scripts/deploy-frontend.sh
Due: none

fix docs link
  tdrs-backend/README.md
Due: none

add new approval statuses fields and update old field help text
  tdrs-backend/tdpservice/users/migrations/0034_user_account_approval_status.py
  tdrs-backend/tdpservice/users/migrations/0035_auto_20220818_2016.py
  tdrs-backend/tdpservice/users/models.py
Due: backend

update scripts
  tdrs-frontend/package.json
Due: none

update model admin, serializers, docs
  docs/Technical-Documentation/user_role_management.md
  tdrs-backend/tdpservice/users/admin.py
  tdrs-backend/tdpservice/users/serializers.py
Due: backend

update auth check
  tdrs-backend/tdpservice/users/api/authorization_check.py
  tdrs-backend/tdpservice/users/test/factories.py
  tdrs-backend/tdpservice/users/test/test_models.py
Due: backend

update access_request view
  tdrs-backend/tdpservice/users/test/test_api/test_set_profile.py
  tdrs-backend/tdpservice/users/views.py
Due: backend

remove comment, update admin
  tdrs-backend/tdpservice/users/admin.py
  tdrs-backend/tdpservice/users/api/authorization_check.py
Due: backend

1133: changed to pkey to resolve primary key error
  tdrs-backend/tdpservice/data_files/serializers.py
  tdrs-backend/tdpservice/scheduling/tasks.py
Due: backend

1133: look for key to false
  tdrs-backend/gunicorn_start.sh
  tdrs-backend/tdpservice/scheduling/tasks.py
Due: backend

1133: disabled private key algorithms
  tdrs-backend/tdpservice/scheduling/tasks.py
Due: backend

circle ci config from releasev2
  .circleci/config.yml
Due: none

run on prod
  .circleci/config.yml
Due: none

1133: Added comments to settings files
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/settings/local.py
Due: backend

create selectors for account status checks
  tdrs-frontend/src/selectors/auth.js
Due: frontend

update usages of `access_request` to use new selectors
  tdrs-frontend/src/components/Header/Header.jsx
  tdrs-frontend/src/components/Header/Header.test.js
  tdrs-frontend/src/components/Home/Home.jsx
  tdrs-frontend/src/components/Home/Home.test.jsx
  tdrs-frontend/src/components/Profile/Profile.jsx
  tdrs-frontend/src/components/Profile/Profile.test.js
  tdrs-frontend/src/components/Routes/Routes.js
Due: frontend

comment for discussion
  tdrs-frontend/src/components/Header/Header.jsx
Due: frontend

accursed linting and leftover code
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/serializers.py
  tdrs-backend/tdpservice/users/test/factories.py
  tdrs-backend/tdpservice/users/test/test_api/test_set_profile.py
  tdrs-backend/tdpservice/users/test/test_models.py
  tdrs-backend/tdpservice/users/views.py
Due: backend

appease the linter
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/test/test_api/test_set_profile.py
  tdrs-backend/tdpservice/users/test/test_models.py
  tdrs-backend/tdpservice/users/views.py
Due: backend
