Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 90%
        flags:
          - backend
    patch: off

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

ignore:
  - "tdrs-backend/tdpservice/scheduling/db_backup.py"

add scrape jobs for node-exporter to the deployed environments
  tdrs-backend/plg/prometheus/prometheus.local.yml
  tdrs-backend/plg/prometheus/prometheus.yml
Due: none

allow prometheus in the deployed backend to communicate on port tcp/9100 so it can ingest metrics from node-exporter
  tdrs-backend/plg/deploy.sh
Due: none

add script to download node_exporter binary to the backend host and run it
  tdrs-backend/gunicorn_start.sh
Due: none

3455 simplified m2 t2 SSN validator (#3545)
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category3.py
Due: backend

show a still-processing message when the status polling times out
  tdrs-frontend/src/actions/fraReports.js
  tdrs-frontend/src/actions/fraReports.test.js
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/Reports/FRAReports.test.js
  tdrs-frontend/src/components/SubmissionHistory/helpers.jsx
  tdrs-frontend/src/reducers/fraReports.js
Due: frontend

- Add missing bucket names - Add dynamic bucket names
  tdrs-backend/plg/mimir/manifest.yml
  tdrs-backend/plg/mimir/mimir.yml
Due: none

add suquamish port madison
  tdrs-backend/tdpservice/stts/management/commands/data/tribes.csv
Due: backend

- Created new base class for duplicate detectors - Add factory class for duplicate manager to use to determine what detector to instantiate - Updated TE1 error message to align with expectations
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/parsers/duplicate_detectors.py
  tdrs-backend/tdpservice/parsers/duplicate_manager.py
Due: backend

- Update TE1 dup detector to ignore records with SSN === all 9's - Added test case to test files
  tdrs-backend/tdpservice/parsers/duplicate_detectors.py
  tdrs-backend/tdpservice/parsers/test/data/fra_ofa_test.csv
  tdrs-backend/tdpservice/parsers/test/data/fra_ofa_test.xlsx
Due: backend

- linting
  tdrs-backend/tdpservice/parsers/duplicate_manager.py
Due: backend

- grammar fix
  tdrs-backend/tdpservice/parsers/duplicate_detectors.py
Due: backend

Adds most recent review changes
  product-updates/img/fra/error-report.png
  product-updates/knowledge-center/fra-error-reports.html
  product-updates/knowledge-center/submitting-fra-data.html
Due: none

- remove alt text - add aria labels
  tdrs-frontend/src/components/GovBanner/GovBanner.jsx
Due: frontend

- Add logging for record deletion
  tdrs-backend/tdpservice/search_indexes/utils.py
Due: backend

- Update dashboard so that panels are collapseable
  tdrs-backend/plg/grafana/dashboards/health.json
Due: none

- Update dashboard to show celery alerts
  tdrs-backend/plg/grafana/dashboards/health.json
Due: none

- Update so that FRA is included
  tdrs-backend/tdpservice/search_indexes/util.py
Due: backend

- Update alerts - Update dashboard
  tdrs-backend/plg/grafana/dashboards/health.json
  tdrs-backend/plg/prometheus/alerts.local.yml
  tdrs-backend/plg/prometheus/alerts.yml
Due: none

KC updates for april release
  product-updates/knowledge-center/index.html
Due: none

quick language fix
  product-updates/knowledge-center/fra-error-reports.html
  product-updates/knowledge-center/submitting-fra-data.html
Due: none

Update fra-error-reports.html
  product-updates/knowledge-center/fra-error-reports.html
Due: none

capitalization changes
  product-updates/knowledge-center/index.html
Due: none

Update release #
  product-updates/knowledge-center/index.html
Due: none

- Resolved issue where alerts were failing
  tdrs-backend/plg/deploy.sh
  tdrs-backend/plg/grafana/datasources.local.yml
  tdrs-backend/plg/grafana/datasources.template.yml
Due: none

- Fixed mimir s3 bucket issues
  tdrs-backend/plg/mimir/mimir.local.yml
  tdrs-backend/plg/mimir/mimir.yml
Due: none

rename error report generation as well
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.test.js
  tdrs-frontend/src/components/SubmissionHistory/helpers.jsx
Due: frontend

- fake
  tdrs-backend/plg/mimir/manifest.yml
Due: none

- revert
  tdrs-backend/plg/mimir/manifest.yml
Due: none

Add release digest AC to dev templates
  .github/ISSUE_TEMPLATE/dev-issue-template.md
Due: none

- Updated docs to more closely align with our new workflow
  docs/How-We-Work/our-workflow.md
  docs/Technical-Documentation/Architecture-Decision-Record/009-git-workflow.md
Due: none

- Updated excel decoder to only grab values instead of formulas - Added test case for formula fields
  tdrs-backend/tdpservice/parsers/decoders.py
  tdrs-backend/tdpservice/parsers/test/conftest.py
  tdrs-backend/tdpservice/parsers/test/data/fra_formula_fields.xlsx
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

Revert "- Updated docs to more closely align with our new workflow"
  docs/How-We-Work/our-workflow.md
  docs/Technical-Documentation/Architecture-Decision-Record/009-git-workflow.md
Due: none

Revert "Merge pull request #4868 from raft-tech/3457-Remove-Legacy-SSN-Validation-Checks"
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t5.py
Due: backend

Wording changes and paragraph ordering
  product-updates/knowledge-center/index.html
Due: none

Create sprint-122-summary.md
  docs/Sprint-Review/sprint-122-summary.md
Due: none

Update date
  product-updates/knowledge-center/index.html
Due: none

- Added new validator for minimum length check - Added tests for new validator - Update all appropriate schemas
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m1.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m4.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m5.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m6.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m7.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t6.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t7.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t6.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t7.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/validators/category1.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category1.py
Due: backend

++ cov
  tdrs-frontend/src/actions/fraReports.test.js
  tdrs-frontend/src/components/Reports/FRAReports.test.js
Due: frontend

use dashes instead of dots for original submission
  tdrs-frontend/src/actions/fraReports.js
  tdrs-frontend/src/actions/reports.js
Due: frontend
