Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 90%
        flags:
          - backend
    patch: off

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

ignore:
  - "tdrs-backend/tdpservice/scheduling/db_backup.py"

- Add fix for failing ams test
  tdrs-backend/tdpservice/users/api/login.py
Due: backend

- linting
  tdrs-backend/tdpservice/security/test/test_event_handler.py
Due: backend

3432 update alertmanager inhibition rules (#5265)
  tdrs-backend/plg/alertmanager/alertmanager.yml
Due: none

- Added text choice field for event type to keep consistent - Regenerated migration - Updated tests to use new Enum - Added tests specifically for login_gov_uuid change
  tdrs-backend/tdpservice/security/event_handler.py
  tdrs-backend/tdpservice/security/migrations/0004_security_event_token.py
  tdrs-backend/tdpservice/security/models.py
  tdrs-backend/tdpservice/security/test/test_event_handler.py
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-backend/tdpservice/users/test/test_login_gov_uuid_change.py
Due: backend

Use Scenario Outline to reduce repeated gherkin code
  tdrs-frontend/cypress/e2e/data-files/file_upload.feature
Due: none

#4793 last minute updates and clean up
  tdrs-frontend/src/components/Profile/UserProfileDetails.jsx
  tdrs-frontend/src/components/Profile/UserProfileView.jsx
  tdrs-frontend/src/components/RequestAccessForm/RegionSelector.jsx
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.jsx
  tdrs-frontend/src/utils/regions.js
Due: frontend

extract logic to cypress commands
  tdrs-frontend/cypress/e2e/data-files/file_upload.feature
  tdrs-frontend/cypress/e2e/data-files/file_upload.js
  tdrs-frontend/cypress/support/commands.js
Due: none

- Update view to throw validation errors - Add tests for security event view
  tdrs-backend/tdpservice/security/test/test_views.py
  tdrs-backend/tdpservice/security/views.py
Due: backend

- add all zeros to ssn check
  tdrs-backend/plg/grafana_views/generate_views.py
Due: none

move data file commands out of the cypress global name space
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
  tdrs-frontend/cypress/e2e/data-files/file_upload.js
  tdrs-frontend/cypress/support/commands.js
Due: none

reduce complexity of scenario outline in data fis
  tdrs-frontend/cypress/e2e/accounts/accounts.feature
  tdrs-frontend/cypress/e2e/common-steps/common-steps.js
  tdrs-frontend/cypress/e2e/data-files/file_upload.feature
  tdrs-frontend/cypress/e2e/data-files/file_upload.js
  tdrs-frontend/cypress/e2e/data-files/submission_history.feature
Due: none

#4973 fixing some test
  tdrs-frontend/src/components/Home/HomeForm.test.jsx
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.test.js
Due: frontend

#4973 fixed Profile tests
  tdrs-frontend/src/components/Profile/Profile.test.js
Due: frontend

decrease polling waiting time for submitted files from 2 to 1 second
  tdrs-frontend/cypress/support/commands.js
Due: none

increase timeout on readFile and add a check that the download error report GET request was successful
  tdrs-frontend/cypress.config.js
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
  tdrs-frontend/cypress/e2e/data-files/file_upload.js
Due: none

- Move commands into a common steps/functions - Update tests to leverage new functions instead of commands
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
  tdrs-frontend/cypress/e2e/data-files/file_upload.js
  tdrs-frontend/cypress/e2e/data-files/submission_history.js
  tdrs-frontend/cypress/support/commands.js
Due: none

- Remove generic/old tests in favor of new ones
  tdrs-frontend/cypress/e2e/data-files/file_upload.feature
  tdrs-frontend/cypress/e2e/data-files/file_upload.js
  tdrs-frontend/cypress/e2e/data-files/submission_history.feature
  tdrs-frontend/cypress/e2e/data-files/submission_history.js
Due: none

- remove static waits
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
Due: none

- Re-add polling wait
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
Due: none

- re-add waits
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
Due: none

- Update fixture username/email to be prefixed with "cypress"
  tdrs-backend/tdpservice/fixtures/cypress/users.json
  tdrs-frontend/cypress/e2e/data-files/file_upload.js
  tdrs-frontend/cypress/e2e/data-files/submission_history.js
Due: backend

check for fileName before clicking submit
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
  tdrs-frontend/cypress/e2e/data-files/file_upload.js
Due: none

- Update regional staff test to include a true submission
  tdrs-frontend/cypress/e2e/data-files/submission_history.feature
  tdrs-frontend/cypress/e2e/data-files/submission_history.js
Due: none

add a 10 second timeout on checking if file is submitted successfully
  tdrs-frontend/cypress/e2e/data-files/file_upload.js
Due: none

combine uploadSectionFile and waitForFileSubmissionToAppear
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
  tdrs-frontend/cypress/e2e/data-files/file_upload.js
Due: none

#4973 fixing some mocks for test
  tdrs-frontend/src/actions/mockUpdateUserRequest.js
  tdrs-frontend/src/actions/mockUpdateUserRequest.test.js
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.jsx
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.test.js
Due: frontend

- Add DAC logging to help with testing
  tdrs-backend/tdpservice/security/views.py
Due: backend

- remove focus
  tdrs-frontend/cypress/e2e/data-files/submission_history.feature
Due: none

#5197 updated some more UI components to use new meta data
  tdrs-backend/tdpservice/users/migrations/0049_auto_20250817_1726.py
  tdrs-frontend/src/components/Feedback/FeedbackConstants.js
  tdrs-frontend/src/components/Feedback/FeedbackForm.jsx
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/reducers/feedbackWidget.js
Due: frontend, backend

- Parametrize table contains logic - Remove all static waits in favor of timeouts
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
  tdrs-frontend/cypress/e2e/data-files/file_upload.js
  tdrs-frontend/cypress/e2e/data-files/submission_history.js
Due: none

- Update table function to focus on first row only
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
  tdrs-frontend/cypress/e2e/data-files/submission_history.js
Due: none

- remove integer checks since they are a bit erroneous
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
  tdrs-frontend/cypress/e2e/data-files/submission_history.js
Due: none

- Add conditional for file existence check on upload if testing upload error
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
  tdrs-frontend/cypress/e2e/data-files/file_upload.js
Due: none

#4973 made some updates based off code review
  tdrs-frontend/src/components/Profile/Profile.jsx
  tdrs-frontend/src/components/Profile/UserProfileDetails.jsx
  tdrs-frontend/src/components/Profile/UserProfileView.jsx
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.jsx
Due: frontend

#5197 removed fields that arent needed anymore
  tdrs-frontend/src/components/Feedback/FeedbackConstants.js
  tdrs-frontend/src/components/Feedback/FeedbackForm.jsx
Due: frontend

#4973 fixes for unit test due to field removal some refactoring
  tdrs-frontend/src/components/Profile/UserProfileDetails.jsx
  tdrs-frontend/src/components/Profile/UserProfileView.test.js
Due: frontend

#4973 unit test fixes
  tdrs-frontend/src/components/Profile/Profile.test.js
  tdrs-frontend/src/components/Profile/UserProfileDetails.test.js
Due: frontend

remove old gherkin statments
  tdrs-frontend/cypress/e2e/data-files/file_upload.js
Due: none

format file
  tdrs-frontend/cypress/e2e/data-files/file_upload.js
Due: none

- Update admin models for readonly use - Remove DAC logging from SET view - Add DAC logging when a user account is recreated
  tdrs-backend/tdpservice/security/admin.py
  tdrs-backend/tdpservice/security/views.py
  tdrs-backend/tdpservice/users/api/login.py
Due: backend
