Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 90%
        flags:
          - backend
    patch: off

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

ignore:
  - "tdrs-backend/tdpservice/scheduling/db_backup.py"

- fix permission logic
  tdrs-backend/tdpservice/users/permissions.py
Due: backend

- Updated logic in validator to correctly asses if a user has a region
  tdrs-backend/tdpservice/users/models.py
Due: backend

- update form to display correctly for stts - add tests for form logic
  tdrs-frontend/src/components/Home/Home.test.jsx
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.jsx
Due: frontend

- Added missing form fields for the regions field
  tdrs-frontend/cypress/e2e/accounts/accounts.js
  tdrs-frontend/cypress/e2e/common-steps/common-steps.js
Due: none

- Add todos for post review
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.jsx
Due: frontend

- revert todos because tests wont pass
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.jsx
Due: frontend

temp comment two tests
  tdrs-frontend/src/components/Reports/FRAReports.test.js
Due: frontend

fix aria
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

fix test
  tdrs-frontend/src/components/Reports/FRAReports.test.js
Due: frontend

- Make updates to allow for a11y testing
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.jsx
Due: frontend

fix tests and stub future work
  tdrs-frontend/src/actions/fraReports.js
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/Reports/FRAReports.test.js
Due: frontend

- Update link to correct path
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.jsx
Due: frontend

included 3 value, tests likely to fail
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t5.py
Due: backend

Revert "included 3 value, tests likely to fail"
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t5.py
Due: backend

- Add aria tag - Open link in new page - Set form validation to OFA style val for now
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.jsx
Due: frontend

add extra test cov
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/Reports/FRAReports.test.js
Due: frontend

- Remove print statement - Update email templates
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/email/templates/access-request-submitted.html
  tdrs-backend/tdpservice/email/templates/request-approved.html
Due: backend

- add name field to region - update populate stts command to use region name - update regions csv - add new migration for region name
  tdrs-backend/tdpservice/stts/management/commands/data/regions.csv
  tdrs-backend/tdpservice/stts/management/commands/populate_stts.py
  tdrs-backend/tdpservice/stts/migrations/0011_add_region_name.py
  tdrs-backend/tdpservice/stts/models.py
Due: backend

- Update to use region name
  tdrs-backend/tdpservice/email/helpers/account_status.py
  tdrs-backend/tdpservice/stts/models.py
Due: backend

- add name None for last region
  tdrs-backend/tdpservice/stts/management/commands/populate_stts.py
Due: backend

- Moved conditional renders into separate components - Re-enabled expected functionality for testing
  tdrs-frontend/src/components/RequestAccessForm/JurisdictionSelector.jsx
  tdrs-frontend/src/components/RequestAccessForm/RegionSelector.jsx
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.jsx
Due: frontend

- add key to region inputs - move validator up in component tree - update submit to also validate regions
  tdrs-frontend/src/components/RequestAccessForm/RegionSelector.jsx
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.jsx
Due: frontend

- Update migration to correctly handle region names
  tdrs-backend/tdpservice/stts/migrations/0011_add_region_name.py
Due: backend

- Update migration to use existing function - Update _populate_regions function to take model object
  tdrs-backend/tdpservice/stts/management/commands/populate_stts.py
  tdrs-backend/tdpservice/stts/migrations/0011_add_region_name.py
Due: backend

- Remove imports and unneeded code
  tdrs-backend/tdpservice/stts/migrations/0011_add_region_name.py
Due: backend

- Update logic for region context
  tdrs-backend/tdpservice/email/helpers/account_status.py
Due: backend

- updated test
  tdrs-backend/tdpservice/stts/test/test_models.py
Due: backend

variables changes from gender to sex
  docs/User-Experience/Research-Syntheses/2020, Spring - Understanding the local experience.md
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t5.py
Due: backend

updating field name to sex including migration
  CODE_OF_CONDUCT.md
  Taskfile.yml
  tdrs-backend/tdpservice/parsers/test/factories.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/search_indexes/documents/ssp.py
  tdrs-backend/tdpservice/search_indexes/documents/tanf.py
  tdrs-backend/tdpservice/search_indexes/documents/tribal.py
  tdrs-backend/tdpservice/search_indexes/kibana_saved_objs.ndjson
  tdrs-backend/tdpservice/search_indexes/migrations/0033_auto_20250131_2033.py
  tdrs-backend/tdpservice/search_indexes/models/ssp.py
  tdrs-backend/tdpservice/search_indexes/models/tanf.py
  tdrs-backend/tdpservice/search_indexes/models/tribal.py
  tdrs-backend/tdpservice/search_indexes/test/test_model_mapping.py
Due: backend

paginator HOCs
  tdrs-frontend/src/components/Paginator/Paginator.jsx
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

- Update migration to use custom populate function - Revert populate stts
  tdrs-backend/tdpservice/stts/management/commands/populate_stts.py
  tdrs-backend/tdpservice/stts/migrations/0011_add_region_name.py
Due: backend

- Add waits for file change
  tdrs-frontend/src/components/Reports/Reports.test.js
Due: frontend

- Adding waits in test
  tdrs-frontend/src/components/Reports/Reports.test.js
Due: frontend

- UPdate dispatch count
  tdrs-frontend/src/components/Reports/Reports.test.js
Due: frontend

- Add awaits in remaining tests
  tdrs-frontend/src/components/UploadReport/UploadReport.test.js
Due: frontend

- tech memo for parsing
  docs/Technical-Documentation/tech-memos/parsing-refactor/parsing-refactor.md
Due: none

- update date
  docs/Technical-Documentation/tech-memos/parsing-refactor/parsing-refactor.md
Due: none

- Cleaning up annoying lint warnings
  tdrs-frontend/src/actions/reports.js
  tdrs-frontend/src/components/Home/Home.jsx
  tdrs-frontend/src/components/STTComboBox/STTComboBox.jsx
  tdrs-frontend/src/components/SubmissionHistory/ReprocessedModal.jsx
  tdrs-frontend/src/components/SubmissionHistory/helpers.jsx
Due: frontend

- remove all manual class additions that were breaking file inputs
  product-updates/js/uswds.js
  tdrs-frontend/src/components/FileUpload/utils.jsx
Due: frontend

- handle null file case
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
Due: frontend
