Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

- Add security.md and update points of contact
  README.md
  SECURITY.md
Due: none

5547 wire av scan completion (#5776)
  tdrs-backend/tdpservice/data_files/submission_lifecycle.py
  tdrs-backend/tdpservice/data_files/tasks.py
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/data_files/test/test_models.py
  tdrs-backend/tdpservice/data_files/test/test_submission_lifecycle.py
  tdrs-backend/tdpservice/data_files/validators.py
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/parsers/test/integration/conftest.py
  tdrs-backend/tdpservice/parsers/test/integration/test_go_parse.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
  tdrs-backend/tdpservice/scheduling/test/test_parser_task.py
  tdrs-backend/tdpservice/security/clients.py
  tdrs-backend/tdpservice/security/test/test_clamav.py
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-backend/tdpservice/users/test/factories.py
Due: backend

5566 Document parsing/reparsing workflow (#5821)
  docs/Technical-Documentation/README.md
  docs/Technical-Documentation/clean-and-reparse.md
  docs/Technical-Documentation/create-elastic-kibana.md
  docs/Technical-Documentation/diagrams/parsing.drawio
  docs/Technical-Documentation/diagrams/parsing.png
  docs/Technical-Documentation/diagrams/tdp-environments.drawio
  docs/Technical-Documentation/diagrams/tdp-environments.drawio.png
  docs/Technical-Documentation/nexus-repo.md
  docs/Technical-Documentation/parsing-flow.md
  docs/Technical-Documentation/parsing-reparsing-architecture.md
  tdrs-frontend/cypress/e2e/accounts/accounts.js
Due: none

add basic auth to non-production envs
  scripts/deploy-frontend.sh
  tdrs-frontend/nginx/cloud.gov/basic_auth.conf
  tdrs-frontend/nginx/cloud.gov/buildpack.nginx.conf
Due: none

add helper functions for basic auth to cypress commands
  tdrs-frontend/cypress/support/commands.js
Due: none

update develop deployment e2e cypress commands to pass basic auth username and password
  .circleci/deployment/jobs.yml
Due: none

update nginx readme to document basic auth
  tdrs-frontend/nginx/README.md
Due: none

5825 tech memo generic datafile orchestrator submission parse reparse tasks (#5857)
  docs/Technical-Documentation/datafile-lifecycle-orchestrator.md
Due: none

Revise team composition and add past members
  docs/How-We-Work/Team-Composition.md
Due: none

Update Vendor Product Manager contact information
  README.md
Due: none

Add past product team members to documentation
  docs/How-We-Work/Team-Composition.md
Due: none

Correct name format for full stack engineer
  docs/How-We-Work/Team-Composition.md
Due: none

- Update local server database mode to work with shadow tables
  tdrs-services/parser/internal/server/local/local.go
  tdrs-services/parser/internal/server/local/local_test.go
  tdrs-services/parser/internal/testutil/datafile.go
Due: none

- Parse native.go into separate files for easier readability
  tdrs-services/parser/internal/validation/native.go
  tdrs-services/parser/internal/validation/native_adapters.go
  tdrs-services/parser/internal/validation/native_field.go
  tdrs-services/parser/internal/validation/native_group.go
  tdrs-services/parser/internal/validation/native_params.go
  tdrs-services/parser/internal/validation/native_record.go
  tdrs-services/parser/internal/validation/native_specs.go
  tdrs-services/parser/internal/validation/native_values.go
Due: none

- Refactor native validators so that they implement an interface meaning they no longer require nested adapters/decorators to accomplish the same functionality
  tdrs-services/parser/internal/validation/native.go
  tdrs-services/parser/internal/validation/native_adapters.go
  tdrs-services/parser/internal/validation/native_field.go
  tdrs-services/parser/internal/validation/native_group.go
  tdrs-services/parser/internal/validation/native_record.go
  tdrs-services/parser/internal/validation/native_specs.go
Due: none

- Remove native specs since they could be redifined in our validator format
  tdrs-services/parser/internal/validation/native_group.go
  tdrs-services/parser/internal/validation/native_record.go
  tdrs-services/parser/internal/validation/native_specs.go
Due: none

- Only use 4 workers since they are so efficient now
  tdrs-services/parser/config/parser.yaml
Due: none

add workbook layout coverage for error report readme
  tdrs-backend/tdpservice/data_files/test/test_error_reports.py
Due: backend

move error report guidance to readme sheet
  tdrs-backend/tdpservice/data_files/error_reports.py
Due: backend

match error report readme prototype
  tdrs-backend/tdpservice/data_files/error_reports.py
Due: backend

match error report readme header borders and fill
  tdrs-backend/tdpservice/data_files/error_reports.py
  tdrs-backend/tdpservice/data_files/test/test_error_reports.py
Due: backend

- Update migrations script to disable keycloak sync
  scripts/apply-database-config.sh
  tdrs-backend/.env.example
  tdrs-backend/docker-compose.yml
  tdrs-backend/tdpservice/settings/cloudgov.py
  tdrs-backend/tdpservice/settings/common.py
Due: backend

Refactor TDP Error Reporting Research document layout
  docs/User-Experience/Research-Syntheses/2026, Spring - TDP Error Reporting Research.md
Due: none

TOC added
  docs/User-Experience/Research-Syntheses/2026, Spring - TDP Error Reporting Research.md
Due: none

- 'add missing gate
  tdrs-backend/tdpservice/users/keycloak_sync.py
Due: backend

- Don't create client if it is not enabled
  tdrs-backend/tdpservice/users/keycloak_client.py
Due: backend

- revert
  tdrs-backend/tdpservice/users/keycloak_client.py
Due: backend

fix failing tests
  tdrs-backend/tdpservice/data_files/test/test_api.py
Due: backend

- debugging
  scripts/apply-database-config.sh
  tdrs-backend/tdpservice/users/keycloak_sync.py
Due: backend

- use string to bool
  scripts/apply-database-config.sh
  tdrs-backend/.env.example
  tdrs-backend/tdpservice/settings/cloudgov.py
  tdrs-backend/tdpservice/settings/common.py
Due: backend

- Delete debug code
  tdrs-backend/tdpservice/users/keycloak_sync.py
Due: backend

update docs
  docs/Technical-Documentation/circle-ci.md
Due: none

Hide tribal STT feedback report selector
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReports.jsx
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReports.test.js
Due: frontend

fix linting
  tdrs-backend/tdpservice/reports/test/data/FY2025_valid_blackfeet_tribe.zip
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReports.test.js
Due: frontend, backend

refactored duplicat quarter arrays into a shared constant
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReports.jsx
Due: frontend

add condition to reject duplicat stt folders as well as a zip file for testing this manually
  tdrs-backend/tdpservice/reports/tasks.py
  tdrs-backend/tdpservice/reports/test/data/FY2025_invalid_duplicate_stt_relative_paths.zip
  tdrs-backend/tdpservice/reports/test/data/README.md
  tdrs-backend/tdpservice/reports/test/test_tasks.py
Due: backend

use PurePosixPath
  tdrs-backend/tdpservice/reports/tasks.py
Due: backend

Add 2026 Error Reporting Research section to README
  docs/User-Experience/Research-Syntheses/README.md
Due: none

Add link to 2026 Summer Error Reporting Research
  docs/User-Experience/Research-Syntheses/README.md
Due: none

Path conditions:
  frontend: any of: tdrs-frontend/src, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
  backend: any of: tdrs-backend/tdpservice, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
