Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

don't include all a11y tests for every spec run
  tdrs-frontend/cypress/e2e/a11y/a11y.js
  tdrs-frontend/cypress/e2e/a11y/login-error-state.js
  tdrs-frontend/cypress/e2e/a11y/login-helpers.js
  tdrs-frontend/cypress/e2e/a11y/profile-flow.js
  tdrs-frontend/cypress/e2e/accounts/a11y.js
  tdrs-frontend/cypress/e2e/common-steps/a11y.js
  tdrs-frontend/cypress/e2e/profile/a11y.js
  tdrs-frontend/package.json
Due: none

improve datafiles page timing
  tdrs-frontend/cypress/e2e/data-files/file_upload.js
  tdrs-frontend/cypress/e2e/data-files/submission_history.js
Due: none

cache auth state between specs
  tdrs-frontend/cypress/e2e/common-steps/common-steps.js
  tdrs-frontend/cypress/support/commands.js
Due: none

- Added model for feature flag - Added admin interface for feature flag - Added tests and migration
  tdrs-backend/tdpservice/core/admin.py
  tdrs-backend/tdpservice/core/migrations/0003_featureflag.py
  tdrs-backend/tdpservice/core/models.py
  tdrs-backend/tdpservice/core/test/test_admin.py
  tdrs-backend/tdpservice/core/test/test_models.py
Due: backend

- mvp doc
  tdrs-backend/tdpservice/parsers/go-parser/docs/validation-architecture.md
  tdrs-backend/tdpservice/parsers/go-parser/docs/validation-diagrams.md
  tdrs-backend/tdpservice/parsers/go-parser/docs/validation-interfaces.md
Due: backend

- Configurable templates and explicit messages per validator if needed.
  tdrs-backend/tdpservice/parsers/go-parser/docs/validation-architecture.md
  tdrs-backend/tdpservice/parsers/go-parser/docs/validation-diagrams.md
  tdrs-backend/tdpservice/parsers/go-parser/docs/validation-interfaces.md
Due: backend

- Added overarching system mermaid diagram for the current state - Added validation architecture docs
  tdrs-backend/tdpservice/parsers/go-parser/docs/parser_system_diagram.md
  tdrs-backend/tdpservice/parsers/go-parser/docs/validation-architecture.md
  tdrs-backend/tdpservice/parsers/go-parser/docs/validation-interfaces.md
Due: backend

- remove erroneous parser error fields
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/result_router.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/worker/pool.go
Due: backend

- intermediate commit for validation pipeline
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/config/loader.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/context.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/errors/generator.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/orchestrator.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/pools.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/registry/messages.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/registry/validators.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/types.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/validators/comparison.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/validators/comparison_test.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/validators/crossfield.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/validators/date.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/validators/date_test.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/validators/group.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/validators/record.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/validators/register.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/validators/string.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/validators/string_test.go
Due: backend

- refactored packages to make more sense and alleviate the chance for obscure circular iimports
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/accumulator.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/extractor.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/pool.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/transform.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/types.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/config.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/pipeline.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/result_router.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/orchestrator.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/types.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/validators/group.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/writer/convert/fra.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/writer/convert/helpers.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/writer/convert/registry.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/writer/convert/ssp.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/writer/convert/tanf.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/writer/convert/tribal.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/writer/error_generator.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/writer/router.go
Due: backend

- Removed idea of "raw" in favor of decoded - Updated naming conventions
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/accumulator.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/pool.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/types.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/pipeline.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/result_router.go
Due: backend

- Cleaned up naming conventions a bit more
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/config.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/pipeline.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/result_router.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/registry/registry.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/registry/schema_metadata.go
Due: backend

- more naming conventions - convenience script
  tdrs-backend/tdpservice/parsers/go-parser/.gitignore
  tdrs-backend/tdpservice/parsers/go-parser/create_dep_graphs.sh
  tdrs-backend/tdpservice/parsers/go-parser/main.go
Due: backend

- Update naming to have Decoded prefix for easy understanding
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/accumulator.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/pool.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/types.go
Due: backend

- language fix
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/types.go
Due: backend

- todo
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/types.go
Due: backend

- Update ParsedRecords to know their decoded length - Updated validation package to be smarter
  tdrs-backend/tdpservice/parsers/go-parser/internal/decoder/csv.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/decoder/positional.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/decoder/row.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/decoder/xslx.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/types.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/pipeline.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/config/loader.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/context.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/errors/generator.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/orchestrator.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/pools.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/registry/validators.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/types.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/validators/comparison.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/validators/comparison_test.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/validators/crossfield.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/validators/date.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/validators/record.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/validators/string.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/writer/error_generator.go
Due: backend

- remove duplicate error generator
  tdrs-backend/tdpservice/parsers/go-parser/internal/writer/error_generator.go
Due: backend

- introduced the idea of the parsed field to store field schema metadata along with the actual parsed value of the field.
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/extractor.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/header.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/pool.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/types.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/context.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/errors/generator.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/validators/comparison_test.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/validators/record.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/writer/router.go
Due: backend

- Consolidate filespec, schema, and registry into config package
  tdrs-backend/tdpservice/parsers/go-parser/internal/config/filespec/types.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/config/registry.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/config/schema/types.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/config/schema/types_test.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/config/schema_metadata.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/decoder/csv.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/decoder/decoder.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/decoder/positional.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/decoder/xslx.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/accumulator.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/detector.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/extractor.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/header.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/pool.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/types.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/decoder_factory.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/pipeline.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/config/loader.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/context.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/errors/generator.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/validators/comparison_test.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/writer/router.go
  tdrs-backend/tdpservice/parsers/go-parser/main.go
Due: backend

- rename to db meta for easy understanding
  tdrs-backend/tdpservice/parsers/go-parser/internal/config/db_metadata.go
Due: backend

- Updated tanf s1 to test out new config options - Move validation config definitions to config package - UPdate schema and file spec to leverage validator configs
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/tanf/s1.yaml
  tdrs-backend/tdpservice/parsers/go-parser/internal/config/filespec/types.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/config/schema/types.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/config/validation/types.go
Due: backend

- Add default validator message template configs
  tdrs-backend/tdpservice/parsers/go-parser/config/validation/messages.yaml
  tdrs-backend/tdpservice/parsers/go-parser/internal/config/registry.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/config/validation/types.go
Due: backend

- Add Getter
  tdrs-backend/tdpservice/parsers/go-parser/internal/config/registry.go
Due: backend

- UPdate validaiton package refs
  tdrs-backend/tdpservice/parsers/go-parser/internal/config/registry.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/config/loader.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/errors/generator.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/orchestrator.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/registry/context.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/registry/pools.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/registry/validators.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/types.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/validators/comparison.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/validators/comparison_test.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/validators/crossfield.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/validators/date.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/validators/group.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/validators/record.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/validators/string.go
Due: backend

- Update script
  tdrs-backend/tdpservice/parsers/go-parser/create_dep_graphs.sh
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/errors/generator.go
Due: backend

- rename to config
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/orchestrator.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/registry/validators.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/validators/comparison_test.go
Due: backend

- remove types file
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/orchestrator.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/validation/types.go
Due: backend

rm missing ref
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
Due: none

add bidirectional query params and use queryparams to filter alerts links for centralized feedback
  tdrs-backend/tdpservice/email/templates/feedback/report-available.html
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportAlert.jsx
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportAlert.test.js
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReports.jsx
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReports.test.js
Due: frontend, backend

- Update test with missing permissions
  tdrs-backend/tdpservice/users/test/test_permissions.py
Due: backend

- naming updates
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/pipeline.go
Due: backend

- Introducing expression based validation system design doc
  tdrs-backend/tdpservice/parsers/go-parser/docs/expression_based_validation_design.md
Due: backend

- Updated to add links to respective expr docs
  tdrs-backend/tdpservice/parsers/go-parser/docs/expression_based_validation_design.md
Due: backend

- Updated storage backend to store the currently used s3 version id so that the view can access it later.
  tdrs-backend/tdpservice/backends.py
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

- Update to make retrieving the version from the storage object thread safe
  tdrs-backend/tdpservice/backends.py
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

Add sprint summary for 2026-01-20
  sprint-summary-2026-01-20.md
Due: none

-updated so that open feedback widget accepts the submitted files as a parameter - Update submit to return the submitted files
  tdrs-frontend/src/actions/reports.js
  tdrs-frontend/src/components/Reports/ReportsContext.jsx
  tdrs-frontend/src/hooks/useFileUploadForm.js
Due: frontend

- linting
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

- Create new link component - Updated throughtout to use new link component
  tdrs-frontend/src/components/Feedback/Feedback.jsx
  tdrs-frontend/src/components/Link/Link.jsx
  tdrs-frontend/src/components/Link/index.js
  tdrs-frontend/src/components/NavItem/NavItem.jsx
  tdrs-frontend/src/components/NoMatch/NoMatch.jsx
  tdrs-frontend/src/components/ResourceCards/ResourceCards.jsx
  tdrs-frontend/src/components/SplashPage/SplashPage.jsx
Due: frontend

Path conditions:
  frontend: any of: tdrs-frontend/src, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
  backend: any of: tdrs-backend/tdpservice, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
