Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 95%
        flags:
          - backend

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

test
  tdrs-backend/tdpservice/conftest.py
  tdrs-backend/tdpservice/users/test/test_auth.py
Due: backend

test 2
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-backend/tdpservice/users/test/test_auth.py
Due: backend

test 2
  tdrs-backend/tdpservice/users/api/login.py
Due: backend

test with ams state factory
  tdrs-backend/tdpservice/users/test/test_auth.py
Due: backend

Update "where its used" for deploy infrastructure sections
  scripts/README.md
Due: none

name space migration functions
  commands.sh
Due: none

refactor: re-introduce ci success requirement
  .github/workflows/deploy-on-label.yml
Due: none

add a11y label to frontend dependabot prs
  .github/dependabot.yml
Due: none

updated TOC and secret key md
  docs/Security-Compliance/README.md
  docs/Security-Compliance/Secret-Key-Mgmt.md
Due: none

Update docs/Security-Compliance/Secret-Key-Mgmt.md
  docs/Security-Compliance/Secret-Key-Mgmt.md
Due: none

fix: logout uri params
  tdrs-backend/tdpservice/users/api/logout_redirect_oidc.py
Due: backend

added readme to subdir
  docs/Sprint-Review/README.md
Due: none

refactor: various nits and fixes
  docs/Technical-Documentation/remote-development.md
  tdrs-backend/README.md
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/urls.py
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-backend/tdpservice/users/models.py
Due: backend

testing other changes
  .circleci/config.yml
  tdrs-backend/Dockerfile
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
Due: none

python v3.9.9 instead
  .circleci/config.yml
Due: none

Updates per running trufflehog locally
  scripts/trufflehog-check.sh
  tdrs-backend/Dockerfile
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
Due: none

trying 3.10
  tdrs-backend/.myoldpiplock
  tdrs-backend/Dockerfile
  tdrs-backend/Pipfile
Due: none

typos on these files, 3.10
  .circleci/config.yml
  scripts/trufflehog-check.sh
Due: none

updating lock file
  tdrs-backend/Pipfile.lock
Due: none

messed up my pipfile which is why flake8 wasn't found
  tdrs-backend/.myoldpiplock
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
Due: none

fix: change backend login_url redirect to frontend url
  tdrs-backend/tdpservice/settings/common.py
Due: backend

Adding my tests to latest from 1136 AMS ticket/branch
  tdrs-backend/tdpservice/users/test/test_auth.py
Due: backend

It's messy, but I finally got a successful test on the base case for an admin user w/ acf email. Want to save state
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-backend/tdpservice/users/test/test_auth.py
Due: backend

Admin test now uses acf email
  tdrs-backend/tdpservice/users/test/test_auth.py
Due: backend

Tests and code are working, side-stepped an inheritance issue, will need to refactor for cleanliness
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-backend/tdpservice/users/test/test_auth.py
Due: backend

First draft, will submit to draft PR for feedback
  docs/Technical-Documentation/Architecture-Decision-Record/017-elastisearch.md
Due: none

test: tweak customauthentication test
  tdrs-backend/tdpservice/users/test/factories.py
  tdrs-backend/tdpservice/users/test/test_auth.py
Due: backend

Adding debug logging for looking at requests.META
  tdrs-backend/tdpservice/users/api/login.py
Due: backend

Move preventDefault inside condition
  tdrs-frontend/src/components/Header/Header.jsx
Due: frontend
