Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

generate parser error from parse_and_validate
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

update tests to utilize parser error
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

saving state before new 1610 merge
  tdrs-backend/tdpservice/parsers/admin.py
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/schema_defs/header.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/trailer.py
  tdrs-backend/tdpservice/parsers/test/test_summary.py
  tdrs-backend/tdpservice/parsers/test/test_util.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/parsers/validators.py
Due: backend

updating csv file columns after talking with ux (#2472)
  tdrs-backend/tdpservice/parsers/models.py
  tdrs-backend/tdpservice/parsers/test/factories.py
  tdrs-backend/tdpservice/parsers/test/test_serializer.py
  tdrs-backend/tdpservice/parsers/views.py
Due: backend

Resolving merge conflicts with 1610.
  tdrs-backend/tdpservice/parsers/migrations/0002_alter_parsererror_error_type.py
  tdrs-backend/tdpservice/parsers/migrations/0002_datafilesummary.py
  tdrs-backend/tdpservice/parsers/models.py
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/test/factories.py
  tdrs-backend/tdpservice/parsers/test/test_summary.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/parsers/validators.py
Due: backend

Linting changes and comparing to 1610
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/test/test_summary.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
Due: backend

Some unit test linting but inherited 1610 issues
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/test/test_summary.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
Due: backend

Re-ordering job to run tests vs lint first.
  .circleci/build-and-test/jobs.yml
Due: none

Updates to linting and unit tests.
  tdrs-backend/setup.cfg
  tdrs-backend/tdpservice/parsers/models.py
  tdrs-backend/tdpservice/users/test/test_permissions.py
Due: backend

fix linter errors
  tdrs-backend/tdpservice/data_files/models.py
  tdrs-backend/tdpservice/parsers/models.py
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m1.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/test/test_util.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/parsers/validators.py
Due: backend

rm unused
  tdrs-backend/tdpservice/data_files/models.py
Due: backend

extra blank
  tdrs-backend/tdpservice/data_files/models.py
Due: backend

Fixing linting.
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/test/test_summary.py
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

Update tdrs-backend/setup.cfg
  tdrs-backend/setup.cfg
Due: none

2498 nightly scan bug fix (#2506)
  .circleci/owasp/jobs.yml
  scripts/zap-scanner.sh
  tdrs-frontend/nginx/cloud.gov/buildpack.nginx.conf
  tdrs-frontend/nginx/local/default.conf.template
  tdrs-frontend/nginx/local/locations.conf
Due: none

added parameters to config.yml that were already in base_config.yml
  .circleci/config.yml
Due: none

put 'when' keyword in the correct block
  .circleci/build-and-test/jobs.yml
Due: none

trying to get conditional syntax right'
  .circleci/build-and-test/jobs.yml
Due: none

trying to get conditional syntax right
  .circleci/build-and-test/jobs.yml
Due: none

linter fixes
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m1.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/test/test_util.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/parsers/validators.py
Due: backend

fix conflict
  tdrs-backend/tdpservice/parsers/parse.py
Due: backend

impl ParserErrorCategoryChoices
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/parsers/validators.py
Due: backend

moved attempted logic out of jobs and into workflows.
  .circleci/build-and-test/jobs.yml
  .circleci/build-and-test/workflows.yml
  .github/workflows/build-all-on-pr.yml
Due: none

2274 cypress user approval (#2470)
  .circleci/build-and-test/jobs.yml
  docs/Technical-Documentation/cypress-integration-tests.md
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-backend/tdpservice/users/management/commands/delete_cypress_users.py
  tdrs-backend/tdpservice/users/management/commands/generate_cypress_users.py
  tdrs-frontend/cypress.config.js
  tdrs-frontend/cypress/e2e/accounts/accounts.feature
  tdrs-frontend/cypress/e2e/accounts/accounts.js
  tdrs-frontend/cypress/e2e/accounts/steps.js
  tdrs-frontend/cypress/e2e/common-steps/common-steps.js
  tdrs-frontend/cypress/support/commands.js
  tdrs-frontend/nginx/cloud.gov/locations.conf
  tdrs-frontend/nginx/local/default.conf.template
  tdrs-frontend/nginx/local/locations.conf
  tdrs-frontend/package.json
  tdrs-frontend/src/actions/requestAccess.js
Due: frontend, backend

updated logic for when workflows should run and added utility and infrastructure to filters
  .circleci/base_config.yml
  .circleci/config.yml
  .circleci/infrastructure/workflows.yml
  .circleci/util/workflows.yml
  .github/workflows/build-all-on-pr.yml
  .github/workflows/build-frontend.yml
  .github/workflows/deploy-infrastructure.yml
  .github/workflows/make_erd.yml
Due: none

fixed spacing on make_erd?
  .circleci/util/workflows.yml
Due: none

updated make_erd job to string since not passing parameters to map anymore
  .circleci/util/workflows.yml
Due: none

rm commented schema fields
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m1.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
Due: backend

innocuous change to backend/ to test filtering
  tdrs-backend/Dockerfile
Due: none

fixed spacing
  .github/workflows/build-all-on-pr.yml
  .github/workflows/build-backend.yml
  .github/workflows/build-frontend.yml
  .github/workflows/deploy-develop-on-merge.yml
  .github/workflows/deploy-infrastructure.yml
  .github/workflows/deploy-on-label.yml
  .github/workflows/make_erd.yml
  .github/workflows/qasp-owasp-scan.yml
Due: none

fixed spacing on make_erd, ignoreing main and master for front/backend only builds
  .github/workflows/build-all.yml
  .github/workflows/build-backend.yml
  .github/workflows/build-frontend.yml
  .github/workflows/make_erd.yml
Due: none

fixed spacing on make_erd
  .github/workflows/make_erd.yml
Due: none

changing backend file to test filtering
  tdrs-backend/Dockerfile
Due: none

nest branches-ignore in push block
  .github/workflows/build-backend.yml
  .github/workflows/build-frontend.yml
Due: none

trying different condition, 'not' doesn't seem to be working as expected
  .circleci/build-and-test/workflows.yml
Due: none

still trying different conditionals for circleci for filtering on
  .circleci/base_config.yml
  .circleci/build-and-test/workflows.yml
  .circleci/config.yml
  .github/workflows/build-backend.yml
Due: none

Path conditions:
  frontend: any of: tdrs-frontend/src, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
  backend: any of: tdrs-backend/tdpservice, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
