Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

- quick hack for Alex
  .circleci/build-and-test/workflows.yml
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

- revert workflow
  .circleci/build-and-test/workflows.yml
Due: none

- dummy changes
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

Revert "- quick hack for Alex"
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

- revert
  tdrs-backend/tdpservice/parsers/parse.py
Due: backend

linter errors
  tdrs-backend/tdpservice/parsers/case_consistency_validator.py
  tdrs-backend/tdpservice/parsers/schema_defs/header.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m1.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m4.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m5.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m6.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m7.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t6.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t7.py
  tdrs-backend/tdpservice/parsers/schema_defs/trailer.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t6.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t7.py
  tdrs-backend/tdpservice/parsers/test/test_util.py
  tdrs-backend/tdpservice/parsers/validators/base.py
  tdrs-backend/tdpservice/parsers/validators/category1.py
  tdrs-backend/tdpservice/parsers/validators/category2.py
  tdrs-backend/tdpservice/parsers/validators/category3.py
  tdrs-backend/tdpservice/parsers/validators/test/test_base.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category1.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category2.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category3.py
  tdrs-backend/tdpservice/parsers/validators/test/test_util.py
  tdrs-backend/tdpservice/parsers/validators/util.py
Due: backend

fix cat3 messages
  tdrs-backend/tdpservice/parsers/validators/category3.py
Due: backend

- overwrite for test purpose
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

- comment out for convenience
  .github/workflows/deploy-on-label.yml
Due: none

update tests
  tdrs-backend/tdpservice/parsers/validators/category3.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category3.py
Due: backend

custom header validator
  tdrs-backend/tdpservice/parsers/schema_defs/header.py
  tdrs-backend/tdpservice/parsers/validators/category2.py
Due: backend

comment out strange cases
  tdrs-backend/tdpservice/parsers/validators/test/test_base.py
Due: backend

cleanups
  tdrs-backend/tdpservice/parsers/validators/category1.py
  tdrs-backend/tdpservice/parsers/validators/category2.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category2.py
Due: backend

Revert "- overwrite for test purpose"
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

Revert "- comment out for convenience"
  .github/workflows/deploy-on-label.yml
Due: none

Update team-meetings.md (#3118)
  docs/How-We-Work/team-meetings.md
Due: none

change
  tdrs-backend/tdpservice/data_files/util.py
Due: backend

undo
  tdrs-backend/tdpservice/data_files/util.py
Due: backend

lint
  tdrs-backend/tdpservice/parsers/validators/category2.py
Due: backend

Create sprint-102-summary.md (#3063)
  docs/Sprint-Review/sprint-102-summary.md
Due: none

sprint-103-summary.md (#3105)
  README.md
  docs/Sprint-Review/sprint-103-summary.md
Due: none

remove title, match aria-label to link text
  tdrs-frontend/src/components/Header/Header.jsx
Due: frontend

update txt
  tdrs-frontend/src/components/Header/Header.jsx
Due: frontend

update test
  tdrs-frontend/src/components/Header/Header.test.js
Due: frontend

updating qtr range
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m6.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m7.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t6.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t7.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t6.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t7.py
Due: backend

updating readmes regarding dev envs (#3127)
  README.md
  docs/Technical-Documentation/TDP-environments-README.md
Due: none

- Updated cat4 validator to use correct logic on REC_SSI validators - Updated tessts
  tdrs-backend/tdpservice/parsers/case_consistency_validator.py
  tdrs-backend/tdpservice/parsers/test/test_case_consistency.py
Due: backend

- Add task for upload
  Taskfile.yml
Due: none

functional imports
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/schema_defs/header.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m1.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m4.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m5.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m6.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m7.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t6.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t7.py
  tdrs-backend/tdpservice/parsers/schema_defs/trailer.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t6.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t7.py
  tdrs-backend/tdpservice/parsers/validators/base.py
  tdrs-backend/tdpservice/parsers/validators/category1.py
  tdrs-backend/tdpservice/parsers/validators/category2.py
  tdrs-backend/tdpservice/parsers/validators/category3.py
  tdrs-backend/tdpservice/parsers/validators/test/test_base.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category1.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category2.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category3.py
Due: backend

fix header/trailer imports
  tdrs-backend/tdpservice/parsers/schema_defs/header.py
  tdrs-backend/tdpservice/parsers/schema_defs/trailer.py
Due: backend

fix parse imports
  tdrs-backend/tdpservice/parsers/parse.py
Due: backend

lint
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m7.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t7.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t7.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category3.py
Due: backend

base validator decorator
  tdrs-backend/tdpservice/parsers/validators/base.py
Due: backend

docstrings
  tdrs-backend/tdpservice/parsers/validators/base.py
Due: backend

cat2/3 validator decorator
  tdrs-backend/tdpservice/parsers/validators/category2.py
  tdrs-backend/tdpservice/parsers/validators/category3.py
  tdrs-backend/tdpservice/parsers/validators/util.py
Due: backend

- Jsut committing to not lose state
  nexus/README.md
  nexus/docker-compose.yml
Due: none

Create sprint-104-summary
  docs/Sprint-Review/sprint-104-summary
Due: none

if then -> since then
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/parsers/validators/category3.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category3.py
Due: backend

Delete tdrs-backend/tdpservice/parsers/schema_defs/util.py (#3132)
  tdrs-backend/tdpservice/parsers/schema_defs/util.py
Due: backend

fix cat3 if -> since
  tdrs-backend/tdpservice/parsers/validators/category3.py
Due: backend

Path conditions:
  frontend: any of: tdrs-frontend/src, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
  backend: any of: tdrs-backend/tdpservice, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
