Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Commit env
  tdrs-frontend/.env
Due: none

Update cloudgov.py
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

Update with Steve
  README.md
Due: none

Update Team-Composition.md
  docs/How-We-Work/Team-Composition.md
Due: none

Update docs/How-We-Work/Team-Composition.md
  docs/How-We-Work/Team-Composition.md
Due: none

Create Stakeholders-And-Personas.md
  docs/User-Experience/Stakeholders-And-Personas.md
Due: none

Update and rename Stakeholders-And-Personas.md to Stakeholders-and-Personas.md
  docs/User-Experience/Stakeholders-and-Personas.md
Due: none

Adds link to restored doc to readme
  docs/User-Experience/README.md
Due: none

Update README.md
  docs/User-Experience/README.md
Due: none

update django admin 508 to 0.1.6
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
Due: none

fix: validation
  tdrs-frontend/src/components/Home/Home.jsx
Due: frontend

Delete Stakeholders-and-Personas.md
  docs/User-Experience/Stakeholders-and-Personas.md
Due: none

Update existing markdown doc with updated content
  docs/User-Experience/Research-Syntheses/2020, Summer - Understanding Stakeholders and creating personas.md
Due: none

Fixes small layout issue
  docs/User-Experience/Research-Syntheses/2020, Summer - Understanding Stakeholders and creating personas.md
Due: none

Updates readme with a non placeholder description for stakeholders doc
  docs/User-Experience/Research-Syntheses/README.md
Due: none

Updates main UX readme with direct link to stakeholders and personas doc
  docs/User-Experience/README.md
Due: none

Corrects link
  docs/User-Experience/README.md
Due: none

Update docs/User-Experience/README.md
  docs/User-Experience/README.md
Due: none

Update docs/User-Experience/Research-Syntheses/2020, Summer - Understanding Stakeholders and creating personas.md
  docs/User-Experience/Research-Syntheses/2020, Summer - Understanding Stakeholders and creating personas.md
Due: none

fix: frontend tests
  tdrs-frontend/src/components/Home/Home.test.jsx
Due: frontend

Create sprint-42-summary.md
  docs/Sprint-Review/sprint-42-summary.md
Due: none

fix: stt form validation
  tdrs-frontend/src/actions/requestAccess.js
  tdrs-frontend/src/components/Home/Home.jsx
Due: frontend

remove old permission code
  tdrs-frontend/src/components/Header/Header.jsx
Due: frontend

Add new permission code with helpers
  tdrs-frontend/src/components/Header/Header.jsx
Due: frontend

update tests to pass for new changes
  tdrs-frontend/src/components/Header/Header.test.js
Due: frontend

1561: Changed redirect
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/users/api/login_redirect_oidc.py
Due: backend

Update docs/Sprint-Review/sprint-42-summary.md
  docs/Sprint-Review/sprint-42-summary.md
Due: none

remove unused code
  tdrs-frontend/src/components/Header/Header.jsx
Due: frontend

Adds submission history dev ready PDFs
  docs/User-Experience/Dev-Ready-Designs/Submission History V2.pdf
  docs/User-Experience/Dev-Ready-Designs/Submission History V3.pdf
Due: none

Update README.md
  docs/User-Experience/Dev-Ready-Designs/README.md
Due: none

one line change for a default
  tdrs-backend/tdpservice/settings/common.py
Due: backend

Added set-backend for all runs of deploy_backend for testing -- hope this always sets updated vars now
  scripts/deploy-backend.sh
Due: none

Create Sitemap Survey Research Synthesis.md
  docs/User-Experience/Research-Syntheses/Sitemap Survey Research Synthesis.md
Due: none

Fix prettier linting issue
  tdrs-frontend/src/components/Header/Header.jsx
Due: frontend

Developers can now have an stt assigned to them
  tdrs-backend/tdpservice/users/admin.py
  tdrs-backend/tdpservice/users/models.py
Due: backend

new alias
  commands.sh
Due: none

Path conditions:
  frontend: any of: tdrs-frontend/src
  backend: any of: tdrs-backend/tdpservice
