Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

- Delete old internal - Keep celery and s3 modules
  tdrs-backend/tdpservice/parsers/go-parser/internal-Eric/parser/base.go
  tdrs-backend/tdpservice/parsers/go-parser/internal-Eric/parser/decoder.go
  tdrs-backend/tdpservice/parsers/go-parser/internal-Eric/parser/enums.go
  tdrs-backend/tdpservice/parsers/go-parser/internal-Eric/parser/factory.go
  tdrs-backend/tdpservice/parsers/go-parser/internal-Eric/parser/interface.go
  tdrs-backend/tdpservice/parsers/go-parser/internal-Eric/parser/tdr.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/celery/redis_worker.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/storage/blob.go
  tdrs-backend/tdpservice/parsers/go-parser/main.go
Due: backend

- Add remaining tanf section file specs and record schemas. - Add item numbers for all
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/tanf_section2.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/tanf_section3.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/tanf_section4.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tanf/t1.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tanf/t2.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tanf/t3.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tanf/t4.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tanf/t5.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tanf/t6.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tanf/t7.yaml
Due: backend

- New structure to handle parsing multipe records per line
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/common/header.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/common/trailer.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tanf/t1.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tanf/t2.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tanf/t3.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tanf/t4.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tanf/t5.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tanf/t6.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tanf/t7.yaml
  tdrs-backend/tdpservice/parsers/go-parser/internal/registry/schema_metadata.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/schema/types.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/schema/types_test.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/worker/pool.go
Due: backend

- Handle not creating segments if they are missing data
  tdrs-backend/tdpservice/parsers/go-parser/internal/worker/pool.go
Due: backend

- Added paths for other sections
  tdrs-backend/tdpservice/parsers/go-parser/main.go
Due: backend

- removed suffix
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tanf/t7.yaml
Due: backend

- Added logic or transfrom fields - Added logic for header extraction
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tanf/t2.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tanf/t3.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tanf/t4.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tanf/t5.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tanf/t6.yaml
  tdrs-backend/tdpservice/parsers/go-parser/docs/transform-field-design.md
  tdrs-backend/tdpservice/parsers/go-parser/internal/converter/registry.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/converter/ssp.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/converter/tanf.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/converter/tribal.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/decoder/csv.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/decoder/decoder.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/decoder/positional.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/decoder/xslx.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/extractor.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/header.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/schema/types.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/transform/transform.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/worker/pool.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/writer/manager.go
  tdrs-backend/tdpservice/parsers/go-parser/main.go
Due: backend

- Remove need for dual extract functions. one interface is enough
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/extractor.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/parser/header.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/worker/pool.go
  tdrs-backend/tdpservice/parsers/go-parser/main.go
Due: backend

- Fixed incorrect t7 schema
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tanf/t7.yaml
Due: backend

- Add other test file types
  tdrs-backend/tdpservice/parsers/go-parser/main.go
Due: backend

Add sprint summary for 2026-01-06
  sprint-summary-2026-01-06.md
Due: none

- Add remaining schemas even though friendly names are wrong - organize file specs in nested directories
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/fra/s1.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/ssp/s1.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/ssp/s2.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/ssp/s3.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/ssp/s4.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/tanf/s1.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/tanf/s2.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/tanf/s3.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/tanf/s4.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/tribal/s1.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/tribal/s2.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/tribal/s3.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/tribal/s4.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/fra/te1.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/ssp/m1.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/ssp/m2.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/ssp/m3.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/ssp/m4.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/ssp/m5.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/ssp/m6.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/ssp/m7.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tribal_tanf/t1.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tribal_tanf/t2.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tribal_tanf/t3.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tribal_tanf/t4.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tribal_tanf/t5.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tribal_tanf/t6.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tribal_tanf/t7.yaml
  tdrs-backend/tdpservice/parsers/go-parser/internal/registry/registry.go
Due: backend

- Add missing fra table to schema - update schema file wiht missing field - update to handle converting parsed records to TE1 records
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/fra/te1.yaml
  tdrs-backend/tdpservice/parsers/go-parser/internal/converter/fra.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/converter/registry.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/db/models.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/registry/schema_metadata.go
  tdrs-backend/tdpservice/parsers/go-parser/schema.sql
Due: backend

- remove child 2 helper
  tdrs-backend/tdpservice/parsers/go-parser/internal/converter/helpers.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/converter/tanf.go
Due: backend

- Updated tribal schemas with correct program type - added tests for all tanf tribal ssp fra files - updated converter registry to use correct path for tribal converters
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/fra/s1.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/tribal/s1.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/tribal/s2.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/tribal/s3.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/tribal/s4.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/ssp/m2.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/ssp/m3.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/ssp/m5.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/ssp/m6.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tribal_tanf/t1.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tribal_tanf/t2.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tribal_tanf/t3.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tribal_tanf/t4.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tribal_tanf/t5.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tribal_tanf/t6.yaml
  tdrs-backend/tdpservice/parsers/go-parser/config/schemas/tribal_tanf/t7.yaml
  tdrs-backend/tdpservice/parsers/go-parser/internal/converter/registry.go
  tdrs-backend/tdpservice/parsers/go-parser/main.go
Due: backend

- delete old main
  tdrs-backend/tdpservice/parsers/go-parser/main.go
Due: backend

- add big file for speed tests
  tdrs-backend/tdpservice/parsers/go-parser/main.go
Due: backend

- Add timing - Update pool to always have live connections
  tdrs-backend/tdpservice/parsers/go-parser/main.go
Due: backend

add new queryset filter for reports view to get the latest report
  tdrs-backend/tdpservice/reports/test/test_views.py
  tdrs-backend/tdpservice/reports/views.py
Due: backend

move the fetchflatestFeedbackReport method from TanfSspReports.jsx to FeedbackReportAlert.jsx. Also removed the proptType usage
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportAlert.jsx
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportAlert.test.js
  tdrs-frontend/src/components/Reports/tdr/TanfSspReports.jsx
Due: frontend

Filter by year on api call instead of client side and remove search button
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReports.jsx
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReports.test.js
Due: frontend

remove PropTypes
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReportsTable.jsx
Due: frontend

extract blob download to a re-useable method
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReportsTable.jsx
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReportsTable.test.js
  tdrs-frontend/src/utils/fileDownload.js
  tdrs-frontend/src/utils/fileDownload.test.js
Due: frontend

fix failing backend test for reports/views.py
  tdrs-backend/tdpservice/reports/test/test_views.py
Due: backend

fix failing frontend tests
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportAlert.test.js
  tdrs-frontend/src/components/FeedbackReports/FeedbackReports.test.js
Due: frontend

add JEST_ARG variable to frontend-test task
  Taskfile.yml
Due: none

- Initial parallel write design
  tdrs-backend/tdpservice/parsers/go-parser/docs/parallel_writer_design.md
Due: backend

fix linting errors
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReports.test.js
  tdrs-frontend/src/utils/fileDownload.test.js
Due: frontend

- Update doc to allow parallel routing to writers
  tdrs-backend/tdpservice/parsers/go-parser/docs/parallel_writer_design.md
Due: backend

- Updated table writers to execute in parallel - Updated ParsedBatch collector to feed parallel routers to write parsed batches
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/tanf/s1.yaml
  tdrs-backend/tdpservice/parsers/go-parser/docs/findings_and_tests.md
  tdrs-backend/tdpservice/parsers/go-parser/internal/worker/pool.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/writer/manager.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/writer/writer.go
  tdrs-backend/tdpservice/parsers/go-parser/main.go
Due: backend

- make record channel buffer much smaller
  tdrs-backend/tdpservice/parsers/go-parser/internal/writer/writer.go
Due: backend

- MVP object pooling desing
  tdrs-backend/tdpservice/parsers/go-parser/docs/object_pooling_design.md
Due: backend

- Completed object pool design
  tdrs-backend/tdpservice/parsers/go-parser/docs/object_pooling_design.md
Due: backend

- MVP integration test suite
  tdrs-backend/tdpservice/parsers/go-parser/internal/integration/helpers.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/integration/integration_test.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/integration/tanf_test.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/worker/pool.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/writer/manager.go
  tdrs-backend/tdpservice/parsers/go-parser/main.go
Due: backend

- Rename manager to router - Update refs across code
  tdrs-backend/tdpservice/parsers/go-parser/internal/integration/helpers.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/writer/router.go
  tdrs-backend/tdpservice/parsers/go-parser/main.go
Due: backend

- TODOs
  tdrs-backend/tdpservice/parsers/go-parser/main.go
Due: backend

- Create pipeline package to move pipeline parsing logic out of main.go into reuseable package
  tdrs-backend/tdpservice/parsers/go-parser/internal/integration/helpers.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/config.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/decoder_factory.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/pipeline.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/pipeline/result_router.go
  tdrs-backend/tdpservice/parsers/go-parser/internal/worker/pool.go
  tdrs-backend/tdpservice/parsers/go-parser/main.go
Due: backend

- batch size of 10 for now - use big file
  tdrs-backend/tdpservice/parsers/go-parser/config/filespecs/tanf/s1.yaml
  tdrs-backend/tdpservice/parsers/go-parser/main.go
Due: backend

- Created helper functions to validate textual dates - Updated view generator to leverage new functions to validate both dob and rpt_month_year
  tdrs-backend/plg/grafana_views/generate_views.py
  tdrs-backend/plg/grafana_views/helper_functions.sql
Due: none

- update description
  tdrs-backend/plg/grafana_views/helper_functions.sql
Due: none

Path conditions:
  frontend: any of: tdrs-frontend/src, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
  backend: any of: tdrs-backend/tdpservice, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
