Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 90%
        flags:
          - backend
    patch: off

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

ignore:
  - "tdrs-backend/tdpservice/scheduling/db_backup.py"

fix validation and model relationships
  tdrs-backend/tdpservice/data_files/migrations/0019_alter_datafile_section.py
  tdrs-backend/tdpservice/data_files/models.py
  tdrs-backend/tdpservice/parsers/factory.py
  tdrs-backend/tdpservice/parsers/parser_classes/program_audit_parser.py
  tdrs-backend/tdpservice/parsers/schema_defs/__init__.py
  tdrs-backend/tdpservice/parsers/schema_defs/program_audit/__init__.py
  tdrs-backend/tdpservice/parsers/schema_defs/program_audit/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/program_audit/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/program_audit/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/utils.py
  tdrs-backend/tdpservice/parsers/schema_manager.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

- Add new setting to manage the max expected number of records in a case - Use setting in case consistency validator
  tdrs-backend/tdpservice/parsers/case_consistency_validator.py
  tdrs-backend/tdpservice/settings/common.py
Due: backend

- linting
  tdrs-backend/tdpservice/parsers/tdr_parser.py
Due: backend

- field correction
  docs/Technical-Documentation/tech-memos/type_casting.md
Due: none

- Update error report generator to make the new error critical - Update the error generator function to have all the correct info for the error report - use correct call from error factory
  tdrs-backend/tdpservice/data_files/error_reports.py
  tdrs-backend/tdpservice/parsers/tdr_parser.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
Due: backend

- Update test doc string
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

make existing_permission a bool
  tdrs-backend/tdpservice/users/serializers.py
Due: backend

update request_change method on change request model to grab user permission directly so current_value is correct for superusers as well
  tdrs-backend/tdpservice/users/models.py
Due: backend

remove import statement
  tdrs-backend/tdpservice/email/helpers/profile_change_request.py
Due: backend

- increment errors and call bulk create to ensure we dont overflow the errors cache
  tdrs-backend/tdpservice/parsers/tdr_parser.py
Due: backend

- Use radio component on Reports page - Rename UploadReport to FileInputForm since it is more clear
  tdrs-frontend/src/components/FileUploadForm/FileUploadForm.js
  tdrs-frontend/src/components/FileUploadForm/FileUploadForm.jsx
  tdrs-frontend/src/components/FileUploadForm/index.js
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/UploadReport/index.js
Due: frontend

- rename to test file to match repo standard
  tdrs-frontend/src/components/FileUploadForm/FileUploadForm.test.js
Due: frontend

move parser_classes
  tdrs-backend/tdpservice/parsers/factory.py
  tdrs-backend/tdpservice/parsers/parser_classes/base_parser.py
  tdrs-backend/tdpservice/parsers/parser_classes/fra_parser.py
  tdrs-backend/tdpservice/parsers/parser_classes/tdr_parser.py
Due: backend

add program audit classes
  tdrs-backend/tdpservice/parsers/parser_classes/program_audit_parser.py
  tdrs-backend/tdpservice/parsers/schema_defs/__init__.py
  tdrs-backend/tdpservice/parsers/schema_defs/program_audit/__init__.py
  tdrs-backend/tdpservice/parsers/schema_defs/program_audit/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/program_audit/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/program_audit/t3.py
  tdrs-backend/tdpservice/search_indexes/models/__init__.py
  tdrs-backend/tdpservice/search_indexes/models/program_audit.py
Due: backend

test stub
  .pre-commit-config.yaml
  tdrs-backend/tdpservice/parsers/test/conftest.py
  tdrs-backend/tdpservice/parsers/test/data/PI_Audit_FTANF.txt
  tdrs-backend/tdpservice/parsers/test/data/PI_Audit_space-fill.txt
  tdrs-backend/tdpservice/parsers/test/data/PI_Audit_zero-fill.txt
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

fix duplicate detection
  tdrs-backend/tdpservice/parsers/schema_defs/program_audit/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/program_audit/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/program_audit/t3.py
Due: backend

migrations
  tdrs-backend/tdpservice/search_indexes/migrations/0036_programaudit_t1_programaudit_t2_programaudit_t3.py
Due: backend

add program audit section
  tdrs-backend/tdpservice/data_files/migrations/0019_alter_datafile_section.py
  tdrs-backend/tdpservice/data_files/models.py
  tdrs-backend/tdpservice/parsers/factory.py
Due: backend

- Fix order of subtraction
  tdrs-backend/tdpservice/parsers/base_parser.py
Due: backend

cat 1-3 validation
  tdrs-backend/tdpservice/data_files/models.py
  tdrs-backend/tdpservice/parsers/parser_classes/program_audit_parser.py
  tdrs-backend/tdpservice/parsers/schema_defs/program_audit/__init__.py
  tdrs-backend/tdpservice/parsers/schema_defs/program_audit/header.py
  tdrs-backend/tdpservice/parsers/schema_defs/program_audit/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/program_audit/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/program_audit/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/program_audit/trailer.py
  tdrs-backend/tdpservice/parsers/schema_defs/utils.py
  tdrs-backend/tdpservice/parsers/schema_manager.py
  tdrs-backend/tdpservice/parsers/validators/category1.py
  tdrs-backend/tdpservice/search_indexes/migrations/0036_programaudit_t1_programaudit_t2_programaudit_t3.py
  tdrs-backend/tdpservice/search_indexes/models/program_audit.py
Due: backend

rename migration
  tdrs-backend/tdpservice/users/migrations/0050_feedback_addmetafields.py
Due: backend

fix data types
  tdrs-frontend/src/components/Feedback/Feedback.jsx
  tdrs-frontend/src/components/Feedback/FeedbackForm.jsx
  tdrs-frontend/src/components/Feedback/FeedbackWidget.jsx
  tdrs-frontend/src/components/UploadReport/UploadReport.jsx
Due: frontend

add fra submission email
  tdrs-backend/tdpservice/email/email_enums.py
  tdrs-backend/tdpservice/email/helpers/data_file.py
  tdrs-backend/tdpservice/email/templates/fra-data-submitted.html
Due: backend

add filter to the parser for email recipients if prog_type is FRA
  tdrs-backend/tdpservice/scheduling/parser_task.py
Due: backend

update email templat Error Report column
  tdrs-backend/tdpservice/email/templates/fra-data-submitted.html
Due: backend

- Rename class and update in models
  tdrs-backend/tdpservice/search_indexes/models/fra.py
  tdrs-backend/tdpservice/search_indexes/models/mixins.py
  tdrs-backend/tdpservice/search_indexes/models/ssp.py
  tdrs-backend/tdpservice/search_indexes/models/tanf.py
  tdrs-backend/tdpservice/search_indexes/models/tribal.py
Due: backend

Add files via upload
  docs/Sprint-Review/sprint-133-summary.md
  docs/Sprint-Review/sprint-134-summary.md
Due: none

models and schemas
  tdrs-backend/tdpservice/search_indexes/migrations/0035_programaudit_t1_programaudit_t2_programaudit_t3.py
Due: backend

move parsers into dir
  tdrs-backend/tdpservice/parsers/parser_classes/__init__.py
Due: backend

- Fix file upload logic for admin
  tdrs-frontend/src/components/Reports/Reports.jsx
Due: frontend

- remove print statements
  tdrs-backend/tdpservice/parsers/schema_defs/utils.py
  tdrs-backend/tdpservice/parsers/schema_manager.py
Due: backend

- Update constructYearOptions to take into account a starting year
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/Reports/utils.js
Due: frontend

- Remove tests related to removed redux state/action/reducers
  tdrs-frontend/src/actions/reports.test.js
  tdrs-frontend/src/reducers/reports.test.js
Due: frontend

- Removed all redux state for FY, FQ, and File Type - Made TANF page reactive - Removed form fields to allow selections drive visibility as opposed tot he search button
  tdrs-frontend/src/actions/reports.js
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
  tdrs-frontend/src/components/FileUploadForm/FileUploadForm.jsx
  tdrs-frontend/src/components/Form/RadioSelect.jsx
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/reducers/reports.js
Due: frontend

fix validation and model relationships
  tdrs-backend/tdpservice/parsers/schema_defs/utils.py
Due: backend

- Update tests to use a state that actually has SSP - Update tests to now handle the File Type radio select to always render
  tdrs-frontend/src/components/Reports/Reports.test.js
Due: frontend

- Resolve test failures for fileuploadform
  tdrs-frontend/src/components/FileUploadForm/FileUploadForm.test.js
Due: frontend

- updated tanf reports tests to adhere to new reactive interface and no search button
  tdrs-frontend/src/components/Reports/Reports.test.js
Due: frontend
