Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 90%
        flags:
          - backend
    patch: off

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

ignore:
  - "tdrs-backend/tdpservice/scheduling/db_backup.py"

- getting directory structure
  .circleci/deployment/commands.yml
Due: none

- tagging for frontend and backend
  .circleci/deployment/commands.yml
Due: none

- remove debug code
  .circleci/deployment/commands.yml
Due: none

- consolidate command
  .circleci/deployment/commands.yml
Due: none

- add missing step
  .circleci/deployment/commands.yml
Due: none

- Revert build and test workflow - Add image tagging for deployments - Update docs for admin login to Nexus UI
  .circleci/build-and-test/workflows.yml
  .circleci/deployment/jobs.yml
  docs/Technical-Documentation/images/nexus-dev-admin-login.png
  docs/Technical-Documentation/nexus-repo.md
Due: none

- Point compose to nexus
  tdrs-backend/docker-compose.yml
  tdrs-frontend/docker-compose.yml
Due: none

- Update variables on deployments
  .circleci/deployment/jobs.yml
Due: none

- add docker login docs
  docs/Technical-Documentation/nexus-repo.md
Due: none

- title update
  docs/Technical-Documentation/nexus-repo.md
Due: none

- add docker login for build and test
  .circleci/build-and-test/commands.yml
  .circleci/build-and-test/jobs.yml
Due: none

- fix indent
  .circleci/build-and-test/commands.yml
Due: none

- Debugging
  .circleci/build-and-test/jobs.yml
Due: none

- Build images for both architectures
  .circleci/deployment/commands.yml
Due: none

- add layer caching
  .circleci/base_config.yml
  .circleci/deployment/commands.yml
Due: none

wip
  tdrs-backend/tdpservice/search_indexes/admin/mixins.py
Due: backend

update version verbose_name, remove custom widget override
  tdrs-backend/tdpservice/core/filters.py
  tdrs-backend/tdpservice/data_files/admin/admin.py
  tdrs-backend/tdpservice/data_files/migrations/0014_alter_datafile_version.py
  tdrs-backend/tdpservice/data_files/models.py
Due: backend

3074 TDP Datafile page for DIGIT and Sys Admin groups (#3158)
  Taskfile.yml
  tdrs-backend/tdpservice/users/migrations/0041_users_digit_group_add_datafile_permission.py
  tdrs-backend/tdpservice/users/test/test_permissions.py
  tdrs-frontend/src/components/Reports/Reports.jsx
Due: frontend, backend

- stop docker caching
  .circleci/base_config.yml
  .circleci/deployment/commands.yml
Due: none

- Updated method to batch delete records in elastic to avoid pulling whole queryset into memory
  tdrs-backend/tdpservice/search_indexes/management/commands/clean_and_reparse.py
Due: backend

- Instantiate document once
  tdrs-backend/tdpservice/search_indexes/management/commands/clean_and_reparse.py
Due: backend

wip
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
  tdrs-backend/tdpservice/search_indexes/admin/mixins.py
Due: backend

- reverting .env file
  tdrs-frontend/.env
Due: none

2561 Deactivating inactive user automatically (#3145)
  tdrs-backend/tdpservice/email/email_enums.py
  tdrs-backend/tdpservice/email/helpers/account_deactivation_warning.py
  tdrs-backend/tdpservice/email/helpers/admin_notifications.py
  tdrs-backend/tdpservice/email/tasks.py
  tdrs-backend/tdpservice/email/templates/account-deactivated-admin.html
  tdrs-backend/tdpservice/scheduling/test/test_user_deactivation_warning.py
  tdrs-backend/tdpservice/settings/common.py
Due: backend

- Updated clean and reparse to not load entire queryset into memory - Added extra console logging - changed log level on frequent exception
  tdrs-backend/tdpservice/parsers/validators/category3.py
  tdrs-backend/tdpservice/search_indexes/management/commands/clean_and_reparse.py
Due: backend

- Updated Grafana view to allow access based on group only since devs need it too
  tdrs-backend/tdpservice/users/api/authorization_check.py
Due: backend

- remove setting
  tdrs-backend/tdpservice/users/api/authorization_check.py
Due: backend

- Update frontend vars
  tdrs-frontend/.env
  tdrs-frontend/src/selectors/auth.js
Due: frontend

local file + upload to s3
  tdrs-backend/tdpservice/search_indexes/admin/mixins.py
Due: backend

Create sprint-106-summary.md (#3166)
  docs/Sprint-Review/sprint-106-summary.md
Due: none

rm smart_open
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
  tdrs-backend/tdpservice/search_indexes/tasks.py
Due: backend

- Add deploy script for pg-exporter
  tdrs-backend/plg/postgres-exporter/deploy.sh
  tdrs-backend/plg/postgres-exporter/manifest.yml
Due: none

- Update lock file
  tdrs-backend/Pipfile.lock
Due: none

- Added promtail and loki - Added loki dashboard and update plg resources - Added backend file logger - UPdated nginx to write logs to file
  tdrs-backend/docker-compose.yml
  tdrs-backend/plg/grafana/dashboards/loki_test_dashboard.json
  tdrs-backend/plg/grafana/datasources.yml
  tdrs-backend/plg/promtail/config.yml
  tdrs-backend/tdpservice/settings/common.py
  tdrs-frontend/docker-compose.yml
  tdrs-frontend/nginx/local/default.conf.template
Due: backend

- Gave datasources UIDs - Updated logs dashboard with correct loki UID
  tdrs-backend/plg/grafana/dashboards/loki_test_dashboard.json
  tdrs-backend/plg/grafana/datasources.yml
Due: none

rm version number filter
  tdrs-backend/tdpservice/data_files/admin/admin.py
  tdrs-backend/tdpservice/data_files/migrations/0014_alter_datafile_version.py
  tdrs-backend/tdpservice/data_files/models.py
Due: backend

- Change language in the tdp section
  docs/Technical-Documentation/tech-memos/multi-select-fiters/multi-select-filters.md
Due: none

- add vm access instructions
  docs/Technical-Documentation/nexus-repo.md
Due: none

- Added script for image building/tagging - Using script in pipeline
  .circleci/deployment/commands.yml
  scripts/build-and-tag-images.sh
Due: none

- testing
  .circleci/build-and-test/workflows.yml
  .circleci/deployment/jobs.yml
Due: none
