Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 90%
        flags:
          - backend
    patch: off

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

ignore:
  - "tdrs-backend/tdpservice/scheduling/db_backup.py"

- Update dataclass to make more sense
  tdrs-backend/tdpservice/parsers/dataclasses.py
  tdrs-backend/tdpservice/parsers/row_schema.py
  tdrs-backend/tdpservice/parsers/tdr_parser.py
  tdrs-backend/tdpservice/parsers/validators/category1.py
  tdrs-backend/tdpservice/parsers/validators/category2.py
  tdrs-backend/tdpservice/parsers/validators/category3.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category1.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category2.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category3.py
  tdrs-backend/tdpservice/parsers/validators/util.py
Due: backend

- remove make_generate_fra_parser_error
  tdrs-backend/tdpservice/parsers/error_generator.py
  tdrs-backend/tdpservice/parsers/fra_parser.py
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

- Remove make_generate_file_precheck_parser_error
  tdrs-backend/tdpservice/parsers/tdr_parser.py
  tdrs-backend/tdpservice/parsers/test/test_case_consistency.py
  tdrs-backend/tdpservice/parsers/test/test_header.py
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

- remove make_generate_parser_error - Update tests to leverage new factory
  tdrs-backend/tdpservice/parsers/base_parser.py
  tdrs-backend/tdpservice/parsers/tdr_parser.py
  tdrs-backend/tdpservice/parsers/test/test_header.py
  tdrs-backend/tdpservice/parsers/test/test_util.py
  tdrs-backend/tdpservice/parsers/validators/category1.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
Due: backend

- remove make_generate_case_consistency_parser_error and update tests to leverage factory
  tdrs-backend/tdpservice/parsers/case_consistency_validator.py
  tdrs-backend/tdpservice/parsers/dataclasses.py
  tdrs-backend/tdpservice/parsers/duplicate_detectors.py
  tdrs-backend/tdpservice/parsers/error_generator.py
  tdrs-backend/tdpservice/parsers/fra_parser.py
  tdrs-backend/tdpservice/parsers/tdr_parser.py
  tdrs-backend/tdpservice/parsers/test/test_case_consistency.py
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

- linting
  tdrs-backend/tdpservice/parsers/error_generator.py
  tdrs-backend/tdpservice/parsers/test/test_util.py
  tdrs-backend/tdpservice/parsers/validators/category1.py
Due: backend

#5197 starting to adjust backend feedback data model for new meta data
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/serializers.py
  tdrs-frontend/src/components/Feedback/FeedbackForm.jsx
Due: frontend, backend

add data analyst users to cypress fixtures
  tdrs-backend/tdpservice/fixtures/cypress/users.json
Due: backend

cypress users must contain 'cypress' in their usernames
  tdrs-backend/tdpservice/fixtures/cypress/users.json
Due: backend

parameterize year and quarter in datafile search from cypress step
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
  tdrs-frontend/cypress/e2e/data-files/file_upload.feature
  tdrs-frontend/cypress/e2e/data-files/submission_history.feature
Due: none

Add first Tim Data Analyst test case
  tdrs-frontend/cypress/e2e/data-files/file_upload.feature
  tdrs-frontend/cypress/e2e/data-files/file_upload.js
Due: none

#4973 made a good bit of refactoring changes to the codebase to make things cleaner and more reusable
  tdrs-frontend/src/components/Home/Home.jsx
  tdrs-frontend/src/components/Profile/JurisdictionLocationInfo.jsx
  tdrs-frontend/src/components/Profile/Profile.jsx
  tdrs-frontend/src/components/Profile/ProfileRow.jsx
  tdrs-frontend/src/components/Profile/UserProfileDetails.jsx
  tdrs-frontend/src/components/Profile/UserProfileView.jsx
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.jsx
  tdrs-frontend/src/components/Routes/Routes.js
  tdrs-frontend/src/components/UserAccessInfo/UserAccessInfo.jsx
  tdrs-frontend/src/components/UserAccessInfo/UserAccessInfo.test.js
  tdrs-frontend/src/components/UserAccessInfo/index.js
Due: frontend

- Update so that digit cannot see alerts tab
  tdrs-frontend/src/components/Header/Header.jsx
  tdrs-frontend/src/components/SiteMap/SiteMap.jsx
  tdrs-frontend/src/selectors/auth.js
Due: frontend

add missing location block for fra-data-files to nginx config
  tdrs-frontend/nginx/cloud.gov/locations.conf
  tdrs-frontend/nginx/local/locations.conf
Due: none

#4973 refactored code some more and added some new jest tests for new components. Need to still fix breaking layout white space issue and finish fixing unit tests
  tdrs-frontend/src/assets/Profile.scss
  tdrs-frontend/src/components/Home/Home.jsx
  tdrs-frontend/src/components/Profile/JurisdictionLocationInfo.test.js
  tdrs-frontend/src/components/Profile/Profile.jsx
  tdrs-frontend/src/components/Profile/ProfileRow.jsx
  tdrs-frontend/src/components/Profile/UserProfileDetails.jsx
  tdrs-frontend/src/components/Profile/UserProfileDetails.test.js
  tdrs-frontend/src/components/Profile/UserProfileView.jsx
  tdrs-frontend/src/components/Profile/UserProfileView.test.js
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.jsx
Due: frontend

add instructions back when file invalid
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

Parameterize more values for file_upload cypress test
  .gitignore
  tdrs-frontend/cypress/e2e/common-steps/common-steps.js
  tdrs-frontend/cypress/e2e/data-files/file_upload.feature
  tdrs-frontend/cypress/e2e/data-files/file_upload.js
Due: none

- Add missing nginx locations for fra - Add fra data analyst file upload tests - Add generic commands for use accross suite - Stubs for regional user tests
  tdrs-backend/tdpservice/fixtures/cypress/users.json
  tdrs-backend/tdpservice/users/models.py
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
  tdrs-frontend/cypress/e2e/fra-data-analyst-user/file_upload.feature
  tdrs-frontend/cypress/e2e/fra-data-analyst-user/file_upload.js
  tdrs-frontend/cypress/e2e/regional-user/submission_history.feature
  tdrs-frontend/cypress/e2e/regional-user/submission_history.js
  tdrs-frontend/cypress/support/commands.js
  tdrs-frontend/nginx/cloud.gov/locations.conf
  tdrs-frontend/nginx/local/locations.conf
Due: backend

add cypress task to convert xlsx to json for comparing downloaded error report to expected
  tdrs-frontend/cypress.config.js
  tdrs-frontend/cypress/e2e/data-files/file_upload.js
  tdrs-frontend/cypress/fixtures/2021-Q1-Active Case Data Error Report.xlsx
  tdrs-frontend/package-lock.json
  tdrs-frontend/package.json
Due: none

fix regional staff original file access
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

- Add admin e2e tests for submitting all types of data files
  tdrs-frontend/cypress/e2e/admin-user/data_files.feature
  tdrs-frontend/cypress/e2e/admin-user/data_files.js
  tdrs-frontend/cypress/support/commands.js
Due: none

update tim-cypress users stt to illinois for tanf stratum data
  tdrs-backend/tdpservice/fixtures/cypress/users.json
Due: backend

add expected error reports for cypress tests
  tdrs-frontend/cypress/fixtures/2021-Q1-Active Case Data Error Report.xlsx
  tdrs-frontend/cypress/fixtures/2021-Q1-Aggregate Data Error Report.xlsx
  tdrs-frontend/cypress/fixtures/2021-Q1-Closed Case Data Error Report.xlsx
  tdrs-frontend/cypress/fixtures/2022-Q1-Stratum Data Error Report.xlsx
Due: none

finish tim-cypress user cypress tests
  tdrs-frontend/cypress.config.js
  tdrs-frontend/cypress/e2e/data-files/file_upload.feature
  tdrs-frontend/cypress/e2e/data-files/file_upload.js
Due: none

fix fra user perm lookup
  tdrs-backend/tdpservice/users/models.py
Due: backend

- Add unique fixtures for admin submission history tests - Add admin submission history tests
  tdrs-backend/tdpservice/fixtures/cypress/data_files.json
  tdrs-backend/tdpservice/fixtures/cypress/users.json
  tdrs-frontend/cypress/e2e/admin-user/submission_history.feature
  tdrs-frontend/cypress/e2e/admin-user/submission_history.js
  tdrs-frontend/cypress/support/commands.js
Due: backend

use smaller files for testing or else tests timeout waiting on parsing
  tdrs-frontend/cypress/e2e/data-files/file_upload.js
  tdrs-frontend/cypress/fixtures/2021-Q1-Active Case Data Error Report.xlsx
  tdrs-frontend/cypress/fixtures/2021-Q1-Closed Case Data Error Report.xlsx
Due: none

add cypress task to delete downloaded files after test runs
  tdrs-frontend/cypress.config.js
  tdrs-frontend/cypress/e2e/data-files/file_upload.js
Due: none

commented out scenarios to be updated
  tdrs-frontend/cypress/e2e/data-files/file_upload.feature
Due: none

- revert change
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
Due: none

#4973 fixing test
  tdrs-frontend/src/components/Profile/Profile.jsx
  tdrs-frontend/src/components/Profile/Profile.test.js
  tdrs-frontend/src/components/Profile/UserProfileDetails.jsx
  tdrs-frontend/src/components/Profile/UserProfileDetails.test.js
  tdrs-frontend/src/components/Profile/UserProfileView.test.js
Due: frontend

#4973 updated some more failing tests
  tdrs-frontend/src/components/LoginCallback/LoginCallback.test.js
  tdrs-frontend/src/components/SplashPage/SplashPage.test.js
Due: frontend

- renamed files to be consistent
  tdrs-frontend/cypress/e2e/admin-user/file_upload.feature
  tdrs-frontend/cypress/e2e/admin-user/file_upload.js
Due: none

- Try doubling wait time to see what happens
  tdrs-frontend/cypress/e2e/admin-user/file_upload.js
Due: none

- Remove record type from validator error messages
  tdrs-backend/tdpservice/parsers/validators/category3.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category3.py
Due: backend

update logic to parameterize program type
  tdrs-frontend/cypress/e2e/data-files/file_upload.feature
  tdrs-frontend/cypress/e2e/data-files/file_upload.js
Due: none

- Update friendly names to exclude "Amount" in their name
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t1.py
Due: backend

- small message update
  tdrs-backend/tdpservice/parsers/validators/category3.py
Due: backend
