Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Update 2020, Summer - Understanding Stakeholders and creating personas.md
  docs/User-Experience/Research-Syntheses/2020, Summer - Understanding Stakeholders and creating personas.md
Due: none

de-duplicate error handling
  tdrs-backend/tdpservice/scheduling/parser_task.py
Due: backend

3.6.4 release notes and KC updates (#3216)
  product-updates/img/error-reports/error-report.png
  product-updates/knowledge-center/index.html
  product-updates/knowledge-center/viewing-error-reports.html
Due: none

create quarter explainer table in Reports
  tdrs-frontend/src/components/Reports/Reports.jsx
Due: frontend

Update docs/User-Experience/Research-Syntheses/2020, Summer - Understanding Stakeholders and creating personas.md
  docs/User-Experience/Research-Syntheses/2020, Summer - Understanding Stakeholders and creating personas.md
Due: none

show banner and hide errors if file submitted before 5/31/2024
  tdrs-frontend/src/components/SubmissionHistory/CaseAggregatesTable.jsx
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.jsx
  tdrs-frontend/src/components/SubmissionHistory/TotalAggregatesTable.jsx
Due: frontend

add tests
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.test.js
Due: frontend

table style
  tdrs-frontend/src/components/Reports/Reports.jsx
Due: frontend

erronious docstring
  tdrs-backend/tdpservice/search_indexes/admin/reparse_meta.py
Due: backend

ensure is_finished and is_success are False if no associated files
  tdrs-backend/tdpservice/search_indexes/models/reparse_meta.py
  tdrs-backend/tdpservice/search_indexes/test/test_reparse.py
Due: backend

- Update xlsx generator to pin memory consumption via paginator
  tdrs-backend/tdpservice/data_files/util.py
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

Additional DF Filters (#3204)
  tdrs-backend/tdpservice/data_files/admin/admin.py
  tdrs-backend/tdpservice/data_files/admin/filters.py
  tdrs-backend/tdpservice/data_files/models.py
Due: backend

- fix white space
  tdrs-backend/tdpservice/data_files/util.py
Due: backend

- Add logic to narrow error report when stt is accessing it - Add admin property to user model - whitespace clean up
  tdrs-backend/tdpservice/data_files/util.py
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/users/models.py
Due: backend

more descriptive param names
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.jsx
Due: frontend

- Add explainer
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

lint err
  tdrs-backend/tdpservice/search_indexes/test/test_reparse.py
Due: backend

- add final query
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

re-enable total_num_records_post
  tdrs-backend/tdpservice/scheduling/parser_task.py
  tdrs-backend/tdpservice/search_indexes/models/reparse_meta.py
Due: backend

3060 active user session (#3182)
  Taskfile.yml
  tdrs-backend/docs/session-management.md
  tdrs-backend/tdpservice/core/custom_session_engine.py
  tdrs-backend/tdpservice/data_files/admin/admin.py
  tdrs-backend/tdpservice/settings/common.py
Due: backend

Hotfix/make erd docker login (#3226)
  .circleci/build-and-test/workflows.yml
  .circleci/util/jobs.yml
  tdrs-backend/docker-compose.yml
  tdrs-backend/setup.cfg
Due: none

fix whitespace
  tdrs-frontend/src/components/Reports/Reports.jsx
Due: frontend

- add logs to ignore
  .gitignore
Due: none

- Updated queries - Ordered based on OneNote
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

3106 reparse django action (#3167)
  tdrs-backend/tdpservice/data_files/admin/admin.py
  tdrs-backend/tdpservice/data_files/static/admin/js/admin/admin_datafile_model.js
  tdrs-backend/tdpservice/data_files/tasks.py
  tdrs-backend/tdpservice/search_indexes/management/commands/clean_and_reparse.py
Due: backend

- Added tech memo outlining prioritized errors work
  docs/Technical-Documentation/tech-memos/priotitized-errors/prioritized-errors.md
Due: none

- fix tests
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/data_files/util.py
Due: backend

- Fixed None string included in report
  tdrs-backend/tdpservice/data_files/util.py
Due: backend

- Change queryset ordering
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

- Adding debug code
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

- enable layer caching
  .circleci/base_config.yml
Due: none

Path conditions:
  frontend: any of: tdrs-frontend/src, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
  backend: any of: tdrs-backend/tdpservice, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
