Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

- Fixed failing test
  tdrs-backend/tdpservice/parsers/test/test_summary.py
Due: backend

Adding "beta" banners to relevant error report sections (#2522)
  tdrs-backend/tdpservice/parsers/views.py
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.jsx
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.test.js
Due: frontend, backend

Create sprint-73-summary.md (#2565)
  docs/Sprint-Review/sprint-73-summary.md
Due: none

hotfix for large file sizes (#2542)
  scripts/zap-scanner.sh
  tdrs-backend/gunicorn_dev_cfg.py
  tdrs-backend/gunicorn_prod_cfg.py
  tdrs-frontend/nginx/cloud.gov/buildpack.nginx.conf
  tdrs-frontend/nginx/local/default.conf.template
  tdrs-frontend/reports/zap.conf
Due: none

add adminUrl to deployment cypress overrides
  .circleci/deployment/jobs.yml
Due: none

Create 2023, Spring - Testing CSV & Excel-based error reports.md
  docs/User-Experience/Research-Syntheses/2023, Spring - Testing CSV & Excel-based error reports.md
Due: none

Updating deliverable links (#2584)
  .github/pull_request_template.md
Due: none

Create sprint-74-summary.md (#2596)
  docs/Sprint-Review/sprint-74-summary.md
Due: none

updating validation error language
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/schema_defs/header.py
  tdrs-backend/tdpservice/parsers/schema_defs/trailer.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/validators.py
  tdrs-backend/tdpservice/test/test_backends.py
Due: backend

Update README.md
  docs/User-Experience/Research-Syntheses/README.md
Due: none

rm comments
  tdrs-backend/tdpservice/parsers/schema_defs/header.py
  tdrs-backend/tdpservice/parsers/schema_defs/trailer.py
Due: backend

Create sprint-75-summary.md (#2608)
  docs/Sprint-Review/sprint-75-summary.md
Due: none

User viewset not returning/duplicating users (#2573)
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/test/test_api/test_endpoints.py
  tdrs-frontend/nginx/local/locations.conf
Due: backend

Update cf os (#2523)
  .circleci/README.md
  .circleci/deployment/commands.yml
  .circleci/deployment/jobs.yml
  .circleci/deployment/workflows.yml
  docs/Technical-Documentation/buildpack-changelog.md
  scripts/cf-check.sh
  tdrs-frontend/manifest.buildpack.yml
Due: none

added URL filters (#2580)
  .github/workflows/deploy-develop-on-merge.yml
  .github/workflows/deploy-on-label.yml
  .github/workflows/qasp-owasp-scan.yml
  scripts/zap-scanner.sh
Due: none

pipeline filtering (#2538)
  .circleci/README.md
  .circleci/base_config.yml
  .circleci/build-and-test/workflows.yml
  .circleci/config.yml
  .circleci/infrastructure/workflows.yml
  .github/workflows/build-all.yml
  .github/workflows/build-backend.yml
  .github/workflows/build-frontend.yml
  .github/workflows/build-pr.yml
  .github/workflows/deploy-develop-on-merge.yml
  .github/workflows/deploy-infrastructure.yml
  docs/Technical-Documentation/Architecture-Decision-Record/020-pipeline-build-flow.md
  docs/Technical-Documentation/github-actions.md
Due: none

Hotfix Devops/2457 path filtering for documentation (#2597)
  .github/workflows/build-pr.yml
Due: none

Create sprint-76-summary.md (#2609)
  docs/Sprint-Review/sprint-76-summary.md
Due: none

Update README.md (#2577)
  docs/Security-Compliance/README.md
Due: none

accidentally included coding challenge
  tdrs-backend/tdpservice/test/test_backends.py
Due: backend

Item Number Mismatch (#2578)
  tdrs-backend/tdpservice/parsers/migrations/0006_alter_parsererror_item_number.py
  tdrs-backend/tdpservice/parsers/models.py
  tdrs-backend/tdpservice/parsers/schema_defs/header.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m1.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/trailer.py
  tdrs-backend/tdpservice/parsers/test/factories.py
Due: backend

2550 deactivation email link (#2557)
  tdrs-backend/tdpservice/email/helpers/account_deactivation_warning.py
Due: backend

- Resolved failing tests
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

- Corrected merge thrash
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

- Using randbits to generate pk to get around confilcting sequence pks
  tdrs-backend/tdpservice/stts/test/factories.py
Due: backend

setup can trigger by circleci for develop branch for nightly scans to… (#2610)
  .circleci/config.yml
Due: none

Revert "- Using randbits to generate pk to get around confilcting sequence pks"
  tdrs-backend/tdpservice/stts/test/factories.py
Due: backend

- Updating region in fixture instead of factory - letting django handle transaction for test
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/test/test_summary.py
Due: backend

- Moved datafile reference to avoid confusion
  tdrs-backend/tdpservice/search_indexes/admin/ssp.py
  tdrs-backend/tdpservice/search_indexes/admin/tanf.py
Due: backend

pushing up incomplete codebase
  tdrs-backend/tdpservice/parsers/models.py
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/test/test_summary.py
Due: backend

Other unit tests now have passed w/ good error handling
  tdrs-backend/tdpservice/parsers/models.py
Due: backend

Working tests, need to get setup for case aggregates populating via DB
  tdrs-backend/tdpservice/parsers/models.py
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

- Updated queries - Added helper function - Need to merge in 2579 for queries to work
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

removed pk from user model
  tdrs-backend/tdpservice/users/models.py
Due: backend

minor improvement to month2int
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

- Fixing most merge errors
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/test/test_summary.py
  tdrs-backend/tdpservice/parsers/validators.py
Due: backend

- Fixing functions
  tdrs-backend/tdpservice/parsers/parse.py
Due: backend

- Updated queries based on generic relation
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

- Updated queries to count by case number instead of record number
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

- Added route - Updated task to create dfs
  tdrs-backend/tdpservice/parsers/admin.py
  tdrs-backend/tdpservice/parsers/models.py
  tdrs-backend/tdpservice/parsers/serializers.py
  tdrs-backend/tdpservice/parsers/urls.py
  tdrs-backend/tdpservice/parsers/views.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
Due: backend

Path conditions:
  frontend: any of: tdrs-frontend/src, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
  backend: any of: tdrs-backend/tdpservice, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
