Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

- revert
  tdrs-backend/plg/prometheus/prometheus.yml
Due: none

- add test for empty stt
  tdrs-frontend/src/actions/reports.test.js
Due: frontend

- Update logic to aviod extra conditional
  tdrs-frontend/src/actions/reports.js
Due: frontend

- Moved section logic mostly to the backend - Updated the frontend to leverage backend work
  tdrs-backend/tdpservice/stts/views.py
  tdrs-frontend/src/actions/reports.js
Due: frontend, backend

- Updated logic on components
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.jsx
  tdrs-frontend/src/components/UploadReport/UploadReport.jsx
Due: frontend

- Updated nginx conf to use correct auth check endpoint
  tdrs-frontend/nginx/cloud.gov/locations.conf
Due: none

- add empty stt check
  tdrs-frontend/src/actions/reports.js
Due: frontend

- remove status change based on critical errors
  tdrs-backend/tdpservice/parsers/models.py
Due: backend

- linting
  tdrs-backend/tdpservice/parsers/models.py
Due: backend

- fix errro
  tdrs-backend/tdpservice/parsers/models.py
Due: backend

- Updated dashboard configs - added extra promtail config to prove filtering works
  tdrs-backend/plg/grafana/dashboards/dev_logs_dashboard.json
  tdrs-backend/plg/promtail/config.local.yml
Due: none

- Made simple README outlining grafana's rbac/auth
  tdrs-backend/plg/README.md
Due: none

- Use correct team names
  tdrs-backend/plg/README.md
Due: none

- Updated stt serializer to include the number of sections an stt submits - Reverted code to hit `num_sections` endpoint - Reverted tests - Updated components to use new field in stt state
  tdrs-backend/tdpservice/stts/models.py
  tdrs-backend/tdpservice/stts/serializers.py
  tdrs-backend/tdpservice/stts/test/test_api.py
  tdrs-backend/tdpservice/stts/urls.py
  tdrs-backend/tdpservice/stts/views.py
  tdrs-frontend/src/actions/reports.js
  tdrs-frontend/src/actions/reports.test.js
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/Reports/Reports.test.js
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.jsx
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.test.js
  tdrs-frontend/src/components/UploadReport/UploadReport.jsx
  tdrs-frontend/src/components/UploadReport/UploadReport.test.js
  tdrs-frontend/src/reducers/reports.js
  tdrs-frontend/src/reducers/reports.test.js
Due: frontend, backend

Standardizing on use of cf-check on older workflow
  .circleci/deployment/commands.yml
  scripts/cf-check.sh
Due: none

Standardizing use of cf-check on older workflows
  .circleci/deployment/commands.yml
Due: none

Update research-synthesis-issue-template.md (#3286)
  .github/ISSUE_TEMPLATE/research-synthesis-issue-template.md
Due: none

- remove async - correct error
  tdrs-frontend/src/actions/reports.js
  tdrs-frontend/src/components/UploadReport/UploadReport.jsx
Due: frontend

- Update validator to allow 3 as a value
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
Due: backend

Update design-deliverable-issue-template.md (#3287)
  .github/ISSUE_TEMPLATE/design-deliverable-issue-template.md
Due: none

Hotfix/cf check (#3337)
  .circleci/deployment/commands.yml
  scripts/cf-check.sh
Due: none

terraform executor edge-case
  scripts/cf-check.sh
Due: none

Hotfix/cf check (#3339)
  scripts/cf-check.sh
Due: none

- use constant - use double quotes
  tdrs-backend/tdpservice/stts/models.py
  tdrs-backend/tdpservice/stts/serializers.py
Due: backend

Testing pipeline with non-develop branch
  .circleci/deployment/commands.yml
  .circleci/deployment/workflows.yml
  scripts/cf-check.sh
  scripts/sudo-check.sh
Due: none

Update docs/Technical-Documentation/tech-memos/priotitized-errors/prioritized-errors.md
  docs/Technical-Documentation/tech-memos/priotitized-errors/prioritized-errors.md
Due: none

- updated based on suggestion
  docs/Technical-Documentation/tech-memos/priotitized-errors/prioritized-errors.md
Due: none

Hotfix/cf check (#3340)
  .circleci/deployment/commands.yml
  scripts/cf-check.sh
  scripts/sudo-check.sh
Due: none

- Comment out sources,list
  tdrs-backend/Dockerfile
Due: none

Feat/1786 precommit hooks (#3273)
  .gitconfig
  .githooks/pre-commit
  .githooks/pre-push
  README.md
  Taskfile.yml
  scripts/git-secrets-check.sh
Due: none

- Add css class for reprocessed modal - Add ReprocessedModal component - Use new component for submission history tables
  tdrs-frontend/src/assets/Reports.scss
  tdrs-frontend/src/components/SubmissionHistory/CaseAggregatesTable.jsx
  tdrs-frontend/src/components/SubmissionHistory/ReprocessedModal.jsx
  tdrs-frontend/src/components/SubmissionHistory/TotalAggregatesTable.jsx
  tdrs-frontend/src/components/SubmissionHistory/helpers.jsx
Due: frontend

- remove component
  tdrs-frontend/src/components/SubmissionHistory/CaseAggregatesTable.jsx
Due: frontend

- removed unnecessary span
  tdrs-frontend/src/components/SubmissionHistory/ReprocessedModal.jsx
Due: frontend

redundant removal commands from debugging (#3344)
  scripts/git-secrets-check.sh
Due: none

- remove validator
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
Due: backend

- add value to child schemas
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
Due: backend

Path conditions:
  frontend: any of: tdrs-frontend/src, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
  backend: any of: tdrs-backend/tdpservice, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
