Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 90%
        flags:
          - backend
    patch: off

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

ignore:
  - "tdrs-backend/tdpservice/scheduling/db_backup.py"

Create spike.md (#2671)
  .github/ISSUE_TEMPLATE/spike.md
Due: none

Sendgrid adr (#2678)
  docs/Technical-Documentation/Architecture-Decision-Record/021-sendgrid.md
Due: none

TANF Section 2 Validation (#2633)
  tdrs-backend/tdpservice/parsers/fields.py
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/__init__.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t6.py
  tdrs-backend/tdpservice/parsers/test/data/ADS.E2J.FTP3.TS06
  tdrs-backend/tdpservice/parsers/test/factories.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/test/test_validators.py
  tdrs-backend/tdpservice/parsers/transforms.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/parsers/validators.py
  tdrs-backend/tdpservice/search_indexes/admin/filter.py
  tdrs-backend/tdpservice/search_indexes/admin/tanf.py
  tdrs-backend/tdpservice/search_indexes/documents/tanf.py
  tdrs-backend/tdpservice/search_indexes/migrations/0017_auto_20230804_1935.py
  tdrs-backend/tdpservice/search_indexes/migrations/0018_auto_20230816_1917.py
  tdrs-backend/tdpservice/search_indexes/models/tanf.py
  tdrs-backend/tdpservice/search_indexes/test/test_model_mapping.py
Due: backend

resolving merge conflict problems
  tdrs-backend/tdpservice/parsers/models.py
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/test/data/small_tanf_section1.txt
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/parsers/validators.py
Due: backend

added reload to gunicorn start dev
  tdrs-backend/gunicorn_dev_cfg.py
Due: none

Update base_config.yml
  .circleci/base_config.yml
Due: none

let's try diff orb versions (#2692)
  .circleci/base_config.yml
Due: none

added filter for accepted/rejected
  tdrs-backend/tdpservice/data_files/admin.py
Due: backend

ZAP Scan ignores for SQL Injection (#2679)
  docs/Technical-Documentation/Zap-Scan-HTML-Report.md
  docs/Technical-Documentation/images/postman_example1.png
  docs/Technical-Documentation/images/postman_example2.png
  tdrs-backend/reports/zap.conf
  tdrs-frontend/reports/zap.conf
Due: none

added migrate command to gunicorn_start (#2686)
  tdrs-backend/gunicorn_start.sh
Due: none

Parser Logging (#2665)
  tdrs-backend/docker-compose.yml
  tdrs-backend/tdpservice/core/logger.py
  tdrs-backend/tdpservice/data_files/models.py
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/parsers/fields.py
  tdrs-backend/tdpservice/parsers/models.py
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/row_schema.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
  tdrs-backend/tdpservice/settings/common.py
Due: backend

Create sprint-80-summary.md (#2694)
  docs/Sprint-Review/sprint-80-summary.md
Due: none

Reverted migrations to reflect what exists in prod (#2703)
  tdrs-backend/tdpservice/search_indexes/migrations/0015_auto_20230724_1830.py
  tdrs-backend/tdpservice/search_indexes/migrations/0016_auto_20230803_1721.py
  tdrs-backend/tdpservice/search_indexes/migrations/0016_auto_20230817_1635.py
  tdrs-backend/tdpservice/search_indexes/migrations/0017_auto_20230804_1935.py
  tdrs-backend/tdpservice/search_indexes/migrations/0017_auto_20230914_1720.py
  tdrs-backend/tdpservice/search_indexes/migrations/0018_auto_20230816_1917.py
Due: backend

1613 - DataFileSummary w/ Case Aggregates (#2612)
  .circleci/build-and-test/jobs.yml
  .circleci/config.yml
  scripts/zap-scanner.sh
  tdrs-backend/Pipfile.lock
  tdrs-backend/docker-compose.local.yml
  tdrs-backend/docker-compose.yml
  tdrs-backend/tdpservice/data_files/test/factories.py
  tdrs-backend/tdpservice/parsers/admin.py
  tdrs-backend/tdpservice/parsers/migrations/0002_alter_parsererror_error_type.py
  tdrs-backend/tdpservice/parsers/migrations/0007_datafilesummary.py
  tdrs-backend/tdpservice/parsers/models.py
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/row_schema.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/serializers.py
  tdrs-backend/tdpservice/parsers/test/data/small_tanf_section1.txt
  tdrs-backend/tdpservice/parsers/test/factories.py
  tdrs-backend/tdpservice/parsers/test/test_models.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/urls.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/parsers/validators.py
  tdrs-backend/tdpservice/parsers/views.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
  tdrs-backend/tdpservice/users/test/test_permissions.py
  tdrs-frontend/docker-compose.yml
Due: backend

Create sprint-81-summary.md (#2715)
  docs/Sprint-Review/sprint-81-summary.md
Due: none

DB-drop-and-reset-write-down (#2710)
  docs/Technical-Documentation/CloudFoundry-DB-Connection.md
Due: none

Feature/1111 tanf section 4 (#2657)
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/__init__.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t7.py
  tdrs-backend/tdpservice/parsers/test/data/ADS.E2J.FTP4.TS06
  tdrs-backend/tdpservice/parsers/test/factories.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
  tdrs-backend/tdpservice/search_indexes/admin/tanf.py
  tdrs-backend/tdpservice/search_indexes/documents/tanf.py
  tdrs-backend/tdpservice/search_indexes/migrations/0018_auto_20230920_1846.py
  tdrs-backend/tdpservice/search_indexes/models/tanf.py
  tdrs-backend/tdpservice/search_indexes/test/test_model_mapping.py
Due: backend

mem increase for nginx
  tdrs-frontend/manifest.buildpack.yml
Due: none

Feature/1610.2 frontend parsing status (#2622)
  tdrs-backend/tdpservice/data_files/serializers.py
  tdrs-backend/tdpservice/parsers/migrations/0002_alter_parsererror_error_type.py
  tdrs-backend/tdpservice/parsers/migrations/0008_alter_datafilesummary_datafile.py
  tdrs-backend/tdpservice/parsers/migrations/0009_alter_datafilesummary_status.py
  tdrs-backend/tdpservice/parsers/models.py
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.jsx
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.test.js
  tdrs-frontend/src/reducers/reports.js
Due: frontend, backend

1612 case aggregates frontend (#2643)
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-frontend/src/assets/Reports.scss
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.jsx
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.test.js
Due: frontend, backend

Update manifest.buildpack.yml
  tdrs-backend/manifest.buildpack.yml
Due: none

Create sprint-82-review.md (#2716)
  docs/Sprint-Review/sprint-82-review.md
Due: none

2411 metadata parsed datafiles (#2706)
  tdrs-backend/tdpservice/data_files/admin.py
  tdrs-backend/tdpservice/data_files/models.py
  tdrs-backend/tdpservice/data_files/test/test_admin.py
  tdrs-frontend/cypress/e2e/accounts/accounts.js
Due: backend

Rename sprint-82-review.md to sprint-82-summary.md (#2726)
  docs/Sprint-Review/sprint-82-summary.md
Due: none

2429/single clamav (#2718)
  .circleci/deployment/commands.yml
  .circleci/deployment/jobs.yml
  .circleci/deployment/workflows.yml
  docs/Security-Compliance/diagram.drawio
  docs/Security-Compliance/diagram.png
  docs/Technical-Documentation/README.md
  docs/Technical-Documentation/clamav.md
  scripts/deploy-backend.sh
  tdrs-backend/clamav-router/manifest.yml
  tdrs-backend/clamav-router/nginx.conf
  tdrs-backend/manifest.clamav.yml
  tdrs-backend/manifest.yml
  tdrs-backend/tdpservice/settings/cloudgov.py
  tdrs-backend/tdpservice/settings/common.py
Due: backend

Added formating for header and autofit columns
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
  tdrs-backend/tdpservice/parsers/views.py
Due: backend

Formatted the headers
  tdrs-backend/tdpservice/parsers/views.py
Due: backend

added year/month to the columns
  tdrs-backend/tdpservice/parsers/views.py
Due: backend

Added contants - translation column
  tdrs-backend/tdpservice/parsers/constants.py
  tdrs-backend/tdpservice/parsers/views.py
Due: backend

added friendly names to T1 and T2
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
Due: backend

added friendly name to m1 and m2
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m1.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
Due: backend

added friendly name to m3
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
Due: backend

added friendly_name to t3
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
Due: backend

added friendly_name to t4 and t5
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t5.py
Due: backend

added friendly_name to t7
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t7.py
Due: backend

correct missing friendly_name
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t6.py
Due: backend

correction on failing tests
  tdrs-backend/tdpservice/parsers/fields.py
  tdrs-backend/tdpservice/parsers/schema_defs/header.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t6.py
  tdrs-backend/tdpservice/parsers/schema_defs/trailer.py
  tdrs-backend/tdpservice/parsers/test/test_util.py
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

addedfriendly name to excel report
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/parsers/views.py
Due: backend
