Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Importing exception
  tdrs-backend/tdpservice/users/migrations/0031_remove_federal_gov_stt.py
Due: backend

Incorporation types per Aaaron
  tdrs-backend/tdpservice/users/migrations/0031_remove_federal_gov_stt.py
Due: backend

1540: Cleaned parametrization
  tdrs-backend/tdpservice/users/test/test_auth.py
Due: backend

Received 2to3 error deploying to buildpack, trying to downgrade to avoid
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
Due: none

Revert "Bump Django and ipython"
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
Due: none

1540: Added mock to pass circleci
  tdrs-backend/tdpservice/users/test/test_auth.py
Due: backend

1540: Removed unused variables to pass circleci
  tdrs-backend/tdpservice/users/test/test_auth.py
Due: backend

1540: Removed excessive lines to pass circleci
  tdrs-backend/tdpservice/users/test/test_auth.py
Due: backend

1540: Removed blank lines after function docstring
  tdrs-backend/tdpservice/users/test/test_auth.py
Due: backend

1540: Added docstring for TestLoginParam class
  tdrs-backend/tdpservice/users/test/test_auth.py
Due: backend

1540: Added dot to docstring for TestLoginParam class
  tdrs-backend/tdpservice/users/test/test_auth.py
Due: backend

First stab at automation of database creation upon startup. I could call this ticket done right now if I just manually created them when we spun up the rds instance.
  scripts/README.md
  scripts/update-ssh-config.sh
  tdrs-backend/gunicorn_start.sh
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

Improvement needed, but have automated database creation via our deploy pipelines and have setup connection within cloudgov.py settings.
  scripts/cf-check.sh
  scripts/deploy-backend.sh
Due: none

Cleanup of old db_name code
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

reverting sqlcreate in gunicorn
  tdrs-backend/gunicorn_start.sh
Due: none

Attempting to throw a parameter into terraform and create the named DB through it.
  .circleci/config.yml
  scripts/deploy-backend.sh
  terraform/dev/main.tf
Due: none

Attempt #2 on getting terraform to create my database dynamically.
  .circleci/config.yml
  terraform/dev/main.tf
Due: none

Third attempt
  .circleci/config.yml
Due: none

Reverting terraform changes, commenting in bad practices
  .circleci/config.yml
  scripts/deploy-backend.sh
  terraform/dev/main.tf
Due: none

Update docker-compose.yml
  tdrs-backend/docker-compose.yml
Due: none

feat: prevent ocio staff users from having region and stt
  tdrs-backend/tdpservice/users/models.py
Due: backend

Update sprint-40-summary.md
  docs/Sprint-Review/sprint-40-summary.md
Due: none

upgrade django admin 508 to 0.1.5
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
Due: none

update button to use env vars
  tdrs-frontend/.env
  tdrs-frontend/.env.development
  tdrs-frontend/.env.test
  tdrs-frontend/src/components/SplashPage/SplashPage.jsx
Due: frontend

default to login.gov
  tdrs-frontend/.env
  tdrs-frontend/.env.development
  tdrs-frontend/src/components/SplashPage/SplashPage.jsx
Due: frontend

fix env var name
  tdrs-frontend/.env.development
  tdrs-frontend/src/components/SplashPage/SplashPage.jsx
Due: frontend

Update config.yml
  .circleci/config.yml
Due: none

remove xms from unit test
  tdrs-frontend/.env.test
Due: none

fix: migration
  tdrs-backend/tdpservice/users/migrations/0032_ocio_permissions_group.py
Due: backend

increasing frequency of job to every hour
  .circleci/config.yml
Due: none

testing if adding nontdp urls to zap config will exclude from rpt
  tdrs-backend/reports/zap.conf
Due: none

replaced spaces with tabs
  tdrs-backend/reports/zap.conf
Due: none

fix tabs
  tdrs-backend/reports/zap.conf
Due: none

remove addl urls to check root issues of exit 5
  tdrs-backend/reports/zap.conf
Due: none

add one nontdp url
  tdrs-backend/reports/zap.conf
Due: none

Create sprint-41-summary.md
  docs/Sprint-Review/sprint-41-summary.md
Due: none

First stab w/ Terraform
  .circleci/config.yml
  scripts/deploy-backend.sh
  terraform/create_tf_vars.sh
  terraform/dev/main.tf
  terraform/dev/variables.tf
Due: none

Path conditions:
  frontend: any of: tdrs-frontend/src
  backend: any of: tdrs-backend/tdpservice
