Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 90%
        flags:
          - backend
    patch: off

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

ignore:
  - "tdrs-backend/tdpservice/scheduling/db_backup.py"

- Add test files for new forms and for the actual upload component
  tdrs-frontend/src/components/FileUpload/FileUpload.test.jsx
  tdrs-frontend/src/components/FileUploadForms/QuarterFileUploadForm.test.jsx
  tdrs-frontend/src/components/FileUploadForms/SectionFileUploadForm.test.jsx
Due: frontend

models and schemas
  tdrs-backend/tdpservice/search_indexes/migrations/0035_programaudit_t1_programaudit_t2_programaudit_t3.py
Due: backend

cat 1-3 validation
  tdrs-backend/tdpservice/parsers/schema_defs/utils.py
  tdrs-backend/tdpservice/parsers/schema_manager.py
Due: backend

- Removed all redux state for FY, FQ, and File Type - Made TANF page reactive - Removed form fields to allow selections drive visibility as opposed tot he search button
  tdrs-frontend/src/actions/reports.js
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
  tdrs-frontend/src/components/FileUploadForm/FileUploadForm.jsx
  tdrs-frontend/src/components/Form/RadioSelect.jsx
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/reducers/reports.js
Due: frontend

- Use radio component on Reports page - Rename UploadReport to FileInputForm since it is more clear
  tdrs-frontend/src/components/FileUploadForm/FileUploadForm.js
  tdrs-frontend/src/components/FileUploadForm/FileUploadForm.jsx
  tdrs-frontend/src/components/FileUploadForm/index.js
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/UploadReport/index.js
Due: frontend

- rename to test file to match repo standard
  tdrs-frontend/src/components/FileUploadForm/FileUploadForm.test.js
Due: frontend

- updated tanf reports tests to adhere to new reactive interface and no search button
  tdrs-frontend/src/components/Reports/Reports.test.js
Due: frontend

- Update constructYearOptions to take into account a starting year
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/Reports/utils.js
Due: frontend

- Update tests to use a state that actually has SSP - Update tests to now handle the File Type radio select to always render
  tdrs-frontend/src/components/Reports/Reports.test.js
Due: frontend

- Add key for radio select
  tdrs-frontend/src/components/Form/RadioSelect.jsx
Due: frontend

- Remove unused component and test files
  tdrs-frontend/src/components/FileUploadForm/FileUploadForm.jsx
  tdrs-frontend/src/components/FileUploadForm/FileUploadForm.test.js
  tdrs-frontend/src/components/FileUploadForm/index.js
  tdrs-frontend/src/components/FileUploadForms/QuarterFileUploadForm.jsx
  tdrs-frontend/src/components/FileUploadForms/SectionFileUploadForm.jsx
  tdrs-frontend/src/components/Reports/ProgramIntegrityAuditReports.jsx
  tdrs-frontend/src/components/Reports/TanfSspReports.jsx
Due: frontend

- Prevent multiple submission of PIA files
  tdrs-frontend/src/components/FileUploadForm/QuarterFileUploadForm.jsx
  tdrs-frontend/src/components/FileUploadForm/SectionFileUploadForm.jsx
  tdrs-frontend/src/reducers/reports.js
Due: frontend

- Resolve test failures for fileuploadform
  tdrs-frontend/src/components/FileUploadForm/FileUploadForm.test.js
Due: frontend

- correct extensions
  tdrs-frontend/src/components/FileUploadForms/QuarterFileUploadForm.test.js
  tdrs-frontend/src/components/FileUploadForms/SectionFileUploadForm.test.js
Due: frontend

- Remove tests related to removed redux state/action/reducers
  tdrs-frontend/src/actions/reports.test.js
  tdrs-frontend/src/reducers/reports.test.js
Due: frontend

- Block multiple submission
  tdrs-frontend/src/components/FileUploadForm/QuarterFileUploadForm.jsx
  tdrs-frontend/src/components/FileUploadForm/SectionFileUploadForm.jsx
Due: frontend

- Add tests for new submission history components
  tdrs-frontend/src/components/SubmissionHistory/QuarterSubmissionHistory.test.js
  tdrs-frontend/src/components/SubmissionHistory/SectionSubmissionHistory.test.js
Due: frontend

- Fix file upload logic for admin
  tdrs-frontend/src/components/Reports/Reports.jsx
Due: frontend

fix validation and model relationships
  tdrs-backend/tdpservice/parsers/schema_defs/utils.py
  tdrs-backend/tdpservice/parsers/schema_manager.py
Due: backend

- Use radio component on Reports page - Rename UploadReport to FileInputForm since it is more clear
  tdrs-frontend/src/components/FileUploadForm/FileUploadForm.jsx
  tdrs-frontend/src/components/FileUploadForm/index.js
Due: frontend

- remove duplicate migration
  tdrs-backend/tdpservice/search_indexes/migrations/0035_programaudit_t1_programaudit_t2_programaudit_t3.py
Due: backend

- resolve conflicts
  tdrs-frontend/src/components/FileUploadForm/FileUploadForm.jsx
  tdrs-frontend/src/components/FileUploadForm/index.js
  tdrs-frontend/src/components/FileUploadForms/SectionFileUploadForm.jsx
Due: frontend

- Add missing reprocessed state
  tdrs-frontend/src/components/Reports/ProgramIntegrityAuditReports.jsx
  tdrs-frontend/src/components/Reports/TanfSspReports.jsx
Due: frontend

- Update action to allow null quarter to support program audit
  tdrs-frontend/src/actions/reports.js
  tdrs-frontend/src/components/SubmissionHistory/QuarterSubmissionHistory.jsx
Due: frontend

- Add program audit to error report - Add simple admin interface for ease of use
  tdrs-backend/tdpservice/data_files/error_reports.py
  tdrs-backend/tdpservice/search_indexes/admin/__init__.py
  tdrs-backend/tdpservice/search_indexes/admin/program_audit.py
Due: backend

- Make quarter sub history case agreggates only - remove prints
  tdrs-backend/tdpservice/parsers/schema_defs/utils.py
  tdrs-frontend/src/components/SubmissionHistory/QuarterSubmissionHistory.jsx
Due: frontend, backend

- Update to make pia case aggregates - Use correct functino calls
  tdrs-backend/tdpservice/parsers/parser_classes/tdr_parser.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
Due: backend

- Simplify test cases
  tdrs-frontend/src/components/FileUpload/FileUpload.test.jsx
  tdrs-frontend/src/components/FileUploadForms/QuarterFileUploadForm.test.js
  tdrs-frontend/src/components/FileUploadForms/SectionFileUploadForm.test.js
  tdrs-frontend/src/components/Reports/Reports.test.js
Due: frontend

- move selector functions into context - create re-useable year and quarter components - re-structure reports dir
  tdrs-frontend/src/components/FileUploadForms/QuarterFileUploadForm.jsx
  tdrs-frontend/src/components/FileUploadForms/SectionFileUploadForm.jsx
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/Reports/ReportsContext.jsx
  tdrs-frontend/src/components/Reports/TanfSspReports.jsx
  tdrs-frontend/src/components/Reports/components/Explainers.jsx
  tdrs-frontend/src/components/Reports/components/FiscalYearSelect.jsx
  tdrs-frontend/src/components/Reports/components/FisclaQuarterSelect.jsx
  tdrs-frontend/src/components/Reports/pia/ProgramIntegrityAuditReports.jsx
  tdrs-frontend/src/components/Reports/tdr/TanfSspReports.jsx
Due: frontend

- Update tests based on new reactive report page - Add missing setter for fra files when clearing inputs
  tdrs-frontend/src/components/Reports/FRAReports.test.js
  tdrs-frontend/src/components/Reports/ReportsContext.jsx
Due: frontend

- fix validation error
  tdrs-frontend/src/components/FileUpload/utils.jsx
Due: frontend

- Update fixture IDs - Add small wait for inputs since there isn't a way to wait on the render
  tdrs-backend/tdpservice/fixtures/cypress/users.json
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
Due: backend

- Add test files for components - ignore utils file
  tdrs-frontend/src/components/Form/DropdownSelect.test.js
  tdrs-frontend/src/components/Form/RadioSelect.test.js
  tdrs-frontend/src/components/Reports/utils.js
Due: frontend

- remove unused prop - Update tests to actually render sub components
  tdrs-frontend/src/components/SubmissionHistory/QuarterSubmissionHistory.jsx
  tdrs-frontend/src/components/SubmissionHistory/QuarterSubmissionHistory.test.js
  tdrs-frontend/src/components/SubmissionHistory/SectionSubmissionHistory.test.js
Due: frontend

- Store pending change until user decides what to do
  tdrs-frontend/src/components/Reports/ReportsContext.jsx
Due: frontend

- Make sure quarter upload still validates the quarter of the file
  tdrs-frontend/src/components/FileUpload/utils.jsx
  tdrs-frontend/src/components/FileUploadForms/QuarterFileUploadForm.jsx
Due: frontend

- Update tests
  tdrs-frontend/src/components/FileUploadForms/SectionFileUploadForm.test.js
Due: frontend

- Update to support no longer needing search button
  performance-tests/tests/data-files.js
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
  tdrs-frontend/cypress/e2e/data-files/file_upload.js
  tdrs-frontend/cypress/e2e/data-files/submission_history.js
Due: none

- exclude context from coverage
  tdrs-frontend/src/components/Reports/ReportsContext.jsx
Due: frontend

- Remove console logs - Update FRAReports to have the same form behavior as Reports - Update reports context to include necessary FRA state
  tdrs-frontend/src/components/FileUploadForms/QuarterFileUploadForm.jsx
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/Reports/ReportsContext.jsx
Due: frontend
