Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

implement featureFlag selector in PermissionGuard
  tdrs-frontend/src/components/PermissionGuard/PermissionGuard.jsx
  tdrs-frontend/src/components/PermissionGuard/PermissionGuard.test.js
Due: frontend

- Proxy keycloak with nginx to avoid X-Frame header issues - Add entry point script to start nginx and keycloak in same container
  tdrs-backend/keycloak/Dockerfile
  tdrs-backend/keycloak/entrypoint.sh
  tdrs-backend/keycloak/manifest.yml
  tdrs-backend/keycloak/nginx.conf
Due: none

- Update to use nginx base image to get nginx libs to keep things versioned
  tdrs-backend/keycloak/Dockerfile
Due: none

fix failing tests after merge conflicts
  tdrs-frontend/src/components/FileUploadForms/QuarterFileUploadForm.test.js
  tdrs-frontend/src/components/FileUploadForms/SectionFileUploadForm.test.js
  tdrs-frontend/src/components/Reports/FRAReports.test.js
Due: frontend

- Use actual regex operator instead of LIKE command
  tdrs-backend/plg/grafana_views/generate_views.py
Due: none

refer to cypress users by name and remove redundant tests
  tdrs-frontend/cypress/e2e/feedback-reports/admin-feedback-reports.feature
  tdrs-frontend/cypress/e2e/feedback-reports/admin-feedback-reports.js
  tdrs-frontend/cypress/e2e/feedback-reports/feedback-reports-helpers.js
Due: none

- remove grafana from subpath - integrate grafana with keycloak oidc - remove old prxy paths - Update deploy scripts
  tdrs-backend/docker-compose.yml
  tdrs-backend/keycloak/configure-idps.sh
  tdrs-backend/keycloak/deploy.sh
  tdrs-backend/keycloak/realm-export.json
  tdrs-backend/plg/deploy.sh
  tdrs-backend/plg/grafana/custom.ini
  tdrs-backend/plg/grafana/custom.local.ini
  tdrs-backend/plg/grafana/manifest.yml
  tdrs-frontend/nginx/cloud.gov/locations.conf
  tdrs-frontend/nginx/local/locations.conf
Due: none

- add tests for coverage
  tdrs-backend/tdpservice/core/test/test_admin.py
Due: backend

- Add docs
  docs/Technical-Documentation/auth-architecture.md
  tdrs-backend/keycloak/keycloak-operations.md
  tdrs-backend/keycloak/manifest.yml
Due: none

Add sprint summary for 2026-03-03
  sprint-summary-2026-03-03.md
Due: none

Add issue template for Release Tracker
  .github/ISSUE_TEMPLATE/release-tracker.md
Due: none

- Map users to correct orgs based on group
  tdrs-backend/plg/grafana/custom.ini
  tdrs-backend/plg/grafana/custom.local.ini
Due: none

- Add init container for grafana to vreate orgs - Update grafana config to map groups to orgs and roles in grafana - Update grafana sso to enforce password or ams auth only
  tdrs-backend/docker-compose.yml
  tdrs-backend/keycloak/configure-idps.sh
  tdrs-backend/keycloak/realm-export.json
  tdrs-backend/plg/grafana/custom.ini
  tdrs-backend/plg/grafana/custom.local.ini
  tdrs-backend/plg/grafana/init-grafana-orgs.sh
Due: none

- Update auth doc
  docs/Technical-Documentation/auth-architecture.md
Due: none

- Update grafana logout to just redirect back to grafana login
  tdrs-backend/plg/grafana/custom.ini
  tdrs-backend/plg/grafana/custom.local.ini
Due: none

logs
  tdrs-frontend/src/components/PermissionGuard/PermissionGuard.jsx
Due: frontend

tests
  tdrs-frontend/src/components/PermissionGuard/PermissionGuard.test.js
Due: frontend

- add document
  docs/Technical-Documentation/keycloak-architecture-plan.md
Due: none

Update docs/Technical-Documentation/tech-memos/go-parser/architecture_and_integration_plan.md
  docs/Technical-Documentation/tech-memos/go-parser/architecture_and_integration_plan.md
Due: none

- Fix up diagram
  docs/Technical-Documentation/tech-memos/go-parser/architecture_and_integration_plan.md
Due: none

- Add shadow table phase for go parser
  docs/Technical-Documentation/tech-memos/go-parser/architecture_and_integration_plan.md
Due: none

- Update so that a unique path per datafile parse is generated to keep log files unique - Added tests
  tdrs-backend/tdpservice/data_files/test/test_models.py
  tdrs-backend/tdpservice/data_files/util.py
  tdrs-backend/tdpservice/log_handler.py
Due: backend

- keep file paths backwards compatible
  tdrs-backend/tdpservice/data_files/admin/admin.py
  tdrs-backend/tdpservice/data_files/models.py
  tdrs-backend/tdpservice/data_files/util.py
Due: backend

add reprocessed modal to fra submission history
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/Reports/FRAReports.test.js
Due: frontend

Update Release Tracker issue template for clarity
  .github/ISSUE_TEMPLATE/release-tracker.md
Due: none

- Handy script to check cloud foundry memory usage
  cf-memory-usage.sh
Due: none

- Remove rpt. month year validators from section 3/4 records
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m6.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m7.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t6.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t7.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t6.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t7.py
Due: backend

- Add prometheus observability - Add canary based deployment
  docs/Technical-Documentation/keycloak-architecture-plan.md
Due: none

implement regional feedback reports support
  tdrs-backend/tdpservice/reports/test/conftest.py
  tdrs-backend/tdpservice/reports/test/test_views.py
  tdrs-backend/tdpservice/reports/views.py
  tdrs-backend/tdpservice/users/migrations/0056_add_regional_staff_report_permissions.py
  tdrs-backend/tdpservice/users/permissions.py
  tdrs-frontend/src/components/FeedbackReports/FeedbackReports.test.js
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReports.jsx
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReports.test.js
Due: frontend, backend

remove search button and add stt query param
  tdrs-frontend/src/components/FeedbackReports/FeedbackReports.test.js
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReports.jsx
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReports.test.js
Due: frontend

fix failing tests
  tdrs-backend/tdpservice/reports/test/test_views.py
  tdrs-frontend/src/components/FeedbackReports/FeedbackReports.test.js
Due: frontend, backend

fix frontend linting
  tdrs-frontend/src/components/FeedbackReports/FeedbackReports.test.js
Due: frontend

- Updated keycloak version to allow new metrics - Configured keycloak metrics and alerts based on metrics - Added canary based routing for keycloak vs django auth - Add new routes for auth endpoints
  tdrs-backend/.env.example
  tdrs-backend/docker-compose.yml
  tdrs-backend/keycloak/Dockerfile
  tdrs-backend/keycloak/deploy.sh
  tdrs-backend/keycloak/entrypoint.sh
  tdrs-backend/keycloak/keycloak-operations.md
  tdrs-backend/keycloak/manifest.yml
  tdrs-backend/plg/deploy.sh
  tdrs-backend/plg/grafana/dashboards/keycloak_capacity.json
  tdrs-backend/plg/grafana/dashboards/keycloak_metrics.json
  tdrs-backend/plg/prometheus/alerts.yml
  tdrs-backend/plg/prometheus/prometheus.local.yml
  tdrs-backend/plg/prometheus/prometheus.yml
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/urls.py
  tdrs-backend/tdpservice/users/api/canary.py
  tdrs-backend/tdpservice/users/api/canary_views.py
  tdrs-backend/tdpservice/users/api/login_redirect_oidc.py
  tdrs-backend/tdpservice/users/test/test_canary.py
  tdrs-backend/tdpservice/users/views.py
  tdrs-frontend/.env
  tdrs-frontend/.env.development
  tdrs-frontend/.env.test
  tdrs-frontend/nginx/cloud.gov/locations.conf
  tdrs-frontend/nginx/local/locations.conf
Due: backend

- Add new digit sensitive role - updated postgres role script to be a little more user friendly
  scripts/apply-database-config.sh
  tdrs-backend/scripts/create_grafana_postgres_role.py
Due: none

default empty array
  tdrs-frontend/src/reducers/featureFlags.js
  tdrs-frontend/src/reducers/featureFlags.test.js
Due: frontend

fix api name
  tdrs-frontend/src/components/PermissionGuard/PermissionGuard.jsx
  tdrs-frontend/src/components/PermissionGuard/PermissionGuard.test.js
Due: frontend

add getFlagOrDefault helper
  tdrs-frontend/src/selectors/featureFlags.js
  tdrs-frontend/src/selectors/featureFlags.test.js
Due: frontend

update PermissionGuard to use getFlagOrDefault
  tdrs-frontend/src/components/PermissionGuard/PermissionGuard.jsx
Due: frontend

fix yearInputValue update bug
  tdrs-frontend/src/components/Reports/ReportsContext.jsx
Due: frontend

implement pia feature flag in Reports
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/Reports/Reports.test.js
  tdrs-frontend/src/components/Reports/ReportsContext.jsx
Due: frontend

Path conditions:
  frontend: any of: tdrs-frontend/src, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
  backend: any of: tdrs-backend/tdpservice, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
