Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 95%
        flags:
          - backend

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

linter again. i ran it locally this time
  tdrs-backend/tdpservice/users/models.py
Due: backend

don't add prod vars in staging
  .circleci/config.yml
  scripts/deploy-backend.sh
Due: none

fix prod allowed hosts typo
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

run on staging
  .circleci/config.yml
Due: none

cookies in Access-Control-Allow-Headers
  tdrs-backend/tdpservice/users/api/authorization_check.py
Due: backend

revert last commit, use old version of nginx conf
  tdrs-backend/tdpservice/users/api/authorization_check.py
  tdrs-frontend/nginx/buildpack.nginx.conf
Due: backend

trying to get it to work on in just prod
  tdrs-backend/tdpservice/settings/cloudgov.py
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/settings/local.py
  tdrs-backend/tdpservice/users/api/authorization_check.py
  tdrs-frontend/nginx/buildpack.nginx.conf
  tdrs-frontend/src/actions/auth.js
Due: frontend, backend

using ALLOWED ORIGIN
  scripts/deploy-frontend.sh
  tdrs-frontend/nginx/buildpack.nginx.conf
Due: none

spelling mistake
  scripts/deploy-frontend.sh
Due: none

using env.development
  scripts/deploy-frontend.sh
Due: none

removed prod middleware form common.py
  tdrs-backend/tdpservice/settings/common.py
Due: backend

middleware for prod
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

use common.py from main-rewind
  tdrs-backend/tdpservice/settings/common.py
Due: backend

allow saving user without group
  tdrs-backend/tdpservice/users/admin.py
Due: backend

rm comment
  tdrs-frontend/src/components/Header/Header.jsx
Due: frontend

added session cookies code to prod settings
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

deploy to staging only
  .circleci/config.yml
Due: none

reorder middleware
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

deploy to prod and staging
  .circleci/config.yml
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

move SessionMiddleware to common
  tdrs-backend/gunicorn_start.sh
  tdrs-backend/tdpservice/settings/cloudgov.py
  tdrs-backend/tdpservice/settings/common.py
Due: backend

python script to change EOL with _
  scripts/tools/sshkey_change.py
Due: none

ENV variable for specific ACF TITAN directory
  tdrs-backend/tdpservice/scheduling/tasks.py
  tdrs-backend/tdpservice/settings/common.py
Due: backend

remove testing code
  .circleci/config.yml
  tdrs-backend/gunicorn_start.sh
Due: none

add /scan to AV_SCAN_URL
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

test clamav
  tdrs-backend/tdpservice/settings/cloudgov.py
  tdrs-backend/tdpservice/settings/local.py
  tdrs-frontend/src/actions/auth.js
  tdrs-frontend/src/components/Button/Button.jsx
  tdrs-frontend/src/components/Reports/Reports.jsx
Due: frontend, backend

syntax
  tdrs-backend/tdpservice/settings/local.py
Due: backend

added 'unsafe-inline'
  tdrs-backend/tdpservice/settings/local.py
  tdrs-frontend/nginx/buildpack.nginx.conf
Due: backend

removed 'unsafe-inline'
  tdrs-backend/tdpservice/settings/local.py
  tdrs-frontend/nginx/buildpack.nginx.conf
Due: backend

remove unneeded comments
  tdrs-backend/tdpservice/settings/local.py
  tdrs-frontend/src/actions/auth.js
Due: frontend, backend

syntax
  tdrs-frontend/src/actions/auth.js
Due: frontend

linting, chaging upload filename, etc
  tdrs-backend/gunicorn_start.sh
  tdrs-backend/scripts/sshkey_change.py
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/scheduling/sftp_task.py
Due: backend

test file reference change
  tdrs-backend/tdpservice/scheduling/test/test_file_upload.py
Due: backend

correct typo
  tdrs-backend/tdpservice/scheduling/sftp_task.py
  tdrs-backend/tdpservice/settings/common.py
Due: backend

increase timeout for OWASP
  .circleci/config.yml
  commands.sh
Due: none

Added env var for local Redis
  tdrs-backend/docker-compose.yml
Due: none

Added env var for owasp scan to use redis
  .circleci/config.yml
  tdrs-backend/gunicorn_start.sh
Due: none

Changed redis_server_local to TRUE
  tdrs-backend/docker-compose.yml
Due: none

added link to footer
  tdrs-frontend/src/components/Footer/Footer.jsx
  tdrs-frontend/src/components/Footer/Footer.test.js
Due: frontend
