Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 90%
        flags:
          - backend
    patch: off

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

ignore:
  - "tdrs-backend/tdpservice/scheduling/db_backup.py"

- updated count
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

- Correct num errors
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

Small fix to rowspan
  tdrs-frontend/src/components/SubmissionHistory/CaseAggregatesTable.jsx
  tdrs-frontend/src/components/SubmissionHistory/ReprocessedModal.jsx
Due: frontend

- Added extra matchers to ensure dev and admins are getting basically all the alerts for now
  tdrs-backend/plg/alertmanager/alertmanager.yml
Due: none

- Add convenience flag for prometheus deploy - use correct grafana route in prometheus scrape config
  tdrs-backend/plg/prometheus/manifest.yml
  tdrs-backend/plg/prometheus/prometheus.yml
Due: none

- Add test for reprocessed button/modal
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.test.js
Due: frontend

- linting
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.test.js
Due: frontend

moved the footer link to one line (#3318)
  tdrs-frontend/src/components/Footer/Footer.jsx
Due: frontend

- Update lock file
  tdrs-backend/Pipfile.lock
Due: none

- linting
  tdrs-backend/tdpservice/users/models.py
Due: backend

Cypress tech memo, re: test-e2e-deployment (#3196)
  .github/workflows/build-backend.yml
  .github/workflows/build-frontend.yml
  Taskfile.yml
  docs/Technical-Documentation/tech-memos/cypress-auth.md
Due: none

- Add underline text decoration - Fixed bug in Modal that caused it to crash when tabbing or shift tabbing with only one button
  tdrs-frontend/src/assets/Reports.scss
  tdrs-frontend/src/components/Modal/Modal.jsx
Due: frontend

- Moved model to parent component - Add state props to update modal based on which files reprocessed button is clicked - made the reprocessed button a separate component
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/SubmissionHistory/CaseAggregatesTable.jsx
  tdrs-frontend/src/components/SubmissionHistory/ReprocessedModal.jsx
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.jsx
  tdrs-frontend/src/components/SubmissionHistory/TotalAggregatesTable.jsx
Due: frontend

- Updated test
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.test.js
Due: frontend

data files browser load test
  Taskfile.yml
  performance-tests/data/ADS.E2J.FTP1.TS06
  performance-tests/data/ADS.E2J.FTP2.TS06
  performance-tests/data/ADS.E2J.FTP3.TS06
  performance-tests/data/ADS.E2J.FTP4.TS06
  performance-tests/files.js
  performance-tests/tests/data-files.js
  performance-tests/utils.js
Due: none

parametrize + default cypress token
  Taskfile.yml
Due: none

parametrize + default base url
  Taskfile.yml
Due: none

- do NOT consider an unfinished reparse event to be the latest reparse
  tdrs-backend/tdpservice/data_files/serializers.py
Due: backend

- Updated function to prioritize querset based on file section - added secton check to download view
  tdrs-backend/tdpservice/data_files/util.py
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

- Linting
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

- exclude cat2 error about update indicator wrt S3/S4 files
  tdrs-backend/tdpservice/data_files/util.py
Due: backend

- Changed order for consistency
  tdrs-backend/tdpservice/data_files/util.py
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

3.7.5 updates
  product-updates/knowledge-center/index.html
  product-updates/knowledge-center/view-submission-history.html
  product-updates/knowledge-center/viewing-error-reports.html
Due: none

Symbols & table divisions
  product-updates/knowledge-center/viewing-error-reports.html
Due: none

1337 email owner as system admin group (un)assigned (#3253)
  .gitignore
  tdrs-backend/tdpservice/email/email_enums.py
  tdrs-backend/tdpservice/email/helpers/admin_notifications.py
  tdrs-backend/tdpservice/email/tasks.py
  tdrs-backend/tdpservice/email/templates/system-admin-role-changed.html
  tdrs-backend/tdpservice/users/apps.py
  tdrs-backend/tdpservice/users/signals.py
  tdrs-backend/tdpservice/users/test/test_signals.py
  tdrs-frontend/src/selectors/auth.js
Due: frontend, backend

- Updated spreadsheet writer to be a bit smarter with respect to the file's section
  tdrs-backend/tdpservice/data_files/util.py
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

- Added deprecated flag to parser error model - deprecated cat4 validators, add deprecation warning message - added migration
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/parsers/case_consistency_validator.py
  tdrs-backend/tdpservice/parsers/migrations/0012_parsererror_deprecated.py
  tdrs-backend/tdpservice/parsers/models.py
Due: backend

- Linting
  tdrs-backend/tdpservice/parsers/validators/category1.py
  tdrs-backend/tdpservice/parsers/validators/util.py
Due: backend

- updated test case consistency
  tdrs-backend/tdpservice/parsers/test/test_case_consistency.py
Due: backend

enable celery worker task events
  tdrs-backend/tdpservice/settings/common.py
Due: backend

add api scenario
  performance-tests/tests/data-files.js
Due: none

add taskfile scenario switching
  Taskfile.yml
Due: none

add api test sleep
  performance-tests/tests/data-files.js
Due: none

- Fix error with deprecate_call - Add tests for deprecation functions
  tdrs-backend/tdpservice/parsers/test/test_util.py
  tdrs-backend/tdpservice/parsers/validators/util.py
Due: backend

- Fixed cat1 tests
  tdrs-backend/tdpservice/parsers/validators/test/test_category1.py
Due: backend

- Fixed cat2 tests
  tdrs-backend/tdpservice/parsers/validators/test/test_category2.py
Due: backend

- Fixed cat3 tests
  tdrs-backend/tdpservice/parsers/validators/test/test_category3.py
Due: backend

- Updated test
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend
