Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 90%
        flags:
          - backend
    patch: off

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

ignore:
  - "tdrs-backend/tdpservice/scheduling/db_backup.py"

oh there were NOT supposed to be commas
  scripts/deploy-backend.sh
Due: none

- Added new scripted field - Updated visualizations to make use of the scripted RPT_MONTH_YEAR_DATE field
  tdrs-backend/tdpservice/search_indexes/kibana_saved_objs.ndjson
Due: backend

correct docs comment
  tdrs-backend/docs/session-management.md
Due: none

query efficiency
  tdrs-backend/tdpservice/email/tasks.py
Due: backend

clarity comment
  tdrs-backend/tdpservice/settings/common.py
Due: backend

add no recips logentry
  tdrs-backend/tdpservice/email/tasks.py
Due: backend

update env config to include secret key management
  docs/Technical-Documentation/Architecture-Decision-Record/004-configuration-by-environment-variable.md
Due: none

add session cookie docs link
  tdrs-backend/docs/session-management.md
Due: none

rm comments
  tdrs-backend/tdpservice/email/tasks.py
Due: backend

update email subject to include ssp/tanf
  tdrs-backend/tdpservice/email/tasks.py
  tdrs-backend/tdpservice/email/test/test_upcoming_deadline_email.py
Due: backend

SSP -> TANF and SSP
  tdrs-backend/tdpservice/email/tasks.py
Due: backend

removed unused response_internal
  tdrs-backend/tdpservice/users/api/utils.py
  tdrs-backend/tdpservice/users/test/test_auth.py
Due: backend

unused imports
  tdrs-backend/tdpservice/users/api/utils.py
Due: backend

Ports over test env changes
  product-updates/img/error-reports/error-report.png
  product-updates/img/error-reports/flatfile.png
  product-updates/knowledge-center/view-submission-history.html
  product-updates/knowledge-center/viewing-error-reports.html
Due: none

Update product-updates/knowledge-center/viewing-error-reports.html
  product-updates/knowledge-center/viewing-error-reports.html
Due: none

Update product-updates/knowledge-center/about-email-notifications.html
  product-updates/knowledge-center/about-email-notifications.html
Due: none

2897 finalized reporting language (#2962)
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/data_files/util.py
  tdrs-frontend/src/components/SubmissionHistory/CaseAggregatesTable.jsx
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.jsx
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.test.js
  tdrs-frontend/src/components/SubmissionHistory/TotalAggregatesTable.jsx
Due: frontend, backend

- adding some generic parsing flow docs
  docs/Technical-Documentation/diagrams/parsing.drawio
  docs/Technical-Documentation/diagrams/parsing.png
  docs/Technical-Documentation/parsing-flow.md
Due: none

Update viewing-error-reports.html
  product-updates/knowledge-center/viewing-error-reports.html
Due: none

Updates nav
  product-updates/knowledge-center/about-email-notifications.html
  product-updates/knowledge-center/complete-resubmissions.html
  product-updates/knowledge-center/create-new-login.html
  product-updates/knowledge-center/existing-login.html
  product-updates/knowledge-center/exporting-complete-data-using-ftanf.html
  product-updates/knowledge-center/faq.html
  product-updates/knowledge-center/give-feedback.html
  product-updates/knowledge-center/index.html
  product-updates/knowledge-center/managing-your-account.html
  product-updates/knowledge-center/uploading-data.html
  product-updates/knowledge-center/view-submission-history.html
  product-updates/knowledge-center/viewing-error-reports.html
Due: none

fix tests
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

fix test
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

Final formatting tweaks
  product-updates/knowledge-center/viewing-error-reports.html
Due: none

- fix merge conflicts
  tdrs-backend/tdpservice/data_files/test/test_api.py
Due: backend

- fix lint
  tdrs-backend/tdpservice/data_files/test/test_api.py
Due: backend

2991 remove SFTP and ACF titan related codes (#3003)
  docs/Security-Compliance/File-Transfer-TDRS/README.md
  docs/Security-Compliance/File-Transfer-TDRS/diagram.drawio
  docs/Security-Compliance/File-Transfer-TDRS/diagram.png
  docs/Technical-Documentation/secret-key-rotation-steps.md
  scripts/deploy-backend.sh
  tdrs-backend/.env.example
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
  tdrs-backend/docker-compose.local.yml
  tdrs-backend/docker-compose.yml
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/scheduling/sftp_task.py
  tdrs-backend/tdpservice/scheduling/test/test_file_upload.py
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/settings/local.py
Due: backend

- resolved dependencies
  tdrs-backend/Pipfile.lock
Due: none

abs import
  tdrs-backend/tdpservice/email/tasks.py
Due: backend

move calendar_to_fiscal to util
  tdrs-backend/tdpservice/email/tasks.py
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

fix tests
  tdrs-backend/tdpservice/email/tasks.py
Due: backend

lint
  tdrs-backend/tdpservice/email/tasks.py
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

pass error_context_format for different formatting cat 3 messages
  tdrs-backend/tdpservice/parsers/row_schema.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/test/test_validators.py
  tdrs-backend/tdpservice/parsers/validators.py
Due: backend
