Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

add tests for STTFeedbackReports
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReports.test.js
Due: frontend

Add FRA support to the FeedbackReportAlert component
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportAlert.jsx
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/Reports/tdr/TanfSspReports.jsx
Due: frontend

Add tests for FeedbackReportAlert component
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportAlert.test.js
Due: frontend

fix link in feedback report email
  tdrs-backend/tdpservice/email/templates/feedback/report-available.html
Due: backend

fix linting issues
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportAlert.test.js
Due: frontend

Add a TODO to update the subtitle
  tdrs-frontend/src/components/Routes/Routes.js
Due: frontend

Fix failing test suites
  tdrs-frontend/src/components/FeedbackReports/FeedbackReports.test.js
  tdrs-frontend/src/components/Reports/FRAReports.test.js
Due: frontend

skip e2e test
  tdrs-frontend/cypress/e2e/feedback-reports/admin-feedback-reports.feature
Due: none

add a max_records_per_case validator
  tdrs-services/parser/config/filespecs/tanf/s1.yaml
  tdrs-services/parser/config/filespecs/tanf/s2.yaml
  tdrs-services/parser/config/validation/validators.yaml
  tdrs-services/parser/internal/integration/cat4_validators_test.go
Due: none

update max_records_per_case to 17
  tdrs-services/parser/config/filespecs/tanf/s1.yaml
  tdrs-services/parser/config/filespecs/tanf/s2.yaml
Due: none

migrate max_records comment
  tdrs-services/parser/config/filespecs/tanf/s1.yaml
  tdrs-services/parser/config/filespecs/tanf/s2.yaml
Due: none

screen readers now focus on H2 header as soon as it pops up
  tdrs-frontend/src/components/FeedbackReports/AdminFeedbackReports.jsx
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReports.jsx
Due: frontend

use serif font for h2
  tdrs-frontend/src/components/FeedbackReports/AdminFeedbackReports.jsx
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReports.jsx
Due: frontend

update description text for STTFeedbackReports component
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReports.jsx
Due: frontend

fix tests
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReports.test.js
Due: frontend

update Description Text of STTFeedbackReports component
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReports.jsx
Due: frontend

only limit FRA access in STTFeedbackReports to non Tribes
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReports.jsx
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReports.test.js
Due: frontend

only show Feedback Report Type to regional user if a tribe is not selected
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReports.jsx
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReports.test.js
Due: frontend

don't filter tribes out of combobox
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReports.jsx
Due: frontend

remove subtitle from STT feedback reports view
  tdrs-frontend/src/components/Routes/Routes.js
  tdrs-frontend/src/components/Routes/Routes.test.js
Due: frontend

Update tdrs-services/parser/config/validation/validators.yaml
  tdrs-services/parser/config/validation/validators.yaml
Due: none

fix CreateTestDatafile for integration tests
  tdrs-services/parser/internal/testutil/datafile.go
Due: none

- Use correct database name
  tdrs-backend/keycloak/manifest.yml
Due: none

4.17.0 Release Readiness
  product-updates/img/feedback-reports/download.png
  product-updates/img/feedback-reports/feedback-reports-tab.png
  product-updates/knowledge-center/Reference TANF & SSP WPR & TL Feedback Reports 2026-02 Experimental.xls
  product-updates/knowledge-center/Reference TANF & SSP WPR & TL Feedback Reports 2026-02 Experimental.xlsx
  product-updates/knowledge-center/Reference TANF & SSP WPR & TL Feedback Reports 2026-02.xlsx
  product-updates/knowledge-center/about-email-notifications.html
  product-updates/knowledge-center/faq.html
  product-updates/knowledge-center/feedback-reports.html
  product-updates/knowledge-center/release-notes.html
Due: none

- Update backend deploy script to impute required env vars - Remove unneeded vars from deployed settings - Update common settings
  scripts/deploy-backend.sh
  tdrs-backend/tdpservice/settings/cloudgov.py
  tdrs-backend/tdpservice/settings/common.py
Due: backend

- Allow useage of key name
  .gitconfig
Due: none

Update uswds3.css
  product-updates/css/uswds3.css
Due: none

- Update example env - update deploy script with better example
  tdrs-backend/.env.example
  tdrs-backend/keycloak/deploy.sh
Due: none

- Apply and use Jans patch
  tdrs-backend/keycloak/configure-idps.sh
Due: none

- Add healthcheck for web so go-parser only starts when database migrations have been ran
  tdrs-backend/docker-compose.yml
Due: none

add ci-focused compilation checks
  Taskfile.yml
  tdrs-services/parser/Makefile
  tdrs-services/parser/README.md
  tdrs-services/parser/internal/validation/registry_config_test.go
Due: none

add circleci workflow for go parser
  .circleci/base_config.yml
  .circleci/build-and-test/jobs.yml
  .circleci/build-and-test/workflows.yml
  .circleci/config.yml
Due: none

add sqlc vet and verify
  .circleci/build-and-test/jobs.yml
  Taskfile.yml
  tdrs-services/parser/Makefile
  tdrs-services/parser/README.md
Due: none

replace reduntant migrations with waitfor
  .circleci/build-and-test/jobs.yml
Due: none

- Use configured database instead of test database for pytest - add go parse stub task to register it - add temp testfile
  tdrs-backend/tdpservice/conftest.py
  tdrs-backend/tdpservice/parsers/test/test_go_parser.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
  tdrs-backend/tdpservice/settings/common.py
Due: backend

- Create custom redis backend to correctly publish results - Integrate the backend with celery server mode
  tdrs-backend/docker-compose.yml
  tdrs-backend/tdpservice/parsers/test/test_go_parser.py
  tdrs-services/parser/internal/server/celery/celery.go
  tdrs-services/parser/internal/server/celery/redis_backend.go
Due: backend

- ignore codex
  .gitignore
Due: none

rm verify
  .circleci/build-and-test/jobs.yml
  tdrs-services/parser/Makefile
  tdrs-services/parser/README.md
Due: none

update go mod toolchain
  tdrs-services/parser/go.mod
Due: none

rm postgres dep install
  .circleci/build-and-test/jobs.yml
Due: none

Path conditions:
  frontend: any of: tdrs-frontend/src, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
  backend: any of: tdrs-backend/tdpservice, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
