Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 90%
        flags:
          - backend
    patch: off

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

ignore:
  - "tdrs-backend/tdpservice/scheduling/db_backup.py"

TEST git trigger for make_erd job
  .circleci/build-and-test/workflows.yml
Due: none

remove TEST commit
  .circleci/build-and-test/workflows.yml
Due: none

#5071 cleaned up console logs and inline styling as well
  tdrs-frontend/src/assets/feedback/Feedback.scss
  tdrs-frontend/src/components/FeedbackModal/Feedback.jsx
  tdrs-frontend/src/components/FeedbackModal/FeedbackForm.jsx
  tdrs-frontend/src/components/FeedbackModal/FeedbackModal.jsx
Due: frontend

- remove debug stuff
  scripts/deploy-frontend.sh
Due: none

#5071 needed to update test do to changing buttons to utilize Button component due to it overridding data-testids, so need to get by text now
  tdrs-frontend/cypress/e2e/feedback/user-feedback.js
  tdrs-frontend/src/components/FeedbackModal/Feedback.test.js
  tdrs-frontend/src/components/FeedbackModal/FeedbackForm.test.js
Due: frontend

#5071 updated test to look for error console logs
  tdrs-frontend/src/components/FeedbackModal/FeedbackForm.test.js
Due: frontend

#5071 updated some more test for coverage
  tdrs-frontend/src/App.test.js
  tdrs-frontend/src/components/FeedbackModal/FeedbackModal.test.js
Due: frontend

#5071 updated test for coverage
  tdrs-frontend/src/components/FeedbackModal/FeedbackModal.test.js
Due: frontend

- Update alerting rules
  tdrs-backend/plg/prometheus/alerts.local.yml
  tdrs-backend/plg/prometheus/alerts.yml
Due: none

- Update wait rules to ensure that the alert won't fire during a rolling deployment
  tdrs-backend/plg/prometheus/alerts.yml
Due: none

- align local and deployed
  tdrs-backend/plg/prometheus/alerts.local.yml
Due: none

add error_report dfs field
  tdrs-backend/tdpservice/parsers/migrations/0014_datafilesummary_error_report.py
  tdrs-backend/tdpservice/parsers/models.py
Due: backend

move error report generation to parser_task
  tdrs-backend/tdpservice/data_files/error_reports.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
Due: backend

download new error report
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-frontend/src/actions/createXLSReport.js
  tdrs-frontend/src/components/SubmissionHistory/helpers.jsx
Due: frontend, backend

tests
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-frontend/src/actions/createXLSReport.test.js
Due: frontend, backend

update manifest name
  tdrs-backend/manifest.celery.yml
Due: none

fix test
  tdrs-backend/tdpservice/data_files/test/test_api.py
Due: backend

add fixture
  tdrs-backend/tdpservice/data_files/test/test_api.py
Due: backend

- Remove dev config to allow faro deployment - Upgrade Grafana to version 12.0.2 - Update permissions on dashboard
  scripts/deploy-frontend.sh
  tdrs-backend/docker-compose.yml
  tdrs-backend/plg/grafana/dashboards/user_telemetry.json
  tdrs-backend/plg/grafana/manifest.yml
Due: none

fix fixture
  tdrs-backend/tdpservice/data_files/test/test_api.py
Due: backend

fix fixtuer
  tdrs-backend/tdpservice/data_files/test/test_api.py
Due: backend

lint
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

add cloud param to celery start
  tdrs-backend/manifest.celery.yml
Due: none

add celery to plg network policies
  tdrs-backend/plg/deploy.sh
Due: none

add internal celery route
  scripts/deploy-backend.sh
Due: none

Update about-email-notifications.html
  product-updates/knowledge-center/about-email-notifications.html
Due: none

change celery scrape route
  tdrs-backend/plg/prometheus/prometheus.yml
Due: none

rm unneeded
  tdrs-backend/celery_start.sh
Due: none

- Roll version
  scripts/deploy-frontend.sh
  tdrs-frontend/.env
  tdrs-frontend/.env.development
  tdrs-frontend/.env.test
Due: none

move update network call
  scripts/deploy-backend.sh
Due: none

rm unneeded net pols
  tdrs-backend/plg/deploy.sh
Due: none

rm unused ports
  tdrs-backend/plg/deploy.sh
Due: none

celery -> tdp-celery
  tdrs-backend/plg/prometheus/prometheus.yml
Due: none

save versioning id in error report filename
  tdrs-backend/tdpservice/parsers/models.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
Due: backend

fix version id race condition
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

fix errors found by pyright
  tdrs-backend/tdpservice/users/models.py
Due: backend

change to django-types from django-stubs
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
Due: none

- Update migration - Add admin filtering - Add serializer - Add viewset - Make viewing and listing feedback an admin only privilege
  tdrs-backend/tdpservice/users/admin.py
  tdrs-backend/tdpservice/users/migrations/0046_user_feedback.py
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/serializers.py
  tdrs-backend/tdpservice/users/urls.py
  tdrs-backend/tdpservice/users/views.py
Due: backend

- Remove unneeded function - Update viewset to handle permissions accordingly
  tdrs-backend/tdpservice/users/serializers.py
  tdrs-backend/tdpservice/users/views.py
Due: backend

readonly admin pages
  tdrs-backend/tdpservice/parsers/admin.py
Due: backend
