Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 95%
        flags:
          - backend

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

Update sprint-schedule.md
  docs/How-We-Work/team-charter/sprint-schedule.md
Due: none

Update our-team-and-values.md
  docs/How-We-Work/team-charter/our-team-and-values.md
Due: none

Delete team-charter.md
  docs/How-We-Work/team-charter/team-charter.md
Due: none

Removed Cypress from the project
  .circleci/config.yml
  .github/dependabot.yml
  README.md
  docs/Technical-Documentation/circle-ci.md
  docs/Technical-Documentation/unit-tests.md
  tdrs-frontend/.eslintrc.json
  tdrs-frontend/README.md
  tdrs-frontend/cypress.json
  tdrs-frontend/cypress/integration/login.spec.js
  tdrs-frontend/cypress/integration/welcome_page_greeting.spec.js
  tdrs-frontend/cypress/plugins/index.js
  tdrs-frontend/package.json
  tdrs-frontend/src/mirage.js
  tdrs-frontend/yarn.lock
Due: frontend

Regenerated yarn.lock
  tdrs-frontend/yarn.lock
Due: none

Added missing link to pa11y for frontend README
  tdrs-frontend/README.md
Due: none

refactor: update ams redirect uris
  tdrs-backend/tdpservice/urls.py
  tdrs-backend/tdpservice/users/api/login_redirect_oidc.py
Due: backend

Trying something discussed in code review
  scripts/git-secrets-check.sh
Due: none

try 2
  scripts/git-secrets-check.sh
Due: none

seriously? a single period.
  scripts/git-secrets-check.sh
Due: none

other improvements
  scripts/git-secrets-check.sh
Due: none

wanting to prove secrets finds secrets
  scripts/fakey_creds_for_testing.txt
Due: none

prepping for final review
  scripts/fakey_creds_for_testing.txt
Due: none

refactor: add temp loggers
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-backend/tdpservice/users/api/login_redirect_oidc.py
Due: backend

Work on tablocking header menu
  tdrs-frontend/src/components/Header/Header.jsx
  tdrs-frontend/src/components/NavItem/NavItem.jsx
Due: frontend

Updating dependencies per alerts from dependabot
  tdrs-frontend/package.json
  tdrs-frontend/yarn.lock
Due: none

Update docs/How-We-Work/team-charter/team-meetings.md
  docs/How-We-Work/team-charter/team-meetings.md
Due: none

Merge conflict linter update
  tdrs-backend/tdpservice/users/serializers.py
Due: backend

Update tdrs-frontend/src/index.js
  tdrs-frontend/src/index.js
Due: frontend

sync with hackmd
  scripts/README.md
Due: none

Add description to zap scanner and expand usage
  scripts/README.md
Due: none

refactor: test new token endpoint payload
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-backend/tdpservice/users/api/login_redirect_oidc.py
Due: backend

Updates to resolutions per code review
  tdrs-frontend/package.json
  tdrs-frontend/yarn.lock
Due: none

add a list of possible deployment strategies
  scripts/README.md
Due: none

remove /login test
  tdrs-frontend/.pa11yci.json
Due: none

Trying latest localstack version (13.0), resolves issue locally
  tdrs-backend/docker-compose.yml
Due: none

Create sprint-35-summary.md
  docs/Sprint-Review/sprint-35-summary.md
Due: none

Need to tell CircleCI to pull the environment variable into the docker container for TDP/backend
  tdrs-backend/docker-compose.yml
Due: none

add real world examples for zap-scanner.sh
  scripts/README.md
Due: none

reverting localstack version change -- was previously grasping at straws
  tdrs-backend/docker-compose.yml
Due: none

update usage
  scripts/README.md
Due: none

Add usage to deploy-backend fs
  scripts/README.md
Due: none

Add descriptions to deployment scripts
  scripts/README.md
Due: none

add arguements extracted from cf cli
  scripts/README.md
Due: none

refactor: fix token request shape
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-backend/tdpservice/users/api/utils.py
Due: backend

refactor: remove ams client assertion func
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-backend/tdpservice/users/api/utils.py
Due: backend

Update 018-developer-tabletops.md
  docs/Architecture Decision Record/018-developer-tabletops.md
Due: none

feat: log in users via hhs
  tdrs-backend/tdpservice/users/api/login.py
Due: backend

Update 001 ADR template.md
  docs/Architecture Decision Record/001 ADR template.md
Due: none
