Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Add sprint summary for 2025-11-18
  sprint-summary-2025-11-18.md
Due: none

Edit to sprint overview about the alert banner module
  sprint-summary-2025-12-02.md
Due: none

Add sprint summary for 2025-12-02
  sprint-summary-2025-12-02.md
Due: none

clear feature flag cache on model updates
  tdrs-backend/tdpservice/core/models.py
Due: backend

add local cache config
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/settings/local.py
Due: backend

configure stts/alpha endpoint caching
  tdrs-backend/tdpservice/stts/test/test_api.py
  tdrs-backend/tdpservice/stts/views.py
Due: backend

add cached feature flag endpoint
  tdrs-backend/tdpservice/core/serializers.py
  tdrs-backend/tdpservice/core/test/test_api.py
  tdrs-backend/tdpservice/core/views.py
  tdrs-backend/tdpservice/urls.py
Due: backend

cloudgov cache settings
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

- Update task to use fiscal year and quarter since thats what datafiles store - Added logic to include program type in the search for submitted file types
  tdrs-backend/tdpservice/email/tasks.py
Due: backend

- remove unused import
  tdrs-backend/tdpservice/email/tasks.py
Due: backend

- linting
  tdrs-backend/tdpservice/email/tasks.py
Due: backend

add report view and update permissions to ofa sys admin
  tdrs-backend/tdpservice/users/migrations/0054_update_feedback_report_permissions.py
Due: backend

move ofa sys admin permission addition to seperate migration
  tdrs-backend/tdpservice/users/migrations/0054_update_feedback_report_permissions.py
  tdrs-backend/tdpservice/users/migrations/0055_add_ofa_sys_admin_report_permissions.py
Due: backend

- Update and add tests for email reminder logic
  tdrs-backend/tdpservice/email/test/test_upcoming_deadline_email.py
Due: backend

- linting
  tdrs-backend/tdpservice/email/test/test_upcoming_deadline_email.py
Due: backend

Revert "- Remove the uploaded files state as a condition for whether the submit button is enabled"
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
  tdrs-frontend/src/components/FileUploadForms/QuarterFileUploadForm.jsx
  tdrs-frontend/src/components/FileUploadForms/QuarterFileUploadForm.test.js
  tdrs-frontend/src/components/FileUploadForms/SectionFileUploadForm.jsx
  tdrs-frontend/src/components/FileUploadForms/SectionFileUploadForm.test.js
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/Reports/FRAReports.test.js
  tdrs-frontend/src/components/Reports/Reports.test.js
  tdrs-frontend/src/hooks/useFileUploadForm.js
Due: frontend

- Add data tag for cypress tests to avoid the redux race issue - Update cypress to look for data tag on submit button - Add data tag to all submit buttons
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
  tdrs-frontend/src/components/Button/Button.jsx
  tdrs-frontend/src/components/FileUploadForms/QuarterFileUploadForm.jsx
  tdrs-frontend/src/components/FileUploadForms/SectionFileUploadForm.jsx
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

add new processingAlert
  tdrs-frontend/src/components/FileUploadForms/QuarterFileUploadForm.jsx
  tdrs-frontend/src/components/FileUploadForms/SectionFileUploadForm.jsx
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/Reports/ReportsContext.jsx
  tdrs-frontend/src/hooks/useFileUploadForm.js
Due: frontend

stop screen reader from interrupting alert message
  tdrs-frontend/src/components/FileUploadForms/QuarterFileUploadForm.jsx
  tdrs-frontend/src/components/FileUploadForms/SectionFileUploadForm.jsx
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

reset processingAlert banner when file changes
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
  tdrs-frontend/src/components/FileUploadForms/QuarterFileUploadForm.jsx
  tdrs-frontend/src/components/FileUploadForms/SectionFileUploadForm.jsx
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/hooks/useFileUploadForm.js
Due: frontend

- linting
  tdrs-frontend/src/components/Reports/Reports.test.js
Due: frontend

- Update so that reparse success state is conditional
  tdrs-backend/tdpservice/scheduling/parser_task.py
Due: backend

parametrize datafile queryset filter test
  tdrs-backend/tdpservice/data_files/test/test_api.py
Due: backend

lint
  tdrs-backend/tdpservice/data_files/test/test_api.py
Due: backend

fix frontend tests
  tdrs-frontend/src/components/FileUploadForms/QuarterFileUploadForm.test.js
  tdrs-frontend/src/components/FileUploadForms/SectionFileUploadForm.test.js
  tdrs-frontend/src/components/Reports/FRAReports.test.js
  tdrs-frontend/src/components/Reports/Reports.test.js
Due: frontend

Path conditions:
  frontend: any of: tdrs-frontend/src, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
  backend: any of: tdrs-backend/tdpservice, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
