Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 95%
        flags:
          - backend

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

Cast comparison for HAS_QASP_LABEL to string for use in conditional
  .github/workflows/qasp-owasp-scan.yml
Due: none

Debugging
  .github/workflows/qasp-owasp-scan.yml
Due: none

Update spash page background image on page refresh
  tdrs-frontend/src/components/SplashPage/SplashPage.jsx
  tdrs-frontend/src/components/SplashPage/SplashPage.test.js
Due: frontend

Prevent GitHub Action from running for other label events
  .github/workflows/qasp-owasp-scan.yml
Due: none

Fix typo :/
  .github/workflows/qasp-owasp-scan.yml
Due: none

Misc cleanup and context additions
  .circleci/config.yml
  .github/workflows/qasp-owasp-scan.yml
Due: none

Remove unused config key
  .circleci/config.yml
Due: none

testing via insignificant doc change
  README.md
Due: none

testing via insignificant doc change (undo)
  README.md
Due: none

Various tweaks
  tdrs-backend/tdpservice/users/migrations/0027_user_hhs_id.py
  tdrs-backend/tdpservice/users/test/test_auth.py
Due: backend

Added SET_FILE_SUBMITTED redux reducer
  tdrs-frontend/src/actions/reports.js
  tdrs-frontend/src/reducers/reports.js
Due: frontend

Force resolution of sub dependency coa to prevent security issues
  tdrs-frontend/package.json
Due: none

Changes to first file, will look for other logger settings
  tdrs-backend/tdpservice/settings/common.py
Due: backend

Implemented SET_FILE_SUBMITTED reducer, added setLocalAlertState for errors caught from Data File submissions
  tdrs-frontend/src/actions/reports.js
  tdrs-frontend/src/reducers/reports.js
Due: frontend

Update docs/Technical-Documentation/circle-ci.md
  docs/Technical-Documentation/circle-ci.md
Due: none

Added unit test for SET_FILE_SUBMITTED reducer
  tdrs-frontend/src/reducers/reports.test.js
Due: frontend

Added unit test for submit action
  tdrs-frontend/src/__mocks__/axios.js
  tdrs-frontend/src/actions/reports.js
  tdrs-frontend/src/actions/reports.test.js
Due: frontend

Delete COR_Delegation_Dvora_Wilensky.pdf
  docs/Acquisition/COR_Delegation_Dvora_Wilensky.pdf
Due: none

Add Lauren Frohlich COR delegation
  docs/Acquisition/COR Designation Letter Lauren Frohlich - TANF.pdf
Due: none

Update Team-Composition.md
  docs/How-We-Work/Team-Composition.md
Due: none

Added test case for submission error
  tdrs-frontend/src/actions/reports.test.js
Due: frontend

style: add box-shadow to main splashpage panel
  tdrs-frontend/src/assets/SplashPage.scss
Due: frontend

Add frontend Cache-Control header to buildpack nginx
  tdrs-frontend/nginx/buildpack.nginx.conf
Due: none

Create sprint-33-summary.md
  docs/Sprint-Review/sprint-33-summary.md
Due: none

split up oidc auth handlers for easier testing
  tdrs-backend/tdpservice/urls.py
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-backend/tdpservice/users/api/login_redirect_oidc.py
  tdrs-frontend/src/components/SplashPage/SplashPage.jsx
Due: frontend, backend

Added NoCacheMiddleware to add Cache-Control headers for Django
  tdrs-backend/tdpservice/middleware.py
  tdrs-backend/tdpservice/settings/common.py
Due: backend

Update docs/Sprint-Review/sprint-33-summary.md
  docs/Sprint-Review/sprint-33-summary.md
Due: none

Update script readme
  scripts/README.md
Due: none

Formatting and trailing whitespace
  scripts/cf-check.sh
  scripts/docker-compose-check.sh
Due: none

split up token oidc handlers for each auth provider
  tdrs-backend/tdpservice/urls.py
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-backend/tdpservice/users/api/login_redirect_oidc.py
Due: backend

nit
  tdrs-backend/tdpservice/users/api/login.py
Due: backend

Update docs/How-We-Work/Team-Composition.md
  docs/How-We-Work/Team-Composition.md
Due: none

Added missing semicolon
  tdrs-frontend/nginx/buildpack.nginx.conf
Due: none

tighten frontend cache-control header
  tdrs-frontend/nginx/buildpack.nginx.conf
Due: none

Fix 500 errors found by ZAP scans
  tdrs-backend/tdpservice/core/views.py
  tdrs-backend/tdpservice/urls.py
  tdrs-backend/tdpservice/users/serializers.py
  tdrs-frontend/src/actions/requestAccess.js
Due: frontend, backend
