Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 95%
        flags:
          - backend

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

fixed eslint
  tdrs-frontend/src/components/SplashPage/SplashPage.test.js
Due: frontend

fix nav button alignment
  tdrs-frontend/src/components/Header/Header.jsx
Due: frontend

Fix header positioning
  tdrs-frontend/src/components/Header/Header.jsx
Due: frontend

update mirage
  tdrs-frontend/src/mirage.js
Due: frontend

change required to *
  tdrs-frontend/src/components/FormGroup/FormGroup.jsx
  tdrs-frontend/src/components/Home/Home.jsx
  tdrs-frontend/src/components/STTComboBox/STTComboBox.jsx
Due: frontend

fix frontend tests
  tdrs-frontend/src/components/Home/Home.test.jsx
  tdrs-frontend/src/components/Reports/Reports.test.js
Due: frontend

added aria-req to combobox input
  tdrs-frontend/src/components/STTComboBox/STTComboBox.jsx
Due: frontend

Update config.yml
  .circleci/config.yml
Due: none

Added section on network connectivity
  docs/Technical-Documentation/Failed-Deployment-Troubleshooting.md
Due: none

More updates for circleci
  docs/Technical-Documentation/Failed-Deployment-Troubleshooting.md
Due: none

updating ToC links
  docs/Technical-Documentation/Failed-Deployment-Troubleshooting.md
Due: none

removed unneeded var
  scripts/deploy-backend.sh
Due: none

Append deploy variables to common.py
  scripts/deploy-backend.sh
Due: none

propper env var names
  scripts/deploy-backend.sh
Due: none

Removing line about JWT to not trigger git-secrets
  docs/Technical-Documentation/Failed-Deployment-Troubleshooting.md
Due: none

reverting testing branch back to hhs staging branch: main
  .circleci/config.yml
Due: none

adding more updates for PR #1864
  docs/Technical-Documentation/Architecture-Decision-Record/008-deployment-flow.md
Due: none

added upload task
  tdrs-backend/docker-compose.yml
  tdrs-backend/tdpservice/data_files/serializers.py
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/scheduling/tasks.py
  tdrs-backend/tdpservice/settings/common.py
Due: backend

revert cf space production
  scripts/deploy-frontend.sh
Due: none

grammar fix on instruction card
  tdrs-frontend/src/components/SplashPage/SplashPage.jsx
Due: frontend

added shceduled tasks
  tdrs-backend/tdpservice/scheduling/tasks.py
  tdrs-backend/tdpservice/settings/celery.py
  tdrs-backend/tdpservice/settings/common.py
Due: backend

Fix terraform formating error in production
  terraform/production/variables.tf
Due: none

Function to return fiscal year options
  tdrs-frontend/src/components/Reports/Reports.jsx
Due: frontend

year was off by 1
  tdrs-frontend/src/components/Reports/Reports.jsx
Due: frontend

fixed test
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/Reports/Reports.test.js
Due: frontend

linting
  tdrs-frontend/src/components/Reports/Reports.test.js
Due: frontend

Create sprint-51-summary.md
  docs/Sprint-Review/sprint-51-summary.md
Due: none

Update allowed hosts
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

remove unreachable code
  tdrs-frontend/src/components/GovBanner/GovBanner.jsx
Due: frontend

update url in allowed hosts
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

tested constructYear functionality
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/Reports/Reports.test.js
Due: frontend

removed duplicate test
  tdrs-frontend/src/components/Reports/Reports.test.js
Due: frontend

One more test
  tdrs-frontend/src/components/Reports/Reports.test.js
Due: frontend

removed unneeded debugging code
  tdrs-frontend/src/components/Reports/Reports.test.js
Due: frontend

Create .gitattributes
  product-updates/.gitattributes
Due: none
