Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 90%
        flags:
          - backend
    patch: off

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

ignore:
  - "tdrs-backend/tdpservice/scheduling/db_backup.py"

update ftl error language
  tdrs-backend/tdpservice/parsers/case_consistency_validator.py
  tdrs-backend/tdpservice/parsers/test/test_case_consistency.py
Due: backend

- Better way to do partial hash checking - Still in schema
  tdrs-backend/tdpservice/parsers/duplicate_manager.py
  tdrs-backend/tdpservice/parsers/row_schema.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t5.py
Due: backend

rewrote 54 job search
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t2.py
Due: backend

finished resolving conflicts
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t4.py
Due: backend

updated test_api.py
  tdrs-backend/tdpservice/data_files/test/test_api.py
Due: backend

Adds new email notification language
  product-updates/img/error-reports/click-file-name-download.png
  product-updates/img/getting-started/data-submitted.png
  product-updates/knowledge-center/about-email-notifications.html
Due: none

- Moved hash generation into schema - updated tests and factories to now support agnostic hash generation
  tdrs-backend/tdpservice/parsers/duplicate_manager.py
  tdrs-backend/tdpservice/parsers/row_schema.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m1.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m4.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t5.py
  tdrs-backend/tdpservice/parsers/test/factories.py
  tdrs-backend/tdpservice/parsers/test/test_case_consistency.py
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

2884 preparser errors multi record rows wrong length missing space filled m3 tribal t3 (#2945)
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t3.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/validators.py
Due: backend

- updated test
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

update waiver to include discussion links
  docs/Technical-Documentation/Architecture-Decision-Record/016-zap-waiver.md
Due: none

rename security waiver
  docs/Technical-Documentation/Architecture-Decision-Record/016-security-scan-waiver.md
Due: none

- Updated error message - fixed incorrect indentation on error counting
  tdrs-backend/tdpservice/parsers/case_consistency_validator.py
  tdrs-backend/tdpservice/parsers/test/test_case_consistency.py
Due: backend

- move fixtures to conftest
  tdrs-backend/tdpservice/parsers/test/conftest.py
Due: backend

add radio button for jurisdiction type
  tdrs-frontend/src/components/ComboBox/ComboBox.jsx
  tdrs-frontend/src/components/Home/Home.jsx
  tdrs-frontend/src/components/STTComboBox/STTComboBox.jsx
  tdrs-frontend/src/utils/stringUtils.js
  tdrs-frontend/src/utils/stringUtils.test.js
Due: frontend

- fix lint
  tdrs-backend/tdpservice/parsers/test/factories.py
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

- fixed tests from merge conflict
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

- remove unnecessary validators
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m1.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t4.py
Due: backend

add tests
  tdrs-frontend/src/components/Home/Home.test.jsx
  tdrs-frontend/src/components/STTComboBox/STTComboBox.jsx
Due: frontend

update waiver language w/ deps
  docs/Technical-Documentation/Architecture-Decision-Record/016-security-scan-waiver.md
Due: none

add attack vector info
  docs/Technical-Documentation/Architecture-Decision-Record/016-security-scan-waiver.md
Due: none

fix tests
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/test/test_validators.py
  tdrs-backend/tdpservice/parsers/validators.py
Due: backend

lint
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

- Created dashboards for TANF data
  tdrs-backend/tdpservice/search_indexes/kibana_saved_objs.ndjson
Due: backend

- reverting debug changes
  .circleci/build-and-test/workflows.yml
  tdrs-frontend/.env
Due: none

- kibana frontend
  tdrs-frontend/.env
Due: none

update kibana version
  docs/Technical-Documentation/Architecture-Decision-Record/016-security-scan-waiver.md
Due: none

corrected message
  tdrs-backend/tdpservice/data_files/test/test_api.py
Due: backend

updated friendly names
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m1.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t4.py
Due: backend

- Update error creation logging to track all errors - Updated queries to most correct syntax for aggregates function - Updated tests
  tdrs-backend/tdpservice/parsers/aggregates.py
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

- lint
  tdrs-backend/tdpservice/parsers/aggregates.py
Due: backend

- move fixture
  tdrs-backend/tdpservice/parsers/test/conftest.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

- Updated aggregates query to take into account cat4 errors
  tdrs-backend/tdpservice/parsers/aggregates.py
  tdrs-backend/tdpservice/parsers/models.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

2938 blank filled ssn not parsing throws NoneType error (#2961)
  tdrs-backend/tdpservice/parsers/test/test_transforms.py
  tdrs-backend/tdpservice/parsers/transforms.py
Due: backend

- lint
  tdrs-backend/tdpservice/parsers/models.py
Due: backend

- getting test case back its expected state
  tdrs-backend/tdpservice/parsers/test/data/bad_trailer_2.txt
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

2688 tanf section 2 validation clean up (#2955)
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t5.py
  tdrs-backend/tdpservice/parsers/test/data/small_tanf_section2.txt
  tdrs-backend/tdpservice/parsers/test/test_header.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/test/test_validators.py
  tdrs-backend/tdpservice/parsers/validators.py
Due: backend

- Update proxy_pass directive
  tdrs-frontend/nginx/local/locations.conf
Due: none

- update proxy_pass directive for deployed config
  log.txt
  tdrs-frontend/nginx/cloud.gov/locations.conf
Due: none

- remove debug file
  log.txt
Due: none

fix tets
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/test/test_validators.py
Due: backend
