Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Rename .gitattributes to .gitattributes.txt
  product-updates/.gitattributes.txt
Due: none

Delete .gitattributes.txt
  product-updates/.gitattributes.txt
Due: none

Jpeg to jpg — complete-data
  product-updates/img/complete-data/Step2-2.jpeg
  product-updates/img/complete-data/Step2-2.jpg
  product-updates/img/complete-data/Step2.jpeg
  product-updates/img/complete-data/Step2.jpg
  product-updates/img/complete-data/Step3.jpeg
  product-updates/img/complete-data/Step3.jpg
  product-updates/img/complete-data/step1.jpg
Due: none

Remaining jpegs to jpg
  product-updates/img/getting-started/existing-login-homepage.jpeg
  product-updates/img/getting-started/existing-login-homepage.jpg
Due: none

Working scheduler
  tdrs-backend/gunicorn_start.sh
  tdrs-backend/tdpservice/scheduling/tasks.py
  tdrs-backend/tdpservice/settings/celery.py
Due: backend

Update docs/Technical-Documentation/Failed-Deployment-Troubleshooting.md
  docs/Technical-Documentation/Failed-Deployment-Troubleshooting.md
Due: none

remove false positive from test
  tdrs-frontend/src/components/Reports/Reports.test.js
Due: frontend

reversed years and fixed tests
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/Reports/Reports.test.js
Due: frontend

Fixed a test
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/Reports/Reports.test.js
Due: frontend

added aria-req to combobox input for real
  tdrs-frontend/src/components/ComboBox/ComboBox.jsx
Due: frontend

linting
  tdrs-frontend/src/components/Reports/Reports.test.js
Due: frontend

FileUpload
  tdrs-backend/tdpservice/data_files/serializers.py
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/scheduling/tasks.py
  tdrs-backend/tdpservice/settings/celery.py
Due: backend

FileUpload - Refactored scheduled task to let delay task to be scheduled
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/scheduling/tasks.py
  tdrs-backend/tdpservice/settings/celery.py
Due: backend

FileUpload - added error handling
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/scheduling/tasks.py
Due: backend

Terraform syntax Error
  terraform/production/variables.tf
Due: none

Remove break lines
  tdrs-frontend/src/components/GovBanner/GovBanner.jsx
Due: frontend

add csrf cookie the hard way
  tdrs-frontend/src/actions/auth.js
Due: frontend

Add additional Headers to allowed
  tdrs-backend/tdpservice/users/api/authorization_check.py
Due: backend

Use tdpservice.middleware.SessionMiddleWare and reorder corsheaders line
  tdrs-backend/tdpservice/settings/common.py
Due: backend

update csp default
  tdrs-backend/tdpservice/settings/common.py
Due: backend

update SESSION_COOKIE_SECURE
  tdrs-backend/tdpservice/settings/common.py
Due: backend

Update SESSION_COOKIE_SAMESITE
  tdrs-backend/tdpservice/settings/common.py
Due: backend

Reorder imports
  tdrs-backend/tdpservice/users/api/authorization_check.py
Due: backend

Update CSRF_TRUSTED_ORIGINS
  tdrs-backend/tdpservice/settings/common.py
Due: backend

update CSRF_COOKIE_SECURE
  tdrs-backend/tdpservice/settings/common.py
Due: backend

Update CSRF_COOKIE_SAMESITE
  tdrs-backend/tdpservice/settings/common.py
Due: backend

Update CSRF_HEADER_NAME
  tdrs-backend/tdpservice/settings/common.py
Due: backend

Add Session Middleware Patch
  tdrs-backend/tdpservice/middleware.py
Due: backend

Update CSP_CONNECT_SRC
  tdrs-backend/tdpservice/settings/common.py
Due: backend

Add ALLOWED_CORS_HEADERS
  tdrs-backend/tdpservice/settings/common.py
Due: backend

Add cloud.gov backend to allowed hosts
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

Use a variable again for CF_SPACE
  scripts/deploy-frontend.sh
Due: none

Hack for prod route
  scripts/deploy-frontend.sh
Due: none

Some backend ENV vars
  scripts/deploy-backend.sh
Due: none

git config change
  .gitconfig
Due: none

Add doc strings for lint
  tdrs-backend/tdpservice/middleware.py
Due: backend

Path conditions:
  frontend: any of: tdrs-frontend/src
  backend: any of: tdrs-backend/tdpservice
