Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 90%
        flags:
          - backend
    patch: off

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

ignore:
  - "tdrs-backend/tdpservice/scheduling/db_backup.py"

- Remove duplicate detector code - Remove duplicate tests from test case consistency - Update api tests since errors are now generated in a different order
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/parsers/case_consistency_validator.py
  tdrs-backend/tdpservice/parsers/duplicate_detectors.py
  tdrs-backend/tdpservice/parsers/duplicate_manager.py
  tdrs-backend/tdpservice/parsers/fra_parser.py
  tdrs-backend/tdpservice/parsers/test/test_case_consistency.py
Due: backend

- Make FRA duplicate error message more verbose - Correct error generation to point to correct record - Remove sorted record class
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/parsers/base_parser.py
  tdrs-backend/tdpservice/parsers/fra_parser.py
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

3515 bug ofa system admin users get stuck region assigned (#5348)
  tdrs-backend/tdpservice/users/admin.py
Due: backend

add a reducer for updateUserRequest and implement the new backend endpoint
  tdrs-frontend/src/actions/mockUpdateUserRequest.js
  tdrs-frontend/src/reducers/updateUserRequest.js
Due: frontend

- linting
  tdrs-backend/tdpservice/parsers/test/test_util.py
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

- Add db dup tech memo
  docs/Technical-Documentation/tech-memos/database-duplicate-detection.md
Due: none

- spelling
  docs/Technical-Documentation/tech-memos/database-duplicate-detection.md
Due: none

- date correction
  docs/Technical-Documentation/tech-memos/database-duplicate-detection.md
Due: none

models and schemas
  tdrs-backend/tdpservice/parsers/schema_defs/program_audit/__init__.py
  tdrs-backend/tdpservice/parsers/schema_defs/program_audit/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/program_audit/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/program_audit/t3.py
  tdrs-backend/tdpservice/search_indexes/migrations/0035_programaudit_t1_programaudit_t2_programaudit_t3.py
  tdrs-backend/tdpservice/search_indexes/models/__init__.py
  tdrs-backend/tdpservice/search_indexes/models/program_audit.py
Due: backend

move parsers into dir
  tdrs-backend/tdpservice/parsers/factory.py
  tdrs-backend/tdpservice/parsers/parser_classes/__init__.py
  tdrs-backend/tdpservice/parsers/parser_classes/base_parser.py
  tdrs-backend/tdpservice/parsers/parser_classes/fra_parser.py
  tdrs-backend/tdpservice/parsers/parser_classes/tdr_parser.py
Due: backend

stub program audit parser
  tdrs-backend/tdpservice/data_files/models.py
  tdrs-backend/tdpservice/parsers/parser_classes/program_audit_parser.py
  tdrs-backend/tdpservice/parsers/test/conftest.py
  tdrs-backend/tdpservice/parsers/test/data/PI_Audit_FTANF.txt
  tdrs-backend/tdpservice/parsers/test/data/PI_Audit_space-fill.txt
  tdrs-backend/tdpservice/parsers/test/data/PI_Audit_zero-fill.txt
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

- Update to dup detection - naming updates
  tdrs-backend/tdpservice/parsers/base_parser.py
Due: backend

fix view name
  tdrs-backend/tdpservice/users/views.py
Due: backend

fix anon user bug
  tdrs-frontend/src/components/Feedback/FeedbackForm.jsx
Due: frontend

tests
  tdrs-frontend/src/components/Feedback/FeedbackForm.test.js
Due: frontend

reverse admin url
  tdrs-backend/tdpservice/users/admin.py
Due: backend

- Added tech memo for type casting
  docs/Technical-Documentation/tech-memos/type_casting.md
Due: none

- Update function names
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m1.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m4.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t5.py
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

fix single file feedback bug
  tdrs-frontend/src/components/Feedback/FeedbackForm.jsx
Due: frontend

guard against null region on update user profile request
  tdrs-frontend/src/actions/mockUpdateUserRequest.js
Due: frontend

rename mockUpdateUserRequest.js to updateUserRequest.js
  tdrs-frontend/src/actions/updateUserRequest.js
  tdrs-frontend/src/actions/updateUserRequest.test.js
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.jsx
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.test.js
  tdrs-frontend/src/reducers/updateUserRequest.js
Due: frontend

- Update to use list instead of dict
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

add pending_requests to the UserProfileSerializer so it is available to show the pending requests banner on load of the profile page
  tdrs-backend/tdpservice/users/serializers.py
  tdrs-backend/tdpservice/users/views.py
  tdrs-frontend/src/actions/updateUserRequest.js
  tdrs-frontend/src/components/Profile/Profile.jsx
  tdrs-frontend/src/components/Profile/UserProfileView.jsx
  tdrs-frontend/src/selectors/auth.js
Due: frontend, backend

added sentry to dev and staging settings
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

- linting
  tdrs-backend/tdpservice/parsers/case_consistency_validator.py
Due: backend

- remove unused arg - Update FRA duplicate check to use the new structure
  tdrs-backend/tdpservice/parsers/case_consistency_validator.py
  tdrs-backend/tdpservice/parsers/fra_parser.py
  tdrs-backend/tdpservice/parsers/tdr_parser.py
Due: backend

add email support for change requests
  tdrs-backend/tdpservice/email/email_enums.py
  tdrs-backend/tdpservice/email/helpers/profile_change_request.py
  tdrs-backend/tdpservice/email/templates/profile-change-request-approved.html
  tdrs-backend/tdpservice/users/models.py
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.jsx
Due: frontend, backend

make regions and has_fra_access humand readable in email
  tdrs-backend/tdpservice/email/helpers/profile_change_request.py
Due: backend

add rejected template and put current and new values in unordered list
  tdrs-backend/tdpservice/email/templates/profile-change-request-rejected.html
Due: backend

fix backend linting issues
  tdrs-backend/tdpservice/email/helpers/profile_change_request.py
  tdrs-backend/tdpservice/users/serializers.py
Due: backend

- Update tests
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

- Update case consistency tests
  tdrs-backend/tdpservice/parsers/fra_parser.py
  tdrs-backend/tdpservice/parsers/test/test_case_consistency.py
Due: backend

fix frontend tests
  tdrs-frontend/src/actions/updateUserRequest.test.js
  tdrs-frontend/src/components/Profile/Profile.test.js
  tdrs-frontend/src/components/Profile/UserProfileView.test.js
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.test.js
Due: frontend

add test for reducer/updateUserRequest
  tdrs-frontend/src/actions/updateUserRequest.js
  tdrs-frontend/src/actions/updateUserRequest.test.js
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.test.js
  tdrs-frontend/src/reducers/updateUserRequest.test.js
Due: frontend

add full coverage for actions/updateUserRequest.js
  tdrs-frontend/src/actions/updateUserRequest.test.js
Due: frontend

fix linting issues
  tdrs-frontend/src/actions/updateUserRequest.test.js
Due: frontend
