Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Add sprint summary for 2025-11-18
  sprint-summary-2025-11-18.md
Due: none

3089 implement user deletion support dac while retaining associated objects (#5422)
  tdrs-backend/.pytest_cache/v/cache/nodeids
  tdrs-backend/.pytest_cache/v/cache/stepwise
  tdrs-backend/tdpservice/core/test/test_admin.py
  tdrs-backend/tdpservice/data_files/admin/admin.py
  tdrs-backend/tdpservice/data_files/models.py
  tdrs-backend/tdpservice/fixtures/cypress/users.json
  tdrs-backend/tdpservice/security/admin.py
  tdrs-backend/tdpservice/security/test/test_views.py
  tdrs-backend/tdpservice/users/admin.py
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-backend/tdpservice/users/filters.py
  tdrs-backend/tdpservice/users/migrations/0052_add_report_permissions.py
  tdrs-backend/tdpservice/users/migrations/0053_remove_deactivated_access_request.py
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/serializers.py
  tdrs-backend/tdpservice/users/test/factories.py
  tdrs-backend/tdpservice/users/test/test_auth_check.py
  tdrs-backend/tdpservice/users/test/test_models.py
Due: backend

fix multi-polling state tests
  tdrs-frontend/src/actions/fraReports.test.js
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/Reports/FRAReports.test.js
  tdrs-frontend/src/components/Reports/Reports.test.js
  tdrs-frontend/src/components/SubmissionHistory/QuarterSubmissionHistory.test.js
  tdrs-frontend/src/components/SubmissionHistory/SectionSubmissionHistory.test.js
  tdrs-frontend/src/hooks/useFileUploadForm.js
  tdrs-frontend/src/hooks/usePollingTimer.js
  tdrs-frontend/src/hooks/usePollingTimer.test.js
Due: frontend

fix fra auto-load
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

fix state race conditions
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/hooks/usePollingTimer.js
Due: frontend

rm unused
  tdrs-frontend/src/hooks/usePollingTimer.test.js
Due: frontend

remove vault integration
  tdrs-backend/docker-compose.yml
  tdrs-backend/tdpservice/settings/vault_local.py
  tdrs-backend/tdpservice/vault/__init__.py
  tdrs-backend/tdpservice/vault/vault_client.py
  tdrs-backend/vault/vault-integration-guide.md
  tdrs-backend/vault/vault.hcl
  tdrs-backend/vault/vault_agent/config/agent.hcl
  tdrs-backend/vault/vault_agent/scripts/refresh-credentials.sh
  tdrs-backend/vault/vault_agent/templates/database.json.tpl
  tdrs-backend/vault/vault_agent_quickstart.md
Due: backend

remove hvac from pipfile
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
Due: none

- MVP tech memo
  docs/Technical-Documentation/tech-memos/feature-toggle-system.md
Due: none

bug fix
  .gitignore
  tdrs-backend/.pytest_cache/v/cache/nodeids
  tdrs-backend/.pytest_cache/v/cache/stepwise
  tdrs-backend/tdpservice/fixtures/cypress/users.json
  tdrs-backend/tdpservice/users/admin.py
Due: backend

bug fix (#5492)
  .gitignore
  tdrs-backend/.pytest_cache/v/cache/nodeids
  tdrs-backend/.pytest_cache/v/cache/stepwise
  tdrs-backend/tdpservice/fixtures/cypress/users.json
  tdrs-backend/tdpservice/users/admin.py
Due: backend

Update tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

- Initial fixtures and script update
  scripts/apply-database-config.sh
  tdrs-backend/tdpservice/fixtures/cypress/profile_editing_regions.json
  tdrs-backend/tdpservice/fixtures/cypress/profile_editing_users.json
Due: backend

- Add new users to actor list
  tdrs-frontend/cypress/e2e/common-steps/common-steps.js
Due: none

- Fix bug in routes where stt list wasn't passed to Profile component and Profile component was rendering the edit request access from always instead of checking state
  tdrs-frontend/src/components/Routes/Routes.js
Due: frontend

reorganize emailtypes enum
  tdrs-backend/tdpservice/email/email_enums.py
  tdrs-backend/tdpservice/email/helpers/account_access_requests.py
  tdrs-backend/tdpservice/email/helpers/account_change_request.py
  tdrs-backend/tdpservice/email/helpers/account_deactivation_warning.py
  tdrs-backend/tdpservice/email/helpers/account_status.py
  tdrs-backend/tdpservice/email/helpers/admin_notifications.py
  tdrs-backend/tdpservice/email/helpers/data_file.py
  tdrs-backend/tdpservice/email/helpers/profile_change_request.py
  tdrs-backend/tdpservice/email/tasks.py
  tdrs-backend/tdpservice/email/templates/admin/access-request-count.html
  tdrs-backend/tdpservice/email/templates/admin/account-deactivated-admin.html
  tdrs-backend/tdpservice/email/templates/admin/stuck-file-list.html
  tdrs-backend/tdpservice/email/templates/admin/system-admin-role-changed.html
  tdrs-backend/tdpservice/email/templates/fra/accepted.html
  tdrs-backend/tdpservice/email/templates/fra/accepted_with_errors.html
  tdrs-backend/tdpservice/email/templates/fra/partially_accepted.html
  tdrs-backend/tdpservice/email/templates/fra/rejected.html
  tdrs-backend/tdpservice/email/templates/tanf/accepted.html
  tdrs-backend/tdpservice/email/templates/tanf/accepted_with_errors.html
  tdrs-backend/tdpservice/email/templates/tanf/partially_accepted.html
  tdrs-backend/tdpservice/email/templates/tanf/rejected.html
  tdrs-backend/tdpservice/email/templates/user_account/access-request-submitted.html
  tdrs-backend/tdpservice/email/templates/user_account/account-deactivated.html
  tdrs-backend/tdpservice/email/templates/user_account/account-deactivation-warning.html
  tdrs-backend/tdpservice/email/templates/user_account/profile-change-request-approved.html
  tdrs-backend/tdpservice/email/templates/user_account/profile-change-request-rejected.html
  tdrs-backend/tdpservice/email/templates/user_account/request-approved.html
  tdrs-backend/tdpservice/email/templates/user_account/request-denied.html
Due: backend

- Removed duplicate validation - Updated stt validation to only fail if it changes since it is still required for other validation
  tdrs-backend/tdpservice/users/serializers.py
Due: backend

- Add fetchSttList to Profile component since redux state is lost when navigating
  tdrs-frontend/src/components/Profile/Profile.jsx
Due: frontend

de-duplicate spinner css
  tdrs-frontend/src/assets/Reports.scss
  tdrs-frontend/src/assets/Spinner.scss
  tdrs-frontend/src/assets/feedback/Feedback.scss
  tdrs-frontend/src/index.scss
Due: frontend

update base image file
  tdrs-backend/Dockerfile
Due: none

- Updated based on review feedback
  docs/Technical-Documentation/tech-memos/feature-toggle-system.md
Due: none

reparse-refactor first draft
  docs/Technical-Documentation/parsing-refactor.md
Due: none

- MVP profile editing test scenarios
  tdrs-frontend/cypress/e2e/profile/profile-editing.feature
Due: none

- Add cleaned helper/util files
  tdrs-frontend/cypress/e2e/profile/profile-editing.js
  tdrs-frontend/cypress/e2e/profile/profile-helpers.js
Due: none

moved the file
  docs/Technical-Documentation/tech-memos/parsing-refactor.md
Due: none

- Updated feature file and steps to be declarative
  tdrs-frontend/cypress/e2e/profile/profile-editing.feature
  tdrs-frontend/cypress/e2e/profile/profile-editing.js
  tdrs-frontend/cypress/e2e/profile/profile-helpers.js
Due: none

- Cleanup comments
  tdrs-frontend/cypress/e2e/profile/profile-editing.js
  tdrs-frontend/cypress/e2e/profile/profile-helpers.js
Due: none

pin kobmu version to pipfile
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
Due: none

- Add react var to show/hide PIA submissions - Updated all .env files - Updated the deploy script to tell prod and staging to hide PIA submission
  scripts/deploy-frontend.sh
  tdrs-frontend/.env
  tdrs-frontend/.env.development
  tdrs-frontend/.env.test
  tdrs-frontend/src/components/Reports/Reports.jsx
Due: frontend

- remove console logs
  tdrs-frontend/src/components/Reports/Reports.jsx
Due: frontend

- add missing fixtures to test pipeline
  .circleci/build-and-test/jobs.yml
Due: none

Add sprint summary for 2025-12-02
  sprint-summary-2025-12-02.md
Due: none

- enabled by default
  tdrs-frontend/.env.development
Due: none

add datafile base template
  tdrs-backend/tdpservice/email/templates/datafile_base.html
Due: backend

fra templates
  tdrs-backend/tdpservice/email/templates/fra/accepted.html
  tdrs-backend/tdpservice/email/templates/fra/accepted_with_errors.html
  tdrs-backend/tdpservice/email/templates/fra/partially_accepted.html
  tdrs-backend/tdpservice/email/templates/fra/rejected.html
Due: backend

tanf templates
  tdrs-backend/tdpservice/email/templates/tanf/accepted.html
  tdrs-backend/tdpservice/email/templates/tanf/accepted_with_errors.html
  tdrs-backend/tdpservice/email/templates/tanf/partially_accepted.html
  tdrs-backend/tdpservice/email/templates/tanf/rejected.html
Due: backend

implement separated fra and tanf email templates
  tdrs-backend/tdpservice/email/email_enums.py
  tdrs-backend/tdpservice/email/helpers/data_file.py
Due: backend

Path conditions:
  frontend: any of: tdrs-frontend/src, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
  backend: any of: tdrs-backend/tdpservice, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
