Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 90%
        flags:
          - backend
    patch: off

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

ignore:
  - "tdrs-backend/tdpservice/scheduling/db_backup.py"

add file size to clamav-nginx (#2760)
  tdrs-backend/clamav-router/nginx.conf
Due: none

friendly_name corrections
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m1.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m4.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t6.py
Due: backend

Updated section links to in What we learned section
  docs/User-Experience/Research-Syntheses/2020, Spring - Understanding the local experience.md
Due: none

fixed the links to the sections
  docs/User-Experience/Research-Syntheses/2020, Fall - STT Attribute Guide.md
Due: none

2683-zap-CORS-misconfig (#2727)
  scripts/deploy-backend.sh
  scripts/deploy-frontend.sh
  scripts/zap-scanner.sh
  tdrs-backend/clamav-router/nginx.conf
  tdrs-backend/tdpservice/settings/cloudgov.py
  tdrs-frontend/nginx/cloud.gov/locations.conf
Due: backend

added only pipeline changes to test in staging
  .circleci/config.yml
  .circleci/deployment/jobs.yml
  .circleci/deployment/workflows.yml
Due: none

fixed spacing
  .circleci/deployment/jobs.yml
Due: none

linting and cleaning errors
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m5.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m6.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m7.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t7.py
Due: backend

linting
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
Due: backend

correction on friendly_names
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t6.py
Due: backend

corrected friendly_name for test_util
  tdrs-backend/tdpservice/parsers/test/test_util.py
Due: backend

correction child care - number of months
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
Due: backend

fixed a few more typos and some spacing. (#2767)
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m1.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m4.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m5.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m6.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t6.py
Due: backend

- Added basic security to Kibana/Elastic - Added setup container to init elastic users, roles, and passwords
  tdrs-backend/docker-compose.yml
  tdrs-backend/elastic_setup/Dockerfile
  tdrs-backend/elastic_setup/entrypoint.sh
  tdrs-backend/elastic_setup/util.sh
  tdrs-backend/kibana.yml
  tdrs-backend/tdpservice/settings/common.py
Due: backend

- Remove debug code
  tdrs-backend/elastic_setup/entrypoint.sh
Due: none

- change provider name
  tdrs-backend/docker-compose.yml
Due: none

- Updating settings to reference environment variables
  tdrs-backend/tdpservice/settings/common.py
Due: backend

Fix parser/preparser validation of empty strings (#2748)
  tdrs-backend/tdpservice/parsers/fields.py
  tdrs-backend/tdpservice/parsers/row_schema.py
  tdrs-backend/tdpservice/parsers/test/test_util.py
  tdrs-backend/tdpservice/parsers/test/test_validators.py
  tdrs-backend/tdpservice/parsers/validators.py
Due: backend

added needed space into logic (#2765)
  docs/Security-Compliance/boundary-diagram.md
  scripts/deploy-backend.sh
Due: none

- Add elastic dependency
  tdrs-backend/docker-compose.yml
Due: none

- Fix network issue
  tdrs-backend/docker-compose.yml
Due: none

- Updated schemas to reference model based off of elastic document
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/row_schema.py
  tdrs-backend/tdpservice/parsers/schema_defs/header.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m1.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m4.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m5.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m6.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m7.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t6.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t7.py
  tdrs-backend/tdpservice/parsers/schema_defs/trailer.py
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

- Remove password auth from elastic/kibana
  tdrs-backend/docker-compose.yml
  tdrs-backend/elastic_setup/Dockerfile
  tdrs-backend/elastic_setup/entrypoint.sh
  tdrs-backend/elastic_setup/util.sh
  tdrs-backend/kibana.yml
  tdrs-backend/tdpservice/settings/common.py
Due: backend

- Remove password auth
  tdrs-backend/docker-compose.yml
  tdrs-backend/elastic_setup/Dockerfile
  tdrs-backend/elastic_setup/entrypoint.sh
  tdrs-backend/elastic_setup/util.sh
  tdrs-backend/kibana.yml
  tdrs-backend/tdpservice/settings/common.py
Due: backend

- Fix tests
  tdrs-backend/tdpservice/parsers/test/test_util.py
Due: backend

- Fix lint
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/test/test_util.py
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

- remove debug print
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

Reorganized front end logic on REACT_APP_DEVAUTH env var
  tdrs-frontend/.env
  tdrs-frontend/.env.development
  tdrs-frontend/src/actions/auth.js
  tdrs-frontend/src/configureStore.js
Due: frontend

Reorganized backend logic on REACT_APP_DEVAUTH env var
  tdrs-backend/.env.example
  tdrs-backend/tdpservice/users/authentication.py
Due: backend

Fix missing copy edits & element nesting
  product-updates/knowledge-center/ftanf.html
Due: none

- Added proof on concept for tdp based kibana auth
  tdrs-backend/docker-compose.yml
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/urls.py
  tdrs-backend/tdpservice/users/api/authorization_check.py
  tdrs-frontend/nginx/local/locations.conf
  tdrs-frontend/src/components/Header/Header.jsx
  tdrs-frontend/src/components/SiteMap/SiteMap.jsx
Due: frontend, backend

Update product-updates/knowledge-center/index.html
  product-updates/knowledge-center/index.html
Due: none

Update index.html
  product-updates/knowledge-center/index.html
Due: none

- Fixing type issue
  tdrs-backend/tdpservice/settings/common.py
Due: backend

added is_superuser and is_staff attrs to dev user
  tdrs-backend/tdpservice/users/management/commands/generate_dev_user.py
Due: backend

Adds img folder
  product-updates/img/ftanf/1.png
  product-updates/img/ftanf/2.png
  product-updates/img/ftanf/3.png
  product-updates/img/ftanf/4.png
Due: none

- Add group check
  tdrs-backend/tdpservice/users/api/authorization_check.py
  tdrs-backend/tdpservice/users/models.py
Due: backend

- Add frontend group check for kibana
  tdrs-frontend/src/components/Header/Header.jsx
  tdrs-frontend/src/components/SiteMap/SiteMap.jsx
  tdrs-frontend/src/selectors/auth.js
Due: frontend
