Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

- Removed commented code
  tdrs-backend/tdpservice/data_files/test/test_api.py
Due: backend

fix docstring
  tdrs-backend/tdpservice/parsers/admin.py
Due: backend

- Renamed fixture - Updated tests
  tdrs-backend/tdpservice/conftest.py
  tdrs-backend/tdpservice/users/test/test_api/test_set_profile.py
  tdrs-backend/tdpservice/users/test/test_api/test_users.py
Due: backend

- Fixed merge error
  tdrs-backend/tdpservice/data_files/serializers.py
Due: backend

Create sprint-71-summary.md (#2519)
  docs/Sprint-Review/sprint-71-summary.md
Due: none

Create sprint-72-summary.md (#2520)
  docs/Sprint-Review/sprint-72-summary.md
Due: none

add error file extension
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.jsx
Due: frontend

- Updated permission to also require account approval as well as the role - updated tests - Not allowing GET on request_access
  tdrs-backend/tdpservice/conftest.py
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/parsers/views.py
  tdrs-backend/tdpservice/users/management/commands/generate_cypress_users.py
  tdrs-backend/tdpservice/users/permissions.py
  tdrs-backend/tdpservice/users/test/test_api/test_roles.py
  tdrs-backend/tdpservice/users/test/test_api/test_set_profile.py
  tdrs-backend/tdpservice/users/views.py
Due: backend

- fixed lint error
  tdrs-backend/tdpservice/users/permissions.py
Due: backend

- Updated test to conform to new permission rules - removed debug print statements
  tdrs-backend/tdpservice/conftest.py
  tdrs-backend/tdpservice/users/permissions.py
  tdrs-backend/tdpservice/users/test/test_api/test_endpoints.py
  tdrs-backend/tdpservice/users/test/test_api/test_set_profile.py
Due: backend

- not allowing GET on set_profile
  tdrs-backend/tdpservice/users/views.py
Due: backend

- Updated cron to run once everyday instead of every minute of every day
  tdrs-backend/tdpservice/settings/common.py
Due: backend

Update API Viewsets (#2477)
  tdrs-backend/tdpservice/conftest.py
  tdrs-backend/tdpservice/data_files/models.py
  tdrs-backend/tdpservice/data_files/serializers.py
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/parsers/views.py
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/stts/serializers.py
  tdrs-backend/tdpservice/users/management/commands/generate_cypress_users.py
  tdrs-backend/tdpservice/users/permissions.py
  tdrs-backend/tdpservice/users/serializers.py
  tdrs-backend/tdpservice/users/test/test_api/test_endpoints.py
  tdrs-backend/tdpservice/users/test/test_api/test_roles.py
  tdrs-backend/tdpservice/users/test/test_api/test_set_profile.py
  tdrs-backend/tdpservice/users/test/test_api/test_users.py
  tdrs-backend/tdpservice/users/views.py
  tdrs-frontend/cypress/e2e/accounts/accounts.js
Due: backend

Devops/2457 ci path filtering (#2512)
  .circleci/README.md
  .circleci/base_config.yml
  .circleci/build-and-test/workflows.yml
  .circleci/config.yml
  .circleci/infrastructure/workflows.yml
  .circleci/util/workflows.yml
  .github/workflows/build-all.yml
  .github/workflows/build-backend.yml
  .github/workflows/build-frontend.yml
  .github/workflows/deploy-develop-on-merge.yml
  .github/workflows/deploy-infrastructure.yml
  .github/workflows/deploy-on-label.yml
  docs/Technical-Documentation/github-actions.md
Due: none

disable SQLinjection scan (#2515)
  tdrs-backend/reports/zap.conf
Due: none

update ParserError fields
  tdrs-backend/tdpservice/parsers/admin.py
  tdrs-backend/tdpservice/parsers/migrations/0003_auto_20230518_1339.py
  tdrs-backend/tdpservice/parsers/models.py
  tdrs-backend/tdpservice/parsers/test/factories.py
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

rm commented lines
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

fix lint
  tdrs-backend/tdpservice/parsers/test/test_util.py
Due: backend

using ref_name for simplified branch name (#2530)
  .github/workflows/build-all.yml
  .github/workflows/build-backend.yml
  .github/workflows/build-frontend.yml
  .github/workflows/deploy-develop-on-merge.yml
  .github/workflows/deploy-infrastructure.yml
Due: none

2505 cron bug (#2525)
  tdrs-backend/tdpservice/settings/common.py
Due: backend

pulled out all filtering
  .circleci/README.md
  .circleci/base_config.yml
  .circleci/build-and-test/workflows.yml
  .circleci/config.yml
  .circleci/infrastructure/workflows.yml
  .github/workflows/build-all.yml
  .github/workflows/build-backend.yml
  .github/workflows/build-frontend.yml
  .github/workflows/deploy-infrastructure.yml
  docs/Technical-Documentation/github-actions.md
Due: none

pulled out all filtering (#2534)
  .circleci/README.md
  .circleci/base_config.yml
  .circleci/build-and-test/workflows.yml
  .circleci/config.yml
  .circleci/infrastructure/workflows.yml
  .github/workflows/build-all.yml
  .github/workflows/build-backend.yml
  .github/workflows/build-frontend.yml
  .github/workflows/deploy-infrastructure.yml
  docs/Technical-Documentation/github-actions.md
Due: none

pulled out all filtering (#2534) (#2535)
  .circleci/README.md
  .circleci/base_config.yml
  .circleci/build-and-test/workflows.yml
  .circleci/config.yml
  .circleci/infrastructure/workflows.yml
  .github/workflows/build-all.yml
  .github/workflows/build-backend.yml
  .github/workflows/build-frontend.yml
  .github/workflows/deploy-infrastructure.yml
  docs/Technical-Documentation/github-actions.md
Due: none

Fixing precheck for not implemented types
  tdrs-backend/tdpservice/parsers/models.py
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/test/test_summary.py
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

pipeline changes that filter based on paths and branches. circle ci tracks specified branches in order to keep current functionality on HHS side.
  .circleci/README.md
  .circleci/base_config.yml
  .circleci/build-and-test/workflows.yml
  .circleci/config.yml
  .circleci/infrastructure/workflows.yml
  .github/workflows/build-all.yml
  .github/workflows/build-backend.yml
  .github/workflows/build-frontend.yml
  .github/workflows/build-pr.yml
  .github/workflows/deploy-infrastructure.yml
  docs/Technical-Documentation/github-actions.md
Due: none

updated syntax to be in line with build-all.yml
  .github/workflows/build-backend.yml
  .github/workflows/build-frontend.yml
  .github/workflows/deploy-develop-on-merge.yml
  .github/workflows/deploy-infrastructure.yml
Due: none

- Fixed issue not allowing multipart requests (#2539)
  tdrs-backend/tdpservice/settings/common.py
Due: backend

2424 ts1 parsing (#2511)
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/__init__.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/tanf_parser.py
  tdrs-backend/tdpservice/parsers/test/data/small_tanf_section1.txt
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/scheduling/BACKUP_README.md
  tdrs-backend/tdpservice/scheduling/db_backup.py
  tdrs-backend/tdpservice/search_indexes/admin/tanf.py
  tdrs-backend/tdpservice/search_indexes/documents/tanf.py
  tdrs-backend/tdpservice/search_indexes/migrations/0008_auto_20230522_1850.py
  tdrs-backend/tdpservice/search_indexes/models/tanf.py
  tdrs-backend/tdpservice/search_indexes/test/test_model_mapping.py
Due: backend

2531 - Fix for large filesize failures/timeout (#2532)
  tdrs-frontend/nginx/cloud.gov/locations.conf
  tdrs-frontend/nginx/local/default.conf.template
  tdrs-frontend/nginx/local/locations.conf
Due: none

resolve conflicts
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

add item numbers to t2/t3 schema
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
Due: backend

fix test
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

Copies over KC additions from Test
  product-updates/img/complete-data/Step2.jpg
  product-updates/img/in-dev.svg
  product-updates/knowledge-center/create-new-login.html
  product-updates/knowledge-center/existing-login.html
  product-updates/knowledge-center/exporting-complete-data-using-ftanf.html
  product-updates/knowledge-center/faq.html
  product-updates/knowledge-center/index.html
  product-updates/knowledge-center/uploading-data.html
Due: none

fix missing errors on required fields if no other validators
  tdrs-backend/small_bad_tanf_s1
  tdrs-backend/tdpservice/parsers/test/data/small_bad_ssp_s1
  tdrs-backend/tdpservice/parsers/test/data/small_bad_tanf_s1
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/search_indexes/migrations/0009_auto_20230525_1959.py
  tdrs-backend/tdpservice/search_indexes/models/tanf.py
Due: backend

fix big_file test with new required errors
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

rm accidental addition
  tdrs-backend/small_bad_tanf_s1
Due: none

change record 'id' to uuid field with auto-gen default
  tdrs-backend/tdpservice/parsers/migrations/0004_parsererror_object_uuid.py
  tdrs-backend/tdpservice/parsers/migrations/0005_auto_20230601_1510.py
  tdrs-backend/tdpservice/parsers/models.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/search_indexes/migrations/0010_add_tmp_uuid.py
  tdrs-backend/tdpservice/search_indexes/migrations/0011_gen_uuid.py
  tdrs-backend/tdpservice/search_indexes/migrations/0012_set_uuid_pk.py
  tdrs-backend/tdpservice/search_indexes/migrations/0013_rename_uuid.py
  tdrs-backend/tdpservice/search_indexes/models/ssp.py
  tdrs-backend/tdpservice/search_indexes/models/tanf.py
Due: backend

unused import
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

Adding "beta" banners to relevant error report sections (#2522)
  tdrs-backend/tdpservice/parsers/views.py
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.jsx
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.test.js
Due: frontend, backend

Path conditions:
  frontend: any of: tdrs-frontend/src, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
  backend: any of: tdrs-backend/tdpservice, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
