Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

- add missing netpols on plg deploy script - update frontend deploy script to impute the Faro receiver url - add config for deployed alloy for faro
  scripts/deploy-frontend.sh
  tdrs-backend/plg/alloy/alloy.config
  tdrs-backend/plg/alloy/alloy.local.config
  tdrs-backend/plg/deploy.sh
Due: none

- exclude tempo from secrets check
  .gitconfig
Due: none

- Update settings for connect src - Add missing nginx config
  tdrs-backend/tdpservice/settings/common.py
  tdrs-frontend/nginx/cloud.gov/buildpack.nginx.conf
Due: backend

- update deploy script with CSP
  scripts/deploy-frontend.sh
Due: none

4983 bug nginx grafana timeout limit (#5054)
  tdrs-backend/plg/grafana/manifest.yml
  tdrs-frontend/nginx/cloud.gov/locations.conf
Due: none

- fix https url to http
  scripts/deploy-frontend.sh
Due: none

- Proxy faro endpoint with Nginx to terminate https - Add locations for faro receiver
  scripts/deploy-frontend.sh
  tdrs-frontend/.env
  tdrs-frontend/docker-compose.yml
  tdrs-frontend/nginx/cloud.gov/locations.conf
  tdrs-frontend/nginx/local/locations.conf
Due: none

- remove csp
  tdrs-backend/tdpservice/settings/common.py
Due: backend

auto-bind services
  scripts/deploy-backend.sh
  tdrs-backend/manifest.buildpack.yml
  tdrs-backend/manifest.celery.yml
Due: none

- Update validator logic for adult records
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
Due: backend

- remove ssn familiy affiliation validators - include 2 as valid value for citizenship status
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t5.py
  tdrs-backend/tdpservice/parsers/validators/category3.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category3.py
Due: backend

env var not available during first deployment
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

- Add validator
  tdrs-backend/tdpservice/parsers/schema_defs/fra/te1.py
Due: backend

syntax
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

default
  tdrs-backend/tdpservice/settings/celery.py
Due: backend

choose deployment strategy based on existence of backend/celery
  scripts/deploy-backend.sh
Due: none

fix env setting order
  scripts/deploy-backend.sh
Due: none

syntax
  scripts/deploy-backend.sh
Due: none

fix syntax errors
  scripts/deploy-backend.sh
Due: none

#5701 finished up with custom component creations, and adding sticky button to bottow of apps viewport. Added feelings icon for feedback form
  tdrs-frontend/jsconfig.json
  tdrs-frontend/src/App.js
  tdrs-frontend/src/assets/feedback/dissatisfied-feedback.svg
  tdrs-frontend/src/assets/feedback/neutral-feedback.svg
  tdrs-frontend/src/assets/feedback/satisfied-feedback.svg
  tdrs-frontend/src/assets/feedback/very-dissatisfied-feedback.svg
  tdrs-frontend/src/assets/feedback/very-satisfied-feedback.svg
  tdrs-frontend/src/components/FeedbackForm/FeedbackForm.jsx
  tdrs-frontend/src/components/FeedbackForm/index.js
  tdrs-frontend/src/components/FeedbackModal/FeedbackModal.jsx
  tdrs-frontend/src/components/FeedbackModal/index.js
  tdrs-frontend/src/components/FeedbackRadioSelectGroup/FeedbackRadioSelectGroup.jsx
  tdrs-frontend/src/components/FeedbackRadioSelectGroup/index.js
  tdrs-frontend/src/components/IconRadioSelect/IconRadioSelect.jsx
  tdrs-frontend/src/components/Tooltip/Tooltip.jsx
Due: frontend

#5701 updating code to pass information between components properly and added in sticky button and it's functionality. Adding validation error color and text as well
  tdrs-frontend/src/App.js
  tdrs-frontend/src/components/FeedbackForm/FeedbackForm.jsx
  tdrs-frontend/src/components/FeedbackModal/FeedbackModal.jsx
  tdrs-frontend/src/components/FeedbackRadioSelectGroup/FeedbackRadioSelectGroup.jsx
Due: frontend

rm local redis server
  tdrs-backend/gunicorn_start.sh
Due: none

deploy correct manifest
  scripts/deploy-backend.sh
Due: none

add back alloy
  tdrs-backend/gunicorn_start.sh
Due: none

rm celery exporter
  tdrs-backend/gunicorn_start.sh
Due: none

rm promtail config
  tdrs-frontend/promtail.config.yml
Due: none

bump alloy
  tdrs-backend/celery_start.sh
  tdrs-backend/gunicorn_start.sh
Due: none

add log
  scripts/deploy-backend.sh
Due: none

add app check to migrations
  scripts/apply-remote-migrations.sh
Due: none

fix app check
  scripts/apply-remote-migrations.sh
Due: none

correct var name
  scripts/apply-remote-migrations.sh
Due: none

skip on fail
  scripts/apply-remote-migrations.sh
Due: none

restage on initial deploy
  scripts/deploy-backend.sh
Due: none

add env-based redis db selection
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

staging + prod redis
  terraform/production/main.tf
  terraform/staging/main.tf
Due: none

Create sprint-126-summary.md
  docs/Sprint-Review/sprint-126-summary.md
Due: none

add redirect to login for 403 and 401 errors on plg
  tdrs-frontend/nginx/cloud.gov/locations.conf
  tdrs-frontend/nginx/local/locations.conf
Due: none

update local locations.conf to handle ports
  tdrs-frontend/nginx/local/locations.conf
Due: none

#5071 fixing up UI elements and testing the Ui functionality with simple validation
  tdrs-frontend/src/App.js
  tdrs-frontend/src/components/FeedbackForm/FeedbackForm.jsx
  tdrs-frontend/src/components/FeedbackModal/FeedbackModal.jsx
  tdrs-frontend/src/components/FeedbackRadioSelectGroup/FeedbackRadioSelectGroup.jsx
  tdrs-frontend/src/components/IconRadioSelect/IconRadioSelect.jsx
  tdrs-frontend/src/components/Tooltip/Tooltip.jsx
Due: frontend

Path conditions:
  frontend: any of: tdrs-frontend/src, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
  backend: any of: tdrs-backend/tdpservice, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
