Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

- Added new task to asynchroneously delete old versions of a datafile submission - Calling task in parse routine
  tdrs-backend/tdpservice/scheduling/df_version_task.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
Due: backend

- Rename task file - Add management command to remove prev versions of datafiles that already exist in the database
  tdrs-backend/tdpservice/scheduling/datafile_retention_tasks.py
  tdrs-backend/tdpservice/scheduling/df_version_task.py
  tdrs-backend/tdpservice/scheduling/management/commands/remove_all_old_df_versions.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
Due: backend

- re-add wget
  tdrs-backend/plg/loki/manifest.yml
Due: none

- remvoe service key query - update command to use correct nesting
  .circleci/deployment/commands.yml
Due: none

- Customize FRA field validators to generate cat1 errors - Update tests based on new logic
  tdrs-backend/tdpservice/parsers/row_schema.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

- absolute paths
  tdrs-backend/tdpservice/parsers/schema_defs/fra/__init__.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/__init__.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/__init__.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/__init__.py
Due: backend

fix submission history report selection
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend, backend

revert 'up' to 'pg_up'
  tdrs-backend/plg/prometheus/alerts.local.yml
Due: none

add db exporter alert
  tdrs-backend/plg/prometheus/alerts.local.yml
Due: none

- Updated to use raw deletes to save memory and go faster
  tdrs-backend/tdpservice/scheduling/datafile_retention_tasks.py
Due: backend

- Move system user to function scope - Only delete if ids > 0
  tdrs-backend/tdpservice/scheduling/datafile_retention_tasks.py
Due: backend

- linting
  tdrs-backend/tdpservice/scheduling/datafile_retention_tasks.py
Due: backend

- Use enum in remaining fields
  tdrs-backend/tdpservice/parsers/test/test_util.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category3.py
Due: backend

add section to err response
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

- linting
  tdrs-backend/tdpservice/parsers/test/test_util.py
Due: backend

- Update to serialize record to db even though we are generating cat4 errors - Update tests to reflect new behavior
  tdrs-backend/tdpservice/parsers/row_schema.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

- Added STT as a first class citizen on the TE1 model
  tdrs-backend/tdpservice/parsers/fra_parser.py
  tdrs-backend/tdpservice/search_indexes/migrations/0034_tanf_exiter1.py
  tdrs-backend/tdpservice/search_indexes/models/fra.py
Due: backend

update pg alert rules
  tdrs-backend/plg/prometheus/alerts.local.yml
  tdrs-backend/plg/prometheus/alerts.yml
Due: none

Revert "- Added STT as a first class citizen on the TE1 model"
  tdrs-backend/tdpservice/parsers/fra_parser.py
  tdrs-backend/tdpservice/search_indexes/migrations/0034_tanf_exiter1.py
  tdrs-backend/tdpservice/search_indexes/models/fra.py
Due: backend

Update issue templates
  .github/ISSUE_TEMPLATE/bug-template.md
  .github/ISSUE_TEMPLATE/design-deliverable-issue-template.md
  .github/ISSUE_TEMPLATE/dev-issue-template.md
  .github/ISSUE_TEMPLATE/research-facilitation-issue-template.md
  .github/ISSUE_TEMPLATE/research-planning-issue-template.md
  .github/ISSUE_TEMPLATE/research-synthesis-issue-template.md
  .github/ISSUE_TEMPLATE/spike.md
Due: none

Update index.html
  product-updates/knowledge-center/index.html
Due: none

Update product-updates/knowledge-center/index.html
  product-updates/knowledge-center/index.html
Due: none

Create sprint-120-summary
  docs/Sprint-Review/sprint-120-summary
Due: none

Rename sprint-120-summary to sprint-120-summary.md
  docs/Sprint-Review/sprint-120-summary.md
Due: none

hide fra upload form for regional staff
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/selectors/auth.js
Due: frontend

- Update test given new val logic
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

- linting
  tdrs-backend/tdpservice/parsers/fields.py
  tdrs-backend/tdpservice/parsers/validators/category1.py
Due: backend

- Update all SSNs to start with a 9 since that implies they are fake - Corrected logic on field check
  tdrs-backend/tdpservice/parsers/fields.py
  tdrs-backend/tdpservice/parsers/test/data/fra.csv
  tdrs-backend/tdpservice/parsers/test/data/fra.xlsx
  tdrs-backend/tdpservice/parsers/test/data/fra_bad_header.csv
  tdrs-backend/tdpservice/parsers/test/data/fra_bad_header.xlsx
  tdrs-backend/tdpservice/parsers/test/data/fra_empty_first_row.csv
  tdrs-backend/tdpservice/parsers/test/data/fra_empty_first_row.xlsx
Due: backend

- Correct checks on decoder tests
  tdrs-backend/tdpservice/parsers/test/test_decoders.py
Due: backend

- Added new values_json field to ParserError - Updated ParserError generator function to populate values_json - Migration for new field
  tdrs-backend/tdpservice/parsers/migrations/0013_parsererror_track_record_values.py
  tdrs-backend/tdpservice/parsers/models.py
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

Commits all changes
  product-updates/img/error-reports/click-file-name-download.png
  product-updates/img/getting-started/click-file-name-download.png
  product-updates/img/getting-started/existing-login-approved-tdp-home.png
  product-updates/img/getting-started/submission-history-tables.png
  product-updates/img/getting-started/submission-history.png
  tdrs-frontend/src/components/Home/Home.jsx
Due: frontend

- Update preparsing errors to be associated with a record - Update tests to reflect records not being serialized anymore
  tdrs-backend/tdpservice/parsers/row_schema.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

- correct tdr schema to return correct type
  tdrs-backend/tdpservice/parsers/row_schema.py
Due: backend

- Update fra parser to leverage fra specific error generator - Add check for precheck error to null out record since we're done with it at taht point - Update tests to take a null record
  tdrs-backend/tdpservice/parsers/fra_parser.py
  tdrs-backend/tdpservice/parsers/test/test_util.py
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

Test env parity with additions / release notes / review tweaks
  product-updates/img/account-management/1-tab-button.png
  product-updates/img/data-files/1-tab-emphasis.png
  product-updates/img/data-files/2-search-component.png
  product-updates/img/data-files/3-upload-buckets.png
  product-updates/img/data-files/4-success-message.png
  product-updates/img/getting-started/create-new-login-account-created.png
  product-updates/img/getting-started/create-new-login-create-your-account.png
  product-updates/img/getting-started/create-new-login-create-your-password.png
  product-updates/img/getting-started/create-new-login-second-layer-security.png
  product-updates/img/getting-started/existing-login-homepage.jpg
  product-updates/img/getting-started/file-type-differences.png
  product-updates/img/warning.svg
  product-updates/knowledge-center/complete-resubmissions.html
  product-updates/knowledge-center/exporting-complete-data-using-ftanf.html
  product-updates/knowledge-center/index.html
  product-updates/knowledge-center/uploading-data.html
  product-updates/knowledge-center/view-submission-history.html
Due: none

- a little extra handling for utf8 encoding types
  tdrs-backend/tdpservice/parsers/decoders.py
Due: backend

Path conditions:
  frontend: any of: tdrs-frontend/src, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
  backend: any of: tdrs-backend/tdpservice, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
