Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 90%
        flags:
          - backend
    patch: off

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

ignore:
  - "tdrs-backend/tdpservice/scheduling/db_backup.py"

still trying different conditionals for circleci for filtering on
  .circleci/base_config.yml
  .circleci/build-and-test/workflows.yml
  .circleci/config.yml
Due: none

changing backend file to test filtering
  tdrs-backend/Dockerfile
Due: none

can't use negative filtering for circleci workflows, so adding in build_and_test_all variable
  .circleci/base_config.yml
  .circleci/build-and-test/workflows.yml
  .circleci/config.yml
  .github/workflows/build-all.yml
  .github/workflows/build-backend.yml
Due: none

changing frontend file to test filtering
  tdrs-frontend/src/index.js
Due: frontend

changing terraform file to test filtering
  terraform/dev/main.tf
Due: none

removing innocuouschanges to files to test filtering, should trigger all three pipelines individually
  tdrs-backend/Dockerfile
  tdrs-frontend/src/index.js
  terraform/dev/main.tf
Due: frontend

1336 access request email (#2490)
  tdrs-backend/tdpservice/email/email.py
  tdrs-backend/tdpservice/email/email_enums.py
  tdrs-backend/tdpservice/email/helpers/account_access_requests.py
  tdrs-backend/tdpservice/email/templates/access-request-count.html
  tdrs-backend/tdpservice/scheduling/tasks.py
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/users/admin.py
  tdrs-backend/tdpservice/users/migrations/0038_user_access_requested_date.py
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/serializers.py
  tdrs-backend/tdpservice/users/test/test_api/test_set_profile.py
  tdrs-backend/tdpservice/users/views.py
  tdrs-frontend/cypress/e2e/accounts/accounts.js
  tdrs-frontend/cypress/e2e/common-steps/common-steps.js
Due: backend

updated documentation to include why we use Actions to trigger CircleCI builds
  .circleci/README.md
  .github/workflows/make-erd.yml
  docs/Technical-Documentation/github-actions.md
Due: none

added more documentation, with better links
  .circleci/README.md
  docs/Technical-Documentation/github-actions.md
Due: none

- added missing field
  tdrs-backend/tdpservice/users/serializers.py
Due: backend

- added missing comma from merge
  tdrs-backend/tdpservice/users/serializers.py
Due: backend

rm commented field
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
Due: backend

rename `n` to `record_number`
  tdrs-backend/tdpservice/parsers/parse.py
Due: backend

fix formatting
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m1.py
Due: backend

1122 validation errors for file error report (#2469)
  tdrs-backend/tdpservice/data_files/serializers.py
  tdrs-backend/tdpservice/parsers/views.py
  tdrs-frontend/src/actions/createXLSReport.js
  tdrs-frontend/src/actions/createXLSReport.test.js
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.jsx
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.test.js
  tdrs-frontend/src/reducers/reports.js
Due: frontend, backend

Fixing link to tabletops, removing old process (#2502)
  docs/Technical-Documentation/Architecture-Decision-Record/009-git-workflow.md
Due: none

- Added role based permission class - Updated views to leverage roll based permission class
  tdrs-backend/tdpservice/parsers/views.py
  tdrs-backend/tdpservice/stts/views.py
  tdrs-backend/tdpservice/users/permissions.py
Due: backend

- Not allowing datafile submissions unless it is your user
  tdrs-backend/tdpservice/users/permissions.py
Due: backend

fix conflicts
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
Due: backend

fix conflict
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m1.py
Due: backend

missed item num
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m1.py
Due: backend

1113.1 - Add ssp m1/m2/m3 model, documents to search_indexes (#2478)
  tdrs-backend/tdpservice/search_indexes/admin/__init__.py
  tdrs-backend/tdpservice/search_indexes/admin/ssp.py
  tdrs-backend/tdpservice/search_indexes/documents/__init__.py
  tdrs-backend/tdpservice/search_indexes/documents/ssp.py
  tdrs-backend/tdpservice/search_indexes/migrations/0007_ssp_m1_ssp_m2_ssp_m3.py
  tdrs-backend/tdpservice/search_indexes/models/__init__.py
  tdrs-backend/tdpservice/search_indexes/models/ssp.py
  tdrs-backend/tdpservice/search_indexes/test/test_model_mapping.py
  tdrs-backend/tdpservice/users/test/test_permissions.py
Due: backend

add adminUrl to deployment cypress overrides
  .circleci/deployment/jobs.yml
Due: none

- Disabling browseable api when in prod
  tdrs-backend/tdpservice/settings/common.py
Due: backend

update all actions to use github.repository instead of hard coded Raft repo in order to work with HHS side as well
  .github/workflows/build-all.yml
  .github/workflows/build-backend.yml
  .github/workflows/build-frontend.yml
  .github/workflows/deploy-develop-on-merge.yml
  .github/workflows/deploy-infrastructure.yml
  .github/workflows/deploy-on-label.yml
  .github/workflows/make-erd.yml
Due: none

- Adding test classes for user viewset
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/users/test/test_api/test_endpoints.py
Due: backend

updated circleci logic for HHS side
  .circleci/build-and-test/workflows.yml
  .circleci/infrastructure/workflows.yml
  .circleci/util/workflows.yml
  .github/workflows/build-all.yml
  .github/workflows/deploy-infrastructure.yml
  .github/workflows/make-erd.yml
Due: none

throwing in branch to test circleci side branch filtration
  .circleci/build-and-test/workflows.yml
  .github/workflows/build-all.yml
Due: none

made changes so we can test in hhs_dev_devops branch
  .circleci/build-and-test/workflows.yml
  .github/workflows/build-all.yml
Due: none

made changes so we can test in hhs-dev-devops branch
  .circleci/build-and-test/workflows.yml
Due: none

updates per PR.
  tdrs-backend/tdpservice/parsers/models.py
  tdrs-backend/tdpservice/parsers/test/factories.py
  tdrs-backend/tdpservice/parsers/test/test_summary.py
Due: backend

Excluding trailers for rejection
  tdrs-backend/tdpservice/parsers/models.py
Due: backend

VSCode merge resolution is garbage.
  tdrs-backend/tdpservice/parsers/parse.py
Due: backend

- Added remaining tests
  tdrs-backend/tdpservice/users/permissions.py
  tdrs-backend/tdpservice/users/test/test_api/test_endpoints.py
Due: backend

- Resolved lint errors
  tdrs-backend/tdpservice/users/permissions.py
  tdrs-backend/tdpservice/users/test/test_api/test_endpoints.py
Due: backend

- Resolved unit test failures
  tdrs-backend/tdpservice/conftest.py
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/stts/test/test_api.py
  tdrs-backend/tdpservice/users/permissions.py
  tdrs-backend/tdpservice/users/test/test_api/test_endpoints.py
  tdrs-backend/tdpservice/users/test/test_api/test_set_profile.py
  tdrs-backend/tdpservice/users/test/test_api/test_users.py
  tdrs-backend/tdpservice/users/views.py
Due: backend

- Updating tests to conform to minimum requirements for a user to request access
  tdrs-backend/tdpservice/stts/test/test_api.py
  tdrs-backend/tdpservice/stts/views.py
  tdrs-backend/tdpservice/users/management/commands/generate_cypress_users.py
  tdrs-backend/tdpservice/users/test/test_api/test_endpoints.py
  tdrs-backend/tdpservice/users/views.py
  tdrs-frontend/cypress/e2e/accounts/accounts.js
Due: backend

- removed list action override
  tdrs-backend/tdpservice/users/views.py
Due: backend

- Remove comment from testing
  tdrs-backend/tdpservice/settings/common.py
Due: backend
