Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

- Linting
  tdrs-backend/tdpservice/parsers/validators/test/test_category3.py
Due: backend

readme outline
  performance-tests/README.md
Due: none

- updated aggregates to not consider deprecated errors
  tdrs-backend/tdpservice/parsers/aggregates.py
Due: backend

- Added deprecation tests for all validators
  tdrs-backend/tdpservice/parsers/test/test_util.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category1.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category2.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category3.py
Due: backend

- Linting
  tdrs-backend/tdpservice/parsers/validators/test/test_category1.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category2.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category3.py
Due: backend

- Remove unintentional inclusion of validator
  tdrs-backend/tdpservice/parsers/test/test_util.py
Due: backend

- Update docstring
  tdrs-backend/tdpservice/parsers/validators/util.py
Due: backend

formatting
  performance-tests/tests/data-files.js
Due: none

readme examples
  performance-tests/README.md
Due: none

org
  performance-tests/README.md
Due: none

rm comments
  performance-tests/tests/data-files.js
Due: none

updated images
  product-updates/img/error-reports/error-report-critical.png
  product-updates/img/error-reports/error-report.png
Due: none

dynamic user id
  performance-tests/tests/data-files.js
  performance-tests/utils.js
Due: none

- Updated return type of decorators - Updated test and removed print
  tdrs-backend/tdpservice/parsers/validators/test/test_category3.py
  tdrs-backend/tdpservice/parsers/validators/util.py
Due: backend

- Added deprecation warning err message for deprecate decorator
  tdrs-backend/tdpservice/parsers/validators/util.py
Due: backend

- linting
  tdrs-backend/tdpservice/parsers/validators/util.py
Due: backend

move settings
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/settings/local.py
Due: backend

3243 promtail pipeline (#3285)
  tdrs-backend/plg/grafana/dashboards/dev_logs_dashboard.json
  tdrs-backend/plg/grafana/dashboards/logs_dashboard.json
  tdrs-backend/plg/promtail/config.local.yml
  tdrs-backend/plg/promtail/config.yml
Due: none

- Updated validation to return a common dataclass - Updated tests
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/row_schema.py
  tdrs-backend/tdpservice/parsers/test/test_util.py
  tdrs-backend/tdpservice/parsers/validators/category1.py
  tdrs-backend/tdpservice/parsers/validators/category3.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category1.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category2.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category3.py
  tdrs-backend/tdpservice/parsers/validators/util.py
Due: backend

- linting
  tdrs-backend/tdpservice/parsers/test/test_util.py
  tdrs-backend/tdpservice/parsers/validators/util.py
Due: backend

- Updated error message to match UX research and added link to KC
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
Due: frontend

- Update labels - Added paragraph - updated tests
  tdrs-frontend/src/components/ComboBox/ComboBox.test.js
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/Reports/Reports.test.js
  tdrs-frontend/src/components/STTComboBox/STTComboBox.jsx
Due: frontend

- linting
  tdrs-frontend/src/components/Reports/Reports.test.js
Due: frontend

- update to only accept text files
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
Due: frontend

- disable tests - disable apply migrations
  .circleci/build-and-test/workflows.yml
  .circleci/deployment/commands.yml
Due: none

Revert "- disable tests"
  .circleci/build-and-test/workflows.yml
  .circleci/deployment/commands.yml
Due: none

- Fixed logic causing download button to disappear
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
Due: frontend

- Updating to align with what devs actually do
  .github/pull_request_template.md
Due: none

- Updated test due to new year
  tdrs-backend/tdpservice/parsers/validators/test/test_category3.py
Due: backend

- update tests
  tdrs-backend/tdpservice/parsers/validators/test/test_category3.py
Due: backend

- update aria label
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
Due: frontend

- update year
  tdrs-backend/tdpservice/parsers/validators/test/test_category3.py
Due: backend

make date dynamic for test
  tdrs-backend/tdpservice/parsers/validators/test/test_category3.py
Due: backend

boilerplate + nav (with wrong permissions)
  tdrs-frontend/src/components/Header/Header.jsx
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/Reports/FRAReports.test.js
  tdrs-frontend/src/components/Reports/index.js
  tdrs-frontend/src/components/Routes/Routes.js
Due: frontend

- Re-add removed file types
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
Due: frontend

- Revert uuid back to id - Correctly update file state when executing the CLEAR_ERROR action
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
  tdrs-frontend/src/reducers/reports.js
Due: frontend

search form components + state
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/Reports/utils.js
  tdrs-frontend/src/selectors/auth.js
Due: frontend

Create Winter 2024, Evaluating FRA Submission & Error Reporting.md
  docs/User-Experience/Research-Syntheses/Winter 2024, Evaluating FRA Submission & Error Reporting.md
Due: none

Update Winter 2024, Evaluating FRA Submission & Error Reporting.md
  docs/User-Experience/Research-Syntheses/Winter 2024, Evaluating FRA Submission & Error Reporting.md
Due: none

Path conditions:
  frontend: any of: tdrs-frontend/src, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
  backend: any of: tdrs-backend/tdpservice, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
