Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

- Remove unused component and test files
  tdrs-frontend/src/components/FileUploadForm/FileUploadForm.jsx
  tdrs-frontend/src/components/FileUploadForm/FileUploadForm.test.js
  tdrs-frontend/src/components/FileUploadForm/index.js
  tdrs-frontend/src/components/FileUploadForms/QuarterFileUploadForm.jsx
  tdrs-frontend/src/components/FileUploadForms/SectionFileUploadForm.jsx
  tdrs-frontend/src/components/Reports/ProgramIntegrityAuditReports.jsx
  tdrs-frontend/src/components/Reports/TanfSspReports.jsx
Due: frontend

- Prevent multiple submission of PIA files
  tdrs-frontend/src/components/FileUploadForm/QuarterFileUploadForm.jsx
  tdrs-frontend/src/components/FileUploadForm/SectionFileUploadForm.jsx
  tdrs-frontend/src/reducers/reports.js
Due: frontend

- Add tests for new submission history components
  tdrs-frontend/src/components/SubmissionHistory/QuarterSubmissionHistory.test.js
  tdrs-frontend/src/components/SubmissionHistory/SectionSubmissionHistory.test.js
Due: frontend

- Add test files for new forms and for the actual upload component
  tdrs-frontend/src/components/FileUpload/FileUpload.test.jsx
  tdrs-frontend/src/components/FileUploadForms/QuarterFileUploadForm.test.jsx
  tdrs-frontend/src/components/FileUploadForms/SectionFileUploadForm.test.jsx
Due: frontend

- Add key for radio select
  tdrs-frontend/src/components/Form/RadioSelect.jsx
Due: frontend

- Block multiple submission
  tdrs-frontend/src/components/FileUploadForm/QuarterFileUploadForm.jsx
  tdrs-frontend/src/components/FileUploadForm/SectionFileUploadForm.jsx
Due: frontend

- correct extensions
  tdrs-frontend/src/components/FileUploadForms/QuarterFileUploadForm.test.js
  tdrs-frontend/src/components/FileUploadForms/SectionFileUploadForm.test.js
Due: frontend

- resolve conflicts
  tdrs-frontend/src/components/FileUploadForm/FileUploadForm.jsx
  tdrs-frontend/src/components/FileUploadForm/index.js
  tdrs-frontend/src/components/FileUploadForms/SectionFileUploadForm.jsx
Due: frontend

- remove duplicate migration
  tdrs-backend/tdpservice/search_indexes/migrations/0035_programaudit_t1_programaudit_t2_programaudit_t3.py
Due: backend

fix linting errors for backend
  tdrs-backend/tdpservice/email/helpers/data_file.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
Due: backend

add rpt_month_year month validation
  tdrs-backend/tdpservice/parsers/schema_defs/program_audit/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/program_audit/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/program_audit/t3.py
  tdrs-backend/tdpservice/parsers/validators/category2.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category2.py
Due: backend

- Add program audit to error report - Add simple admin interface for ease of use
  tdrs-backend/tdpservice/data_files/error_reports.py
  tdrs-backend/tdpservice/search_indexes/admin/__init__.py
  tdrs-backend/tdpservice/search_indexes/admin/program_audit.py
Due: backend

- Make quarter sub history case agreggates only - remove prints
  tdrs-backend/tdpservice/parsers/schema_defs/utils.py
  tdrs-frontend/src/components/SubmissionHistory/QuarterSubmissionHistory.jsx
Due: frontend, backend

- Update action to allow null quarter to support program audit
  tdrs-frontend/src/actions/reports.js
  tdrs-frontend/src/components/SubmissionHistory/QuarterSubmissionHistory.jsx
Due: frontend

- Add missing reprocessed state
  tdrs-frontend/src/components/Reports/ProgramIntegrityAuditReports.jsx
  tdrs-frontend/src/components/Reports/TanfSspReports.jsx
Due: frontend

add full coverage for email/helpers/data_file.py
  tdrs-backend/tdpservice/email/helpers/test/test_data_file.py
Due: backend

- Update to make pia case aggregates - Use correct functino calls
  tdrs-backend/tdpservice/parsers/parser_classes/program_audit_parser.py
  tdrs-backend/tdpservice/parsers/parser_classes/tdr_parser.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
Due: backend

Add missing section/program in func
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

- fix validation error
  tdrs-frontend/src/components/FileUpload/utils.jsx
Due: frontend

- Linting and fix spacing
  tdrs-frontend/src/components/FileUpload/utils.jsx
  tdrs-frontend/src/reducers/reports.js
Due: frontend

- Add function to map the returned datafile model's section to the frontend expected section if the filetype is program audit
  tdrs-frontend/src/actions/reports.js
Due: frontend

- remove unused prop - Update tests to actually render sub components
  tdrs-frontend/src/components/SubmissionHistory/QuarterSubmissionHistory.jsx
  tdrs-frontend/src/components/SubmissionHistory/QuarterSubmissionHistory.test.js
  tdrs-frontend/src/components/SubmissionHistory/SectionSubmissionHistory.test.js
Due: frontend

tests
  tdrs-frontend/src/components/Feedback/Feedback.test.js
  tdrs-frontend/src/components/Feedback/FeedbackForm.test.js
Due: frontend

- Make sure quarter upload still validates the quarter of the file
  tdrs-frontend/src/components/FileUpload/utils.jsx
  tdrs-frontend/src/components/FileUploadForms/QuarterFileUploadForm.jsx
Due: frontend

- move selector functions into context - create re-useable year and quarter components - re-structure reports dir
  tdrs-frontend/src/components/FileUploadForms/QuarterFileUploadForm.jsx
  tdrs-frontend/src/components/FileUploadForms/SectionFileUploadForm.jsx
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/Reports/ReportsContext.jsx
  tdrs-frontend/src/components/Reports/TanfSspReports.jsx
  tdrs-frontend/src/components/Reports/components/Explainers.jsx
  tdrs-frontend/src/components/Reports/components/FiscalYearSelect.jsx
  tdrs-frontend/src/components/Reports/components/FisclaQuarterSelect.jsx
  tdrs-frontend/src/components/Reports/pia/ProgramIntegrityAuditReports.jsx
  tdrs-frontend/src/components/Reports/tdr/TanfSspReports.jsx
Due: frontend

- Fix test
  tdrs-frontend/src/components/FileUploadForms/QuarterFileUploadForm.test.js
Due: frontend

- Correct label on section based upload
  tdrs-frontend/src/components/FileUploadForms/SectionFileUploadForm.jsx
Due: frontend

- Update tests
  tdrs-frontend/src/components/FileUploadForms/SectionFileUploadForm.test.js
Due: frontend

- Simplify test cases
  tdrs-frontend/src/components/FileUpload/FileUpload.test.jsx
  tdrs-frontend/src/components/FileUploadForms/QuarterFileUploadForm.test.js
  tdrs-frontend/src/components/FileUploadForms/SectionFileUploadForm.test.js
  tdrs-frontend/src/components/Reports/Reports.test.js
Due: frontend

- exclude context from coverage
  tdrs-frontend/src/components/Reports/ReportsContext.jsx
Due: frontend

- Update to support no longer needing search button
  performance-tests/tests/data-files.js
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
  tdrs-frontend/cypress/e2e/data-files/file_upload.js
  tdrs-frontend/cypress/e2e/data-files/submission_history.js
Due: none

- Remove console logs - Update FRAReports to have the same form behavior as Reports - Update reports context to include necessary FRA state
  tdrs-frontend/src/components/FileUploadForms/QuarterFileUploadForm.jsx
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/Reports/ReportsContext.jsx
Due: frontend

add admin
  tdrs-backend/tdpservice/search_indexes/admin/__init__.py
  tdrs-backend/tdpservice/search_indexes/admin/program_audit.py
Due: backend

fix validator
  tdrs-backend/tdpservice/parsers/validators/category2.py
Due: backend

decouple generate_error and delete_duplicate steps
  tdrs-backend/tdpservice/parsers/parser_classes/base_parser.py
  tdrs-backend/tdpservice/parsers/parser_classes/program_audit_parser.py
Due: backend

- Add missing logic for FRA to show modal - Consolidate clear functionality - remove unused imports
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/Reports/ReportsContext.jsx
  tdrs-frontend/src/components/Reports/tdr/TanfSspReports.jsx
Due: frontend

- Update remove previews to not collapse inputs - Add contextual error modal toggle to handle different input clearing logic
  tdrs-frontend/src/components/FileUpload/utils.jsx
  tdrs-frontend/src/components/FileUploadForms/QuarterFileUploadForm.jsx
  tdrs-frontend/src/components/FileUploadForms/SectionFileUploadForm.jsx
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/Reports/ReportsContext.jsx
Due: frontend

- Store pending change until user decides what to do
  tdrs-frontend/src/components/Reports/ReportsContext.jsx
Due: frontend

- Update radioselect and combobox to preserve selection until state changes - Add new handler to clear pending changes when needed
  tdrs-frontend/src/components/Form/RadioSelect.jsx
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/Reports/ReportsContext.jsx
Due: frontend

- Update tests based on new reactive report page - Add missing setter for fra files when clearing inputs
  tdrs-frontend/src/components/Reports/FRAReports.test.js
  tdrs-frontend/src/components/Reports/ReportsContext.jsx
Due: frontend

Path conditions:
  frontend: any of: tdrs-frontend/src, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
  backend: any of: tdrs-backend/tdpservice, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
