Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 90%
        flags:
          - backend
    patch: off

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

ignore:
  - "tdrs-backend/tdpservice/scheduling/db_backup.py"

- linting
  tdrs-backend/tdpservice/data_files/util.py
Due: backend

- Added tests for aggregates page
  tdrs-backend/tdpservice/data_files/test/test_api.py
Due: backend

- linting
  tdrs-backend/tdpservice/data_files/test/test_api.py
Due: backend

- Update networking in deploy.sh - Update .ini to use internal domain - Add nginx config for proxying prod Grafana
  tdrs-backend/plg/deploy.sh
  tdrs-backend/plg/grafana/custom.ini
  tdrs-backend/plg/grafana/manifest.yml
  tdrs-frontend/nginx/cloud.gov/locations.conf
Due: none

- add missing arg for grafana deploy
  tdrs-backend/plg/deploy.sh
Due: none

- Update deploy script networking to test in dev initially
  scripts/deploy-backend.sh
  scripts/deploy-frontend.sh
Due: none

first draft memo
  docs/Technical-Documentation/tech-memos/parsing-log-per-file/parsing-log-per-file.md
Due: none

- Updated test to conform to priority errors update
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

- linting
  tdrs-backend/tdpservice/parsers/models.py
Due: backend

- remove prod tunnel - turn off tests
  .circleci/build-and-test/workflows.yml
  scripts/deploy-backend.sh
Due: none

- fix domain - fix location error
  tdrs-backend/plg/grafana/custom.ini
  tdrs-frontend/nginx/cloud.gov/locations.conf
Due: none

rm unused properties, rename used property
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.jsx
  tdrs-frontend/src/components/SubmissionHistory/helpers.jsx
  tdrs-frontend/src/reducers/reports.js
Due: frontend

- Remove prod networking from deploy-backend.sh - update plg/deploy.sh to handle all prod based networking since net-pols are persistent - Remove unnecessary scrape config from prometheus config
  scripts/deploy-backend.sh
  tdrs-backend/plg/deploy.sh
  tdrs-backend/plg/prometheus/prometheus.yml
Due: none

- Updated to make status partially accepted - Updated xlsx tab names - Updated tests
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/data_files/util.py
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/parsers/models.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

- Linting
  tdrs-backend/tdpservice/data_files/test/test_api.py
Due: backend

- Updated syntax errors in script - Gave loki 1GB memory
  tdrs-backend/plg/deploy.sh
  tdrs-backend/plg/loki/manifest.yml
Due: none

- update comment - remove todo
  tdrs-backend/plg/deploy.sh
Due: none

- Update grafana session settings
  tdrs-backend/plg/grafana/custom.ini
Due: none

- remove very annoying log messages
  tdrs-backend/tdpservice/users/api/authorization_check.py
Due: backend

- Move all PLG networking to plg deploy script
  scripts/deploy-backend.sh
  tdrs-backend/plg/deploy.sh
Due: none

- re add tests
  .circleci/build-and-test/workflows.yml
Due: none

- remove dev test code
  scripts/deploy-backend.sh
Due: none

- Revert postgres repo back to postgres apt repo instead of nexus
  tdrs-backend/Dockerfile
Due: none

wip singleton class, migrations
  docs/Technical-Documentation/tech-memos/parsing-log-per-file/parsing-log-per-file.md
Due: none

- Update configs to use deployed AM endpoint - Added nginx route for AM in cloud.gov
  tdrs-backend/plg/prometheus/alerts.local.yml
  tdrs-backend/plg/prometheus/prometheus.local.yml
  tdrs-backend/plg/prometheus/prometheus.yml
  tdrs-frontend/nginx/cloud.gov/locations.conf
Due: none

- update the deploy script to deploy alertmanager
  tdrs-backend/plg/deploy.sh
Due: none

- update deploy script to get sendgrid api key from backend to template into alertmanager config - Update manifest to pull alertmanager binary and start it
  tdrs-backend/plg/alertmanager/manifest.yml
  tdrs-backend/plg/deploy.sh
Due: none

- Update manifest to bind AM to 8080
  tdrs-backend/plg/alertmanager/manifest.yml
  tdrs-backend/plg/deploy.sh
Due: none

- allow rule
  .gitconfig
Due: none

- disable tests - small updates to deploy script
  .circleci/build-and-test/workflows.yml
  tdrs-backend/plg/deploy.sh
Due: none

- fixed error in alerts config - fixed error in prometheus config
  tdrs-backend/plg/prometheus/alerts.yml
  tdrs-backend/plg/prometheus/prometheus.yml
Due: none

- re-enable tests
  .circleci/build-and-test/workflows.yml
Due: none

- Move all networking to separate functions for convenience
  tdrs-backend/plg/deploy.sh
Due: none

- update key name location
  .gitconfig
Due: none

- add missing prometheus net pols
  tdrs-backend/plg/deploy.sh
Due: none

- target prod just in case
  tdrs-backend/plg/deploy.sh
Due: none

finalize memo
  docs/Technical-Documentation/tech-memos/parsing-log-per-file/parsing-log-per-file.md
Due: none

cleanup
  docs/Technical-Documentation/tech-memos/parsing-log-per-file/parsing-log-per-file.md
Due: none

- templated emails
  tdrs-backend/plg/alertmanager/alertmanager.yml
Due: none

- Add simple README for deploying PLG
  tdrs-backend/plg/README.md
Due: none
