Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 90%
        flags:
          - backend
    patch: off

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

ignore:
  - "tdrs-backend/tdpservice/scheduling/db_backup.py"

- fix lint
  tdrs-backend/tdpservice/users/serializers.py
Due: backend

change allowed extensions
  tdrs-backend/tdpservice/data_files/serializers.py
  tdrs-backend/tdpservice/data_files/validators.py
  tdrs-frontend/src/actions/reports.js
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/Reports/FRAReports.test.js
Due: frontend, backend

lint
  tdrs-backend/tdpservice/data_files/serializers.py
Due: backend

fix label
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

fix file encoding
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

test
  tdrs-frontend/src/components/Reports/FRAReports.test.js
Due: frontend

- update test parse to use factory
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

- Use fully qualified imports - Resolve circular import
  tdrs-backend/tdpservice/parsers/aggregates.py
  tdrs-backend/tdpservice/parsers/row_schema.py
  tdrs-backend/tdpservice/parsers/schema_defs/header.py
  tdrs-backend/tdpservice/parsers/schema_defs/trailer.py
  tdrs-backend/tdpservice/parsers/schema_defs/utils.py
Due: backend

tests
  tdrs-backend/tdpservice/conftest.py
  tdrs-backend/tdpservice/data_files/serializers.py
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/data_files/test/test_serializers.py
Due: backend

- Add chardet and puremagic - Correct program type in factory
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
  tdrs-backend/docker-compose.yml
  tdrs-backend/tdpservice/parsers/factory.py
Due: backend

- Update to get initial parsing working
  tdrs-backend/tdpservice/parsers/base_parser.py
  tdrs-backend/tdpservice/parsers/row_schema.py
  tdrs-backend/tdpservice/parsers/tst_parser.py
Due: backend

- update current row member - move serialized records deletion higher up the stack
  tdrs-backend/tdpservice/parsers/base_parser.py
  tdrs-backend/tdpservice/parsers/tst_parser.py
Due: backend

- Remove ref to schema manager - call update encrypted fields - update row number - add encrypted field to header result
  tdrs-backend/tdpservice/parsers/aggregates.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/tst_parser.py
Due: backend

code style
  tdrs-frontend/src/actions/fraReports.js
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

- fix bulk create errors
  tdrs-backend/tdpservice/parsers/tst_parser.py
Due: backend

- final updates to m emo
  docs/Technical-Documentation/tech-memos/fra-schema-and-fields/fra-schema-and-fields.md
Due: none

add about/template links
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

conflicting migrations
  tdrs-backend/tdpservice/users/migrations/0044_alter_user_feature_flags.py
Due: backend

- Update decoder to count rows starting at 1 - Update incorrect invocations of bulk create errors
  tdrs-backend/tdpservice/parsers/decoders.py
  tdrs-backend/tdpservice/parsers/tst_parser.py
Due: backend

comment unused
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

- Update decoder to give row raw length - Update parser to only create header error
  tdrs-backend/tdpservice/parsers/decoders.py
  tdrs-backend/tdpservice/parsers/tst_parser.py
Due: backend

- remove header spaces
  tdrs-backend/tdpservice/parsers/test/data/ADS.E2J.NDM1.TS53_fake.rollback.txt
Due: backend

- move file pointer to begining when predicting encoding
  tdrs-backend/tdpservice/parsers/decoders.py
Due: backend

add page subtitle
  tdrs-frontend/src/components/PrivateRoute/PrivateRoute.js
  tdrs-frontend/src/components/PrivateTemplate/PrivateTemplate.jsx
  tdrs-frontend/src/components/Routes/Routes.js
Due: frontend

update explainer table language
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/Reports/FRAReports.test.js
  tdrs-frontend/src/components/Reports/Reports.jsx
Due: frontend

- Update to allow file header to dictate program type - Remove program type as parameter from parser init
  tdrs-backend/tdpservice/parsers/base_parser.py
  tdrs-backend/tdpservice/parsers/factory.py
  tdrs-backend/tdpservice/parsers/tst_parser.py
Due: backend

- Update test
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

tests
  tdrs-frontend/src/actions/fraReports.js
  tdrs-frontend/src/actions/fraReports.test.js
Due: frontend

update mock csv data file
  tdrs-backend/tdpservice/conftest.py
Due: backend

missed links
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

- remove invalid test
  tdrs-backend/tdpservice/parsers/test/test_util.py
Due: backend

- Remove parse.py - Update remaining tests to use new parser structure - lint
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/parsers/management/commands/seed_db.py
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/test/test_util.py
  tdrs-backend/tdpservice/search_indexes/test/test_reparse.py
Due: backend

3205 reparse command refactor (#3361)
  tdrs-backend/docker-compose.yml
  tdrs-backend/tdpservice/data_files/tasks.py
  tdrs-backend/tdpservice/search_indexes/management/commands/clean_and_reparse.py
  tdrs-backend/tdpservice/search_indexes/reparse.py
  tdrs-backend/tdpservice/search_indexes/test/test_reparse.py
  tdrs-backend/tdpservice/search_indexes/utils.py
Due: backend

- Move schema manager to its own file - rename tst parser to tdr parser
  tdrs-backend/tdpservice/parsers/base_parser.py
  tdrs-backend/tdpservice/parsers/factory.py
  tdrs-backend/tdpservice/parsers/row_schema.py
  tdrs-backend/tdpservice/parsers/schema_manager.py
  tdrs-backend/tdpservice/parsers/tdr_parser.py
Due: backend

allow regional users to see submission history
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/SubmissionHistory/CaseAggregatesTable.jsx
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.jsx
  tdrs-frontend/src/components/SubmissionHistory/TotalAggregatesTable.jsx
  tdrs-frontend/src/selectors/auth.js
Due: frontend

filter datafiles stt combobox to regional stts
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/STTComboBox/STTComboBox.jsx
  tdrs-frontend/src/selectors/stts.js
Due: frontend

add backend permission checks
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/users/permissions.py
Due: backend

tests
  tdrs-frontend/src/components/Reports/Reports.test.js
  tdrs-frontend/src/components/STTComboBox/STTComboBox.jsx
  tdrs-frontend/src/components/UploadReport/UploadReport.test.js
Due: frontend

fix tests
  tdrs-backend/tdpservice/users/permissions.py
Due: backend

add required field indicator
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/Reports/FRAReports.test.js
Due: frontend
