Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 90%
        flags:
          - backend
    patch: off

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

ignore:
  - "tdrs-backend/tdpservice/scheduling/db_backup.py"

- fake change
  tdrs-backend/tdpservice/parsers/validators/category3.py
Due: backend

Revert "- fake change"
  tdrs-backend/tdpservice/parsers/validators/category3.py
Due: backend

- update docker tag
  tdrs-backend/Dockerfile
Due: none

- Update to versioned image
  tdrs-backend/Dockerfile
Due: none

include `-local` in local exporter job names
  tdrs-backend/plg/prometheus/prometheus.local.yml
Due: none

update health dashboard to accept correct env configuration
  tdrs-backend/plg/grafana/dashboards/health.json
Due: none

swap env order
  tdrs-backend/plg/grafana/dashboards/health.json
Due: none

revert the changes to tribal back
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t5.py
Due: backend

revert changes back
  tdrs-backend/tdpservice/parsers/validators/category3.py
Due: backend

linting
  tdrs-backend/tdpservice/parsers/validators/category3.py
Due: backend

move django-stubs to dev packages
  tdrs-backend/Pipfile
Due: none

set stt to stt object and use instead of recalling row_schema
  tdrs-backend/tdpservice/parsers/validators/category3.py
Due: backend

update pipfile.lock
  tdrs-backend/Pipfile.lock
Due: none

undo grantee change
  product-updates/knowledge-center/complete-resubmissions.html
  product-updates/knowledge-center/exporting-complete-data-using-ftanf.html
  product-updates/knowledge-center/uploading-data.html
Due: none

Update index.html
  product-updates/knowledge-center/index.html
Due: none

state > ref
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

rm log
  tdrs-backend/None
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

- disable auth for local grafana - change log level for deployed grafana - Fix issue causing prometheus metrics to not be scraped from backend
  tdrs-backend/plg/grafana/custom.ini
  tdrs-backend/plg/grafana/custom.local.ini
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

update alert rule job names
  tdrs-backend/plg/prometheus/alerts.local.yml
  tdrs-backend/plg/prometheus/alerts.yml
Due: none

add `up` alert condition to deployed
  tdrs-backend/plg/prometheus/alerts.yml
Due: none

3441 Block file submission wrong date (#3501)
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
  tdrs-frontend/src/components/FileUpload/utils.jsx
  tdrs-frontend/src/components/Reports/Reports.test.js
Due: frontend

rm log file
  tdrs-backend/None
Due: none

increase MAX_TRIES to 30
  tdrs-frontend/src/actions/fraReports.js
  tdrs-frontend/src/actions/fraReports.test.js
Due: frontend

- Update so that ssn is all caps
  tdrs-backend/tdpservice/data_files/error_reports.py
Due: backend

- small correction to ini
  tdrs-backend/plg/grafana/custom.local.ini
Due: none

- Updated error location so that it is only row based - Autofit after report is done
  tdrs-backend/tdpservice/data_files/error_reports.py
Due: backend

- Update deploy script to deploy Mimir
  tdrs-backend/plg/deploy.sh
Due: none

- http not https
  tdrs-backend/plg/prometheus/prometheus.yml
Due: none

- Update to allow mimir env refs
  .gitconfig
Due: none

- Update tests
  tdrs-backend/tdpservice/data_files/test/test_api.py
Due: backend

- Update tests
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

- Update so that only previous datafile versions records are deleted.
  tdrs-backend/tdpservice/scheduling/datafile_retention_tasks.py
Due: backend

- Update deployment to configure datasources - Update dashboards to be DS agnostic but default mimir - remove prometheus as DS
  tdrs-backend/plg/deploy.sh
  tdrs-backend/plg/grafana/dashboards/django_dashboard.json
  tdrs-backend/plg/grafana/dashboards/health.json
  tdrs-backend/plg/grafana/dashboards/logs_dashboard.json
  tdrs-backend/plg/grafana/datasources.local.yml
  tdrs-backend/plg/grafana/datasources.template.yml
Due: none

- linting
  tdrs-backend/tdpservice/scheduling/datafile_retention_tasks.py
Due: backend

- Give backend maximal disk space
  tdrs-backend/manifest.buildpack.yml
Due: none

- Update manifest to 512M of memory
  tdrs-backend/plg/mimir/manifest.yml
Due: none

fix submission history first load bug
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

convert fra original submission filename on download
  tdrs-frontend/src/actions/fraReports.js
Due: frontend
