Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 95%
        flags:
          - backend

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

Minor refactor
  tdrs-backend/tdpservice/urls.py
  tdrs-backend/tdpservice/users/api/login.py
Due: backend

Minor fixes
  tdrs-backend/tdpservice/users/api/login_redirect_oidc.py
Due: backend

Removing dep
  tdrs-frontend/package.json
Due: none

Update yarn.lock
  tdrs-frontend/yarn.lock
Due: none

fix(1054): Update django-admin-508 to v0.1.1
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
Due: none

Add frontend and backend flags
  .circleci/config.yml
  .github/workflows/check-on-label.yml
Due: none

Update docs/Architecture Decision Record/003 Application hosting.md
  docs/Architecture Decision Record/003 Application hosting.md
Due: none

Added CI/CD Health Check Document
  docs/Technical-Documentation/circle-ci-audit-template.md
Due: none

Add qasp pipeline
  .circleci/config.yml
Due: none

Update our-workflow.md
  docs/How-We-Work/team-charter/our-workflow.md
Due: none

fix: Bump interval
  tdrs-frontend/src/components/SplashPage/SplashPage.jsx
Due: frontend

Updated zap-scanner.sh to utilize a different ZAP script based on target
  scripts/zap-scanner.sh
Due: none

Update tdrs-backend/tdpservice/users/migrations/0023_add_regional_staff_group.py
  tdrs-backend/tdpservice/users/migrations/0023_add_regional_staff_group.py
Due: backend

add documentation for labels
  docs/Technical-Documentation/circle-ci.md
Due: none

Add temporary build-and-test
  .circleci/config.yml
Due: none

test: new SplashPage background updates
  tdrs-frontend/src/components/SplashPage/SplashPage.jsx
  tdrs-frontend/src/components/SplashPage/SplashPage.test.js
Due: frontend

Update Team-Composition.md
  docs/How-We-Work/Team-Composition.md
Due: none

updated migration name index
  tdrs-backend/tdpservice/users/migrations/0024_add_regional_staff_group.py
  tdrs-backend/tdpservice/users/migrations/0025_merge_20210928_0028.py
Due: backend

add merge file
  tdrs-backend/tdpservice/users/migrations/0026_merge_20211018_1508.py
Due: backend

Update docs/How-We-Work/team-charter/our-workflow.md
  docs/How-We-Work/team-charter/our-workflow.md
Due: none

fix: bump django-admin-508
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
Due: none

Create WH_CybersecurityEO.md
  docs/Security-Compliance/WH_CybersecurityEO.md
Due: none

Update docs/Security-Compliance/WH_CybersecurityEO.md
  docs/Security-Compliance/WH_CybersecurityEO.md
Due: none

Add condition to only run if the repository is from raft or HHS
  .github/workflows/check-on-label.yml
Due: none

use project slug from github.repository
  .github/workflows/check-on-label.yml
Due: none

Update .github/workflows/check-on-label.yml
  .github/workflows/check-on-label.yml
Due: none

Create sprint-31-summary
  docs/Sprint-Review/sprint-31-summary
Due: none
