Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Introducing technical debt, too complex to fix tanf-dev (#2392)
  scripts/deploy-backend.sh
Due: none

Copies repo from test env
  product-updates/img/getting-started/access-request.png
  product-updates/img/getting-started/account-is-deactivated.png
  product-updates/img/getting-started/click-file-name-download.png
  product-updates/img/getting-started/data-submitted.png
  product-updates/img/getting-started/file-type-differences.png
  product-updates/img/getting-started/inactive-account.png
  product-updates/img/getting-started/submission-history.png
  product-updates/index.html
  product-updates/knowledge-center/about-email-notifications.html
  product-updates/knowledge-center/create-new-login.html
  product-updates/knowledge-center/existing-login.html
  product-updates/knowledge-center/exporting-complete-data-using-ftanf.html
  product-updates/knowledge-center/faq.html
  product-updates/knowledge-center/give-feedback.html
  product-updates/knowledge-center/index.html
  product-updates/knowledge-center/managing-your-account.html
  product-updates/knowledge-center/view-submission-history.html
Due: none

changed NC from sample to universe state (#2398)
  tdrs-backend/tdpservice/stts/management/commands/data/states.csv
Due: backend

image update
  product-updates/img/getting-started/file-type-differences.png
Due: none

Devops/2337 deploy develop on pr merge (#2401)
  .circleci/base_config.yml
  .circleci/build-and-test/workflows.yml
  .circleci/config.yml
  .circleci/deployment/jobs.yml
  .circleci/deployment/workflows.yml
  .github/workflows/deploy-develop-on-merge.yml
  docs/Technical-Documentation/README.md
  docs/Technical-Documentation/circle-ci.md
  docs/Technical-Documentation/cypress-integration-tests.md
  scripts/deploy-backend.sh
  tdrs-frontend/package.json
Due: none

Create sprint-66-summary.md
  docs/Sprint-Review/sprint-66-summary.md
Due: none

bug/2403 scheduled triggers (#2414)
  .circleci/build-and-test/workflows.yml
  .circleci/deployment/workflows.yml
  .circleci/infrastructure/workflows.yml
  .circleci/util/workflows.yml
Due: none

update stt_code to 3 chars
  tdrs-backend/tdpservice/stts/management/commands/populate_stts.py
  tdrs-backend/tdpservice/stts/migrations/0010_alter_stt_stt_code.py
  tdrs-backend/tdpservice/stts/models.py
Due: backend

allow saving user location without a group assigned
  tdrs-backend/tdpservice/users/models.py
Due: backend

Create sprint-67-summary file (#2433)
  docs/Sprint-Review/sprint-67-summary.md
Due: none

Fix/1641 three digit stt code (#2426)
  tdrs-backend/tdpservice/scheduling/test/test_file_upload.py
  tdrs-backend/tdpservice/stts/management/commands/populate_stts.py
  tdrs-backend/tdpservice/stts/migrations/0010_alter_stt_stt_code.py
  tdrs-backend/tdpservice/stts/models.py
  tdrs-backend/tdpservice/stts/test/factories.py
  tdrs-backend/tdpservice/users/models.py
Due: backend

Fixing logout flow (#2428)
  tdrs-backend/tdpservice/users/api/logout_redirect_oidc.py
Due: backend

Feat/1965 approved user homepage (#2440)
  tdrs-frontend/src/components/Home/Home.jsx
  tdrs-frontend/src/components/Home/Home.test.jsx
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/Reports/Reports.test.js
  tdrs-frontend/src/components/ResourceCards/ResourceCards.jsx
  tdrs-frontend/src/components/ResourceCards/ResourceCards.test.js
  tdrs-frontend/src/components/ResourceCards/index.js
  tdrs-frontend/src/components/SplashPage/SplashPage.jsx
  tdrs-frontend/src/components/SplashPage/SplashPage.test.js
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.jsx
Due: frontend

Bug 2379 search form error count (#2444)
  tdrs-frontend/src/components/Reports/Reports.jsx
Due: frontend

Debug/zap resource class bump (#2441)
  .circleci/base_config.yml
  .circleci/owasp/jobs.yml
Due: none

1121 file parsing errors log (#2422)
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
  tdrs-backend/tdpservice/search_indexes/migrations/0004_parsererror.py
  tdrs-backend/tdpservice/search_indexes/models.py
  tdrs-backend/tdpservice/search_indexes/parsers/models.py
  tdrs-backend/tdpservice/search_indexes/parsers/serializers.py
  tdrs-backend/tdpservice/search_indexes/parsers/test/factories.py
  tdrs-backend/tdpservice/search_indexes/parsers/test/test_models.py
  tdrs-backend/tdpservice/search_indexes/parsers/test/test_serializer.py
  tdrs-backend/tdpservice/search_indexes/parsers/urls.py
  tdrs-backend/tdpservice/search_indexes/parsers/views.py
  tdrs-backend/tdpservice/urls.py
  tdrs-backend/tdpservice/users/test/test_permissions.py
  tdrs-frontend/src/App.js
  tdrs-frontend/src/actions/createXLSReport.js
Due: frontend, backend

remove reports useEffect (#2451)
  tdrs-frontend/src/App.js
Due: frontend

Deploy locally with curl (#2447)
  commands.sh
Due: none

Create CloudFoundry-DB-Connection.md (#2453)
  docs/Technical-Documentation/CloudFoundry-DB-Connection.md
Due: none

Downgrading to within HHS limits. (#2455)
  .circleci/base_config.yml
Due: none

Create sprint-68-summary.md (#2454)
  docs/Sprint-Review/sprint-68-summary.md
Due: none

Changing flow if initial user and superuser (#2452)
  tdrs-backend/tdpservice/users/api/login.py
Due: backend

Updates UX templates to include internal raft-review AC (#2388)
  .github/ISSUE_TEMPLATE/design-deliverable-issue-template.md
  .github/ISSUE_TEMPLATE/research-synthesis-issue-template.md
Due: none

Fix/1641 stt code in user (#2446)
  tdrs-backend/tdpservice/conftest.py
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/stts/admin.py
  tdrs-backend/tdpservice/stts/models.py
  tdrs-backend/tdpservice/stts/test/test_models.py
  tdrs-backend/tdpservice/users/admin.py
  tdrs-backend/tdpservice/users/migrations/0036_auto_20230306_1431.py
  tdrs-backend/tdpservice/users/migrations/0037_auto_20230306_1434.py
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/serializers.py
  tdrs-backend/tdpservice/users/test/factories.py
  tdrs-backend/tdpservice/users/test/test_models.py
  tdrs-backend/tdpservice/users/views.py
Due: backend

lift and shift search_indexes.parsers to parsers
  tdrs-backend/tdpservice/parsers/__init__.py
  tdrs-backend/tdpservice/parsers/admin.py
  tdrs-backend/tdpservice/parsers/apps.py
  tdrs-backend/tdpservice/parsers/migrations/0001_initial.py
  tdrs-backend/tdpservice/parsers/migrations/__init__.py
  tdrs-backend/tdpservice/parsers/models.py
  tdrs-backend/tdpservice/parsers/preparser.py
  tdrs-backend/tdpservice/parsers/schema_defs/__init__.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf.py
  tdrs-backend/tdpservice/parsers/schema_defs/universal.py
  tdrs-backend/tdpservice/parsers/serializers.py
  tdrs-backend/tdpservice/parsers/tanf_parser.py
  tdrs-backend/tdpservice/parsers/test/__init__.py
  tdrs-backend/tdpservice/parsers/test/data/ADS.E2J.FTP1.TS06
  tdrs-backend/tdpservice/parsers/test/data/bad_TANF_S1.txt
  tdrs-backend/tdpservice/parsers/test/data/bad_TANF_S2.txt
  tdrs-backend/tdpservice/parsers/test/data/bad_missing_header.txt
  tdrs-backend/tdpservice/parsers/test/data/bad_trailer_1.txt
  tdrs-backend/tdpservice/parsers/test/data/bad_trailer_2.txt
  tdrs-backend/tdpservice/parsers/test/data/bad_two_headers.txt
  tdrs-backend/tdpservice/parsers/test/data/empty_file
  tdrs-backend/tdpservice/parsers/test/data/small_correct_file
  tdrs-backend/tdpservice/parsers/test/factories.py
  tdrs-backend/tdpservice/parsers/test/test_data_parsing.py
  tdrs-backend/tdpservice/parsers/test/test_models.py
  tdrs-backend/tdpservice/parsers/test/test_serializer.py
  tdrs-backend/tdpservice/parsers/urls.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/parsers/views.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
  tdrs-backend/tdpservice/search_indexes/migrations/0005_delete_parsererror.py
  tdrs-backend/tdpservice/search_indexes/models.py
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/urls.py
  tdrs-backend/tdpservice/users/test/test_permissions.py
Due: backend

lint
  tdrs-backend/tdpservice/parsers/admin.py
  tdrs-backend/tdpservice/parsers/apps.py
Due: backend

Copies over all changes from Test environment
  product-updates/img/usa-icons/info.svg
  product-updates/knowledge-center/faq.html
  product-updates/knowledge-center/index.html
Due: none

add helper methods to RowSchema and Field classes
  tdrs-backend/tdpservice/parsers/test/test_util.py
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

add generic validator functions
  tdrs-backend/tdpservice/parsers/test/test_validators.py
  tdrs-backend/tdpservice/parsers/validators.py
Due: backend

create new header/trailer schema using RowSchema
  tdrs-backend/tdpservice/parsers/schema_defs/__init__.py
  tdrs-backend/tdpservice/parsers/schema_defs/header.py
  tdrs-backend/tdpservice/parsers/schema_defs/trailer.py
Due: backend

create generic parse function for all schemas
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

add validator test, update docstrings
  tdrs-backend/tdpservice/parsers/test/test_validators.py
Due: backend

fix some tests
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/test/test_util.py
  tdrs-backend/tdpservice/parsers/test/test_validators.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/parsers/validators.py
Due: backend

remove old preparser impl
  tdrs-backend/tdpservice/parsers/preparser.py
  tdrs-backend/tdpservice/parsers/schema_defs/__init__.py
  tdrs-backend/tdpservice/parsers/schema_defs/universal.py
  tdrs-backend/tdpservice/parsers/test/test_data_parsing.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
Due: backend

fix parse section, blanks
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/schema_defs/trailer.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

rm comments
  tdrs-backend/tdpservice/parsers/validators.py
Due: backend

Update product-updates/knowledge-center/faq.html
  product-updates/knowledge-center/faq.html
Due: none

Update product-updates/knowledge-center/index.html
  product-updates/knowledge-center/index.html
Due: none

update parser task call
  tdrs-backend/tdpservice/scheduling/parser_task.py
Due: backend

Path conditions:
  frontend: any of: tdrs-frontend/src, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
  backend: any of: tdrs-backend/tdpservice, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
