Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

convert github.repository_owner to lowercase
  .github/workflows/publish-release-image.yml
Due: none

Create sprint-123-summary.md
  docs/Sprint-Review/sprint-123-summary.md
Due: none

- Updated based on feedback
  docs/How-We-Work/our-workflow.md
Due: none

- Update so that DFS state is always updated
  tdrs-backend/tdpservice/scheduling/parser_task.py
Due: backend

add platform for local deploys using mac arm
  tdrs-backend/docker-compose.yml
  tdrs-frontend/docker-compose.yml
Due: none

3454 remove 0 from all category 2 citizenship validators (#3544)
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/parsers/row_schema.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t5.py
  tdrs-backend/tdpservice/parsers/test/test_header.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/test/test_util.py
Due: backend

lowercase the package_repo in a previous step
  .github/workflows/publish-release-image.yml
Due: none

change PACKAGE_REPO env to REGISTRY_OWNER
  .github/workflows/publish-release-image.yml
Due: none

add REGISTRY_OWNER as a build-args
  .github/workflows/publish-release-image.yml
Due: none

- Add extra exception block for axios exception - Keep polling even if axios is getting 4xx or 5xx responses
  tdrs-frontend/src/actions/fraReports.js
Due: frontend

- UPdate test
  tdrs-frontend/src/actions/fraReports.test.js
Due: frontend

- Linting
  tdrs-backend/plg/grafana_views/generate_admin_views.py
  tdrs-backend/plg/grafana_views/generate_user_views.py
Due: none

- Updated error report generator to include WEI/SSN errors on the critical tab
  tdrs-backend/tdpservice/data_files/error_reports.py
Due: backend

- linting
  tdrs-backend/plg/grafana_views/generate_user_views.py
Due: none

- Updated date
  docs/Technical-Documentation/Architecture-Decision-Record/009-git-workflow.md
Due: none

Create sprint-124-summary.md
  docs/Sprint-Review/sprint-124-summary.md
Due: none

Release 3.8.4 changes
  product-updates/knowledge-center/index.html
Due: none

- cleanup
  tdrs-backend/tdpservice/users/admin.py
Due: backend

- Linting - Fix circular import
  tdrs-backend/tdpservice/users/admin.py
  tdrs-backend/tdpservice/users/change_request_mixin.py
  tdrs-backend/tdpservice/users/change_request_signals.py
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/serializers.py
Due: backend

- Added helper function to dispatch correct redux state and trigger teh onError callback when an exception happens during polling - Added onSuccess function to indicate parsing completion
  tdrs-frontend/src/actions/fraReports.js
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

- Added test for coverage on 4xx return codes
  tdrs-frontend/src/actions/fraReports.test.js
Due: frontend

- Update permission
  tdrs-backend/tdpservice/users/views.py
Due: backend

- remove unneeeded perms
  tdrs-backend/tdpservice/users/views.py
Due: backend

- perms update
  tdrs-backend/tdpservice/users/views.py
Due: backend

- Enable drf static files locally
  tdrs-frontend/nginx/local/locations.conf
Due: none

- remove unneeded admin endpoint
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/permissions.py
  tdrs-backend/tdpservice/users/serializers.py
  tdrs-backend/tdpservice/users/urls.py
  tdrs-backend/tdpservice/users/views.py
Due: backend

- quality of life enhancements
  tdrs-backend/tdpservice/users/views.py
Due: backend

alloy local
  tdrs-backend/docker-compose.yml
  tdrs-backend/plg/alloy/alloy.local.config
Due: none

fix local config
  tdrs-backend/plg/alloy/alloy.local.config
Due: none

deploy config
  scripts/deploy-backend.sh
  tdrs-backend/gunicorn_start.sh
  tdrs-backend/plg/alloy/alloy.config
Due: none

syntax
  tdrs-backend/plg/alloy/alloy.config
Due: none

rm promtail
  scripts/deploy-backend.sh
  tdrs-backend/docker-compose.yml
  tdrs-backend/plg/promtail/config.local.yml
  tdrs-backend/plg/promtail/config.yml
Due: none

- Add tab index on alert for accessibility
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

- mvp tempo/alloy
  tdrs-backend/docker-compose.yml
  tdrs-backend/plg/alloy/alloy.local.config
  tdrs-backend/plg/tempo/tempo.local.yml
  tdrs-frontend/src/components/LoginCallback/LoginCallback.jsx
Due: frontend

- Working impl of RUM
  tdrs-backend/Dockerfile
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
  tdrs-backend/plg/alloy/alloy.local.config
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/tracing.py
  tdrs-backend/tdpservice/wsgi.py
  tdrs-frontend/nginx/local/default.conf.template
  tdrs-frontend/src/axios-instance.js
  tdrs-frontend/src/services/RumService.js
Due: frontend, backend

Path conditions:
  frontend: any of: tdrs-frontend/src, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
  backend: any of: tdrs-backend/tdpservice, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
