Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 95%
        flags:
          - backend

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

Validate other roles location
  tdrs-backend/tdpservice/conftest.py
  tdrs-backend/tdpservice/core/test/test_api.py
  tdrs-backend/tdpservice/stts/models.py
  tdrs-backend/tdpservice/stts/serializers.py
  tdrs-backend/tdpservice/users/migrations/0029_remove_add_user_permission_admin.py
  tdrs-backend/tdpservice/users/migrations/0030_alter_user_location_type.py
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/serializers.py
  tdrs-backend/tdpservice/users/test/factories.py
  tdrs-backend/tdpservice/users/test/test_api/test_set_profile.py
  tdrs-backend/tdpservice/users/test/test_auth_check.py
  tdrs-backend/tdpservice/users/test/test_permissions.py
  tdrs-backend/tdpservice/users/views.py
Due: backend

add migrations
  tdrs-backend/tdpservice/users/migrations/0031_alter_user_location_type.py
  tdrs-backend/tdpservice/users/migrations/0032_alter_user_location_type.py
  tdrs-backend/tdpservice/users/migrations/0033_auto_20220125_2107.py
Due: backend

refactor: Header.jsx
  tdrs-frontend/.eslintrc.json
  tdrs-frontend/src/components/Header/Header.jsx
Due: frontend

lint
  tdrs-backend/tdpservice/conftest.py
  tdrs-backend/tdpservice/stts/models.py
  tdrs-backend/tdpservice/stts/serializers.py
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/serializers.py
  tdrs-backend/tdpservice/users/test/test_api/test_set_profile.py
  tdrs-backend/tdpservice/users/views.py
Due: backend

lint
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/test/factories.py
  tdrs-backend/tdpservice/users/test/test_api/test_set_profile.py
  tdrs-backend/tdpservice/users/views.py
Due: backend

Remove TTS related 'contributing' markdown, add background and review details to 'readme'
  live-comms/CONTRIBUTING.md
  live-comms/README.md
Due: none

Update live-comms/August-2021-Update.html
  live-comms/August-2021-Update.html
Due: none

Update live-comms/June-2021-Update.html
  live-comms/June-2021-Update.html
Due: none

lint and auto migrations (compress these down)
  tdrs-backend/tdpservice/users/admin.py
  tdrs-backend/tdpservice/users/migrations/0034_auto_20220126_1621.py
  tdrs-backend/tdpservice/users/migrations/0035_auto_20220126_1858.py
  tdrs-backend/tdpservice/users/migrations/0036_alter_user_location_type.py
  tdrs-backend/tdpservice/users/models.py
Due: backend

refactor: Home and Profile pages
  tdrs-backend/tdpservice/users/serializers.py
  tdrs-frontend/.pa11yci.json
  tdrs-frontend/nginx/locations.conf
  tdrs-frontend/src/actions/sttList.js
  tdrs-frontend/src/assets/Profile.scss
  tdrs-frontend/src/components/ComboBox/ComboBox.jsx
  tdrs-frontend/src/components/EditProfile/index.js
  tdrs-frontend/src/components/Header/Header.jsx
  tdrs-frontend/src/components/Header/Header.test.js
  tdrs-frontend/src/components/Home/Home.jsx
  tdrs-frontend/src/components/Home/Home.test.jsx
  tdrs-frontend/src/components/Home/index.js
  tdrs-frontend/src/components/LoginCallback/LoginCallback.jsx
  tdrs-frontend/src/components/LoginCallback/LoginCallback.test.js
  tdrs-frontend/src/components/NoMatch/NoMatch.jsx
  tdrs-frontend/src/components/Profile/Profile.jsx
  tdrs-frontend/src/components/Profile/Profile.test.js
  tdrs-frontend/src/components/Profile/index.js
  tdrs-frontend/src/components/Request/Request.jsx
  tdrs-frontend/src/components/Request/Request.test.js
  tdrs-frontend/src/components/Request/index.js
  tdrs-frontend/src/components/Routes/Routes.js
  tdrs-frontend/src/components/Routes/Routes.test.js
  tdrs-frontend/src/components/SplashPage/SplashPage.jsx
  tdrs-frontend/src/components/SplashPage/SplashPage.test.js
  tdrs-frontend/src/components/Welcome/Welcome.jsx
  tdrs-frontend/src/components/Welcome/index.js
  tdrs-frontend/src/index.scss
Due: frontend, backend

Remove some logs
  tdrs-backend/tdpservice/users/models.py
Due: backend

lint
  tdrs-backend/tdpservice/users/admin.py
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/test/test_api/test_set_profile.py
Due: backend

lint
  tdrs-backend/tdpservice/users/admin.py
  tdrs-backend/tdpservice/users/test/test_api/test_set_profile.py
Due: backend

feat: add user info to profile page
  tdrs-frontend/src/components/Profile/Profile.jsx
  tdrs-frontend/src/components/Routes/Routes.js
Due: frontend

feat: check access request for navitems
  tdrs-frontend/src/components/Header/Header.jsx
  tdrs-frontend/src/components/Home/Home.jsx
Due: frontend

Fixed font-related 404s, fixed broken nav link items
  live-comms/August-2021-Update.html
  live-comms/June-2021-Update.html
  live-comms/fonts/merriweather/Latin-Merriweather-Bold.woff2
  live-comms/fonts/merriweather/Latin-Merriweather-Regular.woff2
  live-comms/fonts/source-sans-pro/sourcesanspro-bold-webfont.woff2
  live-comms/fonts/source-sans-pro/sourcesanspro-regular-webfont.woff2
  live-comms/index.html
Due: none

chore: replace node-sass with sass
  tdrs-frontend/package-lock.json
  tdrs-frontend/package.json
Due: none

Update docker file for chrome error in pa11y
  tdrs-frontend/Dockerfile
Due: none

update node orb
  .circleci/config.yml
Due: none

Fix mobile nav label inconsistency
  live-comms/June-2021-Update.html
Due: none

Use sudo
  .circleci/config.yml
Due: none

Revert "Update docker file for chrome error in pa11y"
  tdrs-frontend/Dockerfile
Due: none

Add form validation
  tdrs-backend/tdpservice/users/admin.py
  tdrs-backend/tdpservice/users/models.py
Due: backend

lint
  tdrs-backend/tdpservice/users/admin.py
  tdrs-backend/tdpservice/users/models.py
Due: backend

Deploy script should be executable
  scripts/deploy-live-comms.sh
Due: none

feat: add manage account button and copy to Profile.jsx
  tdrs-frontend/src/components/Profile/Profile.jsx
Due: frontend

feat: fix Home page behavior based on roles
  tdrs-frontend/src/actions/requestAccess.js
  tdrs-frontend/src/components/Header/Header.jsx
  tdrs-frontend/src/components/Home/Home.jsx
  tdrs-frontend/src/components/Profile/Profile.jsx
Due: frontend

Add new job for live comms deploy
  .circleci/config.yml
Due: none

Add parameters
  .circleci/config.yml
Due: none

add pre steps
  .circleci/config.yml
Due: none

Added user filter in the admin page in order to filter users based on access_request field
  tdrs-backend/tdpservice/users/admin.py
Due: backend

style: lint
  tdrs-backend/tdpservice/users/views.py
Due: backend

fix: remove dead pa11y test
  tdrs-frontend/.pa11yci.json
Due: none

Remove dev code
  tdrs-backend/tdpservice/data_files/test/test_serializers.py
  tdrs-backend/tdpservice/users/admin.py
  tdrs-backend/tdpservice/users/migrations/0028_auto_20220124_1656.py
  tdrs-backend/tdpservice/users/test/test_api/test_users.py
  tdrs-backend/tdpservice/users/test/test_models.py
  tdrs-backend/tdpservice/users/views.py
Due: backend

updated migrations
  tdrs-backend/tdpservice/users/migrations/0028_auto_20220124_1656.py
  tdrs-backend/tdpservice/users/migrations/0030_alter_user_location_type.py
  tdrs-backend/tdpservice/users/migrations/0031_alter_user_location_type.py
  tdrs-backend/tdpservice/users/migrations/0032_alter_user_location_type.py
  tdrs-backend/tdpservice/users/migrations/0033_auto_20220125_2107.py
  tdrs-backend/tdpservice/users/migrations/0034_auto_20220126_1621.py
  tdrs-backend/tdpservice/users/migrations/0035_auto_20220126_1858.py
  tdrs-backend/tdpservice/users/migrations/0036_alter_user_location_type.py
Due: backend
