Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 90%
        flags:
          - backend
    patch: off

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

ignore:
  - "tdrs-backend/tdpservice/scheduling/db_backup.py"

- fix lint
  tdrs-frontend/src/selectors/auth.js
Due: frontend

- Fix lint errors
  tdrs-backend/tdpservice/users/authentication.py
  tdrs-backend/tdpservice/users/management/commands/generate_dev_user.py
Due: backend

- Fix doc strings
  tdrs-backend/tdpservice/users/models.py
Due: backend

- Adding authenticated permission
  tdrs-backend/tdpservice/users/api/authorization_check.py
Due: backend

- Remove debug print statements (#2778)
  tdrs-backend/tdpservice/parsers/models.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

- Renaming variables to clarify things
  tdrs-backend/tdpservice/parsers/parse.py
Due: backend

- fix lint
  tdrs-backend/tdpservice/parsers/parse.py
Due: backend

adding documentation on cloudgov s3 incident response (#2763)
  docs/Security-Compliance/Incidence-Response/Cloudgov-S3-IRP-Oct2023.md
  docs/Security-Compliance/Incidence-Response/README.md
Due: none

Revert "- Remove password auth from elastic/kibana"
  tdrs-backend/docker-compose.yml
  tdrs-backend/elastic_setup/Dockerfile
  tdrs-backend/elastic_setup/entrypoint.sh
  tdrs-backend/elastic_setup/util.sh
  tdrs-backend/kibana.yml
  tdrs-backend/tdpservice/settings/common.py
Due: backend

- Setting up anonymous users with kibana_admin privileges
  tdrs-backend/docker-compose.yml
  tdrs-backend/elastic_setup/entrypoint.sh
  tdrs-backend/elastic_setup/util.sh
  tdrs-backend/kibana.yml
Due: none

- Adding password to settings in cloud.gov
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

- remove incorrect auth - use admin only in frontend and backend
  tdrs-backend/tdpservice/settings/cloudgov.py
  tdrs-backend/tdpservice/users/api/authorization_check.py
  tdrs-frontend/src/components/Header/Header.jsx
  tdrs-frontend/src/components/SiteMap/SiteMap.jsx
  tdrs-frontend/src/selectors/auth.js
Due: frontend, backend

- Add elastic profile
  .circleci/build-and-test/jobs.yml
  .circleci/util/commands.yml
Due: none

Fixed CustomAuthentication.authenticate return val for login.py use case
  tdrs-backend/tdpservice/users/authentication.py
Due: backend

Fixed CustomAuthentication.authenticate logging for login.py use case
  tdrs-backend/tdpservice/users/authentication.py
Due: backend

Removed unneeded permissions import
  tdrs-frontend/src/configureStore.js
Due: frontend

Updates to REACT_APP_DEVAUTH env var settings - Enabled with an email address value - Disabled by default
  tdrs-backend/.env.example
  tdrs-frontend/.env
  tdrs-frontend/.env.development
  tdrs-frontend/docker-compose.yml
Due: none

add apply remote migrations script
  .gitignore
  scripts/apply-remote-migrations.sh
Due: none

add missing required env
  tdrs-backend/.env.example
Due: none

rm migrate from gunicorn start
  tdrs-backend/gunicorn_start.sh
Due: none

add required lib
  tdrs-backend/Dockerfile
Due: none

add migrate command to pipeline
  .circleci/deployment/commands.yml
Due: none

fix deps
  tdrs-backend/Dockerfile
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
Due: none

rm message
  tdrs-backend/gunicorn_start.sh
Due: none

- debugging env vars
  tdrs-backend/docker-compose.yml
Due: none

- Testing what settings are used
  tdrs-backend/tdpservice/settings/common.py
Due: backend

Revert "- debugging env vars"
  tdrs-backend/docker-compose.yml
Due: none

Revert "- Testing what settings are used"
  tdrs-backend/tdpservice/settings/common.py
Due: backend

- debugging env vars again
  tdrs-backend/docker-compose.yml
Due: none

- Switching to container networking
  tdrs-backend/docker-compose.yml
Due: none

Restored support for CustomAuthentication.authenticate username keyword
  tdrs-backend/tdpservice/users/authentication.py
Due: backend

Modified CustomAuthentication.authenticate comment to satisfy flake8
  tdrs-backend/tdpservice/users/authentication.py
Due: backend

2599-error-report-excel-format (#2734)
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
  tdrs-backend/tdpservice/parsers/fields.py
  tdrs-backend/tdpservice/parsers/row_schema.py
  tdrs-backend/tdpservice/parsers/schema_defs/header.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m1.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m4.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m5.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m6.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m7.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t6.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t7.py
  tdrs-backend/tdpservice/parsers/schema_defs/trailer.py
  tdrs-backend/tdpservice/parsers/test/data/small_incorrect_file_cross_validator.txt
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/test/test_util.py
  tdrs-backend/tdpservice/parsers/test/test_validators.py
  tdrs-backend/tdpservice/parsers/test/test_views.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/parsers/validators.py
  tdrs-backend/tdpservice/parsers/views.py
  tdrs-frontend/nginx/cloud.gov/locations.conf
Due: backend

Issue 2488: boundary diagram updates (#2770)
  docs/Security-Compliance/File-Transfer-TDRS/diagram.drawio
  docs/Security-Compliance/File-Transfer-TDRS/diagram.png
  docs/Security-Compliance/boundary-diagram.md
  docs/Security-Compliance/diagram.drawio
  docs/Security-Compliance/diagram.png
Due: none

added new markdown for migration best practices
  docs/Technical-Documentation/migration-best-practices.md
Due: none

DEVAUTH - All-local devenv sans cloud or third-party auth workflows
  .gitattributes
Due: none

Reorganized front end logic on REACT_APP_DEVAUTH env var
  tdrs-frontend/.env
  tdrs-frontend/.env.development
  tdrs-frontend/src/actions/auth.js
  tdrs-frontend/src/configureStore.js
Due: frontend
