Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 90%
        flags:
          - backend
    patch: off

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

ignore:
  - "tdrs-backend/tdpservice/scheduling/db_backup.py"

- linting
  tdrs-backend/tdpservice/data_files/error_reports.py
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

- remove comment
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

Update issue templates
  .github/ISSUE_TEMPLATE/dev-issue-template.md
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug-template.md
Due: none

- Add CORS_PREFLIGHT_MAX_AGE to manage the Access-Control-Max-Age header and set it to 30 minutes - make sure local nginx is configured more closesly to deployed nginx
  tdrs-backend/tdpservice/settings/cloudgov.py
  tdrs-backend/tdpservice/settings/common.py
  tdrs-frontend/nginx/local/default.conf.template
Due: backend

- Add hsts settings and apply them to all deployed environments
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

- include cat4 in record check
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

- linting
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

- Add hsts to nginx conf - Add cors headers to nginx conf
  tdrs-frontend/nginx/cloud.gov/buildpack.nginx.conf
Due: none

- Update test_parse_fra_work_outcome_exiters to correct parms
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

- Update api tests to use correct year and quarter. Also added more cell checks - Update cat4 errors to impute empty string for item and column in parser errors
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

- Update logging in fra schema to be more understandable
  tdrs-backend/tdpservice/parsers/row_schema.py
Due: backend

- linting
  tdrs-backend/tdpservice/parsers/base_parser.py
  tdrs-backend/tdpservice/parsers/row_schema.py
  tdrs-backend/tdpservice/parsers/tdr_parser.py
Due: backend

add django-stubs
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/spike.md
Due: none

fix regional staff file name display, fra submission history
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

Update issue templates
  .github/ISSUE_TEMPLATE/research-planning-issue-template.md
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/design-deliverable-issue-template.md
  .github/ISSUE_TEMPLATE/research-facilitation-issue-template.md
  .github/ISSUE_TEMPLATE/research-planning-issue-template.md
  .github/ISSUE_TEMPLATE/research-synthesis-issue-template.md
Due: none

add supression validator
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/validators/category3.py
Due: backend

add spinner component
  tdrs-frontend/src/assets/spinner.svg
  tdrs-frontend/src/components/Spinner/Spinner.jsx
  tdrs-frontend/src/components/Spinner/index.js
Due: frontend

add fra submission status polling action
  tdrs-frontend/src/actions/fraReports.js
  tdrs-frontend/src/actions/fraReports.test.js
  tdrs-frontend/src/reducers/fraReports.js
Due: frontend

implement polling spinner on fra page
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/Reports/FRAReports.test.js
Due: frontend

give total errors pending
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

fix status dispatch
  tdrs-frontend/src/actions/fraReports.js
  tdrs-frontend/src/reducers/fraReports.js
Due: frontend

rm status icon if pending
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/Spinner/Spinner.jsx
Due: frontend

default just in case
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

fix test
  tdrs-frontend/src/actions/fraReports.test.js
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/Reports/FRAReports.test.js
Due: frontend

3294 s3 log file uploader (#3487)
  tdrs-backend/docker-compose.yml
  tdrs-backend/tdpservice/log_handler.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
  tdrs-backend/tdpservice/settings/common.py
Due: backend

add aria live to updating row
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

- Add total aggregates support for FRA
  tdrs-backend/tdpservice/parsers/aggregates.py
  tdrs-backend/tdpservice/parsers/models.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
Due: backend

add supression logic for fra pilot
  tdrs-backend/docker-compose.yml
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/test/data/tanf_pilot_state.txt
  tdrs-backend/tdpservice/parsers/validators/category3.py
  tdrs-backend/tdpservice/settings/common.py
Due: backend

spinner ux changes
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/Spinner/Spinner.jsx
Due: frontend

add null check for stt
  tdrs-backend/tdpservice/parsers/validators/category3.py
Due: backend

linting fixes
  tdrs-backend/tdpservice/parsers/validators/category3.py
Due: backend

- Update submission history to generate total errors field
  tdrs-backend/tdpservice/parsers/aggregates.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
Due: backend

- Add null check for ssn
  tdrs-backend/tdpservice/data_files/error_reports.py
Due: backend

add test for supression logic
  tdrs-backend/tdpservice/parsers/validators/category3.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category3.py
Due: backend

- linting
  tdrs-backend/tdpservice/parsers/aggregates.py
Due: backend

removed excessive cat3 SSN checks
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t5.py
  tdrs-backend/tdpservice/parsers/validators/category3.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category3.py
Due: backend

- Updated lock file to latest setuptools because django 508 was introducing new dependencies that required it - Update docker file for testing
  tdrs-backend/Dockerfile
  tdrs-backend/Pipfile.lock
Due: none
