Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

add labels to dockerfiles for ghcr compatibility
  tdrs-backend/Dockerfile
  tdrs-frontend/Dockerfile
Due: none

- Add test for decoder unknown
  tdrs-backend/tdpservice/parsers/test/conftest.py
  tdrs-backend/tdpservice/parsers/test/data/fra_decoder_unknown.xlsx
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

- Linting
  tdrs-backend/tdpservice/parsers/base_parser.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
Due: backend

3529 remove elastic kibana from deployement (#4894)
  tdrs-backend/docker-compose.yml
  terraform/dev/main.tf
  terraform/production/main.tf
  terraform/staging/main.tf
Due: none

- Fix lint
  tdrs-backend/plg/grafana_views/generate_admin_views.py
Due: none

update build-and-tag-images.sh to use ghcr.io as registry
  .github/workflows/deploy-on-label.yml
  scripts/build-and-tag-images.sh
Due: none

update to use environment variables instead of positional arguments
  .github/workflows/deploy-on-label.yml
  scripts/build-and-tag-images.sh
Due: none

create release image push workflow
  .github/workflows/publish-release-image.yml
Due: none

remove image push from label deploy
  .github/workflows/deploy-on-label.yml
Due: none

remove all code related to docker hub image pushing from circle ci
  .circleci/deployment/commands.yml
  .circleci/deployment/jobs.yml
  .circleci/deployment/workflows.yml
  scripts/build-and-tag-images.sh
Due: none

- allow file change event to always run
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

Revert "- allow file change event to always run"
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

- Always allow file upload
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

only publish release images
  .github/workflows/publish-release-image.yml
Due: none

- Add submission blocking logic to FRA and TANF data files page - When user clicks submit, they cannot submit again until the request from their first submission completes in some way
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/UploadReport/UploadReport.jsx
Due: frontend

- Cleanup some comments
  tdrs-frontend/src/components/UploadReport/UploadReport.jsx
Due: frontend

- Add custom hook to share form submission logic accross components - Use hook in reports pages
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/UploadReport/UploadReport.jsx
  tdrs-frontend/src/hooks/useFormSubmission.js
Due: frontend

- Add tests for the new hook
  tdrs-frontend/src/hooks/useFormSubmission.test.js
Due: frontend

temporary commit to test workflow
  .github/workflows/publish-release-image.yml
Due: none

missing toplevel property on env call
  .github/workflows/publish-release-image.yml
Due: none

get semver manually
  .github/workflows/publish-release-image.yml
Due: none

fix semver script
  .github/workflows/publish-release-image.yml
Due: none

remove the docker/metadata-action for frontend
  .github/workflows/publish-release-image.yml
Due: none

- Updated spinner component to be pure htmls/scss to try and avoid a request to load the svg
  tdrs-frontend/src/assets/Reports.scss
  tdrs-frontend/src/assets/spinner.svg
  tdrs-frontend/src/components/Spinner/Spinner.jsx
Due: frontend

- Fix display logic
  tdrs-frontend/src/assets/Reports.scss
Due: frontend

- add some conditions for when qasp is required
  docs/How-We-Work/our-workflow.md
Due: none

- Update spinners so that they are synchronized across rows in the submission history table or anywhere else they get used
  tdrs-frontend/src/assets/Reports.scss
  tdrs-frontend/src/components/Spinner/Spinner.jsx
Due: frontend

- remove export
  tdrs-frontend/src/components/Spinner/Spinner.jsx
Due: frontend

Revert "- remove export"
  tdrs-frontend/src/components/Spinner/Spinner.jsx
Due: frontend

Revert "- Update spinners so that they are synchronized across rows in the submission history table or anywhere else they get used"
  tdrs-frontend/src/assets/Reports.scss
  tdrs-frontend/src/components/Spinner/Spinner.jsx
Due: frontend

Parity with test env for FRA content/nav
  product-updates/knowledge-center/about-email-notifications.html
  product-updates/knowledge-center/complete-resubmissions.html
  product-updates/knowledge-center/create-new-login.html
  product-updates/knowledge-center/existing-login.html
  product-updates/knowledge-center/exporting-complete-data-using-ftanf.html
  product-updates/knowledge-center/faq.html
  product-updates/knowledge-center/fra-error-reports.html
  product-updates/knowledge-center/give-feedback.html
  product-updates/knowledge-center/index.html
  product-updates/knowledge-center/managing-your-account.html
  product-updates/knowledge-center/submitting-fra-data.html
  product-updates/knowledge-center/uploading-data.html
  product-updates/knowledge-center/view-submission-history.html
  product-updates/knowledge-center/viewing-error-reports.html
Due: none

- Updated the error message to be more clear
  tdrs-backend/tdpservice/parsers/base_parser.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

the frontend is not an api
  tdrs-frontend/Dockerfile
  tdrs-frontend/README.md
Due: none

point docker files to gchr for maintained base images
  tdrs-backend/Dockerfile
  tdrs-backend/docker-compose.yml
  tdrs-frontend/Dockerfile
  tdrs-frontend/docker-compose.yml
Due: none

use ghcr repo for docker images
  .circleci/base_config.yml
  .circleci/build-and-test/jobs.yml
  .circleci/config.yml
  .circleci/owasp/commands.yml
  .circleci/owasp/jobs.yml
  .circleci/util/commands.yml
  .github/workflows/build-all.yml
  .github/workflows/build-pr.yml
  .github/workflows/qasp-owasp-scan.yml
  tdrs-backend/Dockerfile
  tdrs-backend/docker-compose.yml
  tdrs-frontend/Dockerfile
  tdrs-frontend/docker-compose.yml
Due: none

fix indentation warning
  .github/workflows/deploy-infrastructure.yml
Due: none

add REGISTRY_OWNER to every docker-compose command
  .circleci/build-and-test/jobs.yml
  .circleci/owasp/jobs.yml
  .circleci/util/jobs.yml
Due: none

lowercase the default registry_owner parameter (docker requires repository names to lowercase)
  .circleci/base_config.yml
  .circleci/config.yml
  .circleci/owasp/commands.yml
  .circleci/util/commands.yml
Due: none

Path conditions:
  frontend: any of: tdrs-frontend/src, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
  backend: any of: tdrs-backend/tdpservice, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
