Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 90%
        flags:
          - backend
    patch: off

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

ignore:
  - "tdrs-backend/tdpservice/scheduling/db_backup.py"

moved erd and infrastructure workflows into nested jobs in deploy (#2632)
  .circleci/deployment/commands.yml
  .circleci/deployment/jobs.yml
  .circleci/deployment/workflows.yml
  .circleci/generate_config.sh
  .circleci/infrastructure/commands.yml
  .circleci/infrastructure/jobs.yml
  .circleci/infrastructure/workflows.yml
  .circleci/util/workflows.yml
Due: none

2618 nginx config site down (#2635)
  scripts/deploy-frontend.sh
  tdrs-frontend/Dockerfile
  tdrs-frontend/nginx/cloud.gov/buildpack.nginx.conf
  tdrs-frontend/nginx/cloud.gov/locations.conf
  tdrs-frontend/nginx/local/default.conf.template
  tdrs-frontend/nginx/local/locations.conf
  tdrs-frontend/nginx/src/503.html
  tdrs-frontend/nginx/src/static/ACFLogo.b8b08b6a.svg
  tdrs-frontend/nginx/src/static/close.8508dbcc.svg
  tdrs-frontend/nginx/src/static/icon-dot-gov.71cdb86b.svg
  tdrs-frontend/nginx/src/static/icon-https.42f84b9c.svg
  tdrs-frontend/nginx/src/static/lock.c06458d9.svg
  tdrs-frontend/nginx/src/uswds.min.js
Due: none

Create sprint-77-summary.md (#2638)
  docs/Sprint-Review/sprint-77-summary.md
Due: none

Create sprint-78-summary.md (#2645)
  docs/Sprint-Review/sprint-78-summary.md
Due: none

Upgraded to querysets, fix PR comments, PE str
  tdrs-backend/tdpservice/parsers/models.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

missing : not caught locally
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

Feat/1613 merge 2 (#2650)
  docs/Sprint-Review/sprint-78-summary.md
  tdrs-backend/tdpservice/parsers/models.py
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/row_schema.py
  tdrs-backend/tdpservice/parsers/test/test_models.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

Bugfix test download text file (#2651)
  tdrs-backend/tdpservice/conftest.py
Due: backend

icontains
  tdrs-backend/tdpservice/parsers/models.py
Due: backend

tests
  tdrs-backend/tdpservice/parsers/models.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
Due: backend

Changing dict structure per 1612.
  tdrs-backend/tdpservice/parsers/test/factories.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

add the required Referer header
  tdrs-frontend/cypress/support/commands.js
Due: none

fixed tests and lint issues, parse is too complex
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

schema_manager replaces schema check
  tdrs-backend/tdpservice/parsers/parse.py
Due: backend

Saving state prior to merge-conflict.
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

Adopting latest manager, removing old error style.
  tdrs-backend/tdpservice/parsers/parse.py
Due: backend

Commented out t6 line during Office hours
  tdrs-backend/tdpservice/parsers/parse.py
Due: backend

minor reference update
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

Acclimating to schemaManager
  tdrs-backend/tdpservice/parsers/models.py
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

lint-fix isinstance
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

syntax mistake with isinstance
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

Apply suggestions from code review
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/search_indexes/test/test_model_mapping.py
  tdrs-frontend/docker-compose.yml
Due: backend

reverting search_index merge artifacts.
  tdrs-backend/tdpservice/search_indexes/documents/ssp.py
  tdrs-backend/tdpservice/search_indexes/documents/tanf.py
Due: backend

adjusting for removing unused "get-schema()"
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

whitespace lint
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

Feedback from Jan
  tdrs-backend/tdpservice/scheduling/parser_task.py
Due: backend

updating to latest zapscanner container version (2.13.0) and removed endpoint to be tested from the global exclude list
  scripts/zap-scanner.sh
  tdrs-backend/docker-compose.yml
  tdrs-frontend/docker-compose.yml
Due: none

Ensuring tests run/work.
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

Ensure we have leading zero in rptmonthyear.
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

Updating nginx to latest stable version (#2653)
  docs/Technical-Documentation/buildpack-changelog.md
  tdrs-frontend/Dockerfile
  tdrs-frontend/manifest.buildpack.yml
Due: none

updating to latest zapscanner container version (2.13.0) and removed endpoint to be tested from the global exclude list (#2659)
  scripts/zap-scanner.sh
  tdrs-backend/docker-compose.yml
  tdrs-frontend/docker-compose.yml
Due: none

Feature/sendgrid (#2613)
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
  tdrs-backend/docker-compose.local.yml
  tdrs-backend/docker-compose.yml
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/email/backend.py
  tdrs-backend/tdpservice/email/email.py
  tdrs-backend/tdpservice/email/helpers/account_deactivation_warning.py
  tdrs-backend/tdpservice/email/helpers/account_status.py
  tdrs-backend/tdpservice/email/helpers/data_file.py
  tdrs-backend/tdpservice/email/helpers/test/test_account_deactivation_warnings.py
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/settings/local.py
  tdrs-backend/tdpservice/users/test/factories.py
  tdrs-backend/tdpservice/users/test/test_account_approval_emails.py
Due: backend

Hotfix/aug data deadline correction (#2668)
  docs/Background/Current-TDRS.md
  tdrs-frontend/src/components/Home/Home.jsx
Due: frontend

Minor lint fix for exception logging
  tdrs-backend/tdpservice/parsers/parse.py
Due: backend

Create sprint-79-summary.md (#2670)
  docs/Sprint-Review/sprint-79-summary.md
Due: none

2282-file-upload-integration-test (#2634)
  tdrs-frontend/cypress/e2e/accounts/accounts.js
  tdrs-frontend/cypress/e2e/integration/file_upload.feature
  tdrs-frontend/cypress/e2e/integration/file_upload.js
  tdrs-frontend/package.json
Due: none

Fix deployment cypress failures (#2652)
  tdrs-frontend/cypress/e2e/accounts/accounts.js
  tdrs-frontend/cypress/e2e/common-steps/common-steps.js
  tdrs-frontend/cypress/support/commands.js
Due: none

2369-quality-checks-across-TANF-section (#2518)
  .circleci/build-and-test/jobs.yml
  tdrs-backend/tdpservice/parsers/migrations/0006_auto_20230810_1500.py
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/schema_defs/header.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/test/factories.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/test/test_serializer.py
  tdrs-backend/tdpservice/parsers/test/test_validators.py
  tdrs-backend/tdpservice/parsers/validators.py
  tdrs-backend/tdpservice/search_indexes/migrations/0015_auto_20230810_1500.py
  tdrs-backend/tdpservice/search_indexes/migrations/0016_auto_20230803_1721.py
  tdrs-backend/tdpservice/search_indexes/migrations/0016_auto_20230817_1635.py
  tdrs-backend/tdpservice/search_indexes/models/ssp.py
  tdrs-backend/tdpservice/search_indexes/models/tanf.py
  tdrs-backend/tdpservice/search_indexes/test/test_model_mapping.py
  tdrs-backend/tdpservice/users/migrations/0039_alter_user_options.py
Due: backend
