Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

add validation to ignore folders that don't match the expected dir structure for uploaded feedback report zips
  tdrs-backend/tdpservice/reports/tasks.py
  tdrs-backend/tdpservice/reports/test/data/FY2025_mixed_valid_and_invalid_dirs.zip
  tdrs-backend/tdpservice/reports/test/data/README.md
  tdrs-backend/tdpservice/reports/test/test_tasks.py
Due: backend

fix cloud.gov redis broker mapping
  tdrs-backend/tdpservice/common/test/test_util.py
  tdrs-backend/tdpservice/common/util.py
Due: backend

Ensure Cypress admin requests use matching CSRF cookie
  tdrs-frontend/cypress/support/commands.js
Due: none

fix realm export
  tdrs-backend/keycloak/realm-configs/realm-export.staging.json
Due: none

fix lint
  tdrs-frontend/src/components/ResourceCards/ResourceCards.test.js
Due: frontend

Generate basic auth htpasswd during deploy
  scripts/deploy-frontend.sh
  tdrs-frontend/nginx/README.md
Due: none

5660 modify maintenance page error page (#5884)
  Taskfile.yml
  scripts/README.md
  scripts/toggle-maintenance-route.sh
  tdrs-frontend/cypress.config.js
  tdrs-frontend/docker-compose.local.yml
  tdrs-frontend/nginx/src/503.html
Due: none

fix staging/develop hosts
  scripts/deploy-backend.sh
Due: none

5871 reparsing post count always shows zero despite database records (#5905)
  tdrs-backend/tdpservice/scheduling/parser_task.py
  tdrs-backend/tdpservice/scheduling/test/test_parser_task.py
  tdrs-backend/tdpservice/search_indexes/admin/reparse_meta.py
Due: backend

revert tdp-project-updates domains
  tdrs-frontend/.env
  tdrs-frontend/.env.development
  tdrs-frontend/.env.test
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
  tdrs-frontend/src/components/RequestAccessForm/FRASelector.jsx
  tdrs-frontend/src/components/ResourceCards/ResourceCards.jsx
  tdrs-frontend/src/components/ResourceCards/ResourceCards.test.js
  tdrs-frontend/src/components/SubmissionHistory/QuarterSubmissionHistory.test.js
  tdrs-frontend/src/components/SubmissionHistory/SectionSubmissionHistory.test.js
  tdrs-frontend/src/components/SubmissionHistory/components/KnowledgeCenterLink.jsx
Due: frontend

lint
  tdrs-frontend/src/components/ResourceCards/ResourceCards.test.js
Due: frontend

Update error reporting research document with next steps
  docs/User-Experience/Research-Syntheses/2026, Spring - TDP Error Reporting Research.md
Due: none

- Remove conflicting migration
  tdrs-backend/tdpservice/data_files/migrations/0027_datafile_reparse_requested_state.py
Due: backend

5835 Admin frontend scaffold (#5898)
  Taskfile.yml
  tdp-admin/.dockerignore
  tdp-admin/.gitignore
  tdp-admin/.yarnrc.yml
  tdp-admin/Dockerfile
  tdp-admin/README.md
  tdp-admin/docker-compose.local.yml
  tdp-admin/docker-compose.yml
  tdp-admin/eslint.config.mjs
  tdp-admin/next.config.ts
  tdp-admin/package.json
  tdp-admin/public/ACFLogo.svg
  tdp-admin/public/file.svg
  tdp-admin/public/globe.svg
  tdp-admin/public/hero1.jpg
  tdp-admin/public/login-gov-logo.svg
  tdp-admin/public/next.svg
  tdp-admin/public/static/media/ACFLogo.b8b08b6ae3ca5da3f8fece3e69482cd2.svg
  tdp-admin/public/vercel.svg
  tdp-admin/public/window.svg
  tdp-admin/src/app/api/backend-health/route.ts
  tdp-admin/src/app/favicon.ico
  tdp-admin/src/app/globals.css
  tdp-admin/src/app/layout.tsx
  tdp-admin/src/app/login/ams/route.ts
  tdp-admin/src/app/login/dotgov/route.ts
  tdp-admin/src/app/login/page.tsx
  tdp-admin/src/app/login/route.test.ts
  tdp-admin/src/app/page.module.css
  tdp-admin/src/app/page.tsx
  tdp-admin/src/assets/ACFLogo.svg
  tdp-admin/src/components/admin-login-page.tsx
  tdp-admin/src/lib/admin-auth.test.ts
  tdp-admin/src/lib/admin-auth.ts
  tdp-admin/tsconfig.json
  tdp-admin/vitest.config.ts
  tdp-admin/yarn.lock
  tdrs-frontend/.env
Due: none

5548 wire parser task to transition datafilestate parsing parsed clean parsed with errors (#5917)
  tdrs-backend/tdpservice/scheduling/parser_task.py
  tdrs-backend/tdpservice/scheduling/test/test_parser_task.py
Due: backend

revert url change to project updates
  scripts/deploy-tdp-product-update-site.sh
Due: none

Fix failing test
  docs/Technical-Documentation/feedback-testing-checklist.md
  tdrs-backend/docker-compose.yml
  tdrs-backend/tdpservice/users/test/test_api/test_feedback.py
  tdrs-backend/tdpservice/users/test/test_api/test_views.py
Due: backend

Fixes typos in text, docs and comments.
  docs/Technical-Documentation/Architecture-Decision-Record/020-pipeline-build-flow.md
  docs/Technical-Documentation/Architecture-Decision-Record/022-app-monitoring.md
  docs/Technical-Documentation/CloudFoundry-DB-Connection.md
  docs/Technical-Documentation/Failed-Deployment-Troubleshooting.md
  docs/Technical-Documentation/README.md
  docs/Technical-Documentation/cypress-integration-tests.md
  docs/Technical-Documentation/openid-connect.md
  docs/Technical-Documentation/tech-memos/cypress-auth.md
  docs/Technical-Documentation/tech-memos/fra-schema-and-fields/fra-schema-and-fields.md
  docs/Technical-Documentation/tech-memos/go-parser/architecture_and_integration_plan.md
  docs/Technical-Documentation/tech-memos/parsing-log-per-file/parsing-log-per-file.md
  docs/Technical-Documentation/tech-memos/parsing-refactor/parsing-refactor.md
  docs/Technical-Documentation/tech-memos/type_casting.md
  performance-tests/README.md
  tdrs-backend/tdpservice/conftest.py
  tdrs-backend/tdpservice/core/models.py
  tdrs-backend/tdpservice/data_files/error_reports.py
  tdrs-backend/tdpservice/data_files/models.py
  tdrs-backend/tdpservice/data_files/serializers.py
  tdrs-backend/tdpservice/data_files/test/test_models.py
  tdrs-backend/tdpservice/email/helpers/profile_change_request.py
  tdrs-backend/tdpservice/parsers/case_consistency_validator.py
  tdrs-backend/tdpservice/parsers/decoders.py
  tdrs-backend/tdpservice/parsers/fields.py
  tdrs-backend/tdpservice/parsers/parser_classes/base_parser.py
  tdrs-backend/tdpservice/parsers/row_schema.py
Due: backend

5973 expose datafile lifecycle state in the api need this for admin app (#6071)
  tdrs-backend/docs/api/data_files.md
  tdrs-backend/tdpservice/data_files/serializers.py
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/data_files/test/test_serializers.py
Due: backend

add Downloaded at column to regional user Feedback Reports view
  tdrs-backend/tdpservice/reports/serializers.py
  tdrs-backend/tdpservice/reports/test/test_serializers.py
  tdrs-backend/tdpservice/reports/test/test_views.py
  tdrs-backend/tdpservice/reports/views.py
  tdrs-backend/tdpservice/users/permissions.py
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReports.jsx
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReports.test.js
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReportsTable.jsx
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReportsTable.test.js
Due: frontend, backend

Remove leftover code
  docs/Technical-Documentation/feedback-testing-checklist.md
  tdrs-backend/docker-compose.yml
Due: none

Match an uploaded file extension whole, not by prefix
  tdrs-backend/tdpservice/data_files/test/test_serializers.py
  tdrs-backend/tdpservice/data_files/validators.py
Due: backend

6116 removing the error count (#6118)
  tdrs-backend/tdpservice/data_files/admin/admin.py
  tdrs-backend/tdpservice/data_files/test/test_admin.py
Due: backend

Document release 4.25.1 hotfix
  docs/release-notes/v4.25.1.md
Due: none

fix session_cookie_domain for staging/prod
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

6134 Fix CORS (#6135)
  scripts/deploy-frontend.sh
  scripts/zap-scanner.sh
  tdrs-frontend/nginx/README.md
  tdrs-frontend/nginx/cloud.gov/buildpack.nginx.conf
  tdrs-frontend/nginx/cloud.gov/locations.conf
Due: none

6093 added etl tables to grafana (#6130)
  scripts/apply-database-config.sh
Due: none

Path conditions:
  frontend: any of: tdrs-frontend/src, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
  backend: any of: tdrs-backend/tdpservice, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
