Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

workaround for commiting faster
  .circleci/config.yml
Due: none

workaround for commiting fasterer
  .circleci/config.yml
Due: none

workaround for commiting fastest
  .circleci/config.yml
Due: none

syntax for interpolating var into string for terry
  terraform/dev/main.tf
Due: none

less escapes
  terraform/dev/main.tf
Due: none

trying with label
  .circleci/config.yml
Due: none

Slowing down
  .circleci/config.yml
Due: none

get rid of underscore in terry/main
  terraform/dev/main.tf
Due: none

removing fake code
  scripts/deploy-backend.sh
Due: none

reverting the reversion of underscore
  terraform/dev/main.tf
Due: none

confirming 1455
  scripts/zap-hook.py
  tdrs-backend/reports/zap.conf
Due: none

try local_exec
  .circleci/config.yml
  terraform/dev/main.tf
Due: none

confirming 1455 fixed id
  scripts/zap-hook.py
Due: none

manually reverting all references to the automation of creating a DB
  .circleci/config.yml
  scripts/cf-check.sh
  scripts/deploy-backend.sh
  terraform/create_tf_vars.sh
  terraform/dev/main.tf
  terraform/dev/variables.tf
Due: none

fixing whitespace, misc
  .circleci/config.yml
  scripts/deploy-backend.sh
  tdrs-backend/gunicorn_start.sh
  terraform/dev/main.tf
Due: none

Tweak to be generic for staging/prod in the future
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

added cdn to global exclude and undo 1455 test
  scripts/zap-hook.py
  scripts/zap-scanner.sh
Due: none

excluding s3 buckets
  scripts/zap-scanner.sh
Due: none

enable statements
  scripts/zap-scanner.sh
Due: none

globalexclude syntax change
  scripts/zap-scanner.sh
Due: none

cleanup--undoing test changes herein
  tdrs-backend/reports/zap.conf
Due: none

fix: test
  tdrs-backend/tdpservice/users/test/test_api/test_roles.py
Due: backend

feat: redirect relevant users to django admin
  tdrs-frontend/src/components/Header/Header.jsx
  tdrs-frontend/src/components/LoginCallback/LoginCallback.jsx
Due: frontend

feat: make various django-admin models permanently read-only
  tdrs-backend/tdpservice/core/admin.py
  tdrs-backend/tdpservice/core/utils.py
  tdrs-backend/tdpservice/data_files/admin.py
  tdrs-backend/tdpservice/security/admin.py
  tdrs-backend/tdpservice/stts/admin.py
Due: backend

feat: optionally display the STT field based on user email address
  tdrs-frontend/src/components/Home/Home.jsx
Due: frontend

chore: lint
  tdrs-backend/tdpservice/core/utils.py
  tdrs-backend/tdpservice/stts/admin.py
Due: backend

reverting temp scan rules used for testing
  .circleci/config.yml
Due: none

fix: deregister LogEntry
  tdrs-backend/tdpservice/core/admin.py
Due: backend

chore: upgrade react-router packages; remove unused resolutions block
  tdrs-frontend/package-lock.json
  tdrs-frontend/package.json
Due: none

1561 Commit with both backend and frontend changes
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/urls.py
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-frontend/.env
  tdrs-frontend/src/components/SplashPage/SplashPage.jsx
Due: frontend, backend

Update buildpack-changelog.md
  docs/Technical-Documentation/buildpack-changelog.md
Due: none

Resolved login loop, needed to match target
  tdrs-frontend/docker-compose.local.yml
Due: none

Adding CLAMAV_NEEDED as necessary/default envvar for cloud.gov deployments with this script..hopefully...
  scripts/set-backend-env-vars.sh
Due: none

Update tdrs-frontend/.env
  tdrs-frontend/.env
Due: none

Update tdrs-frontend/src/components/SplashPage/SplashPage.jsx
  tdrs-frontend/src/components/SplashPage/SplashPage.jsx
Due: frontend

update environment
  tdrs-frontend/.env
  tdrs-frontend/.env.development
Due: none

Update test to consider environment
  tdrs-frontend/src/components/SplashPage/SplashPage.test.js
Due: frontend

fix: address Home tests with the stt box guard
  tdrs-frontend/src/components/Home/Home.jsx
  tdrs-frontend/src/components/Home/Home.test.jsx
Due: frontend

lint
  tdrs-frontend/src/components/SplashPage/SplashPage.test.js
Due: frontend

dummy commit to trigger deployment
  delete-cloudgov-docker.sh
Due: none

Path conditions:
  frontend: any of: tdrs-frontend/src
  backend: any of: tdrs-backend/tdpservice
