Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 95%
        flags:
          - backend

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

Fix linter errors
  tdrs-backend/tdpservice/core/views.py
  tdrs-backend/tdpservice/urls.py
  tdrs-backend/tdpservice/users/serializers.py
Due: backend

build: update all node versions to latest LTS v16.13
  .circleci/config.yml
  tdrs-frontend/Dockerfile
  tdrs-frontend/package.json
  tdrs-frontend/yarn.lock
Due: none

Added STTPrimaryKeyRelatedField, fixed test errors, update frontend to send only ID of STT
  tdrs-backend/reports/zap.conf
  tdrs-backend/tdpservice/settings/local.py
  tdrs-backend/tdpservice/stts/serializers.py
  tdrs-backend/tdpservice/urls.py
  tdrs-backend/tdpservice/users/serializers.py
  tdrs-backend/tdpservice/users/test/test_api/test_set_profile.py
  tdrs-backend/tdpservice/users/views.py
  tdrs-frontend/src/actions/requestAccess.js
Due: frontend, backend

docs: update buildpack-changelog.md
  docs/Technical-Documentation/buildpack-changelog.md
Due: none

refactor: add ams client assertion
  tdrs-backend/.env.example
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-backend/tdpservice/users/api/utils.py
Due: backend

fix: add hhs_id to admin.py
  tdrs-backend/tdpservice/users/admin.py
Due: backend

build: tweak for test deployments
  .github/workflows/deploy-on-label.yml
Due: none

move mirage start call
  tdrs-frontend/src/index.js
Due: frontend

fix dispatch
  tdrs-frontend/src/actions/auth.js
Due: frontend

Add logs end pont
  tdrs-frontend/src/mirage.js
Due: frontend

add pa11y actions
  tdrs-frontend/.pa11yci.json
  tdrs-frontend/src/components/PrivateTemplate/PrivateTemplate.jsx
Due: frontend

Auto stash before rebase of "origin/raft-tdp-main"
  .circleci/config.yml
  terraform/dev/variables.tf
Due: none

lint and cleanup
  tdrs-frontend/src/mirage.js
Due: frontend

add , lint
  tdrs-frontend/src/mirage.js
Due: frontend

Made the level used almost universally. I did not modify wait_for_postgres as it's not in the django app.
  tdrs-backend/tdpservice/security/clients.py
  tdrs-backend/tdpservice/stts/management/commands/populate_stts.py
  tdrs-backend/tdpservice/users/api/authorization_check.py
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-backend/tdpservice/users/api/utils.py
  tdrs-backend/tdpservice/users/serializers.py
Due: backend

linter complains about line-length
  tdrs-backend/tdpservice/settings/common.py
Due: backend

Add to be visible to action statement
  tdrs-frontend/.pa11yci.json
Due: none

build: add ams vars to docker-compose
  tdrs-backend/docker-compose.yml
Due: none

Apply suggestions from code review
  scripts/README.md
Due: none

Changes from working with John
  tdrs-backend/gunicorn_start.sh
  tdrs-backend/tdpservice/security/clients.py
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/stts/management/commands/populate_stts.py
  tdrs-backend/tdpservice/users/api/authorization_check.py
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-backend/tdpservice/users/api/utils.py
  tdrs-backend/tdpservice/users/serializers.py
Due: backend

Removing unused imports after refactor
  tdrs-backend/tdpservice/stts/management/commands/populate_stts.py
  tdrs-backend/tdpservice/users/api/authorization_check.py
  tdrs-backend/tdpservice/users/serializers.py
Due: backend

Feedback from PR
  tdrs-backend/.env.example
Due: none

Create sprint-34-summary.md
  docs/Sprint-Review/sprint-34-summary.md
Due: none

fix: ams request auth scope
  tdrs-backend/tdpservice/urls.py
  tdrs-backend/tdpservice/users/api/login_redirect_oidc.py
Due: backend

Revert "Auto stash before rebase of "origin/raft-tdp-main""
  .circleci/config.yml
  terraform/dev/variables.tf
Due: none

Add references to real inputs
  scripts/README.md
Due: none

Remove description
  scripts/README.md
Due: none

Mostly moving sections around to make more sense
  scripts/README.md
Due: none

Adding some error checks and an explicit bash call vs checking $PATH
  scripts/git-secrets-check.sh
Due: none

build: update django to 3.2.9
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
Due: none

Shell into same image CircleCI use shows the an issue with github not cloning -- recent stackoverflows show to use https which works.
  scripts/git-secrets-check.sh
Due: none

Was able to recreate git 'secrets' not found in image. Changing path in script there seemed to resolve
  scripts/git-secrets-check.sh
Due: none

Reverting superfluous changes that don't fix bug
  scripts/git-secrets-check.sh
Due: none

Found issue with pull request template, the interjection of the word 'issue' was breaking the linking functionality.
  .github/pull_request_template.md
Due: none

fix: remove sidenav menu for logged out users
  tdrs-frontend/src/components/Header/Header.jsx
Due: frontend

fix: sidenav focus issue with keyboard navigation
  tdrs-frontend/src/components/Header/Header.jsx
  tdrs-frontend/src/components/NavItem/NavItem.jsx
Due: frontend

Rewording some of the checks descriptions
  scripts/README.md
Due: none

Update zap scanner description
  scripts/README.md
Due: none

Update communication-tools.md
  docs/How-We-Work/team-charter/communication-tools.md
Due: none

Update team-meetings.md
  docs/How-We-Work/team-charter/team-meetings.md
Due: none
