Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 90%
        flags:
          - backend
    patch: off

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

ignore:
  - "tdrs-backend/tdpservice/scheduling/db_backup.py"

Disabled REACT_APP_DEVAUTH for general cases
  tdrs-frontend/.env
Due: none

Passing tests
  tdrs-backend/tdpservice/parsers/fields.py
  tdrs-backend/tdpservice/parsers/row_schema.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m1.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m4.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m5.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m6.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m7.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t6.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t7.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/test/test_util.py
  tdrs-backend/tdpservice/parsers/test/test_views.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/parsers/validators.py
Due: backend

- Adding working manifests for kibana and proxy
  tdrs-backend/kibana/manifest.yml
  tdrs-backend/manifest.buildpack.yml
Due: none

Update small_incorrect_file_cross_validator.txt
  tdrs-backend/tdpservice/parsers/test/data/small_incorrect_file_cross_validator.txt
Due: backend

revert changes on test file
  tdrs-backend/tdpservice/parsers/test/data/small_incorrect_file_cross_validator.txt
Due: backend

corrected the failing test
  tdrs-backend/tdpservice/parsers/test/test_views.py
Due: backend

resolve circular import
  tdrs-backend/tdpservice/parsers/aggregates.py
  tdrs-backend/tdpservice/parsers/fields.py
  tdrs-backend/tdpservice/parsers/row_schema.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
Due: backend

merge conflict resolution
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t3.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/validators.py
Due: backend

linting
  tdrs-backend/tdpservice/parsers/validators.py
Due: backend

- moving manifest to its own directory
  tdrs-backend/elastic_kibana/manifest.yml
  tdrs-backend/kibana/manifest.yml
Due: none

Added pre-existing user condition to DEVAUTH check Removed login.py logging
  tdrs-backend/tdpservice/users/api/authorization_check.py
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-frontend/src/index.js
Due: frontend, backend

Create sprint-87-summary.md (#2769)
  docs/Sprint-Review/sprint-87-summary.md
Due: none

Tribal Section 2 Parsing & Validation (#2753)
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/__init__.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t5.py
  tdrs-backend/tdpservice/parsers/test/data/ADS.E2J.FTP2.TS142.txt
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/search_indexes/admin/__init__.py
  tdrs-backend/tdpservice/search_indexes/admin/tribal.py
  tdrs-backend/tdpservice/search_indexes/documents/tribal.py
  tdrs-backend/tdpservice/search_indexes/migrations/0023_tribal_tanf_t4_tribal_tanf_t5.py
  tdrs-backend/tdpservice/search_indexes/models/tribal.py
  tdrs-backend/tdpservice/search_indexes/test/test_model_mapping.py
  tdrs-backend/tdpservice/users/test/test_permissions.py
Due: backend

Tribal Section 3 Parsing & Validation (#2761)
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/__init__.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t6.py
  tdrs-backend/tdpservice/parsers/test/data/ADS.E2J.FTP3.TS142
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/search_indexes/admin/__init__.py
  tdrs-backend/tdpservice/search_indexes/admin/tribal.py
  tdrs-backend/tdpservice/search_indexes/documents/tribal.py
  tdrs-backend/tdpservice/search_indexes/migrations/0024_tribal_tanf_t6.py
  tdrs-backend/tdpservice/search_indexes/models/tribal.py
  tdrs-backend/tdpservice/search_indexes/test/test_model_mapping.py
  tdrs-backend/tdpservice/users/test/test_permissions.py
Due: backend

- Updating backend deployment to include kibana and proxy for circi deploys
  .circleci/deployment/commands.yml
  scripts/deploy-backend.sh
  tdrs-backend/manifest.buildpack.yml
  tdrs-backend/manifest.kibana.yml
  tdrs-backend/manifest.proxy.yml
Due: none

- remove port
  scripts/deploy-backend.sh
Due: none

- allowing manifest
  .gitconfig
Due: none

- Update kibana and proxy hostnames
  scripts/deploy-backend.sh
Due: none

Reverted changes to CustomAuthentication.authenticate
  tdrs-backend/tdpservice/users/authentication.py
Due: backend

Added CustomAuthentication.authenticate TODO and improved logging
  tdrs-backend/tdpservice/users/authentication.py
Due: backend

- adding debug
  scripts/deploy-backend.sh
Due: none

- Updating schemas
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t6.py
Due: backend

- Fix mispelling
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t6.py
Due: backend

- inplace update
  scripts/deploy-backend.sh
Due: none

- Fixing var names
  scripts/deploy-backend.sh
Due: none

Sprint 88 89 summaries (#2806)
  docs/Sprint-Review/sprint-88-summary.md
  docs/Sprint-Review/sprint-89-summary.md
Due: none

correct failing tests
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t6.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

- remove unset - Add set-env for proxy
  scripts/deploy-backend.sh
  tdrs-backend/manifest.kibana.yml
Due: none

- parametrizing proxy host name for kibana
  scripts/deploy-backend.sh
  tdrs-backend/manifest.kibana.yml
Due: none

- Adding debug logging to see whats up
  tdrs-backend/tdpservice/users/api/authorization_check.py
Due: backend

- fix lint
  tdrs-backend/tdpservice/users/api/authorization_check.py
Due: backend

- adding kibana to deployed nginx conf
  tdrs-frontend/nginx/cloud.gov/locations.conf
Due: none

- Added usage of document to tribal
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t6.py
Due: backend

Tribal Section 4 Parsing & Validation (#2762)
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/__init__.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t7.py
  tdrs-backend/tdpservice/parsers/test/data/tribal_section_4_fake.txt
  tdrs-backend/tdpservice/parsers/test/factories.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/test/test_validators.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/search_indexes/admin/__init__.py
  tdrs-backend/tdpservice/search_indexes/admin/tribal.py
  tdrs-backend/tdpservice/search_indexes/documents/tanf.py
  tdrs-backend/tdpservice/search_indexes/documents/tribal.py
  tdrs-backend/tdpservice/search_indexes/migrations/0025_tribal_tanf_t7.py
  tdrs-backend/tdpservice/search_indexes/migrations/0026_parent_minor_child_rename.py
  tdrs-backend/tdpservice/search_indexes/models/tanf.py
  tdrs-backend/tdpservice/search_indexes/models/tribal.py
  tdrs-backend/tdpservice/search_indexes/test/test_model_mapping.py
  tdrs-backend/tdpservice/users/test/test_permissions.py
Due: backend

2722/circleci (#2739)
  .circleci/deployment/jobs.yml
  .circleci/deployment/workflows.yml
  .github/workflows/deploy-develop-on-merge.yml
Due: none

Elastic ADR Update (#2791)
  docs/Technical-Documentation/Architecture-Decision-Record/017-elastisearch.md
Due: none

- making url public for the time being to allow redirect
  scripts/deploy-backend.sh
Due: none
