Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

- re-add missing admin model class
  tdrs-backend/tdpservice/security/admin.py
Due: backend

- Move log statement before clearing user variable
  tdrs-backend/tdpservice/users/api/login.py
Due: backend

- Use sub directly
  tdrs-backend/tdpservice/users/api/login.py
Due: backend

- Update tests to use raw sub
  tdrs-backend/tdpservice/users/test/test_login_gov_uuid_change.py
Due: backend

Create sprint-131-summary.md
  docs/Sprint-Review/sprint-131-summary.md
Due: none

add user fixtures for DIGIT and ACF OCIO
  tdrs-backend/tdpservice/fixtures/cypress/users.json
Due: backend

add user fixtures to ACTORS object in common-steps
  tdrs-frontend/cypress/e2e/common-steps/common-steps.js
Due: none

- Resolved merge conflicts causing failures
  tdrs-frontend/cypress/e2e/data-files/file_upload.feature
  tdrs-frontend/cypress/e2e/data-files/submission_history.feature
  tdrs-frontend/cypress/e2e/data-files/submission_history.js
Due: none

#4973 updated unit tests and fixed some validation logic when editing to fix bug issues
  tdrs-frontend/src/components/Profile/Profile.jsx
  tdrs-frontend/src/components/Profile/Profile.test.js
  tdrs-frontend/src/components/RequestAccessForm/FRASelector.jsx
  tdrs-frontend/src/components/RequestAccessForm/RegionSelector.jsx
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.jsx
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.test.js
Due: frontend

integrate new tests and clean up extra step implementations
  tdrs-backend/tdpservice/users/views.py
  tdrs-frontend/cypress/e2e/accounts/accounts.js
  tdrs-frontend/cypress/e2e/common-steps/common-steps.js
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
  tdrs-frontend/cypress/e2e/data-files/submission_history.js
Due: backend

fix duplicate pk in users.json
  tdrs-backend/tdpservice/fixtures/cypress/users.json
Due: backend

remove ACF OCIO user fixture since they cannot submit datafiles
  tdrs-backend/tdpservice/fixtures/cypress/users.json
Due: backend

add test for digit team user can submit data file
  tdrs-frontend/cypress/e2e/common-steps/common-steps.js
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
  tdrs-frontend/cypress/e2e/data-files/file_upload.feature
  tdrs-frontend/cypress/e2e/data-files/file_upload.js
Due: none

remove ACF OCIO Andre from ACTORS object
  tdrs-frontend/cypress/e2e/common-steps/common-steps.js
Due: none

increase wait interval on waitForDataFileSummary
  tdrs-frontend/cypress/support/commands.js
Due: none

- Integrate re-useable login step
  tdrs-frontend/cypress/e2e/common-steps/common-steps.js
  tdrs-frontend/cypress/e2e/data-files/file_upload.feature
  tdrs-frontend/cypress/e2e/data-files/file_upload.js
  tdrs-frontend/cypress/e2e/data-files/submission_history.feature
  tdrs-frontend/cypress/e2e/data-files/submission_history.js
Due: none

- Parametrize file upload steps
  tdrs-frontend/cypress/e2e/data-files/file_upload.feature
  tdrs-frontend/cypress/e2e/data-files/file_upload.js
Due: none

- remove unused step
  tdrs-frontend/cypress/e2e/data-files/submission_history.js
Due: none

- parametrize upload steps
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
  tdrs-frontend/cypress/e2e/data-files/file_upload.feature
  tdrs-frontend/cypress/e2e/data-files/file_upload.js
Due: none

- indent for logical purposes
  tdrs-frontend/cypress/e2e/data-files/file_upload.feature
Due: none

increase interval to 2000
  tdrs-frontend/cypress/support/commands.js
Due: none

parametrize request access steps
  tdrs-frontend/cypress/e2e/accounts/accounts.feature
  tdrs-frontend/cypress/e2e/accounts/accounts.js
  tdrs-frontend/cypress/e2e/common-steps/common-steps.js
Due: none

#5197 ally UI screen readability updates
  tdrs-frontend/src/components/Feedback/FeedbackForm.jsx
  tdrs-frontend/src/components/Feedback/FeedbackRadioSelectGroup.jsx
  tdrs-frontend/src/components/Feedback/FeedbackWidget.jsx
Due: frontend

- Remove re-added error generators - Update test to use error factory
  tdrs-backend/tdpservice/parsers/test/test_case_consistency.py
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

- resolve failure surrounding incorrect argument
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/validators/category3.py
Due: backend

- update based on review feedback
  tdrs-frontend/cypress.config.js
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
  tdrs-frontend/cypress/e2e/data-files/submission_history.js
Due: none

- Use correct field name
  tdrs-backend/tdpservice/parsers/validators/test/test_category3.py
Due: backend

- Update migration to have all SET types - Add handlers for all types - Update handler with email or sub logic - Remove email update logic from login.py since SETs will now handle it
  tdrs-backend/tdpservice/security/event_handler.py
  tdrs-backend/tdpservice/security/migrations/0004_security_event_token.py
  tdrs-backend/tdpservice/security/models.py
  tdrs-backend/tdpservice/security/test/test_event_handler.py
  tdrs-backend/tdpservice/users/api/login.py
Due: backend

- Resolve failing auth tests
  tdrs-backend/tdpservice/users/api/login.py
Due: backend

- Fix name references
  tdrs-backend/tdpservice/security/event_handler.py
Due: backend

- Add tests for new handlers
  tdrs-backend/tdpservice/security/test/test_event_handler.py
Due: backend

- rename file and add test for user email change
  tdrs-backend/tdpservice/users/test/test_primary_login_gov_security_events.py
Due: backend

- Remove login.gov test since it is handled by security events now
  tdrs-backend/tdpservice/users/test/test_auth.py
Due: backend

- linting
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

- Update schema fields json with missing fields
  tdrs-backend/plg/grafana_views/schema_fields.json
Due: none

- Add drop command to avoid worrying about column order
  tdrs-backend/plg/grafana_views/generate_views.py
Due: none

#5197 refactored some of the rest api django components to get the feedback and data file relationship flow right
  tdrs-backend/tdpservice/data_files/models.py
  tdrs-backend/tdpservice/users/admin.py
  tdrs-backend/tdpservice/users/migrations/0049_auto_20250817_1726.py
  tdrs-backend/tdpservice/users/migrations/0049_auto_20250821_1917.py
  tdrs-backend/tdpservice/users/migrations/0050_alter_feedbackattachment_object_id.py
  tdrs-backend/tdpservice/users/migrations/0051_alter_feedbackattachment_feedback.py
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/serializers.py
  tdrs-frontend/src/components/Feedback/FeedbackForm.jsx
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/UploadReport/UploadReport.jsx
  tdrs-frontend/src/reducers/feedbackWidget.js
Due: frontend, backend

#4973 fixed broken unit tests
  tdrs-frontend/src/components/Profile/UserProfileDetails.test.js
  tdrs-frontend/src/components/Profile/UserProfileView.test.js
Due: frontend

increase dataFileSubmitTimeout
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
Due: none

#4973 fixed test issue and refactored the code a bit more
  tdrs-frontend/src/components/RequestAccessForm/ReadOnlyRow.jsx
  tdrs-frontend/src/components/RequestAccessForm/RegionSelector.jsx
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.jsx
  tdrs-frontend/src/utils/formHelpers.js
  tdrs-frontend/src/utils/regions.js
Due: frontend

Path conditions:
  frontend: any of: tdrs-frontend/src, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
  backend: any of: tdrs-backend/tdpservice, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
