Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Test fix for the sheet
  product-updates/knowledge-center/Reference GuideTANF & SSP WPR & TL Feedback Reports.xlsx
  product-updates/knowledge-center/feedback-reports.html
Due: none

typo fix
  product-updates/knowledge-center/Reference Guide TANF & SSP WPR & TL Feedback Reports.xlsx
Due: none

fix comment
  tdrs-backend/tdpservice/core/views.py
Due: backend

fix authentication
  tdrs-backend/tdpservice/core/views.py
Due: backend

rm comment
  tdrs-backend/tdpservice/settings/cloudgov.py
  tdrs-backend/tdpservice/settings/common.py
Due: backend

rm extra prefix
  tdrs-backend/tdpservice/settings/local.py
Due: backend

rm extra fields
  tdrs-backend/tdpservice/core/serializers.py
Due: backend

- linting
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

add detail endpoint
  tdrs-backend/tdpservice/core/test/test_api.py
  tdrs-backend/tdpservice/core/views.py
  tdrs-backend/tdpservice/urls.py
Due: backend

rm comments
  tdrs-backend/tdpservice/core/test/test_api.py
Due: backend

Add sprint summary for 2026-02-17
  sprint-summary-2026-02-17.md
Due: none

create cypress admin-feedback-reports tests
  tdrs-frontend/cypress/e2e/feedback-reports/admin-feedback-reports.feature
  tdrs-frontend/cypress/e2e/feedback-reports/admin-feedback-reports.js
  tdrs-frontend/cypress/e2e/feedback-reports/feedback-reports-helpers.js
  tdrs-frontend/cypress/support/commands.js
  tdrs-frontend/nginx/cloud.gov/locations.conf
  tdrs-frontend/nginx/local/locations.conf
Due: none

accessibility tests for Feedback Reports
  tdrs-frontend/cypress/e2e/feedback-reports/a11y.js
Due: none

Merge from Test
  product-updates/knowledge-center/Reference TANF&SSP WPR&TL Feedback_Reports 2026-02.xlsx
  product-updates/knowledge-center/about-email-notifications.html
  product-updates/knowledge-center/complete-resubmissions.html
  product-updates/knowledge-center/components/desktop-navigation.js
  product-updates/knowledge-center/components/mobile-navigation.js
  product-updates/knowledge-center/create-new-login.html
  product-updates/knowledge-center/existing-login.html
  product-updates/knowledge-center/exporting-complete-data-using-ftanf.html
  product-updates/knowledge-center/faq.html
  product-updates/knowledge-center/feedback-reports.html
  product-updates/knowledge-center/fra-error-reports.html
  product-updates/knowledge-center/give-feedback.html
  product-updates/knowledge-center/index.html
  product-updates/knowledge-center/managing-your-account.html
  product-updates/knowledge-center/program-integrity-audit.html
  product-updates/knowledge-center/submitting-fra-data.html
  product-updates/knowledge-center/uploading-data.html
  product-updates/knowledge-center/viewing-error-reports.html
Due: none

File swap & cleanup
  product-updates/knowledge-center/Reference Guide TANF & SSP WPR & TL Feedback Reports.xlsx
  product-updates/knowledge-center/Reference TANF & SSP WPR & TL Feedback Reports 2026-02.xlsx
  product-updates/knowledge-center/Reference TANF&SSP WPR&TL Feedback_Reports 2026-02.xlsx
  product-updates/knowledge-center/feedback-reports.html
Due: none

File swap
  product-updates/knowledge-center/Reference TANF & SSP WPR & TL Feedback Reports 2026-02 Experimental.xlsx
  product-updates/knowledge-center/feedback-reports.html
Due: none

File swap
  product-updates/knowledge-center/Reference TANF & SSP WPR & TL Feedback Reports 2026-02 Experimental.xls
  product-updates/knowledge-center/feedback-reports.html
Due: none

Add files via upload
  product-updates/knowledge-center/Reference TANF & SSP WPR & TL Feedback Reports 2026-02.xlsx
Due: none

Update feedback-reports.html
  product-updates/knowledge-center/feedback-reports.html
Due: none

Remove files
  product-updates/knowledge-center/Reference TANF & SSP WPR & TL Feedback Reports 2026-02 Experimental.xls
  product-updates/knowledge-center/Reference TANF & SSP WPR & TL Feedback Reports 2026-02 Experimental.xlsx
  product-updates/knowledge-center/Reference TANF & SSP WPR & TL Feedback Reports 2026-02.xlsx
Due: none

Add file
  product-updates/knowledge-center/Reference TANF&SSP WPR&TL Feedback_Reports 2026-02.xlsx
Due: none

Update images
  product-updates/knowledge-center/Reference TANF&SSP WPR&TL Feedback_Reports 2026-02.xlsx
Due: none

Reupload
  product-updates/knowledge-center/Reference Guide TANF&SSP WPR&TL Feedback Reports.xlsx
Due: none

Delete Reference Guide TANF&SSP WPR&TL Feedback Reports.xlsx
  product-updates/knowledge-center/Reference Guide TANF&SSP WPR&TL Feedback Reports.xlsx
Due: none

Add excel file via LFS
  .gitattributes
  product-updates/knowledge-center/Reference TANF&SSP WPR&TL Feedback_Reports_2026-2-11.xlsx
Due: none

remove lfs
  .gitattributes
Due: none

- First pass at Go parser architecture and benefits
  docs/Technical-Documentation/tech-memos/go-parser/architecture_and_integration_plan.md
Due: none

- Fix link
  docs/Technical-Documentation/tech-memos/go-parser/architecture_and_integration_plan.md
Due: none

[2641] optimize/reorganize unit tests (#5608)
  tdrs-backend/tdpservice/data_files/test/test_admin_filters.py
  tdrs-backend/tdpservice/parsers/test/helpers.py
  tdrs-backend/tdpservice/parsers/test/test_dataclasses.py
  tdrs-backend/tdpservice/parsers/test/test_decoders.py
  tdrs-backend/tdpservice/parsers/test/test_header.py
  tdrs-backend/tdpservice/parsers/test/test_models.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/test/test_parse_bulk_creation.py
  tdrs-backend/tdpservice/parsers/test/test_parse_fra_integration.py
  tdrs-backend/tdpservice/parsers/test/test_parse_large_files.py
  tdrs-backend/tdpservice/parsers/test/test_parse_program_audit.py
  tdrs-backend/tdpservice/parsers/test/test_parser_internals.py
  tdrs-backend/tdpservice/parsers/test/test_serializer.py
  tdrs-backend/tdpservice/parsers/test/test_transforms.py
  tdrs-backend/tdpservice/parsers/test/test_util.py
  tdrs-backend/tdpservice/scheduling/test/test_parser_task.py
  tdrs-backend/tdpservice/search_indexes/test/test_reparse_command.py
  tdrs-backend/tdpservice/users/test/test_api/test_views.py
  tdrs-backend/tdpservice/users/test/test_filters_forms.py
Due: backend

is to ==
  tdrs-backend/tdpservice/data_files/test/test_api.py
Due: backend

- Add canary based routing for the migration strategy
  docs/Technical-Documentation/tech-memos/go-parser/architecture_and_integration_plan.md
Due: none

- Fix test
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

- Update based on feedback
  tdrs-backend/tdpservice/email/tasks.py
Due: backend

- remove func
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

- Update feedback reports to use fetch instance - Update fetch instance to use csrf token cached on page
  tdrs-frontend/src/__mocks__/fetch-instance.js
  tdrs-frontend/src/actions/auth.js
  tdrs-frontend/src/components/FeedbackReports/AdminFeedbackReports.jsx
  tdrs-frontend/src/components/FeedbackReports/AdminFeedbackReports.test.js
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportAlert.jsx
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportAlert.test.js
  tdrs-frontend/src/components/FeedbackReports/FeedbackReports.test.js
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReports.jsx
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReports.test.js
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReportsTable.jsx
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReportsTable.test.js
  tdrs-frontend/src/fetch-instance.js
  tdrs-frontend/src/fetch-instance.test.js
Due: frontend

- Use regex to be a bit more bulletproof
  tdrs-frontend/src/fetch-instance.js
Due: frontend

- linting
  tdrs-frontend/src/components/FeedbackReports/AdminFeedbackReports.test.js
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportAlert.test.js
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReports.test.js
  tdrs-frontend/src/components/FeedbackReports/STTFeedbackReportsTable.test.js
Due: frontend

5525 Restart submission status polling page navigation (#5600)
  Taskfile.yml
  scripts/apply-database-config.sh
  tdrs-frontend/src/components/FeedbackReports/FeedbackReportAlert.test.js
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/Reports/FRAReports.polling.test.js
  tdrs-frontend/src/components/Reports/FRAReports.test.js
  tdrs-frontend/src/components/Reports/constants.js
  tdrs-frontend/src/components/Reports/tdr/TanfSspReports.jsx
  tdrs-frontend/src/hooks/useFileUploadForm.js
  tdrs-frontend/src/hooks/useSubmissionHistory.js
  tdrs-frontend/src/hooks/useSubmissionHistory.test.js
Due: frontend

- Fix missing result objects in fra tests - Add missing store variables
  tdrs-frontend/src/components/Reports/FRAReports.test.js
  tdrs-frontend/src/hooks/useSubmissionHistory.test.js
Due: frontend

Path conditions:
  frontend: any of: tdrs-frontend/src, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
  backend: any of: tdrs-backend/tdpservice, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
