Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

cache auth state between specs
  tdrs-frontend/cypress/e2e/common-steps/common-steps.js
  tdrs-frontend/cypress/support/commands.js
Due: none

- Update other extraneous anchor tags to be react links where possible
  tdrs-frontend/src/components/Header/Header.jsx
  tdrs-frontend/src/components/NoMatch/NoMatch.jsx
  tdrs-frontend/src/components/NoMatch/NoMatch.test.js
Due: frontend

Create sprint-132-summary.md
  docs/Sprint-Review/sprint-132-summary.md
Due: none

- Create new link component - Updated throughtout to use new link component
  tdrs-frontend/src/components/Feedback/Feedback.jsx
  tdrs-frontend/src/components/Link/Link.jsx
  tdrs-frontend/src/components/Link/index.js
  tdrs-frontend/src/components/NavItem/NavItem.jsx
  tdrs-frontend/src/components/NoMatch/NoMatch.jsx
  tdrs-frontend/src/components/ResourceCards/ResourceCards.jsx
  tdrs-frontend/src/components/SplashPage/SplashPage.jsx
Due: frontend

Sprint summary 2025-10-07
  docs/Sprint-Review/sprint-summary-2025-10-07.md
Due: none

prepend 'tdp-' to local celery prometheus job to match nonlocal env naming convention
  tdrs-backend/plg/prometheus/prometheus.local.yml
Due: none

-updated so that open feedback widget accepts the submitted files as a parameter - Update submit to return the submitted files
  tdrs-frontend/src/actions/reports.js
  tdrs-frontend/src/components/Reports/ReportsContext.jsx
  tdrs-frontend/src/hooks/useFileUploadForm.js
Due: frontend

export REDIS_URI using django settings so the celery_exporter can access it
  tdrs-backend/celery_start.sh
Due: none

- Test using jq to get uri and quote uri when passing to executanles
  tdrs-backend/celery_start.sh
Due: none

don't include all a11y tests for every spec run
  tdrs-frontend/cypress/e2e/a11y/a11y.js
  tdrs-frontend/cypress/e2e/a11y/login-error-state.js
  tdrs-frontend/cypress/e2e/a11y/login-helpers.js
  tdrs-frontend/cypress/e2e/a11y/profile-flow.js
  tdrs-frontend/cypress/e2e/accounts/a11y.js
  tdrs-frontend/cypress/e2e/common-steps/a11y.js
  tdrs-frontend/cypress/e2e/profile/a11y.js
  tdrs-frontend/package.json
Due: none

health grafana dashboard not using proper job name for celery prometheus metrics
  tdrs-backend/plg/grafana/dashboards/health.json
Due: none

rm missing ref
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
Due: none

improve datafiles page timing
  tdrs-frontend/cypress/e2e/data-files/file_upload.js
  tdrs-frontend/cypress/e2e/data-files/submission_history.js
Due: none

Revise sprint summary with updated issue links
  docs/Sprint-Review/sprint-summary-2025-10-07.md
Due: none

Add sprint summary for 2025-11-04
  sprint-summary-2025-11-04.md
Due: none

- Update to use s3 storage
  tdrs-backend/tdpservice/settings/cloudgov.py
Due: backend

Add sprint summary report for 2025-10-21
  sprint-summary-2025-10-21.md
Due: none

Add files via upload
  docs/Sprint-Review/sprint-133-summary.md
  docs/Sprint-Review/sprint-134-summary.md
Due: none

- add missing perms to tst
  tdrs-backend/tdpservice/users/test/test_permissions.py
Due: backend

quick lint fix (#5607)
  tdrs-frontend/src/components/Link/Link.jsx
Due: frontend

- Updated storage backend to store the currently used s3 version id so that the view can access it later.
  tdrs-backend/tdpservice/backends.py
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

Revise sprint summary for Dec 03 - Dec 16, 2025
  sprint-summary-2025-12-16.md
Due: none

- update description
  tdrs-backend/plg/grafana_views/helper_functions.sql
Due: none

5597 Fix showing tribal STT (#5606)
  tdrs-frontend/src/components/Reports/Reports.test.js
  tdrs-frontend/src/hooks/useFocusTrap.test.js
  tdrs-frontend/src/hooks/usePollingTimer.test.js
  tdrs-frontend/src/selectors/stts.js
  tdrs-frontend/src/selectors/stts.test.js
Due: frontend

- Update to make retrieving the version from the storage object thread safe
  tdrs-backend/tdpservice/backends.py
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

- Add django admin interface as a dependency to get better 508 compliance - Update pipfile and lock file - Add data migration to enable uswds by default - Add to installed apps
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
  tdrs-backend/tdpservice/core/migrations/0003_load_uswds_admin_theme.py
  tdrs-backend/tdpservice/settings/common.py
Due: backend

- linting
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

- Move version logic into custom field outside of the backends - Added migration for new field - Added tests
  tdrs-backend/tdpservice/backends.py
  tdrs-backend/tdpservice/common/fields.py
  tdrs-backend/tdpservice/core/test/test_fields.py
  tdrs-backend/tdpservice/data_files/migrations/0024_alter_datafile_file.py
  tdrs-backend/tdpservice/data_files/models.py
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

Add sprint summary for 2025-12-16
  sprint-summary-2025-12-16.md
Due: none

Add sprint summary for 2026-01-06
  sprint-summary-2026-01-06.md
Due: none

- Created helper functions to validate textual dates - Updated view generator to leverage new functions to validate both dob and rpt_month_year
  tdrs-backend/plg/grafana_views/generate_views.py
  tdrs-backend/plg/grafana_views/helper_functions.sql
Due: none

Add sprint summary for 2026-01-20
  sprint-summary-2026-01-20.md
Due: none

Add sprint summary for 2025-11-18
  sprint-summary-2025-11-18.md
Due: none

Path conditions:
  frontend: any of: tdrs-frontend/src, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
  backend: any of: tdrs-backend/tdpservice, but not: tdrs-backend/tdpservice/scheduling/db_backup.py
