Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 90%
        flags:
          - backend
    patch: off

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

ignore:
  - "tdrs-backend/tdpservice/scheduling/db_backup.py"

go mod tidy
  tdrs-services/parser/go.mod
  tdrs-services/parser/go.sum
Due: none

rm wait for postgres
  .circleci/build-and-test/jobs.yml
Due: none

get correct go version
  .circleci/build-and-test/jobs.yml
Due: none

- Use correct error type
  tdrs-services/parser/internal/validation/orchestrator.go
Due: none

add cov report
  .circleci/build-and-test/jobs.yml
  Taskfile.yml
  tdrs-services/parser/Makefile
Due: none

- Added custom fixture handler to delete objects created with go parser - Add 'go' to parser tests to delineate
  tdrs-backend/docker-compose.yml
  tdrs-backend/tdpservice/parsers/test/conftest.py
  tdrs-backend/tdpservice/parsers/test/test_go_parser.py
Due: backend

- Remove extraneous field
  tdrs-services/parser/internal/storage/writer/ssp.go
Due: none

- Update queries to use file ID for safety
  tdrs-backend/tdpservice/parsers/test/test_go_parser.py
Due: backend

- Create missing cat1 validators - Update schemas with new validators - Feed Header and File ctx through to new validators - Unify expr env contexts with datafile context
  tdrs-services/parser/config/schemas/ssp/m1.yaml
  tdrs-services/parser/config/schemas/ssp/m2.yaml
  tdrs-services/parser/config/schemas/ssp/m3.yaml
  tdrs-services/parser/config/schemas/tanf/t1.yaml
  tdrs-services/parser/config/schemas/tanf/t2.yaml
  tdrs-services/parser/config/validation/validators.yaml
  tdrs-services/parser/internal/pipeline/pipeline.go
  tdrs-services/parser/internal/pipeline/worker_pool.go
  tdrs-services/parser/internal/pipeline/worker_pool_test.go
  tdrs-services/parser/internal/storage/writer/error.go
  tdrs-services/parser/internal/validation/env.go
  tdrs-services/parser/internal/validation/orchestrator.go
  tdrs-services/parser/internal/validation/orchestrator_test.go
  tdrs-services/parser/internal/validation/result.go
Due: none

- Add sentinel error generation for unknown record types - Add missing validators for TANF T3 - Add test for record type unknown
  tdrs-services/parser/config/schemas/ssp/m3.yaml
  tdrs-services/parser/config/schemas/tanf/t3.yaml
  tdrs-services/parser/internal/decoder/detector.go
  tdrs-services/parser/internal/pipeline/pipeline.go
  tdrs-services/parser/internal/pipeline/process_test.go
  tdrs-services/parser/internal/storage/writer/error.go
  tdrs-services/parser/internal/validation/orchestrator.go
Due: none

- Add helper functions to coerce sum fields to int for sum validator
  tdrs-services/parser/config/validation/validators.yaml
  tdrs-services/parser/internal/parser/types.go
  tdrs-services/parser/internal/parser/types_test.go
  tdrs-services/parser/internal/validation/validation_test.go
Due: none

- Update error message renderer to handle record length - Add test
  tdrs-services/parser/internal/storage/writer/error.go
  tdrs-services/parser/internal/storage/writer/error_test.go
Due: none

- Add missing record validators - Update extractor to consider '#' and '_' as empty values
  tdrs-services/parser/config/schemas/ssp/m4.yaml
  tdrs-services/parser/config/schemas/ssp/m5.yaml
  tdrs-services/parser/config/schemas/tanf/t4.yaml
  tdrs-services/parser/config/schemas/tanf/t5.yaml
  tdrs-services/parser/internal/parser/extractor.go
  tdrs-services/parser/internal/parser/extractor_test.go
Due: none

- Use correct field name in M6 serializer
  tdrs-services/parser/internal/storage/writer/registry_test.go
  tdrs-services/parser/internal/storage/writer/ssp.go
Due: none

add sql generation for sqlc diff
  .circleci/build-and-test/jobs.yml
  Taskfile.yml
  scripts/install-go-parser-ci-dependencies.sh
Due: none

fix schema.sql errors
  tdrs-services/parser/internal/db/models.go
  tdrs-services/parser/internal/db/query.sql.go
  tdrs-services/parser/schema.sql
Due: none

rm comment
  Taskfile.yml
Due: none

- UPdate files with approriate years - Current passing state of go parser validation tests
  tdrs-backend/tdpservice/parsers/test/conftest.py
  tdrs-backend/tdpservice/parsers/test/test_go_parser.py
Due: backend

custom message for sqlc-diff
  Taskfile.yml
Due: none

- Add missing dob validators - Update pipeline to still serialize non blocking header errors
  tdrs-services/parser/config/schemas/ssp/m2.yaml
  tdrs-services/parser/config/schemas/ssp/m3.yaml
  tdrs-services/parser/config/schemas/ssp/m5.yaml
  tdrs-services/parser/config/schemas/tanf/t2.yaml
  tdrs-services/parser/config/schemas/tanf/t3.yaml
  tdrs-services/parser/config/schemas/tanf/t5.yaml
  tdrs-services/parser/config/validation/validators.yaml
  tdrs-services/parser/internal/pipeline/pipeline.go
  tdrs-services/parser/internal/pipeline/process_test.go
  tdrs-services/parser/internal/validation/functions.go
Due: none

- allow variable useage
  .gitconfig
Due: none

- Separate the go parser tests into a separate integration test suite with it's own settings and pytest ini to avoid causing issues with the existing pytest tests
  Taskfile.yml
  tdrs-backend/README.md
  tdrs-backend/pytest-go-parser.ini
  tdrs-backend/setup.cfg
  tdrs-backend/tdpservice/conftest.py
  tdrs-backend/tdpservice/parsers/test/conftest.py
  tdrs-backend/tdpservice/parsers/test/integration/conftest.py
  tdrs-backend/tdpservice/parsers/test/integration/test_go_parse.py
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/settings/go_parser_integration.py
Due: backend

- Add step for integration tests
  .circleci/build-and-test/jobs.yml
Due: none

- Linting
  tdrs-backend/tdpservice/parsers/test/integration/test_go_parse.py
Due: backend

- Fix spelling error
  .circleci/build-and-test/jobs.yml
Due: none

- Building go parser container - temporarily disabling pytest tests
  .circleci/build-and-test/jobs.yml
Due: none

- re enable pytest
  .circleci/build-and-test/jobs.yml
Due: none

remove the location directive from ip allow lists
  tdrs-frontend/nginx/cloud.gov/ip_whitelist.conf
  tdrs-frontend/nginx/cloud.gov/ip_whitelist_develop.conf
Due: none

extract Keycloak user resolution helpers for bearer token reuse
  tdrs-backend/tdpservice/users/oidc.py
Due: backend

Add keycloack bearer token DRF authentication for external clients
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/users/authentication.py
  tdrs-backend/tdpservice/users/throttling.py
Due: backend

Add tdp-cli public keycloak client for external api tools
  tdrs-backend/keycloak/realm-export.json
Due: none

- Add new serializer field for users to identify what IdP they authenticated with - Add tests for auth flow and session IdP state - Update frontend tests to use IdP flag instead of email domain
  tdrs-backend/tdpservice/users/api/authorization_check.py
  tdrs-backend/tdpservice/users/api/canary.py
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-backend/tdpservice/users/api/login_redirect_oidc.py
  tdrs-backend/tdpservice/users/oidc.py
  tdrs-backend/tdpservice/users/serializers.py
  tdrs-backend/tdpservice/users/test/test_auth.py
  tdrs-backend/tdpservice/users/test/test_canary.py
  tdrs-backend/tdpservice/users/test/test_oidc.py
  tdrs-backend/tdpservice/users/views.py
  tdrs-frontend/src/components/Home/HomeForm.test.jsx
  tdrs-frontend/src/components/Profile/Profile.jsx
  tdrs-frontend/src/components/Profile/Profile.test.js
  tdrs-frontend/src/components/Profile/UserProfileView.test.js
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.jsx
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.test.js
Due: frontend, backend

add tests for keycloack bearer toekn authentication
  tdrs-backend/tdpservice/users/test/test_bearer_token_auth.py
Due: backend

Document external API client flows for Keycloak
  tdrs-backend/keycloak/README.md
Due: none

- Fix login test by creating real session object - Update cypress auth endpoint to impute idp field - Use actor in admin login
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-backend/tdpservice/users/test/test_api/test_login.py
  tdrs-frontend/cypress/e2e/common-steps/common-steps.js
Due: backend

fix linting errors
  tdrs-backend/tdpservice/users/authentication.py
  tdrs-backend/tdpservice/users/oidc.py
  tdrs-backend/tdpservice/users/throttling.py
Due: backend

preserve 403 for non-bearer denied requests
  tdrs-backend/tdpservice/users/authentication.py
  tdrs-backend/tdpservice/users/test/test_bearer_token_auth.py
Due: backend
