Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Tested account status emails. Linting
  tdrs-backend/tdpservice/email/email.py
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/test/test_account_approval_emails.py
Due: backend

fix errors caused by merge, linting
  tdrs-frontend/src/components/Footer/Footer.test.js
  tdrs-frontend/src/components/Header/Header.jsx
  tdrs-frontend/src/components/Header/Header.test.js
  tdrs-frontend/src/components/Home/Home.jsx
  tdrs-frontend/src/components/Routes/Routes.js
  tdrs-frontend/src/components/SiteMap/SiteMap.test.js
Due: frontend

add one more test, fix email
  tdrs-backend/tdpservice/email/email.py
  tdrs-backend/tdpservice/email/test/test_email.py
  tdrs-backend/tdpservice/users/test/test_account_approval_emails.py
Due: backend

Use base.html to extend templates
  tdrs-backend/tdpservice/email/email.py
  tdrs-backend/tdpservice/email/templates/access-request-submitted.html
  tdrs-backend/tdpservice/email/templates/account-deactivated.html
  tdrs-backend/tdpservice/email/templates/base.html
  tdrs-backend/tdpservice/email/templates/data-submitted.html
  tdrs-backend/tdpservice/email/templates/request-approved.html
  tdrs-backend/tdpservice/email/templates/request-denied.html
Due: backend

prints for testing
  tdrs-backend/tdpservice/email/email.py
Due: backend

force deploy to sandbox
  .circleci/config.yml
  tdrs-backend/tdpservice/email/email.py
Due: backend

more logs
  tdrs-backend/tdpservice/email/email.py
Due: backend

Create sprint-57-summary.md
  docs/Sprint-Review/sprint-57-summary.md
Due: none

adressing pr comments
  tdrs-backend/tdpservice/email/email.py
Due: backend

revert config form test mode
  .circleci/config.yml
Due: none

fixed errors caused by merge
  tdrs-frontend/src/components/Footer/Footer.test.js
  tdrs-frontend/src/components/Header/Header.jsx
  tdrs-frontend/src/components/Routes/Routes.js
  tdrs-frontend/src/components/SiteMap/SiteMap.test.js
Due: frontend

fix palley
  tdrs-frontend/src/components/Header/Header.test.js
Due: frontend

linting
  tdrs-backend/tdpservice/users/models.py
Due: backend

Update docs/User-Experience/Research-Syntheses/README.md
  docs/User-Experience/Research-Syntheses/README.md
Due: none

Update README.md
  docs/User-Experience/Research-Syntheses/README.md
Due: none

Update docs/User-Experience/Research-Syntheses/2022, Summer - TDP 2.0 Pilot Program.md
  docs/User-Experience/Research-Syntheses/2022, Summer - TDP 2.0 Pilot Program.md
Due: none

update nginx and python buildpacks
  docs/Technical-Documentation/buildpack-changelog.md
  tdrs-backend/manifest.buildpack.yml
  tdrs-frontend/manifest.buildpack.yml
Due: none

Create sprint-54-summary.md
  docs/Sprint-Review/sprint-54-summary.md
Due: none

Create 2022, Summer - TDP 2.0 Pilot Program.md
  docs/User-Experience/Research-Syntheses/2022, Summer - TDP 2.0 Pilot Program.md
Due: none

test owasp
  .circleci/config.yml
  tdrs-frontend/Dockerfile
  tdrs-frontend/nginx/nginx.conf
Due: none

update timeout to match component timeout
  tdrs-frontend/src/components/UploadReport/UploadReport.test.js
Due: frontend

disable proxy pass
  tdrs-frontend/nginx/nginx.conf
Due: none

fix user approved but not assigned role bug
  tdrs-frontend/src/selectors/auth.js
Due: frontend

add new user role selectors
  tdrs-frontend/src/components/Home/Home.jsx
  tdrs-frontend/src/selectors/auth.js
Due: frontend

Run scans when label is added
  .circleci/config.yml
  tdrs-frontend/nginx/nginx.conf
Due: none

add back welcome text
  tdrs-frontend/src/components/Home/Home.jsx
Due: frontend

Create sprint-56-summary.md
  docs/Sprint-Review/sprint-56-summary.md
Due: none

Update docs/Sprint-Review/sprint-56-summary.md
  docs/Sprint-Review/sprint-56-summary.md
Due: none

Revert "Update README.md"
  README.md
Due: none

removed new filename method
  tdrs-backend/tdpservice/data_files/models.py
Due: backend

linting
  tdrs-backend/tdpservice/data_files/models.py
Due: backend

Correct title tag
  product-updates/index.html
Due: none

Update docs/Sprint-Review/sprint-55-summary.md
  docs/Sprint-Review/sprint-55-summary.md
Due: none

Update README.md
  README.md
Due: none

Copies over all changes from test environment
  product-updates/August-2021-Update.html
  product-updates/January-2022-Update.html
  product-updates/June-2021-Update.html
  product-updates/april-2022-update.html
  product-updates/img/complete-data/step1.jpeg
  product-updates/img/complete-data/step2-2.jpeg
  product-updates/img/complete-data/step2.jpeg
  product-updates/img/complete-data/step3.jpeg
  product-updates/img/getting-started/existing-login-homepage.jpeg
  product-updates/index.html
  product-updates/knowledge-center/complete-resubmissions.html
  product-updates/knowledge-center/create-new-login.html
  product-updates/knowledge-center/existing-login.html
  product-updates/knowledge-center/give-feedback.html
  product-updates/knowledge-center/index.html
  product-updates/knowledge-center/managing-your-account.html
  product-updates/knowledge-center/uploading-data.html
Due: none

Create sprint-55-summary.md
  docs/Sprint-Review/sprint-55-summary.md
Due: none

Update models.py
  tdrs-backend/tdpservice/data_files/models.py
Due: backend

Path conditions:
  frontend: any of: tdrs-frontend/src
  backend: any of: tdrs-backend/tdpservice
