Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 95%
        flags:
          - backend

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

commentation linting error fix
  tdrs-backend/tdpservice/users/api/authorization_check.py
Due: backend

Trying to add cloud.gov to some django settings around cookies
  tdrs-backend/tdpservice/settings/common.py
Due: backend

Conditionally setting headers for production in frontend auth.js
  tdrs-frontend/src/actions/auth.js
Due: frontend

Testing conditional middleware loading for cloud.gov
  tdrs-backend/tdpservice/middleware.py
  tdrs-backend/tdpservice/settings/cloudgov.py
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/settings/local.py
  tdrs-backend/tdpservice/users/api/authorization_check.py
Due: backend

testing nginx changes from 1945on staging/main
  tdrs-frontend/nginx/buildpack.nginx.conf
Due: none

Linting error
  tdrs-frontend/src/actions/auth.js
Due: frontend

setting django cookie settings like 1945 to rule those out as breaking staging
  tdrs-backend/tdpservice/settings/common.py
Due: backend

Trying to add quotations around value fixing ACFTITAN_KEY not being set in CircleCI
  scripts/deploy-backend.sh
Due: none

Add log
  tdrs-frontend/src/actions/auth.js
Due: frontend

cleanup print statement
  tdrs-backend/tdpservice/settings/common.py
Due: backend

Commenting out session middleware reference to acf domain
  tdrs-backend/tdpservice/middleware.py
Due: backend

frontend whitespace lint issue
  tdrs-frontend/src/actions/auth.js
Due: frontend

Removing cookies in allow-headers due to console errors and buttons not submitted
  tdrs-backend/tdpservice/users/api/authorization_check.py
Due: backend

Updating session middleware to see if that's causing staging breakage
  tdrs-backend/tdpservice/middleware.py
  tdrs-backend/tdpservice/settings/common.py
Due: backend

add environment variable to circleci
  .circleci/config.yml
Due: none

don't deploy to prod any more
  .circleci/config.yml
Due: none

modify deploy scripts for different envs
  scripts/deploy-frontend.sh
  tdrs-frontend/.env
  tdrs-frontend/.env.development
  tdrs-frontend/package.json
Due: none

modifications to button
  .circleci/config.yml
  tdrs-frontend/src/assets/Button.scss
  tdrs-frontend/src/components/Button/Button.jsx
  tdrs-frontend/src/components/Profile/Profile.jsx
  tdrs-frontend/src/components/Profile/Profile.test.js
  tdrs-frontend/src/components/Reports/Reports.test.js
  tdrs-frontend/src/components/SplashPage/SplashPage.jsx
  tdrs-frontend/src/components/SplashPage/SplashPage.test.js
Due: frontend

new line and moved prod env command
  scripts/deploy-frontend.sh
Due: none

linting
  tdrs-frontend/src/components/Button/Button.jsx
Due: frontend

update django version
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
Due: none

Use a file response to leverage django 3.2.15 security update
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

lint
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

Allow Nginx to be configured from env vars
  tdrs-frontend/nginx/buildpack.nginx.conf
Due: none

Add env vars to frontend nginx server
  scripts/deploy-frontend.sh
Due: none

semicolons are fun
  tdrs-frontend/nginx/buildpack.nginx.conf
Due: none

Add appname to set-env
  scripts/deploy-frontend.sh
Due: none

buildpacks need special magic for env vars
  tdrs-frontend/nginx/buildpack.nginx.conf
Due: none

We really love cloudfoundry's custom nginx syntax
  tdrs-frontend/nginx/buildpack.nginx.conf
Due: none

semicolons
  tdrs-frontend/nginx/buildpack.nginx.conf
Due: none

remove stray quote
  tdrs-frontend/nginx/buildpack.nginx.conf
Due: none

Whitespace for a deploy
  tdrs-frontend/nginx/buildpack.nginx.conf
Due: none

1133: Upload Pytest, and linting
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
  tdrs-backend/tdpservice/scheduling/tasks.py
  tdrs-backend/tdpservice/scheduling/test/test_file_upload.py
Due: backend

1133: linting
  tdrs-backend/tdpservice/scheduling/tasks.py
  tdrs-backend/tdpservice/scheduling/test/test_file_upload.py
Due: backend

move semicolon
  tdrs-frontend/nginx/buildpack.nginx.conf
Due: none

Create sprint-53-summary.md
  docs/Sprint-Review/sprint-53-summary.md
Due: none

1133: changes for passing the test
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/scheduling/tasks.py
  tdrs-backend/tdpservice/settings/common.py
Due: backend

1133: added import
  tdrs-backend/tdpservice/scheduling/tasks.py
Due: backend
