Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 90%
        flags:
          - backend
    patch: off

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

ignore:
  - "tdrs-backend/tdpservice/scheduling/db_backup.py"

- Update RowSchema - Add dataclass module - Update all refs to RowSchema to TanfDataReportSchema - Fully qualified imports
  tdrs-backend/tdpservice/parsers/case_consistency_validator.py
  tdrs-backend/tdpservice/parsers/dataclasses.py
  tdrs-backend/tdpservice/parsers/decoders.py
  tdrs-backend/tdpservice/parsers/row_schema.py
  tdrs-backend/tdpservice/parsers/schema_defs/header.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m1.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m4.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m5.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m6.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m7.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t6.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t7.py
  tdrs-backend/tdpservice/parsers/schema_defs/trailer.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t6.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t7.py
  tdrs-backend/tdpservice/parsers/schema_manager.py
  tdrs-backend/tdpservice/parsers/tdr_parser.py
  tdrs-backend/tdpservice/parsers/test/test_util.py
  tdrs-backend/tdpservice/parsers/validators/category1.py
  tdrs-backend/tdpservice/parsers/validators/category2.py
  tdrs-backend/tdpservice/parsers/validators/category3.py
  tdrs-backend/tdpservice/parsers/validators/test/test_base.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category1.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category2.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category3.py
  tdrs-backend/tdpservice/parsers/validators/util.py
Due: backend

update fiscal quarter explainers
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/Reports/FRAReports.test.js
  tdrs-frontend/src/components/Reports/Reports.jsx
Due: frontend

fix tests
  tdrs-frontend/src/components/Reports/FRAReports.test.js
Due: frontend

- Update field class to handle position and indexes
  tdrs-backend/tdpservice/parsers/fields.py
  tdrs-backend/tdpservice/parsers/management/commands/seed_db.py
  tdrs-backend/tdpservice/parsers/row_schema.py
Due: backend

- Revert removal of custom hide logic - Add extra logic to handle the case when we cancel the file upload
  product-updates/js/uswds.js
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
  tdrs-frontend/src/components/FileUpload/utils.jsx
Due: frontend

- Added abstract header method to decoders - Updated decoder factory to handle an empty file
  tdrs-backend/tdpservice/parsers/decoders.py
  tdrs-backend/tdpservice/parsers/tdr_parser.py
Due: backend

- lint
  tdrs-backend/tdpservice/parsers/decoders.py
Due: backend

- Explicitely check for None
  tdrs-backend/tdpservice/parsers/fields.py
Due: backend

- add len method for position - update classes to reference position - add missing imports
  tdrs-backend/tdpservice/parsers/dataclasses.py
  tdrs-backend/tdpservice/parsers/fields.py
  tdrs-backend/tdpservice/parsers/row_schema.py
  tdrs-backend/tdpservice/parsers/tdr_parser.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category2.py
Due: backend

- Updated fields to leverage row - updated schemas to use fieldtype - added fieldtype to dataclasses
  tdrs-backend/tdpservice/parsers/dataclasses.py
  tdrs-backend/tdpservice/parsers/fields.py
  tdrs-backend/tdpservice/parsers/row_schema.py
  tdrs-backend/tdpservice/parsers/schema_defs/header.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m1.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m4.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m5.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m6.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m7.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t6.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t7.py
  tdrs-backend/tdpservice/parsers/schema_defs/trailer.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t6.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t7.py
  tdrs-backend/tdpservice/parsers/tdr_parser.py
  tdrs-backend/tdpservice/parsers/validators/util.py
Due: backend

- Linting - Quick comment
  tdrs-backend/tdpservice/parsers/dataclasses.py
  tdrs-backend/tdpservice/parsers/decoders.py
  tdrs-backend/tdpservice/parsers/fields.py
  tdrs-backend/tdpservice/parsers/row_schema.py
  tdrs-backend/tdpservice/parsers/util.py
Due: backend

- Update test header to use RawRow
  tdrs-backend/tdpservice/parsers/test/test_header.py
Due: backend

- Update test_parse_line_parses_line_from_schema_to_object to support RawRow
  tdrs-backend/tdpservice/parsers/test/test_util.py
Due: backend

- update test_add_record
  tdrs-backend/tdpservice/parsers/test/test_case_consistency.py
Due: backend

- Update test to use RawRow
  tdrs-backend/tdpservice/parsers/test/test_util.py
Due: backend

- fix lint issues
  tdrs-backend/tdpservice/parsers/test/test_case_consistency.py
  tdrs-backend/tdpservice/parsers/test/test_util.py
Due: backend

add cov
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.test.js
Due: frontend

- Convert to use row instead of raw data
  tdrs-backend/tdpservice/parsers/row_schema.py
Due: backend

- Add test files for decoders - Add test module for decoders
  tdrs-backend/tdpservice/parsers/decoders.py
  tdrs-backend/tdpservice/parsers/test/conftest.py
  tdrs-backend/tdpservice/parsers/test/data/fra.csv
  tdrs-backend/tdpservice/parsers/test/data/fra.xlsx
  tdrs-backend/tdpservice/parsers/test/data/unknown.png
  tdrs-backend/tdpservice/parsers/test/test_decoders.py
Due: backend

- add offset test
  tdrs-backend/tdpservice/parsers/test/test_decoders.py
Due: backend

separate admin api from admin console requests
  docs/Technical-Documentation/cypress-integration-tests.md
  tdrs-frontend/cypress/support/commands.js
Due: none

change feat file discovery
  tdrs-frontend/package.json
Due: none

reorg
  tdrs-frontend/cypress/e2e/accounts/accounts.js
  tdrs-frontend/cypress/e2e/common-steps/common-steps.js
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
  tdrs-frontend/cypress/e2e/data-files/file_upload.feature
  tdrs-frontend/cypress/e2e/data-files/file_upload.js
  tdrs-frontend/cypress/e2e/integration/file_upload.js
Due: none

create user/datafile fixtures
  .circleci/build-and-test/jobs.yml
  tdrs-backend/tdpservice/fixtures/cypress/data_files.json
  tdrs-backend/tdpservice/fixtures/cypress/users.json
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/users/management/commands/generate_cypress_users.py
Due: backend

add regional staff submission history test
  tdrs-frontend/cypress/e2e/data-files/submission_history.feature
  tdrs-frontend/cypress/e2e/data-files/submission_history.js
Due: none

hide download button on upload input error
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

- Removed get_schema_options in favor multi dict in favor a a class. - Updated refs to use new class instead of multi dict
  tdrs-backend/tdpservice/parsers/aggregates.py
  tdrs-backend/tdpservice/parsers/case_consistency_validator.py
  tdrs-backend/tdpservice/parsers/management/commands/seed_db.py
  tdrs-backend/tdpservice/parsers/schema_defs/utils.py
  tdrs-backend/tdpservice/parsers/schema_manager.py
  tdrs-backend/tdpservice/parsers/tdr_parser.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

download should preserve original file name
  tdrs-frontend/src/actions/fraReports.js
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

add fra to site map
  tdrs-frontend/src/components/SiteMap/SiteMap.jsx
Due: frontend

test
  tdrs-frontend/src/components/SiteMap/SiteMap.test.js
Due: frontend

Update about-email-notifications.html
  product-updates/knowledge-center/about-email-notifications.html
Due: none

fix data files label
  tdrs-frontend/src/components/SiteMap/SiteMap.jsx
  tdrs-frontend/src/components/SiteMap/SiteMap.test.js
Due: frontend

- Updated viewset to not allow Regional users to view all users - Added migration reducing Regional user access - Removed tests since regional users can no longer manipulate other users
  tdrs-backend/tdpservice/users/migrations/0044_regional_staff_permissions_update.py
  tdrs-backend/tdpservice/users/test/test_api/test_users.py
  tdrs-backend/tdpservice/users/views.py
Due: backend

only dispatch upload when file load returns error = false
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
  tdrs-frontend/src/components/UploadReport/UploadReport.test.js
Due: frontend

add createFileInputErrorState
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
  tdrs-frontend/src/components/UploadReport/UploadReport.test.js
  tdrs-frontend/src/utils/createFileInputErrorState.js
Due: frontend

admin override feature flags
  tdrs-frontend/src/components/PermissionGuard/PermissionGuard.jsx
  tdrs-frontend/src/components/PermissionGuard/PermissionGuard.test.js
Due: frontend

waitFor before checking whether the invalid class is present
  tdrs-frontend/src/components/UploadReport/UploadReport.test.js
Due: frontend

Update tdrs-backend/tdpservice/users/permissions.py
  tdrs-backend/tdpservice/users/permissions.py
Due: backend

alphabetize stt list
  tdrs-frontend/src/selectors/stts.js
Due: frontend

change test func name
  tdrs-backend/tdpservice/data_files/test/test_api.py
Due: backend
