Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 90%
        flags:
          - backend
    patch: off

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

ignore:
  - "tdrs-backend/tdpservice/scheduling/db_backup.py"

3.7.6 release notes
  product-updates/img/extension/error.png
  product-updates/knowledge-center/index.html
  product-updates/knowledge-center/viewing-error-reports.html
Due: none

Update index.html
  product-updates/knowledge-center/index.html
Due: none

Updated viewing error reports
  product-updates/knowledge-center/viewing-error-reports.html
Due: none

update index
  product-updates/knowledge-center/index.html
Due: none

- Updating error message
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
Due: frontend

Update index and error reports
  product-updates/knowledge-center/index.html
  product-updates/knowledge-center/viewing-error-reports.html
Due: none

- Add new value to appropriate schemas - Update test message
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t5.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Due: backend

Update product manager for TDP (#3403)
  README.md
Due: none

search + upload form components
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

3328 vul audit (#3390)
  tdrs-frontend/package-lock.json
  tdrs-frontend/package.json
Due: none

- updated cat3 validators
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t5.py
Due: backend

Update Winter 2024, Evaluating FRA Submission & Error Reporting.md
  docs/User-Experience/Research-Syntheses/Winter 2024, Evaluating FRA Submission & Error Reporting.md
Due: none

- Fix fat fingered value
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
Due: backend

- add missing filter for DFS status
  tdrs-backend/tdpservice/parsers/models.py
Due: backend

redux, frontend api setup for fra reports
  tdrs-frontend/src/actions/fraReports.js
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/reducers/fraReports.js
  tdrs-frontend/src/reducers/index.js
  tdrs-frontend/src/utils/stringUtils.js
Due: frontend

- Moved 2854-file-encoding-with-package over to new branch
  tdrs-frontend/package-lock.json
  tdrs-frontend/package.json
  tdrs-frontend/src/actions/reports.js
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
  tdrs-frontend/src/components/UploadReport/UploadReport.test.js
  tdrs-frontend/src/setupTests.js
Due: frontend

- Update onLoad to not generate more than one error state while still always resolving with the loaded file
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
Due: frontend

- Reject with an error object for consistency
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
Due: frontend

add error modal
  tdrs-frontend/src/actions/fraReports.js
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

fix sttList and class names
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

fix vars
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

- Moved request access form to its own component - Pulled form elements out of Home component
  tdrs-frontend/src/components/Home/Home.jsx
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.jsx
Due: frontend

- Add inline to display new m2m field in admin
  tdrs-backend/tdpservice/users/admin.py
Due: backend

reorg + fix unreferenced var
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

search form tests
  tdrs-frontend/src/components/Reports/FRAReports.test.js
Due: frontend

Updated release notes
  product-updates/knowledge-center/index.html
  product-updates/knowledge-center/viewing-error-reports.html
Due: none

updated release notes
  product-updates/knowledge-center/index.html
  product-updates/knowledge-center/viewing-error-reports.html
Due: none

- Updated region checkboxes to be toggleable - Updated region checkbox error state to be smarter
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.jsx
Due: frontend

- Fixed issue where exception occurred submitting request as non regional user
  tdrs-frontend/src/actions/requestAccess.js
Due: frontend

- Use correct nomenclature
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.jsx
Due: frontend

- Update email templates to reflect whether a regional or central user is submitting an access request.
  tdrs-backend/tdpservice/email/helpers/account_status.py
  tdrs-backend/tdpservice/email/templates/access-request-submitted.html
  tdrs-backend/tdpservice/email/templates/request-approved.html
Due: backend

- linting
  tdrs-backend/tdpservice/email/helpers/account_status.py
Due: backend

- correct migration - begin removing region refs
  tdrs-backend/tdpservice/users/admin.py
  tdrs-backend/tdpservice/users/migrations/0042_create_regions_m2m_del_region.py
  tdrs-backend/tdpservice/users/migrations/0043_alter_user_regions.py
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/serializers.py
  tdrs-backend/tdpservice/users/test/factories.py
  tdrs-backend/tdpservice/users/views.py
Due: backend

- Updated tests to support the new regions field
  tdrs-backend/tdpservice/conftest.py
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/users/migrations/0042_create_regions_m2m_del_region.py
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/permissions.py
  tdrs-backend/tdpservice/users/test/factories.py
  tdrs-backend/tdpservice/users/test/test_models.py
Due: backend

- remove select related - remove region from factory - update logic in tests
  tdrs-backend/tdpservice/users/test/factories.py
  tdrs-backend/tdpservice/users/test/test_api/test_users.py
  tdrs-backend/tdpservice/users/views.py
Due: backend
