Repository HHS/TANF-app: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 90% #overall project/ repo coverage
      frontend:
        target: 90%
        flags:
          - frontend
      backend:
        target: 90%
        flags:
          - backend
    patch: off

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  frontend:
    paths:
      - ./tdrs-frontend/src
    carryforward: true
  backend:
    paths:
      - ./tdrs-backend/tdpservice
    carryforward: true

ignore:
  - "tdrs-backend/tdpservice/scheduling/db_backup.py"

- Created script to apply views - Linting
  tdrs-backend/plg/grafana_views/generate_views.py
  tdrs-backend/scripts/apply_grafana_views.py
Due: none

- Rename script - Add view apply to script - Update CircleCI command
  .circleci/deployment/commands.yml
  scripts/apply-database-config.sh
Due: none

- Apply views on startup
  tdrs-backend/docker-compose.yml
Due: none

- Update comment
  tdrs-backend/plg/grafana_views/generate_views.py
Due: none

#5072 started implementing Feedback Widget and refactoring some code for more abstraction on comon functionality needed for Modal and Widget elements
  tdrs-frontend/src/App.js
  tdrs-frontend/src/App.test.js
  tdrs-frontend/src/assets/feedback/Feedback.scss
  tdrs-frontend/src/components/Feedback/Feedback.jsx
  tdrs-frontend/src/components/Feedback/Feedback.test.js
  tdrs-frontend/src/components/Feedback/FeedbackConstants.js
  tdrs-frontend/src/components/Feedback/FeedbackForm.jsx
  tdrs-frontend/src/components/Feedback/FeedbackForm.test.js
  tdrs-frontend/src/components/Feedback/FeedbackModal.jsx
  tdrs-frontend/src/components/Feedback/FeedbackModal.test.js
  tdrs-frontend/src/components/Feedback/FeedbackRadioSelectGroup.jsx
  tdrs-frontend/src/components/Feedback/FeedbackRadioSelectGroup.test.js
  tdrs-frontend/src/components/Feedback/FeedbackWidget.jsx
  tdrs-frontend/src/components/Feedback/index.js
  tdrs-frontend/src/components/FeedbackModal/FeedbackForm.jsx
  tdrs-frontend/src/components/FeedbackModal/FeedbackModal.jsx
  tdrs-frontend/src/hooks/useFocusTrap.js
  tdrs-frontend/src/hooks/useFocusTrap.test.js
Due: frontend

Remove tracked file that should be ignored
  tdrs-frontend/jsconfig.json
Due: none

#5071 needed to update imports since jsconfig.json file was removed
  tdrs-frontend/src/App.js
  tdrs-frontend/src/App.test.js
  tdrs-frontend/src/components/FeedbackModal/FeedbackForm.jsx
  tdrs-frontend/src/components/FeedbackModal/FeedbackForm.test.js
  tdrs-frontend/src/components/FeedbackModal/FeedbackRadioSelectGroup.test.js
Due: frontend

#5072 updated imports
  tdrs-frontend/src/components/Feedback/FeedbackForm.jsx
Due: frontend

convert fra access from group permission to user level permision
  tdrs-backend/tdpservice/data_files/admin/admin.py
  tdrs-backend/tdpservice/data_files/serializers.py
  tdrs-backend/tdpservice/users/admin.py
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/serializers.py
  tdrs-frontend/src/selectors/auth.js
Due: frontend, backend

make changes to migrations
  tdrs-backend/tdpservice/users/migrations/0046_add_fra_access_permission.py
  tdrs-backend/tdpservice/users/migrations/0047_change_feature_flag_description.py
  tdrs-backend/tdpservice/users/migrations/0047_grant_fra_access_to_users.py
Due: backend

add property has_fra_access
  tdrs-backend/tdpservice/data_files/admin/admin.py
  tdrs-backend/tdpservice/data_files/serializers.py
  tdrs-backend/tdpservice/users/models.py
Due: backend

fix e2e and backend tests
  tdrs-backend/tdpservice/conftest.py
  tdrs-backend/tdpservice/users/test/test_api/test_roles.py
  tdrs-backend/tdpservice/users/test/test_models.py
  tdrs-frontend/cypress/e2e/accounts/accounts.feature
  tdrs-frontend/cypress/e2e/accounts/accounts.js
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.jsx
  tdrs-frontend/src/components/SiteMap/SiteMap.test.js
Due: frontend, backend

fix backend tests
  tdrs-backend/tdpservice/users/test/test_permissions.py
Due: backend

fix linting errors
  tdrs-backend/tdpservice/users/serializers.py
  tdrs-backend/tdpservice/users/test/test_models.py
Due: backend

remove commented out field
  tdrs-backend/tdpservice/users/serializers.py
Due: backend

#5072 formatting Feedback Widget properly and adding functionality for it to appear based on submission of reports
  tdrs-frontend/src/App.js
  tdrs-frontend/src/assets/feedback/Feedback.scss
  tdrs-frontend/src/components/Feedback/FeedbackConstants.js
  tdrs-frontend/src/components/Feedback/FeedbackForm.jsx
  tdrs-frontend/src/components/Feedback/FeedbackModal.jsx
  tdrs-frontend/src/components/Feedback/FeedbackRadioSelectGroup.jsx
  tdrs-frontend/src/components/Feedback/FeedbackWidget.jsx
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Due: frontend

- Add view directories to ignore
  .gitignore
Due: none

- Update deploy script
  scripts/apply-database-config.sh
Due: none

fix typo
  tdrs-backend/tdpservice/users/migrations/0046_add_fra_access_permission.py
Due: backend

remove old TODO
  tdrs-backend/tdpservice/users/models.py
Due: backend

use pipe instead of Union for type hint
  tdrs-backend/tdpservice/users/models.py
Due: backend

revert change from django-stubs dependency to django-types
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
Due: none

open link in new tab
  tdrs-frontend/src/components/RequestAccessForm/FRASelector.jsx
Due: frontend

fix typo in comment
  tdrs-backend/tdpservice/users/migrations/0046_add_fra_access_permission.py
Due: backend

#5072 pushing up code for widget positioning and sizing and some refactoring to add hooks
  tdrs-frontend/src/assets/feedback/Feedback.scss
  tdrs-frontend/src/components/Feedback/FeedbackForm.jsx
  tdrs-frontend/src/components/Feedback/FeedbackRadioSelectGroup.jsx
  tdrs-frontend/src/components/Feedback/FeedbackWidget.jsx
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/hooks/useFocusTrap.js
  tdrs-frontend/src/hooks/useStickyAboveFooter.js
Due: frontend

remove fra error validation when tribe jurisdiction type is selected
  tdrs-frontend/src/components/RequestAccessForm/FRASelector.jsx
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.jsx
Due: frontend

handle reparsing
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/parsers/migrations/0014_datafilesummary_error_report.py
  tdrs-backend/tdpservice/parsers/models.py
Due: backend

fix staging+prod redis deployments
  terraform/dev/variables.tf
  terraform/production/main.tf
  terraform/staging/main.tf
Due: none

upgrade staging service plan
  terraform/staging/main.tf
Due: none

update region logic to set fra access
  tdrs-frontend/src/components/RequestAccessForm/RegionSelector.jsx
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.jsx
Due: frontend

update migration sequence
  tdrs-backend/tdpservice/users/migrations/0047_add_fra_access_permission.py
  tdrs-backend/tdpservice/users/migrations/0048_grant_fra_access_to_users.py
Due: backend

fix worksheet/io error
  tdrs-backend/tdpservice/data_files/views.py
Due: backend

#5071 UI review style fixes
  tdrs-frontend/src/assets/feedback/Feedback.scss
  tdrs-frontend/src/components/FeedbackModal/FeedbackForm.jsx
  tdrs-frontend/src/components/FeedbackModal/FeedbackModal.jsx
  tdrs-frontend/src/components/FeedbackModal/FeedbackRadioSelectGroup.jsx
Due: frontend

- Update validator logic to generate better error message - Updated tests
  tdrs-backend/tdpservice/parsers/validators/category3.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category3.py
Due: backend

- linting
  tdrs-backend/tdpservice/parsers/validators/category3.py
Due: backend

#5072 updated code after merge
  tdrs-frontend/src/components/Feedback/FeedbackForm.jsx
  tdrs-frontend/src/components/Feedback/FeedbackModal.jsx
  tdrs-frontend/src/components/FeedbackModal/FeedbackForm.jsx
  tdrs-frontend/src/components/FeedbackModal/FeedbackModal.jsx
Due: frontend

don't use the develop override for redis
  scripts/deploy-backend.sh
Due: none

bind develop to staging db
  scripts/deploy-backend.sh
Due: none

rm develop->develop binding
  scripts/deploy-backend.sh
Due: none
